[2017-10-23 13:05] pocke opened #4910 "Add examples in the documentation"
For a first step of contribution to RuboCop :star2:

For Japanese: https://qiita.com/pocke/items/ade84e1f21629220715d

Problem
===

RuboCop has many cops. But not all cops have examples in the documentation. So, sometime we can't understand easily how a cop to work.

Solution
===

We can add examples easily.
For instance, `Layout/SpaceInsideParens` had not had any examples, but examples ware added

[2017-10-23 13:28] michniewicz commented on #4886
same for `#` inside Regexp:
[code]

[2017-10-23 13:41] benhutton commented on #4885
I'm also getting false positives for this:

[code]

Again, strangely, only for the first occurrence in a file. I define three matchers in one file, all with the same mixin, and only get flagged for the first one.

.....

It is a bit unclear from the [mixin code itself](https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/cop/style/mixin_usage.rb) and the [PR](https://github.com/bbatsov/ruboc

[2017-10-23 20:41] Drenmi commented on #4910
@pocke: I added checkboxes to your list, and removed the `Metric` ones. Hope that's okay. 🙂

[2017-10-23 22:31] ivoanjo commented on #4895
You raise an interesting point: bundler is probably not helpful as an example as they strive to always support older versions of Ruby. (They are planning to [drop < 2.0](https://github.com/bundler/bundler/issues/4695) in bundler 2.0, but 2.0 is still a bit too old).

It's probably not worth going all the way back to very old Ruby versions to change their defaults (at least at first), so yeah that'

[2017-10-23 23:50] Drenmi commented on #4889
Looks like `Style/SafeNavigationChain` suffers from the same issue that `Style/SafeNavigation` did. I.e. it considers operator methods part of the chain.

[2017-10-24 07:37] NobodysNightmare opened #4925 "Style/DateTime marks usages of DateTime.iso8601"
## Steps to reproduce the problem

Run rubocop over the following snippet:

[code]
## Actual behavior

Rubocop registers a `Style/DateTime` offense and proposes to use `Date` or `Time` instead.

## Expected behavior

In my opinion this case should not generate an offense, since neither `Date` nor `Time` offer the same format compatibility as `DateTime` (see "Behavioural comparison" below).

## Beh

[2017-10-24 10:39] tom-lord commented on #3344
@mikegee I have moved my above comment over to that thread; however I do still feel there is an issue worth raising/discussing in **this** repo.

Name, the fact that the [above mentioned refactoring](http://www.rubydoc.info/github/bbatsov/rubocop/Rubocop/Cop/Style/DoubleNegation):

[code]

Is something prescribed *by `rubocop`* specifically, *not* the `ruby-style-guide`.

In fact, [what the `ruby-

[2017-10-24 18:55] rrosenblum commented on #4794
I think I have a fix for this. I will try to create a PR soon. I need to go over some other test cases.

[2017-10-25 00:22] tonyta opened #4931 "Performance/HashEachMethods false positives for non-Hashes"
Performance/HashEachMethods suggests using `each_value` for non-Hashes:
[code]

This does not appear when using parallel-assignment:
[code]

## Expected behavior

This should not be a violation when the object is not a Hash. It might not be possible to confirm if the object is a Hash, but perhaps a note about using parallel assignment in the error message or the [included link](https://github.com/

[2017-10-25 00:29] chihhungL opened #4932 "Syntax Cop Configuration Error"
Recently upgraded rubocop to 0.51.0. We have our own `rubocop.yml` which is inherited from `.rubocop.enabled.yml`, `.rubocop.disabled.yml`, and `.rubocop.default.yml`. Each of them is the same as the `enabled.yml`, `disabled.yml`, `default.yml` in the release `0.51.0`.
However, we tried to run `rubocop file.rb` on command line and we got the following error message.
[code]
When we look at the `con

[2017-10-25 01:41] cjlarose commented on #4932
@chihhungL and I ran into this together. To provide a little more context, the project we work on uses HoundCI to run rubocop against our PRs. For old repos, HoundCI runs PRs against their own rubocop config (which is different from rubocop's own default config). You can check in a `.rubocop.yml` file, but that only overrides _their_ default, not rubocop's default. This is a pain since locally, we

[2017-10-25 08:08] noraj1337 commented on #4149
Redundant return is not Explicit return. So yes I can disable `RedundantReturn`.
But I want to keep check about redundant return but allow explicit returns. It's not the same thing, there should be `RedundantReturn` and `ExplicitReturns`.

[2017-10-25 10:13] chewi commented on #4889
I think `Style/SafeNavigationChain` is fine, it's `Style/SafeNavigation` that needs to be smarter. If I start with this:

[code]

Then it auto-corrects it to this, which is broken and violates `Style/SafeNavigationChain`:

[code]

To make it correct and satisfy both cops, I would need to change it to this:

[code]

This is arguably slower and harder to read than the original.

[2017-10-25 15:13] RemyMaucourt commented on #4885
I have the same problem, and another info.

    class A
      include module_A
      include namespace_1::module_B
      include namespace_1::module_C
      include module_D
    end

    class B
       include module_E
    end

Rubocop will raise Style/MixinUsage only for module_A and module_D, not the namespaced ones.

[2017-10-25 15:35] brandonweiss commented on #4889
Yeah, essentially I don't think it’s correct for `Style/SafeNavigation` to throw an offense if the change it wants would throw an offense for `Style/SafeNavigationChain`. `Style/SafeNavigation` should include some of the logic from `Style/SafeNavigationChain` and check if there would be a chain or not.

[2017-10-25 19:14] Drenmi commented on #4931
Unfortunately it isn't. It also does not have to be a hash. Hash-like constructs with key-value pairs should ideally implement the same interface as `Hash` for polymorphism. 🙂

Yep. Adding the parentheses to indicate this is not a key-value pair is something that was pointed out as  a useful convention. We should add this to the message.

[2017-10-25 19:16] Drenmi commented on #4885
Indeed. It's a bit unclear what the implementation is trying to do, but it's clear that it's incorrect. 🙂

[2017-10-25 20:48] tdeo commented on #3001
I've just come across this issue. I've recently opened https://github.com/bbatsov/rubocop/issues/4674, and just submitted this PR: https://github.com/bbatsov/rubocop/pull/4937.

For now, the plan is only to force the presence of an enable statement at some point in the file, and I was planning to leave people responsible for the place they put it.

[2017-10-25 23:46] jaredmoody opened #4939 "Naming/FileName with rails template variants, Regex option"
I'm using `haml-lint` to run some rubocop checks on my view templates in my rails app.

Rubocop is complaining on variant view template file names that they're not using snake_case - e.g. on a file named `_product.html+tablet.haml`

1. Since this is Rails convention, maybe a good idea to include `+` in the Regex?
2. I attempted to just override this in my config:

[code]

Which gave me an error:

[2017-10-26 06:48] #4896 closed

[2017-10-26 06:58] swapab opened #4940 "Not able to disable 'Lint/UnneededRequireStatement'"
If I disable `Lint/UnneededRequireStatement` with
[code]

Rubocop warns about offense saying `Unnecessary disabling of Lint/UnneededRequireStatement`:
[code]
---

Observed this only on Travis-CI (as of now)
https://travis-ci.org/theforeman/foreman_maintain/jobs/293000847
https://travis-ci.org/theforeman/foreman_maintain/jobs/293001743

*Ruby version on Travis-CI is 2.3.3*

My local env. is not rep

[2017-10-26 12:41] pocke commented on #4932
Rubocop should raises an error **only** if the cop is actually configured, right? I agree it. 👍

BTW, I think coping the configuration files from rubocop's `config/` is a bad practice.

[2017-10-26 19:24] Drenmi commented on #4939
You need to use the YAML syntax for regular expressions for it to be parsed as that. 🙂

[code]

[2017-10-26 19:24] #4939 closed

[2017-10-26 19:28] Drenmi commented on #4925
We should not auto-correct this, as it would break compatibility.

I would be rather worried though, if the developer does not know what result they are expecting. Using `DateTime` and not getting any time part looks like it will lead to a silent (and potentially costly) bug. 🙂

[2017-10-26 19:35] Drenmi commented on #4897
One case is using a DSL prone to false positives within a file that is predominantly Ruby. Additionally, it is sometimes required to disable metrics cops for blocks which can't be broken up due to branching keywords like `next`. Then there are small ones, like `base64` offending `Naming/VariableNumber`.

[2017-10-26 20:53] deuxclique opened #4942 "New Use Case for Style/FormatStringToken is flagging non formatted strings"
Re: Issue #4539

Curl command may use [interpolation](http://blog.likewise.org/2011/08/brushing-up-on-curl/) using %{foo}. This behavior is not correct:
[code]

Produces:

[code]
--------

## Expected behavior

Style/FormatStringToken should detect whether the string is used in formatting context or not. If not, it should not flag them as wrong.

## Actual behavior

Looks like every string simply

[2017-10-27 00:31] pocke commented on #4940
`Lint/UnneededRequireStatement` is not available if `TargetRubyVersion` is not configured. Because the cop is available on Ruby 2.2 or later. https://github.com/bbatsov/rubocop/blob/dd57e95e27ce70c9938ba480575ffbd61dbe56a8/lib/rubocop/cop/lint/unneeded_require_statement.rb#L27

So, if you need to enable the cop, please add `TargetRubyVersion` to your `.rubocop.yml`. But it sometimes doesn't work w

[2017-10-27 02:23] woodruffw opened #4945 "False positive on Style/CommentedKeyword inside class_eval"
I'm getting a false positive from the `Style/CommentedKeyword` cop in one of my codebases. It looks like RuboCop gets confused by the combination of a `class_eval` and a `%[]` string. Details below.

-------

## Expected behavior

No Style/CommentedKeyword warning.

## Actual behavior

[code]

## Steps to reproduce the problem

This is the most minimal example I could come up with:

[code]

The ac

[2017-10-27 02:36] pocke commented on #4945
duplicated. https://github.com/bbatsov/rubocop/issues/4886
And this problem will be fixed by https://github.com/bbatsov/rubocop/pull/4944

[2017-10-27 02:36] #4945 closed

[2017-10-27 03:08] brycesenz commented on #494
Reading over this thread was incredibly useful, since our team originally had the same complaint.  After reflection, I agree with @jonas054 that it makes the most sense to just blindly check the line length.  We've had success with the practice of just sanity checking the times when we all agree that this rule should be violated, and using `# rubocop:disable MethodLength` above the method name as

[2017-10-27 04:46] flajann2 commented on #494
Though I must say that Rubocop takes all the fun out of writing code. I am not talking about writing bad code. I am talking about writing good code in our individual styles. I've been writing code for nearly 40 years, and I don't need a stupid drone dictating to me how to structure my blocks, say. I have reasons I may want to use the curly braces in one place, and  do-end blocks in another. It's a

[2017-10-27 11:49] Drenmi commented on #4942
Unfortunately this is almost always impossible, or requires too much effort, since the format string may be used in a formatting context anywhere in the app, disjunct from where it is defined. This is a limitation of doing static analysis on a dynamic language.

If your app has many false positives (e.g. you're working with automation scripts with lots of curl commands), consider disabling it alto

[2017-10-27 11:49] #4942 closed

[2017-10-27 19:24] matheuslc commented on #2937
This problem comes again with rubucop 0.50 and rubocop-spec 1.19.0. I've fixed this with @mikegee tip.

[2017-10-27 19:43] Drenmi commented on #2937
`rubocop-rspec` 1.19.0 is a compatibility release intended to work with `rubocop` 0.51.

[2017-10-27 20:36] matheuslc commented on #2937
I've tested both versions (rubocop 0.50 with rubocop-rspec 1.19.0) and
(rubocop 0.51 with rubocop-rspec 1.19.0). I've tested rubocop-rspec 1.18.0
with both rubocop versions.

On Oct 27, 2017 17:43, "Ted Johansson" <notifications@github.com> wrote:

[2017-10-27 22:58] Drenmi commented on #2672
Added in #4840.

[2017-10-27 22:58] #2672 closed

[2017-10-27 23:35] brandonweiss commented on #4897
@Drenmi Ah, interesting. That makes sense! Although, I guess a question would be, how is that any different from the current situation? Like, right now people inline-disable blocks both temporarily (for a variety of reasons) and permanently (for a variety of reasons). There isn't a way to tell the two apart—you just have to sort of look at it and know.

This potential feature just does automatical

[2017-10-28 05:12] jaredmoody commented on #4939
Aha, thanks!

[2017-10-28 06:32] #1583 closed

[2017-10-28 06:36] #4886 closed

[2017-10-28 06:42] #4887 closed

[2017-10-28 16:16] darrenleeweber opened #4951 "Export an `.editorconfig` file"
Support exporting an `.editorconfig` file [1] from rubocop, something like:

`rubocop --editor-config`

### Rationale
Rubocop is a style checker that enforces style after the fact. It does not facilitate the creation or autoformatting of consistent code in an IDE. There are some rubocop plugins that enable warnings in IDEs that code is inconsistent with rubocop, but they have to constantly run rub

[2017-10-28 16:57] darrenleeweber commented on #4951
EditorConfig may not yet support all the features of the ruby style guide and rubocop, but it's possible it could be extended to do so.
- https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties#propose-new-properties-and-values

[2017-10-28 16:59] darrenleeweber commented on #4951
Related project for javascript
- https://github.com/jedmao/codepainter

[2017-10-28 18:19] prashuchaudhary commented on #4931
@tonyta I want to take this up

[2017-10-28 18:20] prashuchaudhary commented on #4931
So we want to skip all Classes on which can be iterated and not necessarily classify as a HASH

[2017-10-29 03:27] ecbrodie opened #4956 "Support custom environment names for Rails/UnknownEnv"
It would be great if the `Rails/UnknownEnv` cop allowed for configuration for custom environment names that are acceptable for the application. For example, my application supports a "performance" Rails env, thus a call to the method `Rails.env.performance?` should be expected.

I envision this custom configuration being a YAML array of strings.

## Expected behavior

Rubocop will not fail because

[2017-10-29 03:42] pocke commented on #4956
http://rubocop.readthedocs.io/en/latest/cops_rails/#railsunknownenv
You can configure custom environments with `.rubocop.yml`.
For example:

[code]

Take care the default environments are also needed.

[2017-10-29 03:42] #4956 closed

[2017-10-29 07:38] bbatsov commented on #4940
Not really on topic, but I'm still amazed after all those years 1.8 and 1.9 refuse to die. :-)

[2017-10-29 12:13] eregon opened #4961 "Include list/whitelist for files to check by RuboCop"
It seems currently RuboCop always scans every `.rb`/`#!ruby` file under the current directory if not explictly passed filenames on the command-line.

In the config, `Include` seems only useful to add non-`.rb` files (more like "extra files" to scan), and is not really related to `Exclude` ("ignore those files when `$ rubocop` is invoked").

What I want is to be able to tell, in my RuboCop `.ruboco

[2017-10-29 12:17] eregon commented on #4961
Note that something like:
[code]
does not work and checks no files.

[2017-10-29 12:19] eregon commented on #4961
One way to implement this might be to have something like
`CheckFilesInCurrentDirectoryByDefault: false` and then in `Include` specify which files to check.

[2017-10-29 12:47] gvieira commented on #4940
@bbatsov Just out of curiosity, I have a huge Ruby project that needs to be run on Windows machines with some specific DB gems (for integration stuff) that still depends on 1.9. I cry a little every time I need to install Ruby 1.9.3.

[2017-10-29 23:29] matheuslc commented on #2937
@Drenmi I've tested both versions (rubocop 0.50 with rubocop-rspec 1.19.0) and
(rubocop 0.51 with rubocop-rspec 1.19.0). I've tested rubocop-rspec 1.18.0
with both rubocop versions.

[2017-10-30 09:43] jgraichen opened #4966 "Minimal ruby version"
There is the very nice feature of the `TargetRubyVersion`. I'd like to have an additional `MinimalRubyVersion` to specify the minimal supported ruby version.

Cops should respect that setting and only apply changes that are backward compatible. This will be very useful for e.g. linting libraries that have to support multiple ruby versions while want to optimize to newer ruby versions.

--------

#

[2017-10-30 09:44] Tab10id commented on #4889
It's maybe a little oftop but that:
`street.lines.first.to_s.strip.presence if street`
should not be modified to `SafeNavigation`. And more over it's shoud not be modified to `SafeNavigationChain`
when we have `street.lines.first` it's mean that `lines` is always exists and it's probably an array.
when we have `street&.lines&.first` we no that info about `lines`
It's horrible thing, it's like `str

[2017-10-30 09:50] Tab10id commented on #4889
I think that in normal cases we should not use more then one `&.` per line it's masks the real problem. It's says that we can get `nil` somewhere in chain but we have no idea where it will broken and It's not normal.

[2017-10-30 12:48] koic commented on #3994
In Rails 5.0 and higher, giving an `Integer` object as an argument to `find_by` causes an error.

[code]

https://github.com/rails/rails/commit/b27fb2d8e76

Currently Rails 4.2 is released only for severe security maintenance, but it will soon be an EOL.

http://guides.rubyonrails.org/maintenance_policy.html
http://weblog.rubyonrails.org/2017/9/27/Rails-4-2-10-released

I thought about taking over

[2017-10-30 13:06] Drenmi commented on #4889
@Tab10id: I agree with you in principle, that the only function of the lonely operator is to make us feel better about bad code. However, it is the direction decided by the core team, so we'll have to work with it.

We might be able to add some more cops that can be used by teams who want to prevent writing `nil` leaky code.

[2017-10-30 13:55] tobypinder opened #4967 "`Rails/DynamicFindBy` false-positives on `Gem::Specification.find_by_name`"
`Gem::Specification.find_by_name` clearly looks like `ActiveRecord` to this cop but isn't.

False positives are inevitable and [whitelist functionality has been explained before](https://github.com/bbatsov/rubocop/issues/3758), but given this class is in rubygems itself it would feel prudent to add [`Gem::Specification#find_by_name`](https://ruby-doc.org/stdlib-2.3.4/libdoc/rubygems/rdoc/Gem/Speci

[2017-10-30 14:17] bquorning opened #4968 "Disable Performance/UnfreezeString in default config"
Re. #4586

I’m a bit sad to see Performance/UnfreezeString being enabled by default.

Yes, the unary operator makes it possible to allocate mutable strings a bit faster, but isn’t the point of having frozen strings in Ruby 3 that we shouldn’t allocate very many mutable strings anyway?

I would argue that `String.new` is more readable than `+''`, and `String.new('foo')` is more readable than `+'foo

[2017-10-30 17:23] jaredbeck opened #4969 "Feature suggestion: Friendlier message when `inherit_from` file is not found"
If approved, I will be happy to implement this and submit PR.

## Steps to reproduce the problem

`inherit_from: file_that_does_not_exist.yml`

## Suggested behavior

A friendly, concise error message.

[code]

## Actual behavior

Crash and stack trace.

[code]

## RuboCop version

Not relevant to feature suggestion.

[2017-10-30 18:14] johnnyshields opened #4970 "Do not place comments on the same line as the def keyword mishandling string interpolation"
The hash in string interpolation is mistaken as a comment

[code]

[2017-10-30 18:31] bquorning commented on #4969
This sounds like a good idea (depending on how simple/complex it would be to implement).

The error message should probably also say which in file (and line?) the `inherit_from` line was present.

[2017-10-30 19:15] Drenmi commented on #4969
Duplicate of #3396.

[2017-10-30 19:15] #4969 closed

[2017-10-30 20:10] jaredbeck commented on #4969
I agree that this is a duplicate. Thanks Ted. I'll continue the conversation over at #3396.

[2017-10-30 20:12] jaredbeck commented on #3396
Given that this has been approved by Jonas, I'd be happy to work on it, unless anyone else already is?

[2017-10-30 20:38] Drenmi commented on #4969
PRs also welcome. 😊

[2017-10-30 20:39] Drenmi commented on #3396
@jaredbeck: Feel free to have a go at it. Would love to see this in place. 🙂

[2017-10-30 22:35] jaredbeck commented on #3396
Fixed by https://github.com/bbatsov/rubocop/pull/4972

[2017-10-30 23:30] #4794 closed

[2017-10-30 23:40] mikegee commented on #4970
duplicate of https://github.com/bbatsov/rubocop/issues/4886

[2017-10-31 00:18] #4970 closed

[2017-10-31 09:57] #4677 closed

[2017-10-31 12:23] jornvandebeek opened #4975 "New rule idea: Disallow ambiguity between hash/array derefencing and array literal as a parameter"
Right angle brackets serve a double function in Ruby syntax being both part of array literals and the Hash/Array dereferencing method. Ruby allows having a space between the method name/variable name and the opening bracket in both cases. A method call receiving an array literal as a parameter is indistinguishable from dereferencing a hash that has the same name as that method, like this:

[code]

[2017-10-31 20:46] jaredbeck commented on #4732
I'm still seeing this issue in rubocop 0.51.0 + rails 5.1.4. I have disabled this cop for now.

Works for me, Ted. Did this PR to rails ever happen? If not, I can probably do it.

[2017-10-31 21:56] mikegee commented on #4975
Yes, I think so. Folks contribute new cops for stuff like this from time to time. Even if we can't agree that such a cop should be enforced by default, it can be part of Rubocop and disabled until an particular project enables it.

Perhaps your suggestion should be a configuration option for `Style/MethodCallWithArgsParentheses` (which is disabled by default)?

[2017-11-01 07:42] #3396 closed

[2017-11-01 12:53] barodeur opened #4979 "Disable Rails/FindBy when using rails 3"
I'm currently working on a fix for this bug.

## Expected behavior

Rubocop currently reports and autocorrect `Rails/FindBy` cops with rails 3. But this version of rails doesn't have the `find_by` method.

## Actual behavior

`Rails/FindBy` should be deactivated when using rails 3

## Steps to reproduce the problem

- Create a rails 3 project
- Have something like `User.where(id: x).first`
- Run `

[2017-11-01 13:28] barodeur commented on #4979
I'm splitting this issue in two, one for `Rails/FindBy` and another for `Rails/DynamicFindBy` because the pull request I sent only address `Rails/FindBy` at the moment.

[2017-11-01 13:45] barodeur opened #4981 "Disable Rails/DynamicFindBy with rails 3"
This issue is similar to #4979

## Expected behavior

Rubocop currently reports and autocorrect `Rails/DynamicFindBy` cops with rails 3. But this version of rails doesn't have the `find_by` method.

## Actual behavior

`Rails/DynamicFindBy` should be deactivated when using rails 3

## Steps to reproduce the problem

- Create a rails 3 project
- Have something like `User.find_by_id(x)`
- Run `ruboc

[2017-11-02 03:37] johnnyshields commented on #4812
:+1:

[2017-11-02 03:43] johnnyshields commented on #4812
@LandonSchropp I don't think the solution as proposed will work for RSpecs.

[2017-11-02 14:32] ashmaroli opened #4986 "`Style/Encoding` cop doesn't detect magic comment if its not on the very beginning"
The `Style/Encoding` cop doesn't detect the magic comment `# Encoding: utf-8` if there is another magic comment above it.

--------

## Expected behavior

The Ruby docs does mention that the magic comment for Encoding be on the first line unless the first line contains a shebang comment. Therefore, expected the Encoding Cop to raise an offense against the magic comment for Encoding *after* another

[2017-11-02 21:33] jonas054 commented on #4637
My opinion is that it's a bug. The code in `preceding_following_alignment.rb` looks like we want to support the above case.

[2017-11-02 22:27] #4909 closed

[2017-11-02 22:29] #3496 closed

[2017-11-02 22:29] #2679 closed

[2017-11-02 22:32] #4650 closed

[2017-11-03 12:04] garettarrowood opened #4991 "`Rails/Delegate` Cop registers when method uses safety navigator"
`Rails/Delegate` Cop reports an offense when the use of a safety navigator disqualifies the use of delegation.

In the example below, if `Foo.new.bar == nil` and the fix is used, a NilClass error will occur.

--------

## Expected behavior

I expect the example below to not throw a `Rails/Delegate` offense and also not autocorrect.

[code]

## Actual behavior

Running `rubocop app/models/foo.rb` o

[2017-11-03 12:43] jonas054 commented on #4645
Just above the section that @jaredbeck quoted we find:

So there's your answer, @roolo. Rename the common configuration file so it doesn't begin with `.rubocop`.

[2017-11-03 13:11] bgeuken commented on #4986
It's actually the opposite. If there is a shebang, it should be on top.
That's also reflected in the [tests](https://github.com/bbatsov/rubocop/blob/master/spec/rubocop/cop/style/encoding_spec.rb#L33)  and the examples in the [style-guide](https://github.com/bbatsov/ruby-style-guide#magic-comments).
Though the explanation in the style guide seems a bit misleading `Magic comments should only go bel

[2017-11-03 13:28] aliismayilov opened #4992 "GuardClause complaining when single line is not gonna work"
## Expected behavior

No complains

## Actual behavior

Style/GuardClause cop is complaining.

## Steps to reproduce the problem

here's a code snippet:
[code]

rubocop will recommend to use a guard clause, in other words, the following snippet:
[code]

but then i'd have Style/MultilineIfModifier complaining. And if i'd try to write it in one line, then the line would be too long.

## RuboCop vers

[2017-11-03 13:35] ashmaroli commented on #4986
@bgeuken That's what I said too.. **You** just **misread it..** :smiley: :
*"..the magic comment for Encoding be on the **first line unless the first line contains** a shebang comment."*
which is the same as:
*"..the magic comment for Encoding be on the **second line if the first line contains** a shebang comment."*

[2017-11-03 13:35] tjwp commented on #4992
Is that the entire body of a method? My guess is the cop is actually trying to get you to write:

[code]
I.e. remove a level of nesting if that is the entirety of the method.

I had the same confusion yesterday. Perhaps the message needs to be improved to better explain the change that is suggested.

[2017-11-03 13:38] bgeuken commented on #4986
Seems I got you wrong. For what it's worth, the current encoding spec explicitly tests that the cop doesn't report an offense [when encoding is in the wrong place](https://github.com/bbatsov/rubocop/blob/master/spec/rubocop/cop/style/encoding_spec.rb#L58)

[2017-11-03 13:41] aliismayilov commented on #4992
yep, you are right, it's happening only at the bottom of the method.

[2017-11-03 13:43] ashmaroli commented on #4986
Ah! I see.. Thanks for pulling that out for me. So, technically, this is by design.
In an ideal world, the presence of string `"# Encoding: utf-8\n\n"` anywhere would've been flagged.. just saying.. :smiley:

[2017-11-03 13:43] #4986 closed

[2017-11-03 18:08] Drenmi commented on #4992
Is there some way we could improve the message for this cop, to clarify what it's actually suggesting? 🙂

[2017-11-03 18:10] Drenmi commented on #4991
You can prevent a `NoMethodError` by using `allow_nil: true`:

[code]

I'll label this as a bug, as the autocorrect should handle that. 🙂

[2017-11-03 18:16] garettarrowood commented on #4991
Thanks!  Makes sense.

[2017-11-04 12:29] Jamedjo opened #4995 "Performance/RedundantBlockCall expects yield when proc name is the same as a block argument"
## Actual behaviour

Similar to https://github.com/bbatsov/rubocop/issues/2986, the following code results in **"Performance/RedundantBlockCall: Use yield instead of lazy_block.call"**:

[code]

## Expected behaviour

No warning, or a warning from another cop about conflicting names, or warning against having block in the name.

Since the inner argument is the one being called, `yield` would be in

[2017-11-04 12:39] Drenmi commented on #4991
@michniewicz: Considering that comment, we most likely do not. Closing this as it is fixed in 0.51. 🙂

[2017-11-04 12:39] #4991 closed

[2017-11-04 12:42] Drenmi commented on #4995
A note to @akhramov that the future `Lint/ShadowedArgument` should remember to consider block arguments. 🙂

[2017-11-04 17:01] akhramov commented on #4995
@Drenmi, good catch!

Surprisingly, `Lint/ShadowingOuterLocalVariable` handles this case. I think we could either

- Tweak `Lint/ShadowingOuterLocalVariable` to work with local variables only
- Rename `Lint/ShadowedArgument` to something like `Lint/ShadowingReassignment` and rename `Lint/ShadowingOuterLocalVariable` to something like `Lint/ShadowingDeclaration`.

From the end-user perspective the

[2017-11-04 23:11] paul commented on #4812
Late to the party, but as long as we're considering modifying this Cop, I'd love it if I could exclude `include` and `extend` from the empty line required cop. That is, I like the empty line between `class` and the first `def`, but I prefer no line between `class`/`module` and the first `include`/`extend`.

Example:

[code]

I don't know if other class methods should also be excluded from the cop,

[2017-11-04 23:17] paul commented on #4812
Nevermind, now I see that was added as `empty_lines_special` in #3624.

[2017-11-05 09:56] #4885 closed

[2017-11-05 19:13] wafcio opened #5000 "Cannot load config from unreleased gems"
RuboCop cannot load config from unreleased gems.

--------

## Expected behavior

RuboCop should load config from unreleased gem(s).

## Actual behavior

[code]

## Steps to reproduce the problem

Gemfile
[code]

.rubocop.yml
[code]

## RuboCop version

[code]

I have investigated this problem and it looks that problem is here: https://github.com/bbatsov/rubocop/blob/9e3fce91e119ff849ab29f849cca35

[2017-11-05 19:56] #4866 closed

[2017-11-06 06:40] pocke commented on #5000
You can use `bundle exec rubocop` to load unreleased gems.

Reproduce
====

See https://github.com/pocke/unreleased-rubocop-config

`Gemfile`

[code]

`.rubocop.yml`

[code]

[code]

[2017-11-06 07:12] #3363 closed

[2017-11-06 08:47] wafcio commented on #5000
It is possible when you have rubocop directly in project, but I used rubocop from 3rd part gem which add rake task which run rubocop with predefined flags. Why you closed this issue before feedback from my side?

[2017-11-06 09:57] pocke commented on #5000
We can use unreleased gems with rubocop that is not installed directory. We have several choices to resolve the problem.

- Replace `rubocop` with `bundle exec rubocop`
  - I believe it is the best solution, but sometimes we can't replace it.
- Set `GEM_PATH` or some environment variables
  - Maybe it works (I didn't try it).
- Install unreleased gems how same as rubocop.
  - For example:
[code]

[2017-11-06 10:01] jornvandebeek commented on #4975
For those interested, the ambiguity I am trying to prevent is the following:
[code]

[2017-11-06 11:42] #4898 closed

[2017-11-06 11:42] #4892 closed

[2017-11-06 15:10] Drenmi commented on #5000
Which gem?

[2017-11-06 15:12] wafcio commented on #5000
I have created `rubocop-stylecheck` gem which wrao rubocop with simple rake tasks and in `alterans-stylecheck` gem I have rubocop config

[2017-11-06 18:01] Malabarba opened #5009 "[Suggestion] --auto-correct shouldn't fix `Style/SymbolProc`"
This is similar to (but not the same as) #2720.

Passing a block that simply calls a method (`{ |a| a.method }`) is not the same as passing a proc generated from the method name (`&:inputs`). The former has arity `1`, the latter has arity `-1`.
I'm not arguing for the removal of this rule, but, given that it can actually break code, I think that it shouldn't be auto-corrected by default.

Here's a

[2017-11-07 08:36] #4674 closed

[2017-11-07 12:11] hudolejev commented on #4425
Yet another false positive with Grok patterns like `%{FUBAR}`.

https://github.com/logstash-plugins/logstash-patterns-core/tree/master/patterns

[2017-11-07 12:48] Drenmi commented on #4425
We can't fix this easily, because of a combination of factors:

- Unfortunately the `%{}` syntax is also valid in Ruby format strings.
- There is no way for us to know whether a string will be passed to `Kernel#format` during runtime.
- We have plenty of tools for dealing with false positives, but false negatives will forever remain unknown if we allow them.

So the solution to this is to use one

[2017-11-07 12:48] #4425 closed

[2017-11-07 13:01] Drenmi commented on #5009
Thanks for the report!

This is happening because ActiveSupport, for unknown reasons, overrides behaviour based on block arity. We've had quite a [lengthy discussion about it](https://github.com/bbatsov/rubocop/issues/3071).

Because RuboCop is a Ruby analyzer, if we can avoid it we really do not want to hard code special cases for different frameworks, even in the configuration.

The solution rig

[2017-11-07 13:01] #5009 closed

[2017-11-07 21:55] wafcio commented on #5000
I made a few changes, I switched from `sh` command to `system` in rubocop and it looks that problem disappeard.

IMHO problem solved, so I am closing issue.

[2017-11-07 21:55] #5000 closed

[2017-11-07 22:19] keithbro commented on #2841
`StringIO` also.

[2017-11-08 00:50] Malabarba commented on #5009
Thanks for the quick reply.

I know how lengthy these OSS discussions can get, and I have no intention of dragging you into another one. 

Thanks for pointing me towards a workaround, and thanks for Rubocop.

If you'd like to add my opinion to your pool of thoughts, I've written it below. But please don't feel obliged to reply at all. I respect you've probably put a lot more thought and time into

[2017-11-08 01:16] pocke commented on #2720
This behaviour has been changed since Ruby 2.4.0.
See https://bugs.ruby-lang.org/issues/9451

[code]

So this cop can auto-correct always with Ruby 2.4 or higher.

[2017-11-08 10:22] michniewicz commented on #4992
I would suggest smth like:
`Instead of wrapping the code inside a conditional expression use a guard clause above it`
since the guard clause is a conditional statement that should be placed _above_ the particular piece of code or at the top of the function/block.

WDYT?

[2017-11-08 10:43] Drenmi commented on #4992
Seems like a reasonable message. It is important to point out that this message only applies when:

1. The resulting line would be too long.
2. The conditional is the last part of it's definition.

Consider this example with additional lines below:

[code]

Here we could not change to:

[code]

These two conditions are already baked into the logic of this cop, but it seemingly doesn't adjust the m

[2017-11-08 10:57] Drenmi commented on #5009
Thanks for the feedback @Malabarba!

I will add your suggestion to disable auto-correct by default to my list of things to think about. 🙂 It is actually quite in line with what we are doing already. Erring on the side of caution with corrections, that is.

[2017-11-08 12:11] jesperronn opened #5015 "Ordering of mixins, constants, class methods, instance methods, inner classes"
Are there rules in Rubocop to enforce ordering of different types of elements in a class?

Given I have a class
[code]

That is:

* all modules must be included in a common place (customizable order)
* all constants must be defined in a common place (customizable order)
* all class methods must be defined in a common place (customizable order)

   There are two forms class methods can be included,

[2017-11-08 13:31] timrogers opened #5016 "Style/ConstantName gives a false positive for SCREAMING_SNAKE_CASE with accents"
`Rubocop::Cop::Style::ConstantName` enforces that constant names must be written using SCREAMING_SNAKE_CASE, by comparing them to its regex, `SNAKE_CASE`.

Capital letters can have accents, but the regular expression only permits unaccented letters A-Z. We should also allow capital letters with accents.

--------

## Expected behavior

[code]

should be permitted by the cop, just as:

[code]

is p

[2017-11-08 13:58] rrosenblum commented on #4966
`TargetRubyVersion` already works like a minimum Ruby version. It sounds to me like this request is for adding the ability to specify a range for supported Ruby versions. `Style/FrozenStringLiteralComment` and `Lint/UnifiedInteger` are both centered around helping a user upgrade their Ruby version.  Maybe there should be a set of `Upgrade` cops?

The configuration `always` in `Style/FrozenStringLi

[2017-11-08 14:04] Drenmi commented on #5015
There isn't, but it is our oldest open issue, and I know it's also at the top of @bbatsov's list of cops he'd like to have himself. 😉 (#1575)

Closing this as a duplicate for now. If you want to try and take a stab at this, feel free to open a PR. I imagine an initial implementation could be as simple as just checking that `include` and `extend` are at the top of the class. Just to get something t

[2017-11-08 14:04] #5015 closed

[2017-11-08 14:37] jesperronn commented on #5015
Thanks @Drenmi for linking the issues. I had a feeling it was somewhere there... just couldnt find it.

[2017-11-09 08:24] swordfish444 opened #5019 "Auto-correct compressed hash syntax incorrect"
An issue with compressed hash syntax being incorrectly auto-corrected.

--------

## Expected behavior

`model.save(validate:true)`

## Actual behavior

`model.savevalidate: true`

## Steps to reproduce the problem

[code]

then run `rubocop --auto-correct`

## RuboCop version

[code]

[2017-11-09 10:12] pocke commented on #5019
It is a problem of `Style/HashSyntax`

Minimum reproduce
==

`test.rb`

[code]

[code]

[2017-11-09 11:40] AlexWayfer opened #5022 "Lint/DuplicateMethods for classes inside `class << self` of parent module"
As in #4758, but with `class << self`.

Real-life case: https://github.com/panthomakos/timezone/blob/b70e1d8/lib/timezone/lookup.rb

--------

## Expected behavior

No warnings.

## Actual behavior

[code]

## Steps to reproduce the problem

[code]

## RuboCop version

[code]

[2017-11-09 13:02] pocke commented on #4979
wontfix, see https://github.com/bbatsov/rubocop/pull/4980#issuecomment-341291779

[2017-11-09 13:02] #4979 closed

[2017-11-09 13:02] pocke commented on #4981
wontfix, see https://github.com/bbatsov/rubocop/pull/4980#issuecomment-341291779

[2017-11-09 13:02] #4981 closed

[2017-11-09 13:42] luke-hill opened #5023 "Feature request) Multi-Line disable"
## Expected behavior

There exists a way to disable a cop on a line by line basis. The following syntax is used

[code]

In my project (I'm an Automater), I use a POM which has many lines that read like this:
[code]

For these lines, I don't care if I go over the metric limit, as the css (latter string part of the method), can sometimes be quite long-winded. Plus I'm indented several times sometim

[2017-11-09 13:44] Drenmi commented on #5023
You can accomplish this using:

[code]

🙂

[2017-11-09 13:44] #5023 closed

[2017-11-09 14:14] luke-hill commented on #5023
Awesome, apologies for the hassle. I did spend a while googling and looking around.

In my eyes it makes sense to place this here: https://github.com/bbatsov/rubocop/blob/master/manual/configuration.md#disabling-cops-within-source-code

[2017-11-09 20:12] dtamai opened #5025 "Error with Layout/MultilineMethodCallIndentation cop and lambda.(...)"
An error happens when RuboCop inspects code that uses `lambda.(...)` and chains the next method call in a new line:

Code:

[code]

Error:

[code]

Using `lambda.call(...)' works.

[2017-11-09 20:37] yevhene opened #5026 "Incorrect Performance/RegexpMatch autocorrect behavior"
When I use autocorrect for Performance/RegexpMatch autocorrect, it replaces `=~` with `.match?`, but it should be `&.match?`. Becuase it breacs code what tries to match `nil`.

.rubocop.yml
[code]

example.rb
[code]

[code]

example-autocorrected.rb
[code]

[code]

--------

## Expected behavior
`a =~ /regexp/` -> `a&.match?(/regexp/)`

## Actual behavior
`a =~ /regexp/` -> `a.match?(/regexp/)`

#

[2017-11-09 20:41] yevhene opened #5027 "Incorrect Style/SafeNavigation behavior in clauses with multiple rule violation"
If I have long line of checks, for example `a && a.b && c && c.d` it checks and autocorrect only first occurence.

.rubocop.yml
[code]

example.rb
[code]

example-autocorrected.rb
[code]
--------

## Expected behavior
 `a && a.b && c && c.d` ->  `a&.b && c&.d`

## Actual behavior
 `a && a.b && c && c.d` ->  `a&.b && c && c.d`

## Steps to reproduce the problem
Use chain of clauses with multiple oc

[2017-11-09 21:00] yevhene opened #5028 "Incorrect Performance/HashEachMethods behavior with array"
Performance/HashEachMethods decides that goes through hash whe he saw `|a, _|`. But it can be splatted array.

[code]

--------
## Expected behavior
No offenses for code above.

## Actual behavior
Offense for code above.

## Steps to reproduce the problem
See code above.

## RuboCop version
[code]

[2017-11-09 21:53] yevhene opened #5029 "Incorrect Style/SafeNavigation autocorrection behavior for to_s"
Style/SafeNavigation rule do not autocorrects following `to_s`. But it leads towards inconsistent autocorrection.

.rubocop.yml
[code]

example.rb
[code]
[code]

example-autocorrected.rb
[code]
[code]
--------

## Expected behavior
`value.to_date.to_s if value` -> `value&.to_date&.to_s`

## Actual behavior
`value.to_date.to_s if value` -> `value&.to_date.to_s`

## Steps to reproduce the problem
Us

[2017-11-09 22:09] Drenmi commented on #5028
Unfortunately we have no way of knowing what a identifier will reference at runtime. The current suggestion for multi-dimensional arrays is to use parentheses around the block arguments. This will silence the cop, and indicate to others that you're destructuring an array.

[code]

[2017-11-09 22:09] #5028 closed

[2017-11-09 22:11] yevhene commented on #5028
@Drenmi Maybe it should be a separate Cop for this purpose?

[2017-11-09 22:13] Drenmi commented on #5028
@yevhene: Not being able to do runtime type checking is a universal (and the biggest) constraint of RuboCop. It's a result of doing static analysis on a dynamic language. 🙂 Unless the `#each` is sent to an array literal, there's nothing we can do. (We cover this case already.)

[2017-11-10 00:54] pocke commented on #5026
Duplicated https://github.com/bbatsov/rubocop/issues/4298 , and pull-request welcome!
Maybe we should disable auto-correction of this cop when lhs is not a literal. See this comment https://github.com/bbatsov/rubocop/issues/4298#issuecomment-314139720 .

[2017-11-10 00:54] #5026 closed

[2017-11-10 09:45] #5025 closed

[2017-11-10 12:25] donjar commented on #5019
I cannot reproduce.

[code]

[2017-11-10 12:59] pocke commented on #5019
@donjar Can you try `--only` option?

This correction conceals the bug.

[2017-11-11 07:36] ckruse opened #5038 "False positive on Performance/RegexpMatch"
Performance/RegexpMatch false detects code like this to be a valid candidate for using `.match()` instead of `=~`:

[code]

## Expected behavior

Rubocop should correctly identify the use of `Regexp.last_match`

## Actual behavior

Rubocop suggests to replace `=~` by `.match()`

## Steps to reproduce the problem

Run Rubocop against the code above, with Ruby version 2.4.2:

[code]

## RuboCop vers

[2017-11-11 07:52] meganemura opened #5039 "An error occurred while Rails/Delegate cop was inspecting"
## Expected behavior

Successfully inspected

## Actual behavior

`An error occurred while Rails/Delegate cop was inspecting`

## Steps to reproduce the problem

[code]

## RuboCop version

RuboCop master branch (bf3edd8f66ad71bfcefc0f87413eb5087b702b16)

[code]

[2017-11-11 08:11] pocke commented on #5038
https://github.com/bbatsov/rubocop/blob/bf3edd8f66ad71bfcefc0f87413eb5087b702b16/lib/rubocop/cop/performance/regexp_match.rb#L156

This cop should not use `loc.expression.begin_pos` at here. But I don't know what we should use instead.

[2017-11-11 08:41] donjar commented on #5019
Oops, didn't notice that. Yeah now it errors.

[code]

I'll try a fix. :)

[2017-11-11 13:45] Drenmi commented on #5039
Thanks for the report!

Probably a missing test case that was broken with a refactoring I did recently, to make use of the node extensions. Will have a look.

[2017-11-11 14:23] #4781 closed

[2017-11-11 21:58] #5019 closed

[2017-11-11 22:06] #4363 closed

[2017-11-12 14:07] mikegee commented on #2841
It seems like a lot to ask, but it would be great if these classes implemented `#empty?`.

[2017-11-12 21:00] fangyi-zhou opened #5046 "Special global variables should not be auto corrected"
Special global variables should not be auto corrected

They will become `NilClass` silently and users (especially with less ruby knowledge like me) might get confused. It is expected that linter does not break code behaviour, yet in this case auto correction breaks the code because the English module is not imported.

--------

## Expected behavior

*Either*
Do not auto correct
*Or*
Auto correct,

[2017-11-12 22:16] pocke commented on #5046
`Style/SpecialGlobalVars`'s auto-correction should be disabled by default. If `english` module is required in an application, we can enable the auto-correction for this cop with `.rubocop.yml`.

[2017-11-12 23:14] fangyi-zhou commented on #5046
Thanks for the fast reply. ありがとうございます。

[2017-11-13 08:05] #4633 closed

[2017-11-13 09:00] ianmiell commented on #4876
Any ideas?

[2017-11-13 11:06] bbatsov commented on #4895
While those are always going to be violated, the real question is what makes sense most of the time, but doesn't allow unnecessary complex code to creep in unnoticed. I think that fundamentally many people don't understand the point of some the cops (therefore our ongoing effort to improve the RuboCop manual). I've always been more fond of local exclusions of some checks as this makes it explicit

[2017-11-13 11:07] bbatsov commented on #5029
That's intentional - `to_s` work on `nil` just fine. :-)

[2017-11-13 11:07] #5029 closed

[2017-11-13 11:09] yevhene commented on #5029
@bbatsov And that is the problem. `nil` and empty string `""` is different things. And after autocorrection I got bunch of tests failing, because result changed from `nil` to `""`.

[2017-11-13 11:59] dreyks opened #5050 "Style/IndentationConsistency and extend self"
In my current project we have a weird convention to write `extend self` on the same line as the module definition, which turns out to be valid ruby
[code]

--------

## Expected behavior

I'd expect rubocop not to touch the indentation here

## Actual behavior

The module body gets aligned with the `extend` keyword
[code]

## Steps to reproduce the problem

see the code template above

## RuboCop

[2017-11-13 15:38] tobypinder commented on #4967
I see the comments from the @koic's attempt at resolving this. Would it be possible to expand the `Whitelist` functionality from `method` to `ClassName#instance_method` / `ClassName.class_method`?

Doesn't deal with subclasses as @koic attempted but surely the class name itself is available to the AST, and we're not particularly worried about `Gem::Specification` getting subclassed here? Failing t

[2017-11-13 21:47] michniewicz commented on #5050
Guess we need a cop that replaces module's `extend self` with `module_function` https://github.com/bbatsov/ruby-style-guide#module-function

btw if `extend self` goes to the next line, the cop works as expected
[code]

[2017-11-13 23:14] marcandre commented on #4406
In case you haven't considered, I like the following:

[code]

[2017-11-14 00:07] marcandre opened #5052 "Style/BracesAroundHashParameters should not remove newlines or commas"
[code]

`rubocop -a --only Style/BracesAroundHashParameters` will remove the newline after the `{`, before the '}' as well as the last trailing comma, resulting in:

[code]

I was expecting (and wanting):
[code]

I understand that other filters might fix that for me, but the way I'm dealing with our multiple failures is fixing them one type at a time...

[code]

[2017-11-14 00:39] marcandre opened #5053 "ConstantName should allow CamelCase constants for class aliases"
The follow code is flagged by RuboCop:

[code]

I believe it shouldn't complain about `Bar` being camelcase here. Assuming `Foo` is correctly written, then `Bar` *should* actually be CamelCase, and `BAR = Foo` should actually be an error.

I understand there is rarely a case for such code (but we have nevertheless 14 such cases 😈 )

[code]

[2017-11-14 01:16] marcandre opened #5054 "Lint/UnneededSplatExpansion can get very confused"
[code]

Lint/UnneededSplatExpansion is flagged for this on the `*Array.new`.

Moreover, it gets "fixed" as:

[code]

That code is simply not equivalent!

[code]

[2017-11-14 01:40] marcandre opened #5055 "Style/MixinUsage gets confused"
The following file gets erroneously flagged by rubocop:

[code]

Now if you uncomment the `module Whatever` definition, or comment out the `DeepCover::GLOBAL_BINDING` line, rubocop then accepts the `extend`.

[code]

[2017-11-14 01:59] koic commented on #5055
Thanks for opening an issue.
This issue related to #4885 and fixed by #4941.

[2017-11-14 02:13] marcandre commented on #5055
Sorry, I did a search only on opened issues.

[2017-11-14 02:13] #5055 closed

[2017-11-14 09:17] #4252 closed

[2017-11-14 09:48] sos4nt commented on #4406
@marcandre nice one, that would work. Unfortunately Rubycop doesn't enforce `freeze` in that case, it only does so for literals.

[2017-11-14 12:22] znz commented on #4406
I use following style to avoid such offense.

[code]

[2017-11-14 18:33] garettarrowood commented on #5053
This sounds like a fun fix. Happy to take a stab at it over the next few days.

[2017-11-14 21:34] garettarrowood commented on #5053
As that comment suggestions, it looks like the described behavior actually is not flagged by rubocop. I tried to reproduce without success. Adding this spec also passes:

[code]

@marcandre - Can you provide any additional info about error?

[2017-11-14 21:40] marcandre commented on #5053
Indeed, `Foo = Bar` is ok, but `Foo = Bar = Qux` is flagged.

[2017-11-14 23:13] tagliala opened #5059 "Style/MixinUsage false positive in specs"
The Style/MixinUsage finds false positive inside specs on the current master branch of RuboCop

--------

## Expected behavior

Does not report a lint

## Actual behavior

Reports a lint

## Steps to reproduce the problem

#### my_class_spec.rb
[code]

[code]

Real world use case: https://github.com/brigade/scss-lint/blob/master/spec/scss_lint/reporter_spec.rb

## RuboCop version

Include the outp

[2017-11-15 06:29] koic commented on #5059
Thanks for opening issue. I can reproduce it.

I think that this minimum case will be below.

[code]

The difficulty is that it can not be judged by receiver object whether it is `Module#include` or other` include` methods.

However, as indicated in the issue example, there are some cases where it becomes false positive with RSpec.
On the other hand, I think that there are not many use cases to us

[2017-11-15 08:37] #5053 closed

[2017-11-15 10:45] Drenmi commented on #5059
I agree @koic. AFAIK, if the `include` call is a method argument, it's safe to assume it's not a mixin.

This would also mean the fix should be trivial:

[code]

[2017-11-15 11:47] koic commented on #5059
@Drenmi Thanks for comment and advice. I will open a PR to resolve this issue.

[2017-11-15 15:12] fedeest opened #5062 "RSpec/DescribeClass false positive"
## Problem description
On each of my spec files I get the following error (as an example):

[code]

As you can see, the class name is fine. The same happens for all the spec files and corresponding classes on my spec folder.

## RuboCop version

[code]

[2017-11-15 16:15] marcandre commented on #5053
Thanks for the fix. On the other hand, this allows `Foo = BAR` and `Bar = FOO`, right?

[2017-11-15 16:17] alexdowad commented on #2841
@mikegee You can try to contribute patches to MRI Ruby. They accept PRs through GitHub now.

[2017-11-15 16:22] garettarrowood commented on #5053
From a quick test, it looks like those examples work just fine. No offenses on my end.

[2017-11-15 16:42] marcandre commented on #5053
Yeah. Maybe it should be an offense though, at least `Foo = BAR`. Not sure if `FOO = Bar` is ok.

[2017-11-15 18:13] garettarrowood commented on #5062
I believe you're looking for the `rubocop-rspec` repo - https://github.com/backus/rubocop-rspec . All `Rspec/*` are handled there.

[2017-11-15 18:23] fedeest commented on #5062
Thank you, I didn't know about it. I'll close this issue then.

[2017-11-15 18:23] #5062 closed

[2017-11-15 20:02] #5059 closed

[2017-11-15 20:17] tagliala commented on #5059
Thanks!

[2017-11-16 04:58] Mifrill opened #5063 "unexpected error: Operator => should be surrounded by a single space"
*optional*

I want to nicely align lines
[code]
Firstly: this is not a rubocop problem. It is impossible to align in the code editor (sublime or rubymine), we get this: https://imgur.com/a/B6lPW
this only happens with Chinese characters

Secondly: rubocop behaves strangely with these symbols
[code]
tried the tabs and spaces, the result is the same

even one tab or space, provokes this error
[code]

[2017-11-16 10:42] Drenmi commented on #5063
I can't really reproduce this. Using a single space between a string key and the operator causes no offense, regardless of the string content.

In this example, where you claim to use a single space, there is clearly two spaces. 🙂

[2017-11-16 10:50] Mifrill commented on #5063
@Drenmi  I mean one additional space or tab, i.e. If I add at least one space or tab, I get this error.

[2017-11-16 10:55] Mifrill commented on #5063
@Drenmi  I also do not have problems when one line, regardless of the content.
try to copy the hash completely and try
[code]

[2017-11-16 15:45] dkniffin opened #5067 "[New Cop] Style/PreferInterpolation"
I'd like to request a new cop, similar to eslint's [prefer-template](https://eslint.org/docs/rules/prefer-template) rule. It would check for places where string interpolation could be used in place of concatenation.

Here's the "bad/good" example:

[code]

[2017-11-16 15:57] pvdb commented on #3284
Oh, the irony...

[2017-11-16 19:07] Drenmi opened #5069 "Change existing cop message templates to use annotated template strings"
Most cops currently use an unannotated template string for their message template(s):

**Bad example:**

[code]

These should actually use annotated strings, to provide context, and reduce connascence of the format arguments.

**Good example:**

[code]

---

**Progress:**

 - [x] Bundler/DuplicatedGem
 - [x] Bundler/InsecureProtocolSource
 - [x] Bundler/OrderedGems
 - [x] Gemspec/OrderedDependenci

[2017-11-16 19:09] Drenmi commented on #5063
Then I am not sure what you are asking for in this issue. This is the exact thing that the cop is checking for. That there are no extra spaces around operators. 🙂  If you don't want this in your project, feel free to disable the cop in `.rubocop.yml`:

[code]

[2017-11-16 19:34] rrosenblum commented on #5067
This sounds like a good idea to me. For the most part, I think this would involve checking both sides of a call to `+`. If one of them is a string and the other is a variable, interpolation can be used. Can anyone think of any potential edge cases that could cause issues?

[2017-11-16 22:02] l8nite commented on #2788
Late to the party, but I wouldn't mind seeing the ability to warn on multi-line blocks that contain postfix conditionals:

[code]

[2017-11-17 05:06] Mifrill commented on #5063
## I will try to explain in parts

I have a hash:
[code]
check
[code]
## *I want to align all the lines* to look better
[code]
check
[code]
## now I'm adding a Chinese locale
[code]
check
[code]
## Now I want to align the lines of the `rename` key just like en and es locales
[code]
## and for some reason I can not do this
check
[code]
why there is no error, in other locales, except for Chinese?

[2017-11-17 05:12] Mifrill commented on #5063
## remove other locales, leave only the Chinese, and try to align the key line renames
[code]
for some reason unknown to me, it is impossible to align the lines, the symbol "=>" is still disjointed with respect to the neighboring same symbols, and it is impossible to align it. Try it yourself

check
[code]
why is this happening?

[2017-11-17 07:22] #4662 closed

[2017-11-17 07:42] EhsanZ commented on #5063
How these lines look like after getting corrected? I tried to reproduce your issue but Rubocop wouldn't detect any offense.

[2017-11-17 08:47] Mifrill commented on #5063
@EhsanZ
OS
[code]
after getting corrected:
[code]

[2017-11-17 12:01] Drenmi commented on #5063
Right. This cop will allow multiple spaces if they are used to align operators on successive lines. That is, if the operator appears in the same column as one on the previous or the following line.

In the case of the Spanish hash, the operators are in the same column. In the case of the Chinese, they are not. It may look like it, because of the varying width of the characters, but they are actual

[2017-11-17 12:06] Drenmi commented on #2788
@l8nite: This should already be covered by `Style/MultilineIfModifier`.

[2017-11-17 18:06] l8nite commented on #2788
@Drenmi Thanks! You're right. I had checked locally to see if that was the case, but I was on a pretty old version of rubocop. Once I updated, the cop started alerting.

[2017-11-18 07:01] mokpro commented on #5069
I will take it!

[2017-11-18 20:17] akhramov commented on #5067
@rrosenblum the left hand side matters the most. In JS `a + "b"` will always result in string due to fancy type conversions.

Here's the real world example on why the things are not so bright in Ruby. Consider [Pathname#+](https://ruby-doc.org/stdlib-2.4.0/libdoc/pathname/rdoc/Pathname.html#method-i-2B):

[code]

That being said, the left hand side must be a string.

[2017-11-18 21:04] rrosenblum commented on #5067
@akhramov thanks for the example with Pathname. That should help prevent several issues after this is implemented.

That should make this easier to implement.

[2017-11-18 21:37] dkniffin commented on #5067
Hmm, it's shame it can't be checked on both sides, but that is a valid point, @akhramov

[2017-11-19 16:45] garettarrowood opened #5074 "Add new `Layout/EmptyLinesAroundArguments` Cop"
While applying a fix for issue #5052 in PR #5066 , it was discovered that the autocorrection for `Style/BracesArondHashParameters` is a little aggressive. When I applied changes to stop it from removing legitimate `\n`s, [it created snippets similar to the example below](https://github.com/bbatsov/rubocop/pull/5066/files?diff=split#diff-0e7dbdd6e99e0defc2bab2cb544b42daR207).

Adding this `EmptyLin

[2017-11-19 18:02] garettarrowood opened #5075 "`Style/RedundantParentheses` makes wrong ternary autocorrection"
While cleaning up a large codebase, I stumbled upon the autocorrection plunder below.

--------

## Expected behavior

`Style/RedundantParentheses` should autocorrect this line of code:

[code]

to

[code]

## Actual behavior

However, what actually happens is that the necessary whitespace is not added. And non-executable code is produced in place of the ternary.

[code]

Attempting to execute the

[2017-11-19 21:30] Drenmi commented on #5074
This cop should go in the `Layout` department, not `Style`. 🙂

[2017-11-19 22:48] Drenmi commented on #5069
@mokpro: Sure. Please try to do it in batches (try not to submit one huge PR), and update the checklist above as you go. 🙂

[2017-11-20 05:29] mokpro commented on #5069
@Drenmi Thank you. I've created first pull request #5070 with ~20 files changed.
Please review it

[2017-11-20 15:17] SaladFork opened #5078 "`Style/SymbolArray` warns when valid"
## Expected behavior

`Style/SymbolArray` should not complain when using a symbol array.

## Actual behavior

`Style/SymbolArray` complains when using a symbol array.

## Steps to reproduce the problem

[code]

[code]

[code]

## RuboCop version

[code]

[2017-11-20 15:49] Drenmi commented on #5078
You can see from the configuration snippet you provided that it has been configured to enforce bracket notation, not percent notation. 🙂

[2017-11-20 15:49] #5078 closed

[2017-11-20 15:50] SaladFork commented on #5078
🤦 wow, thank you... sorry for the noise.

[2017-11-20 15:52] Drenmi commented on #5078
No worries. Will have a think about whether this name is sufficient, since the symbol notation technically has brackets as well. 🤔

[2017-11-20 16:09] eugentorica opened #5079 "Incorrect safe navigation autocorrection"
[code]
is automatically converted to

[code]

--------
This is incorrect because state can be nil.
Expected behaviour: no changes required.

$ rubocop -V
Rubocop version: 0.51.0 (using Parser 2.4.0.2, running on ruby 2.4.1 x86_64-linux)

[2017-11-20 22:37] SaladFork commented on #5078
I was actually confusing this cop with `Style/PercentLiteralDelimiters`, which has a very similar fail message (`%i-literals should be delimited by [ and ]`).

[2017-11-21 12:37] thomthom opened #5081 "Cop to enforce file structure?"
I'm writing a rubocop extension for our Ruby API. Part of the API and our technical requirements are a specific file structure.

Is it currently possible to check file structure in RuboCop?
We would assume that RuboCop is run from the project root.

Examples:

From project root there should be a root RB file: `example.rb` and with that there should be a `example` folder. The exact name is variable

[2017-11-21 12:43] rdallasgray commented on #3803
I'm having a similar issue with this. With default settings:
[code]

[2017-11-21 15:14] asherkach commented on #5079
The [safe navigation operator](https://en.wikipedia.org/wiki/Safe_navigation_operator), [introduced in ruby 2.3.0](https://www.ruby-lang.org/en/news/2015/12/25/ruby-2-3-0-released/), evaluates the left hand side of `state&.country_id` to `nil` if `state` is `nil`.  Thus, the autocorrection probably doesn't change behavior as you suggest.

That said, if `state` and `country_id` are both `nil`, then

[2017-11-21 16:03] jonas054 commented on #3803
@rdallasgray It's not quite the same problem, since the stuff between the curly braces can only be regarded as a hash, and not as two method parameters. You get a report from `Layout/IndentHash`, because it wants the following indentation, depending on configuration:

[code]
The style you prefer is not among those supported, I guess.

[2017-11-21 17:42] cabello opened #5082 "Auto-correct does not cache"
The first time I run `bundle exec rubocop` is slower than the sub-sequent ones because of the awesome caching feature.

When using the auto-correct flag `-a`, it seems to never cache and every single run takes on average the same amount of time.

## Expected behavior

Caching should also work when auto-correcting files.

## Actual behavior

Every run takes consistently the same amount of time.

##

[2017-11-21 19:02] minyoung commented on #5079
The autocorrect also triggers when I have this code: `if actions && actions.length > 0`

Rubocop wants to rewrite it to: `if actions&.length > 0`

If `actions` is `nil`, then the rewrite will result in: `nil > 0`, which will generate an error...

[code]

[2017-11-21 19:26] asherkach commented on #5079
Right. Presumably the cop should not rewrite if the result is being used in a comparison, it should only rewrite if the truthiness of falsiness of the result is being used?

[2017-11-21 20:45] Drenmi commented on #5079
This was fixed in #4741, and I can not reproduce using the code provided, neither from @eugentorica nor @minyoung. (This is the reason there's a template. 😉 ) Please provide the complete output using `-D`.

[2017-11-21 20:47] Drenmi commented on #5079
I can not reproduce this using the code provided. Please add the complete output using `-D`, and any relevant configuration. 🙂

[2017-11-21 21:52] marcandre opened #5084 "Cop::AutocorrectAlignment#calculate_range returns non sensible range."
Pretty minor issue that sadly I don't have time to investigate further or fix right now but I thought I'd mention it.

Currently, neither `rubocop` nor `parser` check that a range being rewritten is within the bounds of the source.

If you add the check (like [in this commit](https://github.com/marcandre/rubocop/commit/cfbf84a1522bb1639a232a4ca2c960a38bbbccba)), you'll get warnings with 9 specs, a

[2017-11-21 22:56] Drenmi commented on #5084
Thanks for the investigation @marcandre! 🙂

[2017-11-22 02:23] kachick opened #5085 "Inverse checker does not consider the meaning"
Addressing around `Use >= instead of inverting <.`

I can understand the motivation in some objects.

[code]

But is this an intentional behavior?

[code]

I think the style restriction will not fit for ruby `Comparable`.

---

## Expected behavior

Does not any alert

## Actual behavior

Alerting `Use >= instead of inverting <.` as below

[code]

## Steps to reproduce the problem

[code]

example

[2017-11-22 10:52] ngelx commented on #4236
Just to mention. If you are still in 4.2 and not planning to move to 5, it would be good to let it know to rubocop.

[code]

[2017-11-22 11:02] #4628 closed

[2017-11-22 11:07] #5054 closed

[2017-11-22 11:56] ShockwaveNN opened #5088 "Layout/MultilineMethodCallIndentation autofix lines not aligned"
Steps to reproduce:
1. Create test.rb files with content
[code]
2. `rubocop -a test.rb`
--------

## Expected behavior

[code]

## Actual behavior

[code]

Maybe expected behavior not right, but i expect all lines with `delete` to have same indent, but in result one line is differ from all others

## RuboCop version

[code]

[2017-11-22 13:10] Drenmi commented on #5088
Related to #2743.

[2017-11-22 13:45] mikegee commented on #5085
I suppose the cop could check if both operands are camel-case constants (assuming that means they are classes).

[2017-11-22 13:49] kachick commented on #5085
Will it work in below case?

[code]

And in my understanding, we expect `Comparable` returns `nil` in uncomparable relations. It is not scoped in class/module objects.

[2017-11-22 14:09] tiagotex opened #5089 "False positive for `Style/SafeNavigation` when safe guarding arithmetic operation or assignment"
`Style/SafeNavigation` returns false positives and tries to autocorrect when safeguarding a arithmetic operation or assignment on a chained method call.

--------

## Expected behavior

Rubocop shouldn't consider this an offense, since we don't want to do the operation when object is null.

## Actual behavior

Rubocop removes the safe guard and uses the safe operator.

## Steps to reproduce the pr

[2017-11-22 15:08] Drenmi commented on #5079
Was able to reproduce it now.

[2017-11-22 15:10] Drenmi commented on #5089
Same issue as #5079. The problem seems to be that the cop is not checking that the **last** method in a method chain is a "dot-less" method (comparisons, arithmetics, hash access, etc.)

[2017-11-22 15:32] tiagotex commented on #5089
I'm working on a PR to fix it.

[2017-11-22 15:46] tiagotex commented on #5089
I fixed the problems described in this issue, but not the problem referenced in #5079, I might take a stab at it later.

[2017-11-22 15:54] pocke commented on #5085
👍

Unfortunately the cop cannot avoid the case currently. It's a limitation of RuboCop.
(note: If we implement tracing local variable, the cop can avoid it. But if the `integer` is a method call, avoiding it is completely impossible.)

---

I think we should change three things.
First, we should change the cop to check camel-case constants ( @mikegee 's suggestion)
By this change, the cop can proc

[2017-11-22 17:03] kachick commented on #5085
Sure. Thanks for the sharing! 🙏

[2017-11-22 17:10] pocke commented on #5082
It seems good to me. But we must refactor the code for auto-correction to implement this feature.

First, we should add `auto_correct` to `NON_CHANGING`.

[code]

But it does not work well from we just changing them.
For example

[code]

[2017-11-22 21:34] #5089 closed

[2017-11-22 22:08] #4071 closed

[2017-11-22 23:18] rrosenblum commented on #5085
Would it be beneficial to move the checks for `<`, `>=`, `>`, and `<=` out of the default set of checked methods?

Please take into consideration #4289. It is a request to be able to disable the default set of inverse methods. I know it isn't directly related, but it seems like there could be a similar solution with being able to configure the methods that are checked.

I would love to have this f

[2017-11-23 00:31] jcouball opened #5098 "Style/SymbolProc gives bad advice for Object#tap"
In code where `Object#tap` is passed a block containing a single, no-argument method, the Style/SymbolProc cop reports the following offense:

`Style/SymbolProc: Pass &:method as an argument to tap instead of a block.`

Since `Object#tap` does not support a single, non-block argument, this advice can not be followed.

The workaround is to include the following in the .rubocop.yml:

[code]

-------

[2017-11-23 00:45] asafbrukarz opened #5099 "Style/MinMax cop fails to detect error"
Given a file with

[code]

Rubocop fails with:

[code]
--------

## Expected behavior

Rubocop should either ignore this case, or suggest correcting to `self.minmax...`

## Actual behavior

[code]

## Steps to reproduce the problem

Run rubocop 0.51.0 on the above file with a default configuration

## RuboCop version

[code]

[2017-11-23 06:29] pocke commented on #5098
It seems supported.

[code]

[2017-11-23 06:36] pocke commented on #5099
Minimum code and stack trace.

[code]

[code]

[2017-11-23 10:43] Drenmi commented on #5098
`&:error!` is a block argument (`&` is block coercion in Ruby.) 🙂

[2017-11-23 11:27] Drenmi commented on #5050
I am inclined to say we should add a special case for this. The code provided intentionally obscures what is actually going on. Adding complexity to support that is quite contrary to what RuboCop does. 🙂

We recently added a cop that checks that a method doesn't have trailing implementation on the `def` line:

[code]

We probably want a similar cop for `class` and `module`, as well as the cop prop

[2017-11-23 12:54] Drenmi commented on #5081
There's no such cop at the moment, @thomthom. File structure varies wildly depending on the type of project, but I could see how this could be enforced for, for example, Ruby Gems.

[2017-11-23 12:56] #5099 closed

[2017-11-23 13:18] thomthom commented on #5081
In our particular case, we embed an Ruby interpreter into a desktop application, and allow people to write extensions for out application. The extensions are required to have a particular file structure.

It wouldn't make sense for RuboCop itself to have such a cop. But I'm working on a custom rubocop gem for our use.

So far I found that I can use `def investigate(processed_source)` to get the fi

[2017-11-23 15:08] robbl-as opened #5109 "Rails/HasManyOrHasOneDependent flagging has_many: associations with foreign_key on_delete: cascade"
Rails/HasManyOrHasOneDependent seems to be wrongly flagging has_many associations that have a foreign key with options `{on_delete: :cascade}`. We prefer to have the database to delete associated VerifyReminders, when we destroy a Signature and not Rails.

I have the following model:

[code]

I have the following migration:

[code]

I have the following schema.rb after migration:

[code]

--------

[2017-11-23 15:31] #5039 closed

[2017-11-23 15:55] pocke commented on #5109
You can disable this cop with `.rubocop.yml` or ignore the offenses in your case.

[code]

RuboCop cannot know presences of foreign keys. So RuboCop cannot have this feature.
But we can probably add another cop to check foreign key.

[code]

[2017-11-23 17:40] robbl-as commented on #5109
I know that there is no perfect solution to my issue but maybe we could improve the situation. In the given scenario it could be possible to check for the foreign key in the schema.rb file. Though, I have no overview about other possibilities within rubocop.

[2017-11-23 17:56] pocke commented on #5109
True. But we don't have a cop that reads other files such as `schema.rb`. So I think we cannot implement the feature immediately.

[2017-11-23 21:33] #1575 closed

[2017-11-24 06:14] #5079 closed

[2017-11-24 06:22] bbatsov commented on #5098
It's another question entirely if using `tap` for a single expression is a good idea. 😉 I was planning at some point adding a cop for that. With an option do discourage `tap` completely as well. I've yet to find code that becomes more readable because of `tap`.

[2017-11-24 06:22] #5098 closed

[2017-11-24 08:30] tiagotex commented on #5075
I'm working on a fix for this bug.

[2017-11-24 09:07] FLemon opened #5115 "Bundler/OrderedGems not fit for all gems"
hi, just want to point out that we are using a [Gem](https://github.com/codez/delayed_cron_job#installation)
that specified has to be listed after certain gems, which throws this violation

am happy to put this into ignore, but wondering if we should still enforce such rule

[2017-11-24 15:23] huyong36 opened #5118 "ruby2.4.0 run rubocop get a Error"
When I run `rubocop`,I get this error:
`
/.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/psych/visitors/to_ruby.rb:123:in visit_Psych_Nodes_Scalar': stack level too deep (SystemStackError)
	from /.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/psych/visitors/visitor.rb:16:in 'visit'
	from /.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/psych/visitors/visitor.rb:6:in 'accept'
	from /.rvm/rubies/ruby-2.4.0/lib/ruby/2.4.0/psych

[2017-11-24 17:43] rrosenblum commented on #4289
@nroman-stripe good idea for an exclusion list. It sounds like it would be more powerful here.

[2017-11-24 17:55] Drenmi commented on #5118
Since this is originating in Psych, please include your `.rubocop.yml`.

[2017-11-24 17:57] Drenmi commented on #4289
Overwriting is the default behaviour for arrays. I guess merging is the default for hashes. Both are kind of clunky. What's been discussed before is some special directive to inherit values.

[2017-11-24 19:43] Drenmi commented on #5115
I personally have this disabled in projects. Feel free to do so as well. I hardly consider it critical. 🙂 (Note that it only enforces ordering for gems which are grouped together, not separated by empty lines.)

[2017-11-24 19:43] #5115 closed

[2017-11-25 08:05] gettalong commented on #4247
I would also prefer to specify what to include instead of excluding all the things I don't want. A typical Ruby project has `bin`, `lib` and `test`/`spec` folders. So a config like

[code]

would allow one to use Rubocop easily. No temporary Ruby files would raise a false alarm.

Would it be possible to add a new config option to `AllCops` to specify the exclude/include order? The default could be

[2017-11-25 08:53] #5075 closed

[2017-11-25 10:16] huyong36 commented on #5118
thank you.

[2017-11-25 10:16] #5118 closed

[2017-11-25 13:36] garettarrowood commented on #5069
Starting at the bottom of the checklist and doing a large batch ascending up.

[2017-11-25 15:02] pocke commented on #4806
I'll close this issue, because it's duplicated probably. If you still have this problem with latest JRuby, please reopen the issue or open a new issue.

[2017-11-25 15:02] #4806 closed

[2017-11-25 15:48] pocke commented on #5027
Probably `Expected behavior` and `Actual behavior` in your report are reversed. 😉

Fixing this problem is a bit of hard. Because `a && a.b && c && c.d` is parsed like `(((a && a.b) && c) && c.d)`, not `(a && (a.b && (c && c.d)))`. So the cop should dig `and` nodes.

[2017-11-25 16:13] dblock opened #5128 "Bundler/OrderedGems fails on empty conditionals"
OrderedGems fails on conditionals that evaluate to empty in Gemfile, for [example](https://github.com/slack-ruby/slack-ruby-client/blob/master/Gemfile#L5):

[code]
--------

## Expected behavior

It should probably ignore this line or work on an evaluated result.

## Actual behavior

[code]

## Steps to reproduce the problem

Add the line above into a Gemfile, run `rubocop`.

## RuboCop version

[

[2017-11-25 17:43] obfuscoder commented on #4630
I haven't gotten any replies from the maintainers of rails_dom_testing yet. I hope to have this isse addressed some day. I'll close the issue on this side.

[2017-11-25 17:43] #4630 closed

[2017-11-25 21:39] jcouball commented on #5098
@pocke, @drenmi, and @bbatsov

Thank you for pointing out what I missed.  I appreciate it.

[2017-11-26 04:47] zw963 opened #5139 "Exclude pattern is not make effect when setting in ~/.rubocop.yml for emacs flycheck."
Following is my settings begin part.

[code]

And flycheck can auto use rubocop, no any config ( I don't remember set it)

When i open `db/schema.rb`, I still got the following error message:

[code]

[2017-11-26 06:49] #4449 closed

[2017-11-26 12:51] albertpaulp commented on #3437
@mockdeep @bbatsov I've raised a PR which addresses above Cop Requirement, it'll be great if you can take a look at it. Do I have to add autocorrect along with this PR ?

[2017-11-26 18:28] mockdeep commented on #3437
@albertpaulp I made a few comments, but looks pretty good to me overall. I'll leave it to @bbatsov and others, though, since I'm just a bystander with an opinion.

[2017-11-26 18:52] mockdeep commented on #3437
My comments are on [this commit](https://github.com/albertpaulp/rubocop/commit/863e3285e2fcdf1fc65f2407279b39b78773c75a) instead of the PR because of morning brain.

[2017-11-26 20:03] ivoanjo commented on #4895
That's a valid point. But what is "makes sense most of the time" for a new Rubyist (or new to a project)?

My concern is that by not having a stricter set of defaults, we immediately seed confusion into a new user (or one that is new on a codebase): What do we find acceptable on this codebase? Is this cop ok to skip, or do I have to change my code to avoid the warning? To someone coming in as an o

[2017-11-26 22:05] EdwinRozario commented on #3759
This gets tricky in a Rails controller as i will have to do an early return and render

[2017-11-27 15:13] #5052 closed

[2017-11-27 15:15] #3001 closed

[2017-11-28 10:39] pocke opened #5154 "[New cop] Check indentation of method chained multi-line block"
I think there are three styles to write method chained multi-line block.

[code]

Currently, RuboCop only warns 2nd style.

[code]

--------

## Expected behavior

I think 1st (or 2nd) style is better. So, If the others styles exist, a new cop should complain.
And maybe the styles should be configurable with `EnforcedStyle`.

## RuboCop version

master

[code]

Related issue (Japanese) https://git

[2017-11-28 12:07] dominicsayers opened #5155 "Naming/ConstantName ignores constants that are frozen"
If you give a constant a name that is not in `SCREAMING_SNAKE_CASE` the cop _Naming/ConstantName_ raises an offence. If you then `.freeze` that constant the offence is not detected.

--------

## Expected behavior

I expect Rubocop's _Naming/ConstantName_ cop to raise an offence for a mis-named constant whether the constant is frozen or not.

## Actual behavior

If the mis-named constant is frozen

[2017-11-28 12:21] pocke commented on #5154
And I have another style idea. (I'm sorry, I forgot this.)

[code]

It is also good. And I think it is more readable than the 1st style.

I think we should add a new cop, because I want the two styles, like `assignment`(the 4th) and `indent`(the 1st).

[2017-11-28 12:25] pocke commented on #5155
The cause:

https://github.com/bbatsov/rubocop/blob/4a0d6361d0065ca16ba19bdf3b3d6c4623e14adc/lib/rubocop/cop/naming/constant_name.rb#L27-L31

[2017-11-28 15:06] garettarrowood commented on #3666
I've been thinking about this and would like to tackle it. Here is my proposal:

This issue can represent the addition of 2 Cops.

1. `Style/UncommunicativeBlockParamName`
1. `Style/UncommunicativeMethodArgName`

After those, we can discuss the possibility of [other `reek` Uncommunicative Names](https://github.com/troessner/reek/blob/master/docs/Uncommunicative-Name.md).  Although, at first inspec

[2017-11-28 15:15] palkan commented on #3666
I prefer this way. It's very common to have single char (or less meaningful) block params names, especially for keys/values (`|k|`, `|k, v|`).

Methods are likely to have (and, IMO, should have) more descriptive arguments names though.

It can be configurable in Rubocop, but I think in most cases there gonna be the whole alphabet) Using the first char of a class name is popular.

Of course, having

[2017-11-28 15:43] garettarrowood commented on #3666
So to recap:

`Style/UncommunicativeBlockParamName` -
1. No capital letters
1. No names ending in numbers
1. Config that allows one to whitelist var names that break these rules.

`Style/UncommunicativeMethodArgName` -
1. No single letter names
1. No capital letters
1. No names ending in numbers
1. Config that allows one to whitelist var names that break these rules.

And disable this cop in the `

[2017-11-28 15:53] palkan commented on #3666
And I think:

4. Predefined list of accepted names (such as `k`, `v`, etc); not sure that that should be a default whitelist, maybe, a separate list (always included).

And according to:

What about having a parameter `MinArgNameLength` to make it even more configurable. And, I think, default value of 3 is better (2-letter names? not sure).

[2017-11-28 22:03] johnunclesam opened #5160 ""Missing top-level class documentation comment" with Rails 5 default files."
## Expected behavior

If I use in my `.rubocop.yml` file this:

[code]

I don't want in file like `app/controllers/application_controller.rb*` this warning: `Missing top-level class documentation comment.`

## Actual behavior

Now it happens.

Am I wrong?

## RuboCop version

[code]

[2017-11-29 01:10] jcoyne opened #5161 "Style/CommentedKeyword false positive"
[code]

In rubocop 0.51.0

[2017-11-29 10:45] Drenmi commented on #5160
Enabling the Rails department only adds some additional cops to the inspection. It does not include any Rails specific configuration for the regular cops. We try not to hard code special cases for libraries into RuboCop core.

I personally use this configuration on Rails projects:

[code]

Since I only find it helpful to document domain objects.

Of course you can tweak this to enforce configurati

[2017-11-29 10:45] #5160 closed

[2017-11-29 12:45] michniewicz commented on #5161
I believe this is fixed by https://github.com/bbatsov/rubocop/pull/4944 in master branch

[2017-11-29 12:58] Drenmi commented on #5161
Duplicate of #4886. Fixed in #4944.

[2017-11-29 12:58] #5161 closed

[2017-11-29 14:00] rrosenblum commented on #5067
I thought of a few more things that we will need to account for. We will want to make sure that the correction does not exceed the configured line length. This should only be an issue when the offense spans more than one line to begin with. We will also need to make sure that we don't change the meaning of the string `'\t'` vs "\t". Some of these checks have already been implemented in other cops.

[2017-11-29 14:18] thomthom opened #5163 "Node searcher fails in `RuboCop::AST::Node`"
I'm creating a gem with custom RuboCop rules: https://github.com/SketchUp/rubocop-sketchup

One of the cops is running into an error while running the following AST searcher:

[code]

I've condensed the triggering condition to the following test:

[code]

When I run the cop in a production environment with `--debug` flag I get the following backtrace:

[code]

I've tried tracking it down, but I ge

[2017-11-29 19:43] Drenmi commented on #5163
Without trying it out, the problem is most likely with how you attempt to match the receiver:

[code]

The `(_ $_)` looks very strange. It doesn't say what node type you're trying to match. 🙂 In `attr_accessor :foo`, the receiver is `nil`, but you try to enquire on the children which is probably why you get the `NoMethodError`.

I suspect from your test file that maybe you meant:

[code]

[2017-11-29 20:13] uri commented on #1083
I don't think it's fair to call `and return` a hack or a workaround. Sure `and`/`or` can cause developers grief when used in a conditional, but I think they have a place when used as flow control operators (as in the case of `and return`. I've always had the impression that `and return` was considered idiomatic Ruby.

[2017-11-29 20:59] BrockBeaudry opened #5165 "Rubocop didn't detect Rails rules in Rails API project"
## Expected behavior

Rubocop Rails rules should be detected without adding --rails flag to the rubocop command.

## Actual behavior

Rubocop did not detect that the project was a Rails project.

## Steps to reproduce the problem

Not 100% sure this is because the project was an API project. We generated an example by running this command:

```rails new --skip-yarn --skip-action-mailer --skip-acti

[2017-11-29 21:09] thomthom commented on #5163
Yea, I am not surprised that my syntax might be unusual. Only recently starting working with these cops.

The `attr_accessor ` isn't actually what I'm looking for - it's simply code that triggers the error to be thrown.

The I'm looking for is stuff like this:

[code]

A little background here: I work for SketchUp, a 3d modelling application, that embeds a Ruby interpreter into it's desktop client

[2017-11-29 21:34] jhottenstein commented on #4477
Sorry for the delay:
With the following configuration:

.rubocop_todo.yml
[code]
.rubocop.yml
[code]

I'll get something like this:
[code]

Now if i want to exclude that file, I would add an exclude to .rubocop.yml
.rubocop.yml
[code]
But then i get this from rubocop
[code]

[2017-11-30 01:25] pocke commented on #5165
RuboCop does not have automatic detection Rails applications. So if you want to run Rails cops, you should add `--rails` option, or modify `.rubocop.yml`.

[code]

[2017-11-30 01:25] #5165 closed

[2017-11-30 06:06] #4932 closed

[2017-11-30 06:49] jonas054 commented on #1083
@uri It depends. If your intention is to always return and you're using `and` as a more visually pleasing alternative to `;`, depending on the left hand side to always return a truthy value, then I think it's an ugly hack. @mikegee said this earlier in the discussion.

[2017-11-30 10:33] carlomartinucci commented on #1342
For those who came here looking for a solution (noobs like me), just use:
[code]

[2017-11-30 15:16] Ana06 opened #5166 "More options to autocorrect as specified"
`--auto-correc`, `--auto-corre`, `--auto-corr`, `--auto-cor`, `--auto-co` and `--auto-c` have exactly the same behaviour as `--auto-correct` instead of an `invalid option` error.

Is this expected?

--------

## Steps to reproduce the problem

[code]

## RuboCop version

Include the output of `rubocop -V`. Here's an example:

[code]

[2017-11-30 16:51] uri commented on #1083
This is not the case. I agree, if your intention is to **always** return then yes, use `;`. Otherwise you have some kind of expectation from the left-hand side and you can use `and`/`or` to do something:

[code]

That's a trivial example which can easily be replaced with `if`/`unless` but I hope it illustrates that `;`  is not `and`.

It's true that the intention for `render` is to always return.

[2017-11-30 21:35] shevegen commented on #5166
I can't say whether this is a bug or a feature but if it is a feature then it allows for lazy people to type less. :-)

I guess it may only be a problem if it were to conflict with other options.

[2017-11-30 23:43] mikegee commented on #2841
I’m doing a bad job arguing for `#empty?` at https://bugs.ruby-lang.org/issues/14136  Does anybody else want to contribute to that discussion.

[2017-12-01 02:24] pocke commented on #5166
I don't agree the proposal. Lazy people can use a short option such as `-a` and/or shell completions instead.
By this change, the option's implementation will become complicated, we should consider conflicts with other options.

[2017-12-01 06:43] bbatsov commented on #5166
That's definitely a bug.

[2017-12-01 07:48] Ana06 commented on #5166
@shevegen

Lazy people already have `-a` 😉

[2017-12-01 09:48] jonas054 commented on #5166
I'm pretty sure that's a feature of Ruby's OptionParser. Long options can be abbreviated as long as they are unique. Note for example the following:
[code]
Here we had both `--fail-level` and `--fail-fast` as possible completions. I for one see no problem with the current behavior. Let's keep it.

[2017-12-01 11:36] schmijos opened #5167 "I'd like to contribute some Bitcoin"
The README now has a section where you search for financial support. I'd like to make a one-time payment. Do you accept Bitcoin?

[2017-12-01 13:20] Drenmi commented on #5166
I suspected so as well. I don't see any strong arguments to fight against it, but can be convinced if someone thought more about it. 🙂

[2017-12-01 13:30] Drenmi opened #5169 "Should Performance cops be disabled by default?"
I have been thinking about this for a few weeks, and would like to get some thoughts on it.

Some reasons I consider for having the performance cops disabled by default:

1. Language level micro optimisations are tightly coupled to low level implementation details in MRI and YARV. Something that is faster in version X may just be slower in version Y. This becomes more relevant as work with Ruby 3x

[2017-12-01 15:33] eregon opened #5170 "Lint/AmbiguousBlockAssociation's message is confusing"
The message is (for the code `using Module.new {}`):
[code]

But this sounds like spreading fear and doubt when the Ruby parser has no such concepts :)
`{}` always binds tightly to the call right next to it.
This block `{}` will *never* go to using, unless it's rewritten as `do ... end`.

## Expected behavior

A better message, clarifying the true purpose of the cop, which I guess is to differenti

[2017-12-01 15:33] Ana06 opened #5171 "Style/MixinUsage do not detect all the offenses"
`Style/MixinUsage` cop doesn't complain about all the offenses.

Foe example, with the following code in the file `request_controller.rb`:

[code]

Rubocop doesn't complains.

However, if you remove the first line, so:

[code]

It does complain:

[code]
--------

## Expected behavior

Both cases should fail, as in the first case the `include` is also not inside a class or a module.

## Actual beha

[2017-12-01 15:42] koic commented on #5171
Thanks for opening issue.
This issue related to #4885 and fixed by #4941. Thank you.

[2017-12-01 15:46] Ana06 commented on #5166
@jonas054

Here we had both `--fail-level` and `--fail-fast` as possible completions. I for one see no problem with the current behavior. Let's keep it.

Yes, it seems it is working like that, because `--auto-` fails, as it seems it conflicts with `--auto-gen-conf`. This seems unexpected to ne. It doesn't seems to be really useful as well (as you have `-a`) and even confusing (when using it in an

[2017-12-01 16:02] Ana06 commented on #5171
@koic

This issue related to #4885 and fixed by #4941. Thank you.

True, thanks for the fix! 😉

[2017-12-01 16:02] #5171 closed

[2017-12-01 20:57] #5155 closed

[2017-12-02 06:42] bbatsov commented on #5169
Yeah, I agree. Same applies to the Rails cops as well, btw. I'm guessing the real problem that needs solving is making extensions painless to create and the rest would naturally solve itself.

[2017-12-02 06:42] bbatsov commented on #5167
Not yet, but if something like this is easy to setup I'm open to it.

[2017-12-02 06:44] bbatsov commented on #5166
I'm guessing this can be configured in `OptionParser`, but I'm with keeping it if it comes from there and is harmless.

[2017-12-02 06:44] #5166 closed

[2017-12-02 09:04] pocke commented on #5139
RuboCop does not exclude a file that is specified by command line.
For example:

[code]

[code]

[code]

And we can use `--force-exclusion` option to exclude specified files.

[code]

So, I think flycheck should specify the `--force-exclusion` option to rubocop command.
Can you open an issue to flycheck?

And please use the [ISSUE_TEMPLATE.md](https://github.com/bbatsov/rubocop/blob/master/.github

[2017-12-02 11:28] Drenmi commented on #5170
Looks like the message was improved once in #4181, but I agree that there's more room for improvement. 🙂

[2017-12-03 15:41] zw963 commented on #5139
Sorry, It added in newest version flycheck.

Thanks.

[2017-12-04 10:06] jvenezia opened #5181 "AllCops "Exclude" directory is not excluding .irbrc or .pryrc files"
## Expected behavior

Excluding directory like this:

[code]

I expect it to exclude all files in this directory.

## Actual behavior

I have errors on two files within this directory: `.irbrc` and `.pryrc`

[code]

All other files are correctly excluded.

## RuboCop version

[code]

[2017-12-04 10:21] Drenmi commented on #5181
Hm. Some problem with globbing and dot-files, I presume. 🤔

[2017-12-04 14:21] thomthom commented on #1541
I'm running into `Lint/Syntax` errors in text after `__END__` when the file is using Carriage Returns for new lines:

![image](https://user-images.githubusercontent.com/192418/33556713-25fa5d56-d905-11e7-9d82-ce24321e15e2.png)

![image](https://user-images.githubusercontent.com/192418/33556728-35bcd6f6-d905-11e7-9fd5-bc5dc07f38a7.png)

We are using RuboCop to review third party source code where w

[2017-12-04 16:03] wpolicarpo opened #5183 "Rails/SkipsModelValidations should not validate PORO"
I have a class (PORO) containing a method called `#touch` and Rubocop flags this method as a `Rails/SkipsModelValidations` offense.

## Expected behavior

Rubocop should not flag all `#touch` methods as bad.

## Actual behavior

Rubocop is flagging `MyClass#touch` method as bad, even though `MyClass` is not an `ActiveRecord` or `ActiveModel` class.

## Steps to reproduce the problem

### Code
[cod

[2017-12-04 17:06] deivid-rodriguez opened #5184 "Enforce one parameter per line when method parameters span more than one line"
Not sure if this should be considered a bug in the `Layout/AlignParameters` cop, a new style for it, or a separate cop, but I'd certainly like this to be signaled as a style offense.

Given the following code

[code]

## Expected behavior

I would expect rubocop to tell me

[code]

for the third parameter, since it's not aligned with the rest of them.

## Actual behavior

No offenses are registere

[2017-12-04 17:38] zw963 commented on #5139
Hi，after discuss，seem like this is still a issue relation to rubocop，please see this https://github.com/flycheck/flycheck/issues/1368#issuecomment-349034683

[2017-12-04 19:15] mikegee commented on #5184
Sometimes when the methods are long I'll write it like:

[code]

I'm fine with such a cop existing, but I'm not sure if I want it flagging code like mine by default.

[2017-12-04 19:19] deivid-rodriguez commented on #5184
Yeah, I'm totally fine with this not being enabled by default, although reading `Layout/AlignParameters` error message, this might also be considered a bug.

[2017-12-04 19:19] mikegee commented on #5183
Unfortunately, Rubocop can't know the type of the `instance` object in `instance.touch`.

This cop can be disabled globally for your application or inline with:

[code]

[2017-12-04 20:56] robjac commented on #2901
I hate commenting on closed issues but, this is the closest post to my issue

I am still seeing:
[code]

I've tried pointing to the rubocop found in shims (`rbenv which rubocop`) as well as my global (`which rubocop`) . Both display the same error on editor startup.

[2017-12-04 21:20] #5183 closed

[2017-12-04 22:26] gayarra-mdsol commented on #3998
+1 to the fact that this correction can break stuff.

It just broke my app. It was easy to find and revert, so no big deal. Just want to second the potential for this to cause problems.

[2017-12-05 08:42] mvz commented on #3998
As a follow-up to my comment above (https://github.com/bbatsov/rubocop/issues/3998#issuecomment-277501414), I have now automated applying autocorrect per cop and committing the result. This works great because it allows `git bisect` to find any corrections that broke things.

[2017-12-05 16:09] #5016 closed

[2017-12-06 11:50] dominicsayers opened #5188 "Option for `--auto-gen-config` not to include timestamp when it was generated"
## Feature request

As part of our dev cycle we try to manage our `.rubocop_todo.yml` config file actively, with the aim of reducing its size and ultimately eliminating it.

As part of each pull request, we run Rubocop with `--auto-gen-config --no-offense-counts` to check whether we have fortuitously fixed any existing offences.

If we have *not* fixed any offences then `.rubocop_todo.yml` should

[2017-12-06 11:55] swistak opened #5189 "It's impossible to disable CyclomaticComplexity"
It seems to be impossible to disable a CyclomaticComplexity filter.

## Expected behavior

It should be possible to disable a Cyclomatic Complexity Metric (in the same way PercivedComplexity is disabled.

## Actual behavior

It seems to be impossible to disable a Complexity metrics on the method.

## Steps to reproduce the problem

[code]

## RuboCop version

[code]

[2017-12-06 12:10] pocke commented on #5189
We can disable an offense by the cop with a disable comment.

[code]

[code]

In a disable comment, we can specify multiple cops. And the cops should be separated with a comma, not a space.
So the disable comment does not work in your example.

[2017-12-06 12:10] #5189 closed

[2017-12-06 12:11] dominicsayers commented on #5188
If you agree this is a good idea I'd be willing to submit a PR to deliver it.

[2017-12-06 13:08] bpieck commented on #3344
I agree with tom-lord.

I just want to give to the outside the same behaviour of an object beeing assumed as falsey as it is in ruby. So I wanted to convert null and false into false for a json output, while calling everything else true. I really think for that double negation is really nice and short - while everything that is the equivalent is in my opinion unnecessary complex. Since that intent

[2017-12-06 23:10] swistak commented on #5189
/me faceslap.

Thank you for the help and sorry to have wasted your time.

[2017-12-07 08:34] #5074 closed

[2017-12-07 08:41] bbatsov commented on #5189
Seems we should add some cop for that. 😉

[2017-12-07 10:53] Ana06 opened #5192 "cop for duplicated code"
Do not duplicate code is one of Ruby principles and I think having a cop for this would be useful. So, looking for identical blocks of code.

This cop may be a little bit different to the current ones, as it may need to inspect more than one file to find the offenses.

[2017-12-07 11:39] bbatsov commented on #5192
Yeah, this has been on my mind since the earliest days of the project, but back then I dropped the idea mostly because it requires to first process the entire project and then start processing all files again comparing the code there with the dataset you've built previously. Something like this would be much simpler on a single file level, but I doubt it'd would yield any useful results.

[2017-12-07 11:41] bbatsov commented on #5188
That's fine by me.

[2017-12-07 11:44] bbatsov commented on #5184
It's definitely not a bug. What you describe makes sense, but is not really related to this cop. Perhaps we can have a different cop that enforces an uniform number of params per line (or something like this).

This might also be useful for multi-line literals of various types.

[2017-12-07 14:13] deivid-rodriguez commented on #5184
Perhaps it's just that my English.. So one could say that all the parameters in the examples mentioned here are aligned?

[2017-12-07 14:17] pocke commented on #5139
Sorry for my late reply. I'll see the issue.

[2017-12-07 14:36] pocke commented on #5139
Will this problem is fixed in flycheck?

[2017-12-07 14:59] zw963 commented on #5139
Sorry, forget to close this issue, i think it was fixed now.

Thanks

[2017-12-07 14:59] #5139 closed

[2017-12-07 18:55] Drenmi commented on #5192
@Ana06: For now you can check out [Flay](https://github.com/seattlerb/flay). It's the duplication check used by CodeClimate. 🙂

[2017-12-07 19:02] asherkach opened #5197 "Merge Style/RedundantException and Style/ImplicitRuntimeError"
The [`Style/RedundantException`](https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/cop/style/redundant_exception.rb) and [`Style/ImplicitRuntimeError`](https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/cop/style/implicit_runtime_error.rb) should be merged into one cop with a style parameter. Perhaps `Style/RuntimeError` with (enforced) styles `implicit` and `explicit`? Right now,

[2017-12-07 19:03] asherkach commented on #5197
Note that if this is deemed a good idea, I'm happy to own merging these cops.

[2017-12-08 09:02] Ana06 opened #5199 "todo file is not taken in to account if cop is in the configuration"
When regenerating the todo file, if there is a configuration in `.rubocop.yml` is duplicated and when running rubocop having a cop in both `.rubocop.yml` and `.rubocop_todo.yml` the cop only exclude the ones in `.rubocop.yml`. This affect `Rails/SkipsModelValidations`. I didn't try it with other cops.

--------
## Steps to reproduce the problem & Actual behavior

`.rubocop.yml`:

[code]
I move the

[2017-12-08 18:30] owst opened #5201 "Lint/DuplicateMethods false-positive for dynamically-created classes inside methods"
RuboCop seems to be confused by dynamically-defined classes inside methods (i.e. defined using `Class.new`), specifically for methods defined on the meta-class of the dynamically-defined class:
[code]

Seems related, but slightly different to https://github.com/bbatsov/rubocop/issues/5022

--------

## Expected behavior

No duplicate method warning as the methods are defined on distinct classes.

[2017-12-08 19:47] asherkach commented on #5181
It seems so. Chasing it down, I believe the issue is in the `match_path?` method. In particular, I see the following.
[code]
Looking into a fix.

[2017-12-08 20:03] asherkach commented on #5181
Hmm, the existing spec (see [here](https://github.com/bbatsov/rubocop/blob/master/spec/rubocop/path_util_spec.rb#L38-L39) and [here](https://github.com/bbatsov/rubocop/blob/master/spec/rubocop/path_util_spec.rb#L71-L72)) seems to indicate that `match_path?` is working as intended.

It thus isn't immediately obvious how this should go about getting fixed. Suggestions?

[2017-12-09 00:30] oharace commented on #5181
You are correct, the existing spec is working as intended in that it does not match against hidden files by default. From the File class documentation, here's one example:
[code]
See: https://ruby-doc.org/core-2.4.0/File.html#method-c-fnmatch-3F

The way to include hidden files is to append the "dotmatch" flag to the `fnmatch?` call, similar to how it already passes `FNM::PATHNAME`:
[code]

Howeve

[2017-12-09 06:55] #4811 closed

[2017-12-09 20:20] garettarrowood opened #5206 "Standard convention for public/private `autocorrect` cop methods"
As a developer of Rubocop, I would like to see a standard location and access level for our `autocorrect` methods. Currently, the standard location for the `investigation` and `on_type(node)` methods are at the top of a Cop Class as public methods. `autocorrect` methods are a mix of public and private throughout the codebase. When they are allocated as `private`, they may be at the top of the priv

[2017-12-09 21:36] garettarrowood opened #5207 "All Lint/Alignment Cops moved to Layout namespace"
We currently have at least 11 Cops that deal with alignment.  Most of those are already specified in the `Layout` namespace. Those are:

1. `Layout/AlignArray`
1. `Layout/AlignHash`
1. `Layout/AlignParameters`
1. `Layout/ElseAlignment`
1. `Layout/SpaceAroundOperators` which has an `AllowForAlignment`configuration.
1. `Layout/SpaceBeforeFirstArg` which has an `AllowForAlignment`configuration.
1. `L

[2017-12-09 23:27] garettarrowood commented on #3666
Ok. Ready to start crafting this over the next few days. I'm still not sold on passing a predefined list of exceptions to the rule.  But I really like the idea of a `MinArgNameLength` and think something equivalent would work well for the blocks as a `MinParamNameLength`. `MinArg` could default to 3, but `MinParam` could default to 1, making it more up to the users to actively enforce block param

[2017-12-10 00:11] LandonSchropp commented on #4811
@bbatsov Thanks!

[2017-12-10 08:03] bbatsov commented on #5206
I agree. `autocorrect` is definitely part of the public API at this point. I'm guessing the current situation is just a historical leftover.

[2017-12-10 09:05] bbatsov commented on #5207
I think we did it this way, as they are lint checks in MRI itself, but this has to be confirmed. I guess the point is that sometimes the alignment problem you'd get is actually a result of the fact you didn't nest something properly and you changed the meaning of the code.

[2017-12-10 11:43] garettarrowood commented on #5206
Great! I'll open a PR for this in the next few days.

[2017-12-10 19:12] rrosenblum commented on #5169
I feel like this is an over generalization of the performance cops. I agree that several should not be enabled by default because of the trade off with readability and the potential to be version specific. Some of the cops are going to be valuable regardless of Ruby version (examples: `DoublStartEndWith`, `CaseWhenSplat`, `FixedSize`, `Sample`).

I was thinking about this a little bit the other da

[2017-12-11 03:50] rlue opened #5212 "BracesAroundHashParameters flagging necessary braces as redundant"
In a Rails project, have a hash parameter with a proc as one of its values:

[code]

Because of the block used to define the proc, the braces around the hash parameter are necessary. Without them, instantiating this model results in the following error:

[code]

However, the `BracesAroundHashParameters` cop is flagging the braces as redundant:

[code]

Is there another approach / recommended style

[2017-12-11 03:57] rlue commented on #4570
@kranthiu, can you clarify what the problem is? The convention in Rails is to leave out both the parentheses and the outer braces:

[code]

As @Drenmi explains, this is acceptable according to the `BracesAroundHashParameters` cop, and is does not result in Ruby interpreting anything as a block.

---

On a separate note, @Drenmi, can you clarify what you mean here?

I just submitted another issue (

[2017-12-11 06:31] #5206 closed

[2017-12-11 06:39] rlue commented on #5212
Apparently all warnings go away if I use curly braces for the block:

[code]

Rubocop does not raise any warnings for curly braces on a multi-line block here. Is this an accepted/recommended stylistic approach to this case?

[2017-12-11 14:41] garettarrowood opened #5217 "Encapsulate ProcessedSource & Token related logic in new Module"
In an effort to move non-cop related logic out of cop & cop mixin implementation code, I think it would valuable to extend `ProcessedSource` with helper methods. However, right now our `ProcessedSource` file mostly contains parser related logic, and it looks like it would be more readable/eloquent to separate `processed_source` logic directly related to tokens into a new Module. Perhaps `Processed

[2017-12-12 09:25] palkan opened #5219 "EmptyLinesAroundArguments vs. anonymous modules"
## Example file

[code]

## Expected behavior

Not sure about what should be expected. I mean, I'm not sure whether using anonymous modules this way is considered a bad practice. If not then we should allow blank lines between methods definitions.

Another problem here is the output:

[code]

It's definitely broken.

## RuboCop version

Latest master ([` a28c9b22`](https://github.com/bbatsov/ruboc

[2017-12-12 11:11] garettarrowood commented on #5219
This issue makes sense. Right now `EmptyLinesAroundArguments` does not consider the type of argument it receives. Adding a `return if node.arguments.any?(&:block_type?)` guard clause makes your example pass. But give we a little longer to make sure the cop still registers when an empty line comes somewhere before a block arg.

[2017-12-12 11:57] #5128 closed

[2017-12-12 12:09] koic opened #5221 "False positive for `Layout/SpaceBeforeBlockBraces` cop"
This report is using RuboCop master (a28c9b2) .
https://github.com/bbatsov/rubocop/commit/a28c9b22f7d59f7b8a47fe71cb83d44c9c527743

I think that it is probably a false positive, but it is confirmed just in case.
AFAIK, it seems to have been changed with the following commit.
https://github.com/bbatsov/rubocop/pull/4926/files#diff-e93280b3b31a6438c533a5f3232340d8

The following is an excerpt of the

[2017-12-12 12:22] Ana06 commented on #5192
@Drenmi

I am already using it, but I would prefer to have this in Rubocop. I currently have the problem that CodeClimate also complain for example about line length, when I have this configured with a different maximum in Rubocop.

[2017-12-12 13:49] #5219 closed

[2017-12-12 14:50] nattfodd opened #5223 "Style/FormatStringToken unannotated - false negative for Date/Time format"
Rubocop 0.52.0 [introduced](https://github.com/bbatsov/rubocop/commit/b32b260df17e6370bff872ef4a2b551880f3411e) check for unannotated style, and now it throws error on every timestamp expression with default configuration. It makes sense for sting interpolation, but it does not for string to date conversion pattern.

## Expected behavior
... not to warn about `'%Y-%m-%dT%H:%M:%S.%L%z'`

## Actual

[2017-12-12 15:17] kyrylo opened #5224 "False positive for the Layout/EmptyLinesAroundArguments cop"
Use this file and run latest rubocop against it:
https://github.com/airbrake/airbrake/blob/v7.1.0/lib/airbrake/capistrano/capistrano2.rb

--------

## Expected behavior

No offence of the `Layout/EmptyLinesAroundArguments` cop

## Actual behavior

[code]

The offending lines are actually L18 & L21. I believe it's wrong to force me to format my strings how I want.

## RuboCop version

[code]

[2017-12-12 15:48] aried3r opened #5225 "Style/SymbolArray breaks indentation for multiline arrays"
## Expected behavior

Given this code:

[code]

I'd expect rubocop to produce the following when running `--auto-correct`:

[code]

## Actual behavior

Running auto correct produces the following code, ignoring any kind of indentation:

[code]

What isn't easily visible here is that the cop also created trailing whitespace where the commas were before after `foo` and `bar`.

## Steps to reproduce

[2017-12-12 16:16] aried3r opened #5226 "Rails/RedundantReceiverInWithOptions crashes rubocop for some inputs"
## Expected behavior

Should not abort with an error, possibly auto correct the code.

## Actual behavior

The following exception is thrown:

[code]

## Steps to reproduce the problem

Run `rubocop -a --only Rails/RedundantReceiverInWithOptions example.rb`

[code]

## RuboCop version

[code]

[2017-12-12 17:07] koic commented on #5221
This false positive is detected in RuboCop 0.52.0.

[2017-12-12 17:21] jaredbeck commented on #5224
Kyrylo's example actually involves arguments, but I'm seeing a false positive that does not involve arguments.

[code]

[2017-12-12 17:27] aried3r opened #5228 "--auto-gen-config produces Metrics/LineLength twice if Metrics/LineLength is configured in .rubocop.yml"
## Expected behavior

`Metrics/LineLength` should only be reported once in `.rubocop_todo.yml`.

## Actual behavior

`Metrics/LineLength` is reported twice. My guess is that this is because of the two-phase run in the newer rubocop version? It also only happens when `.rubocop.yml` contains a configuration rule for `Metrics/LineLength`.

## Steps to reproduce the problem

[code]

[code]

Run `ruboc

[2017-12-12 18:13] jonas054 commented on #5228
I'll take a look.

[2017-12-12 19:34] michniewicz opened #5229 "Autocorrect from Layout/EmptyLinesAroundArguments cop corrupts the code with :heredoc"
We have in our project a rake task for operations to generate sprite/css, the code contains custom sass code inside heredoc.
I give you an example to make the code more readable.

[code]

## Expected behavior

The cop should ignore the code inside heredoc block (?). Any other ideas?

## Actual behavior

Running the cop on the code above gives the following result:

[code]

## Steps to reproduce th

[2017-12-12 20:39] rhymes commented on #3438
I found one issue with this cop. It flags things like this:

[2017-12-12 20:45] garettarrowood commented on #5229
I'll try to fix this now. Somewhat a duplicate of #5224 , but that issue has brought up some other problems unrelated to :heredocs.

[2017-12-12 22:45] mdesantis opened #5232 "AutoCorrect parsing error and file corruption"
`rubocop --auto-correct` reports a parsing error and corrupts the source file with a source file as described below. changing `TargetRubyVersion` produces the same results (I tried 2.1 and 2.3).

--------

## Expected behavior

The source code should be properly formatted.

## Actual behavior

`rubocop --auto-corrects` reports a parsing error:

[code]

The source code is corrupted:

[code]

## Ste

[2017-12-13 05:58] 6temes opened #5234 "Rails/HasManyOrHasOneDependent false positive"
## Expected behavior

With the following code snippet, Rubocop should not trigger any error:

[code]

## Actual behavior

Rubocop triggers "Rails/HasManyOrHasOneDependent" for the two `has_many` associations that have the `class_name` argument.

## Steps to reproduce the problem

Copypaste the example code above.

## RuboCop version

[code]

[2017-12-13 07:46] uasi commented on #5224
Another false positive here.

[code]

[code]

[code]

Weirdly, deleting the assignment to `B` or the blank line after `3,` or the `A + ` portion fixes offense.

I tried #5231 but it didn't help.

[2017-12-13 07:49] koic commented on #5234
I confirmed this issue reproduce and opened a PR. Thanks!
#5235

[2017-12-13 08:17] jodosha commented on #5224
We've got a lot of random false positive. Sometimes it's a class definition, sometimes it's a module, or an `end` or indentation space. Here's a few of them:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-12-13 08:36] printercu commented on #5224
It seems like location is reported incorrectly:

[code]

=>

[code]

[2017-12-13 08:39] printercu opened #5236 "Rails/InverseOf false positive"
Same as #5235 but for InverseOf.

[code]

=>

[code]

[2017-12-13 08:48] printercu opened #5237 "Style/MixinUsage in default rails app"
Every fresh rails app has `bin/{setup,update}` with toplevel `include FileUtils`.

This cop does not provide autofix, and to fix this warning it requires remastering this files, which results in conflicts when updating rails.

Should this files be added to default exclude list for this cop?

[2017-12-13 10:24] nilsding opened #5239 "NoMethodError in Layout/AlignHash cop on version 0.52.0"
After upgrading Rubocop from version `0.51.0` to `0.52.0`, the `Layout/AlignHash` cop started to fail with a `NoMethodError` on a specific part in my code:

[code]

The problem here is the double splat.  If I remove this or change it to a single splat, the cop runs just fine.

--------

## Expected behavior

Behave like `0.51.0` and do not error on the double splat:

[code]

## Actual behavior

It

[2017-12-13 11:49] eamonn-webster commented on #5224
I would agree with @printercu, I had the same issue, it would appear that it is the simply reporting the wrong location. It seems to give the offset within the block rather than the file.

[2017-12-13 12:45] pegasd commented on #4539
In my Puppet rspec tests, I have the following piece of code that is flagged:

[code]

This is a valid piece of `sshd_config` contents. Do I have any options besides disabling the cop here?

[2017-12-13 15:51] ShockwaveNN opened #5242 "Style/FormatStringToken mark for links"
## Steps to reproduce the problem

1. Create `test.rb` file with content
[code]
2. Run `rubocop test.rb`

## Result:
Several messages like
[code]
This string have nothing to do with strings tokens. Just a link

## RuboCop version

Include the output of `rubocop -V`. Here's an example:

[code]

[2017-12-13 16:50] #5239 closed

[2017-12-13 16:59] tmtm opened #5243 "Layout/SpaceInsideArrayLiteralBrackets is too slow."
Layout/SpaceInsideArrayLiteralBrackets is too slow.

## Expected behavior

more fast.

## Actual behavior

## Steps to reproduce the problem

[code]

## RuboCop version

[code]

[2017-12-13 17:22] Drenmi commented on #4539
This looks like a false positive @pegasd. Feel free to open a new issue. 🙂

[2017-12-13 17:46] Drenmi commented on #5242
The false positive occurs on `%B` which is a token for a binary number in a Ruby format string. It might be possible to improve the regular expression of this cop to check whether the string is a URL, which may contain URL encoded characters.

[2017-12-13 17:48] nilsding commented on #5239
That was quick.  Thanks! 🎉

[2017-12-13 18:27] garettarrowood commented on #3558
I'm a fan of refactoring and these are great points. After working on bug reports from new additions, I'd be happy to tackle this.

[2017-12-13 19:26] roooodcastro opened #5244 "Rails/ApplicationJob and Rails/ApplicationRecord cops are being enforced on Rails 4.2.10"
Today I ran `rubocop -a`, thinking there were only a few style/layout related issues, and my test suite began to fail, in fact it wasn't even running at all.

I found out that two relatively new cops were being enforced, `Rails/ApplicationJob` and `Rails/ApplicationRecord`. These cops changed the inheritance from a few of my models from `ActiveJob::Base` and `ActiveRecord::Base` to the new `Applic

[2017-12-13 20:04] pegasd opened #5245 "Style/FormatStringToken false positive"
I came across the following false positive while doing rspec-puppet testing on an sshd module.
Sometimes contents of a file can include valid string tokens that look like unannotated Ruby tokens.
These are usually wrapped inside a RegEx for testing.

For example, `sshd_config` can include `%u` which is a valid username reference.

## Expected behavior

The following code shouldn't be flagged as of

[2017-12-13 20:43] matthewswann commented on #5242
I'm seeing something that might be a similar issue within date-time formats.

`C: Style/FormatStringToken: Prefer annotated tokens (like %<foo>s) over unannotated tokens (like %s).
  LOGGING_DATETIME_FORMAT = '%m-%d-%Y %H:%M:%S.%N'`

[2017-12-13 21:31] grantbdev opened #5247 "Unexpected behavior from Layout/CommentIndentation"
`Layout/CommentIndendation` enforces unnatural comment indentation if the next line of code is an outdented `private`.

I have not looked at the cop source code yet, but I suspect that the cop checks the indentation of the next line of code for guidance and thinks that the comment is "for" `private` and thus should align properly. Perhaps a blank line between the comment and `private` could be con

[2017-12-13 22:30] gyarra commented on #5088
I wrote a failing test and placed it on line 545 of spec/rubocop/cop/layout/multiline_method_call_indentation_spec.rb

The issue is with the parentheses. Remove the parentheses and the test passes.

[code]

Would making this test pass a good starting point in fixing the bug?

[2017-12-13 23:01] deepj commented on #5074
Hm, it seems, this doesn't work properly. I have something like

[code]

And that issue occurs on

[code]

I guess this is not expected behaviour...

[2017-12-13 23:55] jeremywadsack commented on #5245
Another instance of this is the use of `printf` style format strings which I think are pretty common — in my experience much more common than format strings (outside of Rails I18n).

[code]

[Tagging #4539 for x-ref.]

[2017-12-14 00:46] garettarrowood commented on #5224
@eamonn-webster & @printercu - You are absolutely right. I'm able to confirm with a variety of examples, and I see/understand the problem in the code. Working on a solution now.

[2017-12-14 02:38] pocke commented on #5244
Use `TargetRailsVersion` configuration in your `.rubocop.yml`.
See also https://github.com/bbatsov/rubocop/issues/4697

[2017-12-14 02:38] #5244 closed

[2017-12-14 04:49] grantbdev commented on #5247
I have attempted a solution here: https://github.com/grantbdev/rubocop/commits/fix_comment_indentation_before_private

There is a straightforward regex solution and an uglier but conceptually more DRY solution that checks the AST node. If one of these is acceptable, I will open a PR.

[2017-12-14 05:11] envygeeks commented on #5245
We ran into this with `strftime` too.

[2017-12-14 08:04] pocke commented on #5245
@pegasd Thanks for your bug report! I'll fix it.

@jeremywadsack @envygeeks
The `strftime`'s issue will be fixed by #5230
See https://github.com/bbatsov/rubocop/issues/5223 https://github.com/bbatsov/rubocop/pull/5230

[2017-12-14 08:57] ivgiuliani opened #5250 "Autocorrect for Rails/Presence corrupts code when there's an `elsif` block"
## Expected behavior

I would expect rubocop to leave this code unchanged

## Actual behavior

The autocorrect is corrupting the surrounding code, by misplacing the `elsif` clause

## Steps to reproduce the problem

[code]
[code]

[code]

[code]
[code]

## RuboCop version

`0.52.0 (using Parser 2.4.0.2, running on ruby 2.4.2 x86_64-darwin16)`

[2017-12-14 09:41] rymai opened #5251 "Cop from RuboCop takes precedence over cop with the same name (but different department) from extension and the `require` is done in an inherited file/gem"
First of all, thanks for this awesome project!

I've encountered a bug where we're [using a gem to define common rules for multiple projects](https://gitlab.com/gitlab-org/gitlab-styles) and [the `require` is done in the gem](https://gitlab.com/gitlab-org/gitlab-styles/blob/bff77b0c7d63b89f458f6d62e27d14db518a29d2/rubocop-default.yml#L2).

Then in a project that uses this gem, [I wanted to disable

[2017-12-14 09:47] printercu opened #5252 "TrailingCommaInArguments force comma only for hash as last argument"
Hi!

`Style/TrailingCommaInArguments` cop with `EnforcedStyleForMultiline` set to `comma` or `consistent_comma` warns about missing comma for single argument, when it's had to be placed to separate line:

[code]

It seems like it maybe unwanted to force coma for every such method call: this may be required only if method accepts splat arguments, but will be confusing when method accepts fixed numb

[2017-12-14 09:50] printercu commented on #5252
I've found bunch of issues related to TrailingCommaInArguments (#3392 #2847 #2846). I hope the proposed way will solve them.

[2017-12-14 10:00] davidhrbac commented on #5245
We ran into this with select like
[code]

[2017-12-14 10:16] pegasd commented on #5245
@davidhrbac Yeah, I think that particular case is discussed in #5230

[2017-12-14 10:22] mensfeld commented on #5250
@bbatsov  It's not only that. The inspection itself is broken as well when running rails cops for the case mentioned by @ivgiuliani :

[code]

[2017-12-14 10:46] davidhrbac opened #5253 "Lint/AssignmentInCondition false positive"
[code]
## Expected behavior

Should not trigger the warning. We are just setting the variable to `true`.

## Actual behavior

[code]

## RuboCop version

[code]

[2017-12-14 10:52] hurricup opened #5254 "Exception in HeredocDelimiterNaming with offenses reported and exitcode 2"
`0.50.0 (using Parser 2.4.0.0, running on ruby 2.4.2 x86_64-darwin16)`

Exception:
[code]

The problem that this version accepts only `\w` delimiters, but https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/cop/naming/heredoc_delimiter_naming.rb#L50 supposes that there is not null match in the text.

And if it doesn't - rubocop exiting with error code 2. And some valid output if we've inspe

[2017-12-14 11:21] tmtm commented on #5243
prepare

[code]
0.52.0
[code]

0.52.0 + 08ddf92
[code]

[2017-12-14 11:34] pocke commented on #5253
Can you give me more reproduce code? I can't reproduce it.

Put it as `test.rb`

[code]

Run rubocop

[code]

[2017-12-14 11:37] pocke commented on #5254
Please give me a code to reproduce. And probably this problem has been fixed already in v0.52.0.
See https://github.com/bbatsov/rubocop/issues/4759 and https://github.com/bbatsov/rubocop/pull/4829

[2017-12-14 11:39] hurricup commented on #5254
https://github.com/svenfuchs/i18n/blob/master/lib/i18n/gettext/po_parser.rb

[2017-12-14 12:25] pocke commented on #5254
It looks fixed in 0.52.0. So I'll close this issue. Thank you for the feedback!

[code]

[code]

[2017-12-14 12:25] #5254 closed

[2017-12-14 13:05] hurricup commented on #5254
I can see from sources that pattern was extended and now handles non-`\w` markers. Purpose of this issue was to put attention to the `match().captures()` part without nullability checking.

Again, I don't know internals enough to say if this still may happen in some other case, when match return nil.

[2017-12-14 13:18] Drenmi commented on #5254
I would prefer not to have a `nil` check for exactly this reason. If we have it fail silently on some edge case that we might not have considered, we likely will never find those, compared to if we fail nosily. 🙂

[2017-12-14 13:41] ctm commented on #5245
`scanf` also takes a string that uses formatting characters:
[code]

[2017-12-14 15:07] delphaber commented on #5236
I'm reading [this](http://guides.rubyonrails.org/association_basics.html) and it states:

So I'm wondering why do rubocop tells me to add `inverse_of` on `has_many :through` ?

[2017-12-14 15:08] davidhrbac commented on #5253
[code]

This is OK.

Running on my code gives:
[code]

I have created snippet:

[code]
[code]

[2017-12-14 15:14] pocke commented on #5253
Thank you! I can reproduce the problem, and I can create a minimum reproduce code.

[code]

[2017-12-14 15:22] davidhrbac commented on #5253
Thanks!

[2017-12-14 15:34] Drenmi commented on #5253
That is ... valid Ruby? 😱

[2017-12-14 15:54] davidhrbac opened #5257 "Performance/RegexpMatch - false positive Use match? instead of =~"
I'm aware of #5038.

## Actual behavior

Have a validator from documentation http://edgeguides.rubyonrails.org/active_record_validations.html#validates-each

test.rb

[code]

I have to change the line to

[code]

This change will lead to hidden bug which does not handle `nil` value. If the project does NOT rely on rspec tests, the bug is being silently introduced into production code. The code mus

[2017-12-14 15:59] davidhrbac commented on #5253
Well, the code is not beautiful and you can see just the part of it. :angry: Anyway, the author is not member of the project anymore.

[2017-12-14 16:05] Drenmi commented on #3558
@garettarrowood: I've been thinking about this quite a bit. Since the `#autocorrect` method just needs to return an object that responds to `#call`, it is simple to extract common correctors into classes, and keep them in their own directory.

[2017-12-14 16:52] garettarrowood commented on #3558
So, if I understand correctly, this would mean a new set of modules called `correctors`. All "corrector" methods/helpers would be moved out of `mixins/*` and into something like `cop/correctors/space_correctors.rb`. I'd be in great favor of a filename convention with these so it is clear inside the cop what the included `Module` does. This would be similar to Rails conventions for helpers, present

[2017-12-14 17:40] jeremywadsack commented on #5242
@matthewswann see #5223 and #5230

[2017-12-14 17:44] jeremywadsack commented on #5245
@pocke Thanks for linking that fix for `strftime` — sorry I missed that when looking for previous reports.

[2017-12-14 18:06] Drenmi commented on #3558
@garettarrowood: Pretty much. Except I see no reason to mix the corrector methods into the cop. The `Cop` class is already pretty overloaded, and correction is a concern that can be delegated to the corrector. I.e. composition over inheritance. 🙂

[2017-12-14 18:25] Drenmi commented on #5253
My fear is that we'd need to account for this kind of code in a lot of existing cops. It is probably better to introduce a cop that prevents the adding of such code in the first place. WDYT?

[2017-12-14 18:41] Drenmi commented on #5221
Not really a false positive, just the wrong default value. Can't remember why we set it to `no_space`, but it had something to do with lambdas. 🤔 But I definitely think the default should be `space`.

[2017-12-14 18:46] Drenmi commented on #4570
It's slightly different @rlue, since your example has more than one argument.

Compare to a single argument:

[code]

[code]

[2017-12-14 18:57] Drenmi commented on #5169
An interesting follow up question then, is whether they should be in `Performance` at all. 🙂 At best, they incidentally lead to better performance, at worst, they are mislabeled `Style` cops.

I guess it's easier to reason about now, if we consider splitting them out. Would we want them to remain in core if doing so?

[2017-12-14 21:06] davidhrbac commented on #5253
Syntax is not pure but the code is valid, Ruby is OK with that. I'd correct this false positive. Then we can introduce the cop to rule out code like this.

[2017-12-14 22:31] marcandre opened #5259 "Another false offense for Style/CommentedKeyword"
Currently complains about:

    defined?(SomeModule).should be_nil # Sanity check

`parser` is there exactly so there's no additional parsing to be done. See also #4886

[code]

[2017-12-14 22:39] marcandre opened #5260 "Gemspec/RequiredRubyVersion too strict"
My gem targets Ruby 2.0+.

Rubocop has a minimal TargetRubyVersion of 2.1

The cop `Gemspec/RequiredRubyVersion` is complaining, although I don't feel I am not doing anything wrong here.

Probably best not to complain in those cases.

[code]

[2017-12-14 22:44] marcandre opened #5261 "false positive for Style/Mixin"
I get a complaint for the following code:

[code]

"Style/MixinUsage: include is used at the top level. Use inside class or module"

No, it's *not* used at the top level.

[code]

[2017-12-15 00:35] pocke commented on #5260
RuboCop does not support your gem. So you should downgrade RuboCop to support Ruby 2.0. You can use RuboCop 0.50.0.
I think using RuboCop with unsupported Ruby version is crazy.

[2017-12-15 00:38] pocke commented on #5257
Maybe it duplicated with https://github.com/bbatsov/rubocop/issues/4298

[2017-12-15 00:39] #5257 closed

[2017-12-15 00:49] fotinakis commented on #5074
We also got this cop triggered on a `require` line.

[2017-12-15 05:22] koic commented on #5221
Oh, I got it. Thanks for the answer.

[2017-12-15 06:59] davidhrbac commented on #5257
Maybe is it a regression? We have no warnings on that with rubocop < 0.52.0

[2017-12-15 07:29] pocke commented on #5257
Hmm, I can get the warning with rubocop 0.52.0 ~ 0.49.0.

`test.rb`

[code]

`.rubocop.yml`

[code]

[code]

[2017-12-15 09:04] #5245 closed

[2017-12-15 09:05] envygeeks commented on #5245
Thanks for the quick fix!

[2017-12-15 10:42] Drenmi commented on #5260
You might not have the best experience, because `TargetRubyVersion: 2.1` will make suggestions that might not apply to Ruby 2.0. The quick fix is to simply disable `Gemspec/RequiredRubyVersion`.

Although personally I think supporting Ruby versions which are no longer supported by the core team is not very nice. By doing so we're enabling people to not upgrade (which in Ruby is usually a trivial t

[2017-12-15 10:42] #5260 closed

[2017-12-15 10:53] #5234 closed

[2017-12-15 17:40] #5224 closed

[2017-12-15 18:14] garettarrowood commented on #5229
This issue is resolved by #5231 .

[2017-12-15 19:03] marcandre commented on #5260
Understood @Drenmi , thanks.

@pocke: I feel your comment is offensive.

[2017-12-15 21:03] jfelchner opened #5265 "False Positive: Layout/ExtraSpacing"
## Reproducible Case

[code]

[code]

`Layout/ExtraSpacing` throws errors on lines 3 and 4 which is incorrect.

## History

As I mentioned in [this comment](https://github.com/bbatsov/rubocop/issues/2478#issuecomment-163988070) back in the day, when checking if there is extra spacing, it should only look at a previous line of _the same indentation level_.  There are three rules which need added to

[2017-12-16 01:49] pocke commented on #5260
Sorry, my English is not good enough.

I think we have three choices to avoid your problem.

- Downgrade RuboCop's version
  - I recommend.
- Drop Ruby 2.0 support from your gem
  - Also I recommend.
- Disable `Gemspec/RequiredRubyVersion` cop
  - I don't recommend this much. Because other cops don't support Ruby 2.0 also, so maybe other cops also breaks in your gem.

And I think we should not rel

[2017-12-16 02:05] pocke commented on #5261
Definitely, the `include` is an instance method of `X`, so the cop should not complain about the code. cc: @koic

[2017-12-16 03:13] Mifrill commented on #5063
Obviously this is not a rubocop problem, the alignment is related to the specifics of Asian characters

[2017-12-16 03:13] #5063 closed

[2017-12-16 08:03] wata727 commented on #5226
I think that detection of this example code is due to false positives. If this auto-correction works correctly, it will be corrected as follows.

[code]

But this is not the correct change. In this case, options are merged for unintended method invocation.

[code]

[2017-12-17 11:06] koic commented on #5261
Thanks for the feedback.  I confirmed this reproduction. I'm thinking about opening a PR for this issue later.

[2017-12-17 14:23] #5221 closed

[2017-12-17 19:49] rrosenblum commented on #5169
I think classifying them as `Performance` is important because it explains what they actually do. We just moved several cops from `Style` to `Layout` for a similar reason. It is hard to justify that using `casecmp` (`str.casecmp('ABC').zero?`) is stylistically better than `upcase` or `downcase` (`str.downcase == 'abc'`). It is much easier to justify the use of `casecmp` for performance though.

[2017-12-18 08:45] agross commented on #5245
I see this as a false positive for `"foo/bar.rb".pathmap('%d/baz/%f')`.

[2017-12-18 08:52] agross commented on #5245
Also in this spec:
[code]

[2017-12-18 08:58] agross opened #5273 "Style/EvalWithLocation reports bad line offset"
## Expected behavior

Message: `Style/EvalWithLocation: Use __LINE__ - 3 instead of __LINE__, as they are used by backtraces.`

## Actual behavior

Message: `Style/EvalWithLocation: Use __LINE__ - -3 instead of __LINE__, as they are used by backtraces.`

Note: The line offset would be `+3` if you followed the message.

## Steps to reproduce the problem

[code]

## RuboCop version

Include the outp

[2017-12-18 09:14] agross opened #5274 "Layout/EmptyLinesAroundArguments reported on a line without arguments"
## Expected behavior

No issues.

## Actual behavior

Message: `Layout/EmptyLinesAroundArguments: Empty line detected around arguments.`

## Steps to reproduce the problem

I use this module to work around some issues with Bundler and Cygwin git.

[code]

## RuboCop version

[code]

[2017-12-18 13:06] schmijos commented on #5167
It depends if you want to receive and keep Bitcoin or if you want to get rid of them asap:

Receiving and keeping is easy:

1. Set up a wallet, for example on your phone with [Bread Wallet](https://breadapp.com/)
2. Generate a QRCode from your Bitcoin address
3. Upload address and QRCode into the Rubocop readme.

Receiving and selling instantly is harder:

1. Set up an account on a trading platfor

[2017-12-18 15:44] michniewicz commented on #5229
Confirmed, closing the issue now.

[2017-12-18 15:44] #5229 closed

[2017-12-18 15:50] benhutton commented on #5274
I'm getting really weird results here too. Lots of different files breaking in different types of places. Would be happy to give some more examples if needed.

[2017-12-18 15:51] garettarrowood commented on #5274
This has been resolved but is not yet in a released version.Resolved in #5231 .

[2017-12-18 17:44] neontapir commented on #5265
I tried running the sample method against rubocop 0.52 and wasn't able to reproduce the issue.

[2017-12-18 20:14] Dorian commented on #752
BTW, now that's `Exclude` instead of `Excludes`:

[code]

[2017-12-18 21:23] #5273 closed

[2017-12-18 21:47] j15e commented on #5236
Same issue as https://github.com/bbatsov/rubocop/issues/4751 . A fix was made here : https://github.com/bbatsov/rubocop/commit/0ec9f6e646a64d34138dd58b28cc6023bf356818

So we could add a similar check for `:inverse_of`

[2017-12-18 22:02] jaymzh opened #5277 "Layout/SpaceBeforeBlockBraces false-positive"
## Expected behavior

[code]

should be valid, but I get:

[code]

## Actual behavior

got above error.

## Steps to reproduce the problem
above code

## RuboCop version

[code]

[2017-12-18 22:07] jaymzh commented on #5277
To be clear this is fixed by explicitly setting `EnforcedStyleForEmptyBraces: space` - but that's supposed to be the default.

[2017-12-19 06:32] koic commented on #5277
This issue related to #5221 and fixed by #5263. Thank you.

[2017-12-19 08:48] jfelchner commented on #5265
@neontapir This has been busted for over a year, but it looks like some changes were made to `ExtraSpacing` in the last few days.  I don't think the changes solve my issue, but I'll come back and give an offending example if it's still broken.  Closing for now.

[2017-12-19 13:40] garettarrowood commented on #5243
Your commit looks good to me.  Thanks for the thorough benchmarks as well!

Can you open this as a PR?

[2017-12-19 14:01] AndKiel opened #5279 "false positive for Rails/InverseOf"
## Expected behavior

According to Rails guides, `inverse_of` does not work with `:through` associations. Rubocop should not detect lack of `:inverse_of` as an offense in this case.

## Actual behavior

It lists lack of `:inverse_of` as an offense, example below:

[code]

## RuboCop version

[code]

[2017-12-19 14:04] AndKiel commented on #5279
Duplicate for #5236 (I didn't check, sorry, closing).

[2017-12-19 14:04] #5279 closed

[2017-12-19 14:18] wata727 commented on #5236
I tried verifying some patterns, but it seems that `:inverse_of` works with `:as` associations correctly.

[code]

[code]

However, it does not seem to work with `:through` or `:polymorphic`. I'm planning to fix this.

[2017-12-19 16:27] dominicsayers opened #5281 "--auto-gen-config can fail with "Error: empty section found in .rubocop_todo.yml""
When running Rubocop with the `--auto-gen-config` option, the part-built output file `.rubocop_todo.yml` is loaded and checked during the processing of each cop (because the generated excludes are added to any defined manually in `.rubocop.yml` and when `rubocop.yml` is loaded it follows the inheritance down to `.rubocop_todo.yml`).

One [validation check is for an empty section](https://github.co

[2017-12-19 17:02] #4778 closed

[2017-12-20 01:58] jwg2s commented on #2179
Anyone used this with test suite parallelism to have multiple containers run a subset of rubocop file targets?

[2017-12-20 03:34] jaymzh opened #5283 "truncates filenames"
## Expected behavior

The JSON format of rubocop should include the full filename, however...

## Actual behavior

... it truncates it.

## Steps to reproduce the problem

Here is a simple repro:

[code]

## RuboCop version

0.52.0 (using Parser 2.4.0.2, running on ruby 2.3.5 x86_64-linux)

[2017-12-20 10:07] gomo commented on #5259
I have a similar problem too.

[code]

[code]

[2017-12-20 12:34] #5243 closed

[2017-12-20 12:35] #5261 closed

[2017-12-20 16:02] nattfodd commented on #3760
Any updates on this? I have a class, which delegates method calls to another classes... I believe `super` does not make sense here:

[code]

[2017-12-20 16:36] jletizia opened #5284 "Style/ConditionalAssignment incorrectly runs depending on DisabledByDefault"
Running the following command with the following two configurations provides different, unexpected output.

`rubocop --only Style -c <path_to_config> -SD`

--------

## Expected behavior

Not sure which of these behaviors is correct, but I wouldn't expect this configuration option to make a difference here.

## Actual behavior
Using `rubocop --only Style -c <path_to_config> -SD` with the following

[2017-12-20 18:00] printercu opened #5285 "Rails/HasManyOrHasOneDependent with paranoia gem"
Hi!

Do you have any suggestions how to use gems providing soft-delete (like paranoia) with HasManyOrHasOneDependent cop: I think it's usual to not provide `dependent` option to `has_many` when parent is soft-deletable. Is it supposed just to use `rubocop:disable` for offences in such cases?

## RuboCop version

[code]

[2017-12-20 19:29] aquach opened #5286 "SafeNavigationChain doesn't see past blocks"
## Expected behavior

I expect this code to trigger SafeNavigationChain:

[code]

This should be corrected to

[code]

## Actual behavior

No offense is surfaced.

## Steps to reproduce the problem

Try the example above.

## RuboCop version

[code]

This issue was exacerbated by autocorrect for SafeNavigation, which turned `a && a.select {}.join` into `a&.select {}.join`, which would be bad if `a

[2017-12-20 19:33] aquach opened #5287 "Nested fetches combined with arithmetic breaks SafeNavigation"
## Expected behavior

[code]

I expect that this should be ignored by SafeNavigation, since it use an arithmetic operation that can't be captured with &.

## Actual behavior

SafeNavigation cop triggers, and autocorrects to `c = b.&a.&d > 1`, which is wrong since this could end up running `nil > 1`.

## Steps to reproduce the problem

Try linting the above expression.

## RuboCop version

0.52.0 (

[2017-12-20 19:37] aquach opened #5288 "SafeNavigation should look past blocks for ineligible operations but doesn't"
## Expected behavior

[code]

I expect this to be ignored by SafeNavigation since the `[0]` operation can't be expressed using `&` except via `&.[](0)`, which isn't ideal.

## Actual behavior

SafeNavigation records an offense and attempts to correct to

[code]

Which is incorrect if `b` is `nil`, since it would end up running `nil[0]`.

## Steps to reproduce the problem

Try linting the above exp

[2017-12-20 19:54] aquach opened #5289 "Infinite loop with Layout/SpaceInsideArrayLiteralBrackets and Layout/SpaceInsideReferenceBrackets"
## Expected behavior

Here's the configuration:

[code]

And here's the code:

[code]

I expect this to pass. SpaceInsideArrayLiteralBrackets should be happy since there is a space inside the brackets. SpaceInsideReferenceBrackets should be happy since there are no spaces in between the `[[` and `]]`. It should complain if I were doing `a[ [ 1, 2 ] ]`, but I'm not.

## Actual behavior

When I use

[2017-12-20 20:57] bquorning commented on #5281
I experienced the same issue yesterday, while running rubocop for the first time on a large project, with many offenses. And I, too, suspected a puts/flush issue, but didn’t investigate as thoroughly as @dominicsayers.

Reverting back to v0.51.0 allowed me to run `rubocop --auto-gen-config`, so the problem is probably somewhere between the last two releases.

[2017-12-20 22:07] net1957 opened #5290 "Style/FormatStringToken for date/time format"
I get this warning 👍
[code]
--------
I think this is a false positive. It's a common pattern to format date/time strings this way.
Regards
[code]

[2017-12-21 01:31] flyerhzm opened #5291 "multiline indent for Style/BracesAroundHashParameters autocorrect"
For multiline hash parameter autocorrect

## Expected behavior

it expects to keep the original indent for last line

## Actual behavior

it removes original indent for last line

## Steps to reproduce the problem

[code]

[code]

[code]

[code]

[code]

But I expect the code to be

[code]

## RuboCop version

[code]

[2017-12-21 07:06] #5226 closed

[2017-12-21 07:25] #5274 closed

[2017-12-21 07:27] #5277 closed

[2017-12-21 07:55] pocke commented on #5284
Minimum Reproduce
----

`test.rb`

[code]

`config.yml`

[code]

[code]

Cause
----

`Style/ConditionalAssignment` cop is aware of `Metrics/LineLength` cop's configuration.

https://github.com/bbatsov/rubocop/blob/b6d3cfed0b968f41759c20d63598f4c6764e4456/lib/rubocop/cop/style/conditional_assignment.rb#L379-L386

So, it is an expected behaviour.

[2017-12-21 07:55] #5284 closed

[2017-12-21 08:01] jfelchner commented on #5250
I"m not sure if this case was caught, but this cop should skip if the `else` block contains more than one statement.

[2017-12-21 08:12] jfelchner commented on #5223
@nattfodd it's not just date strings, it's _any_ string that contains a percent sign.  Unless the string is being used via `%` or `printf` or something like that, the string should be ignored.

Example of a current false positive:

[code]

[2017-12-21 08:17] #4444 closed

[2017-12-21 08:38] reidab opened #5293 "Many new false positives for Rails/HasManyOrHasOneDependent"
On the current master (78d70ca), I'm seeing a ton of false positives for the Rails/HasManyOrHasOneDependent cop. I'm guessing this is related to the changes in #5235.

--------

## Expected behavior

This clearly specifies the `dependent` option
[code]

## Actual behavior

[code]

## Steps to reproduce the problem

1. run rubocop against the file above with the Rails/HasManyOrHasOneDependent cop e

[2017-12-21 11:02] bquorning commented on #5281
See #5294 for a potential solution.

[2017-12-21 11:17] dominicsayers commented on #5281
Checking now with my code

[2017-12-21 11:34] dominicsayers commented on #5281
OK, here's what happened using the #5294 code with my codebase.

1.  `--auto-gen-config` completed without error
1.  The generated file `.rubocop_todo.yml` usually has its keys in alphabetical order. In the one that was generated by #5294, the key `Metrics/LineLength` appears at the end, out of order. I was not expecting to see this key at all because this cop is disabled in my `.rubocop.yml`.
1.

[2017-12-21 11:52] bquorning commented on #5281
1. Phew 😄
2. Looking at the spec changes in 9e76387952725f1a7fa54989024114549c0b7d80, I think `Metrics/LineLength` is now expected to be at the end of the auto-generated file.
3. I’ve seen the same issue, only for `Naming/MethodName`. I think these are separate issues though.

[2017-12-21 13:10] garettarrowood commented on #5289
This is an issue in `Layout/SpaceInsideReferenceBrackets` with right_bracket detection.  Thanks for the report. I'll take a look at this soon.

[2017-12-21 13:10] koic commented on #5293
Sure. I confirmed reproduction and this issue is a regression by #5235. I'm going to open a PR to resolve this issue. Thanks for telling us issue using master branch.

[2017-12-21 14:07] basex commented on #5290
Agree, I also sometimes put the format for strftime in a constant

FORMAT = '%Y-%m-%d %H:%M'

[2017-12-21 17:42] aquach commented on #5289
Cheers, thanks!

[2017-12-22 07:29] #3558 closed

[2017-12-22 07:29] #5250 closed

[2017-12-22 07:31] #5223 closed

[2017-12-22 07:41] #5293 closed

[2017-12-22 12:16] bquorning commented on #4704
I believe the same question applies to `Lint/BlockAlignment`.

[2017-12-22 21:37] shevegen commented on #5289
Most epic line in this issue so far :)

**When I use auto-correct, the two cops fight each other and create an infinite loop.**

[2017-12-23 15:04] garettarrowood opened #5303 "Move Corrector logic out of `PercentLiteral` mixin"
With the addition of `Corrector` classes introduced in #5269 , all correcting logic should be moved out of mixins to achieve a clear separation of concerns.

`PercentLiteral`'s `correct_percent` method, and all related correction helper methods, should be moved into an existing or new `Corrector` class.

[2017-12-23 15:42] garettarrowood opened #5304 "Unify `Layout/SpaceInsideArrayLiteralBracket` & `Layout/SpaceInsideHashLiteralBraces` `EnforcedStyleForEmptyBraces/Brackets` detection and message style"
## Expected behavior

That `Layout/SpaceInsideArrayLiteralBracket` & `Layout/SpaceInsideHashLiteralBraces` apply the same rules and message style for `EnforcedStyleForEmptyBrackets`/`EnforcedStyleForEmptyBraces`.

## Actual behavior

With `EnforcedStyleForEmpty` of `no_space` specified for both cops:

[code]

With `EnforcedStyleForEmptyBraces` of `space` specified for both cops:

[code]

Differenc

[2017-12-23 16:46] garettarrowood opened #5306 "Change `Style/StringLiterals` default to `double_quotes`"
A couple months ago, issue #4895 brought forth a great discussion on `RuboCop` defaults. I think there is (at least) one obvious candidate for a default change. I propose we change the `Style/StringLiterals` default from `single_quotes` to `double_quotes`. This is a style setting I myself have to stay on the look out for and spend a lot of time correcting in my code. I believe using double_quotes

[2017-12-24 09:33] #5259 closed

[2017-12-24 10:19] #5289 closed

[2017-12-24 10:36] #5281 closed

[2017-12-24 17:40] aquach commented on #5289
Thanks so much!

[2017-12-24 17:47] garettarrowood commented on #3394
Over the next few days I'll tackle this.

Reviewing the cop, I do not believe a new config option is the way to go. There are already `no_comma`, `comma` & `consistent_comma` config options. This looks like a good candidate to break into 2 Cops, `TrailingCommaInArrayLiteral` & `TrailingCommaInHashLiteral`. This will allow unique configuration for both data types.

[2017-12-24 20:34] bbatsov commented on #5306
It would be nice if someone did a more compelling research on the topic. I'm open to the idea of changing the default, but I also don't want to upset the people happy with it. And, of course, the same argument that's made for single vs double quotes can be extended to all sorts of "semantic" rules floating around the Ruby community. :-)

[2017-12-25 13:53] bbatsov commented on #5290
That's fixed on `master`.

[2017-12-25 13:53] #5290 closed

[2017-12-25 16:01] envygeeks opened #5310 "Exclude Emoji from ASCII comment requirements."
I get that comments should be written in English (or ASCII,) a subset of UTF-8, but Emoji's neither get translated, or adjusted, and are often skipped and overlooked as they fall within the private space of Unicode.  Which means no matter what language a comment is going to, an emoji is an emoji, a universal expression.

[2017-12-25 16:02] envygeeks commented on #5310
I'm happy to look into this and possibly ship a pull request if this is accepted.

[2017-12-25 22:15] Ana06 commented on #5188
@dominicsayers I like the idea of running rubocop for every PR to check if the offenses have been fixed 😉

I am not against having a new option for the timestamp, but I would say that it should be the default that if there are no substantive changes the comment shouldn't change and it should keep the old date. So, if we change this, the new option may not be needed. 🤔

[2017-12-26 07:36] mvz opened #5313 "HashSyntax autocorrect breaks some symbols when targeting 2.2 and up"
When targeting Ruby 2.2 and up, HashSyntax' autocorrect can produce invalid results. This happens for symbols like `:'&&'`, for which Ruby 2.2 added support with the new hash syntax.

## Expected behavior

With `TargetRubyVersion: 2.2` in `.rubocop.yml`, when running `rubocop -a`, the following code:

[code]

should be corrected to:

[code]

## Actual behavior

The code is changed to:

[code]

Thi

[2017-12-26 07:53] yensaki opened #5314 "False positive for `Lint/NestedPercentLiteral` cop"
`Lint/NestedPercentLiteral` cop detects the code like this.
this code has an array with elements which contains `%+`.

[code]
I think that it is probably false positive.

--------

## Expected behavior

No offence of the `Lint/NestedPercentLiteral` cop

## Actual behavior

[code]

## Steps to reproduce the problem

Array with elements which contains `%+`.

[code]

Run rubocop v0.52.0

[code]

This

[2017-12-26 11:54] AlexWayfer opened #5315 "`Layout/RescueEnsureAlignment` false positive for `rescue` in block (Ruby 2.5) inside method"
When we're using `resuce` inside a block (`each`, for example) — there are no offenses.

But when this block inside a method — there is incorrect offense.

--------

## Expected behavior

No offenses for `rescue` inside a block inside a method.

## Actual behavior

Offense from `Layout/RescueEnsureAlignment`:

[code]

## Steps to reproduce the problem

[code]

## RuboCop version

Include the outpu

[2017-12-26 13:33] pocke commented on #5310
Seems good to me, but I think we need a discussion. I have two issues with the proposal.

First, probably it should be optional. There may be people who do not like emoji in comments.

Second, the cop name will be inappropriate. It is a bit strange that `Style/AsciiComment` cop allows non-ASCII characters (emoji).
But I'm not sure what the cop name should be. Maybe it should be `Style/EnglishComme

[2017-12-26 14:08] envygeeks commented on #5310
IMO this rule should have never existed because it's particularly prone to being wrong.  Take "Hola Mundo", it's Spanish, and would pass under both rule names.  ASCII neither guarantees, nor promises English, and unless EnglishComment plans to actually test words to ensure they are English, it's prone to just being wrong. Here we flat out disable it because of that, and because we consider it insu

[2017-12-26 15:49] ZASMan commented on #4885
Is there any fix on this? It's still popping up for me.

[2017-12-26 17:02] #5236 closed

[2017-12-26 17:05] #5315 closed

[2017-12-26 17:23] dominicsayers commented on #5188
I would also be fine with having this as the default but it might be considered a breaking change.

Perhaps it should be an option first then introduce it as the default when a major version release is planned.

[2017-12-26 17:24] AlexWayfer commented on #4882
There was an error in `Expected behavior` and `Actial behavior` texts. Fixed.

[2017-12-26 19:37] #5313 closed

[2017-12-26 20:24] deivid-rodriguez commented on #5310
I always disable this cop as well since it finds more false than true positives. I expressed [my opinion](https://github.com/bbatsov/rubocop/pull/72#issuecomment-65285436) in the PR introducing this cop.

[2017-12-26 20:56] Dorian opened #5321 "[Layout/RescueEnsureAlignment] Error while parsing rescue inside do/end block"
When creating a new Rails app (with Rails 5.2.0.beta2), it generates a /bin/yarn file that looks like:

[code]

--------

## Expected behavior

Doesn't throw an error.

## Actual behavior

`Layout/RescueEnsureAlignment` throws a parsing error.

## Steps to reproduce the problem

Run rubocop on this example file:

[code]

## RuboCop version

[code]

[2017-12-26 22:15] aristotelesbr2014 opened #5322 "undefined local variable or method `path'"
*`cd my project` and  `rubocop`*
with rbenv or rvm return this error

undefined local variable or method `path' for #<RuboCop::Config:0x00563a4254d260>
/home/aristoteles/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/rubocop-0.52.0/lib/rubocop/config.rb:198:in `block in check'
/home/aristoteles/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/rubocop-0.52.0/lib/rubocop/config.rb:288:in `block in dep

[2017-12-27 00:34] aristotelesbr2014 commented on #5322
This fixed my problem:
[#114](https://github.com/codeclimate/codeclimate-rubocop/issues/114)

[2017-12-27 00:50] pocke commented on #5322
Yeah, it already fixed in master 👍
https://github.com/bbatsov/rubocop/pull/5278

[2017-12-27 00:50] #5322 closed

[2017-12-27 00:54] pocke commented on #5321
Can you try specifying `TargetRubyVersion` with `.rubocop.yml`?

[code]

[code]

And `Layout/RescueEnsureAlignment` cop has another bug, and it is already fixed. See https://github.com/bbatsov/rubocop/issues/5315

[2017-12-27 01:06] pocke commented on #4885
@ZASMan
Can you try updating rubocop to 0.52.0? It has been fixed in 0.52.0 already.
If you still have any bugs, please open a new issue.

[2017-12-27 02:11] martinvelez opened #5324 "Unsafe removal of 'parentheses for method calls with no arguments'"
Removing parentheses for method calls with no arguments is not always safe.

Here is the input source code.

[code]

Here is the result after autocorrecting.  It is not equivalent.  The original script always returns **42**.  The autocorrected script always returns **false**.

[code]
--------

## Expected behavior

Rubocop should not remove the parentheses for method calls with no arguments.

## A

[2017-12-27 04:04] pocke commented on #5324
Thank you for the feedback!

This is a problem of `Style/MethodCallWithoutArgsParentheses`.
It is duplicated with https://github.com/bbatsov/rubocop/issues/4524 .

[2017-12-27 04:04] #5324 closed

[2017-12-27 07:01] #5291 closed

[2017-12-27 08:02] mvz commented on #5313
Thanks, @garettarrowood

[2017-12-27 08:19] jonas054 commented on #1541
1. Syntax errors come from the `parser` gem, and RuboCop just picks them up and presents them.
2. Ruby on Ubuntu rejects the given example code. I've tried with ruby-2.3, 2.4 and 2.5.
[code]

[2017-12-27 11:32] dennisvandehoef commented on #5242
it also happens if you create a HAML-string as we mock in one of our specs:

[code]

[2017-12-27 11:43] dennisvandehoef opened #5328 "false positive: Performance/HashEachMethods"
Performance/HashEachMethods raises on all `keys.each`, also it should look for `.keys.each` to prevent a false positive like this:

[code]

[code]

[2017-12-27 12:23] wintersolutions opened #5329 "Rails/InverseOf cop false positive for polymorphic assocations"
Rubocop 0.52.0 complains about missing 'inverse_of' for polymorphic `belongs_to` association. According to the rails documentation `inverse_of` is not a valid option for `polymorphic: true` assocations.

https://github.com/bbatsov/rubocop/issues/5236 seems to adress this issue in the [comments](https://github.com/bbatsov/rubocop/issues/5236#issuecomment-351737179). But after a quick glance at the

[2017-12-27 12:41] dennisvandehoef opened #5330 "false positive: Lint/ReturnInVoidContext"
It should be possible to do `return super` to save some lines. Super should also not have a return value, so `return super` and `return` have the same return value.

[code]

version:
[code]

[2017-12-27 13:13] #3318 closed

[2017-12-27 13:42] Dorian commented on #5321
@pocke Shouldn't Rubocop default to parsing for ruby 2.5 now? Or to whatever is in `.ruby-version` or the Gemfile's `ruby` directive?

[2017-12-27 13:52] Ana06 commented on #5188
@dominicsayers

What I was suggesting to have as the default is not to update the file if there were no substantive changes (not removing the timestamp, which can still be an option). That doesn't seem to be a breaking change. 🤔

[2017-12-27 13:55] wata727 commented on #5329
Hi @wintersolutions, I fixed this false positive in https://github.com/bbatsov/rubocop/pull/5297.
Please try v0.52.1. This problem has been fixed :)

## 0.52.0

[code]

## 0.52.1

[code]

[2017-12-27 13:59] pocke commented on #5321
RuboCop sees .ruby-version, but isn't aware of Gemfile's ruby directive now. And i think it is good  that we make RuboCop aware of Gemfile.

I think RuboCop should not parse as Ruby 2.5 by default. Currently RuboCop parses ruby code as Ruby 2.1. It is the oldest version supported by RuboCop.
I think RuboCop should parse ruby code as the oldest version by default. Because it is safest. Ruby 2.5 par

[2017-12-27 14:04] wintersolutions commented on #5329
Ah I looked at the wrong issue/commit. Its working. Thanks a lot!

[2017-12-27 14:04] #5329 closed

[2017-12-27 14:16] dominicsayers commented on #5188
@Ana06 It's unlikely I agree, but somebody might depend on that timestamp for something 🤷‍♂️

I'll try to find time to do a PR over the holiday and you can add your suggestion there.

[2017-12-27 14:20] Ana06 opened #5332 "New cop for Hash#dig"
Add a new cop that enforce the use of

[code]

instead of

[code]

--------

# Concerns

When using symbol as key I would say that the complain and the autocorrect are always safe, but not in the following cases:

### Strings

Due to the `str[match_str]` method, things like this happens:

[code]

### Integers

The same for integers:

[code]

And that's the reason why I think it may be not safe tha

[2017-12-27 14:27] Ana06 commented on #5188
@dominicsayers

Another option could be that the by the default the timestamp doesn't change unless there are substantive changes and adding an option to force that it is updated. That would make more sense for me. 🤔

Great! 😉

[2017-12-27 14:33] Ana06 commented on #5188
I am also thinking that Rubocop could also have an option that make it fails when there are more excludes in the todo file than needed. So that you don't need to compare the files, but that this is internally done by Rubocop. I think that what you are doing is a great idea and I would also like to use it in my projects. Instead that every of as compare the files, it may be easier that Rubocop does

[2017-12-27 14:56] mikegee commented on #5330
Unexpectedly, `super` in that subclass's method does provide whatever the superclass's method `return`s (whether the superclass return value is explicit or implicit).

I agree that is would be nice if this claim were true: "Super should also not have a return", I don't believe that Ruby behaves like we prefer.

I tested Ruby 2.2.8.

[2017-12-27 15:22] jlfaber opened #5333 "False Positive in Layout/EmptyLinesAroundArguments with inline private"
With the following code fragment using an inline access specifier:
[code]
## Expected behavior

The Layout/EmptyLinesAroundArguments cop should report no offense.

## Actual behavior

`Layout/EmptyLinesAroundArguments: Empty line detected around arguments.`

## Steps to reproduce the problem

Run rubocop on the fragment above.

The false positive will also be raised when using other inline access

[2017-12-27 15:53] #3394 closed

[2017-12-27 16:13] bbatsov commented on #5321
@pocke is completely right. I think the current behaviour makes a lot of sense and there's no real reason to change it. I guess the only problem is that some users don't quite understand it. 😄

[2017-12-27 16:13] #5321 closed

[2017-12-27 16:16] bbatsov commented on #5328
Yeah, probably we should check for an explicit receiver to reduce the number of false positives.

[2017-12-27 16:31] garettarrowood commented on #5333
Thanks for reporting this bug!  I'll take a crack at fixing this in the next few days.

[2017-12-27 17:14] garettarrowood opened #5334 "Semicolon removal in `Style/TrailingBodyOnMethodDefinition` autocorrection"
## Expected behavior

Successfully autocorrects trailing body offenses that do not start on the first line of a file.

This:

[code]

should become:

[code]

## Actual behavior

The semicolon is not removed, and the offense autocorrects to:

[code]

## Steps to reproduce the problem

See above.

## RuboCop version

[code]

[2017-12-27 18:17] wbotelhos opened #5336 "No right autocorrects"
Hi,

I'm having some strange corrections:

Before:

[code]

After:

[code]

or

before:

[code]

After:

[code]

[code]

Thanks for this project. (:

[2017-12-27 22:09] bquorning commented on #5336
I cannot reproduce this autocorrection locally. What is the output of just running `rubocop` on the files? Which offenses are detected?

[2017-12-27 23:07] garettarrowood commented on #5333
After looking at this, there actually is not a bug here. `private_class_method` and other inline access modifiers are all methods of [Module](http://ruby-doc.org/core-2.0.0/Module.html#method-i-protected_instance_methods). So the offense getting thrown is because the method `:bar` is an argument of `private()`, and the arg contains an empty line.

We have a test that assures this kind of behavior

[2017-12-28 00:42] asherkach commented on #5314
This bug is the result of [this regex](https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/cop/lint/nested_percent_literal.rb#L27-L29) not being tight enough. Fix forthcoming...

[2017-12-28 07:31] #5334 closed

[2017-12-28 09:59] RKushnir opened #5338 "Metrics/BlockLength to act as Metrics/ClassishLength for modules, classes, and structs"
I suggest that in some cases where a block is occurred, instead of `Metrics/BlockLength` cop, the appropriate `ClassLength` or `ModuleLength` cop is applied. Reason is the fact that the following two definitions are equivalent:
[code]
So it seems inconsistent that you have different limits depending on how you create a class. The same applies for modules, and for `Struct`s(since [the ruby docs](ht

[2017-12-28 10:11] #5217 closed

[2017-12-28 11:02] jacobpgn opened #5339 "False positive `Layout/EmptyLinesAroundArguments` with multiline heredoc args"
`Layout/EmptyLinesAroundArguments` appears to fail incorrectly when a method is called with both:
1. a multiline heredoc as an argument (or part of an argument, e.g. as a hash value)
2. a chained method which also receives arguments

## Expected behavior

I would expect the following to not fail for this cop:

[code]

## Actual behavior

`C: Layout/EmptyLinesAroundArguments: Empty line detected ar

[2017-12-28 11:22] garettarrowood commented on #5306
### Research

I scanned the top 130 `ruby` repos on github based on how many stars the repos have received. All the repos below have 2.3k+ stars, and they are listed in order of greatest to least stars. The repos you don't see are ones not using rubocop OR (less likely) their configuration was in disrepair. Linting was either neglected or never supported in these cases, but someone at sometime squ

[2017-12-28 14:26] koshigoe opened #5341 "SystemStackError occurred at Docker image `ruby:2.5.0-alpine3.7`"
Rubocop might not cause of this problem...

## Expected behavior

Nothing was raised.

## Actual behavior

`SystemStackError` exception occurred at Docker image `ruby:2.5.0-alpine3.7`.

## Steps to reproduce the problem

The code like a following:

[code]

<details>
<summary>By ruby:2.5.0-alpine3.7</summary>

[code]

[code]
</details>

<details>
<summary>By ruby:2.4.3-alpine3.7</summary>

[code]

[2017-12-28 16:36] garettarrowood opened #5343 "Missing offenses in `Style/TrailingMethodEndStatement`"
Offenses are missed by `Style/TrailingMethodEndStatement`.

--------

## Expected behavior

This example to raise an offense:

[code]

## Actual behavior

Snippet does not raise offense. Thus, it is also not autocorrected.

## Steps to reproduce the problem

Use default settings and run `rubocop` on snippet above.

## RuboCop version

[code]

[2017-12-28 17:26] Drenmi commented on #5306
I use double quotes exclusively in all my projects, but I am actually not keen on changing the default. Do not underestimate the amount of energy that is ready to be poured into insignificant decisions. Energy which I think could be used much better elsewhere in our community. 😉

If it has to be done, please take the path through The Ruby Style Guide, not directly through RuboCop.

[2017-12-28 17:32] garettarrowood opened #5345 "Add tool/config that avoids merge conflicts in CHANGELOG.md"
There are a couple different approaches this. The simplest is adding `CHANGELOG merge=union` to a `.gitattributes`. These are the [docs on --union option](https://git-scm.com/docs/git-merge-file#git-merge-file---union). [Gitlab was using placeholder lines](https://about.gitlab.com/2015/02/10/gitlab-reduced-merge-conflicts-by-90-percent-with-changelog-placeholders/) until they switched to this meth

[2017-12-28 18:00] johnunclesam commented on #5160
Do you use VSCode with this config?

[2017-12-28 18:01] ghost opened #5346 "[Style/BlockDelimiters] Prefer{...}overdo...endfor single-line blocks. Error."
I have this code in a .rb Class file:

`field :user, Types::UserType do resolve ->(_obj, _args, ctx) { ctx[:user] } end`

what I need is to remove `do` and `end` from the single line using, I think, the `{}`.

`[Style/BlockDelimiters] Prefer `{...}` over `do...end` for single-line blocks.`

But I don't understand why it throws this error:

[code]

## RuboCop version

[code]

[2017-12-28 18:02] bbatsov commented on #5345
We did this a while ago, but I don't think it's working properly on GitHub.

[2017-12-28 21:08] #5333 closed

[2017-12-28 21:08] #5339 closed

[2017-12-28 21:11] #5343 closed

[2017-12-29 01:12] bgentry opened #5348 "Style/SafeNavigation autocorrection can change behavior with !~ pattern matching"
I had a code block like this:

[code]

If the object is non-nil and its name doesn't match `/FOO/`, then I want to run the code inside the block.

## Expected behavior

Rubocop should probably not change this code, and certainly shouldn't cause the line's functional behavior to change.

## Actual behavior

Rubocop autocorrects under the `Style/SafeNavigation` rule to this:

[code]

This is functio

[2017-12-29 02:29] brandonweiss commented on #5306
@garettarrowood Yeah, there's definitely no consensus in the community. Anecdotally, though, I've found that people who choose double quotes tend to do so because of some or all the reasons I listed in my post, but people who choose single quotes tend to not often have a reason and simply cite RuboCop's default of single quotes as the reason.

Personally, as the author of the post, I'd love the de

[2017-12-29 06:03] bbatsov commented on #5306
Great research, @garettarrowood! The results are more or less in line with what I expected (I was only surprised to see projects disabling such a basic cop), so for the time being I think we should not change the default. But you can apply what you did to other of the controversial defaults - maybe for some of them the results would be more clear-cut.

[2017-12-29 11:02] koshigoe commented on #5341
Sorry, I think this is not Rubocop's issue.
I close this issue myself.

[2017-12-29 11:02] #5341 closed

[2017-12-29 12:04] deivid-rodriguez commented on #5306
@garettarrowood Nice research, two notes:

* You should probably exclude repos with the `DisabledByDefault: true` config. For example, in activeadmin we actually prefer and use double quotes, but we're using a "DisabledByDefault" approach to introducing `Rubocop` and we haven't yet enabled the rule.

* Byebug has enforced single quotes for a while because of not giving any thought to `Rubocop`'s d

[2017-12-29 12:33] deivid-rodriguez opened #5350 "`AllowURI` option in `Metrics/LineLength` ignored when using double quotes"
The `AllowURI` option to permit URLs in `Metrics/lineLength` seems ignored when using double quotes?

--------

## Expected behavior

No `Metrics/LineLength` offenses for URLs regardless of string literals style.

## Actual behavior

`Metrics/LineLength` fires for long double quoted URLs but doesn't for long single quoted URLs.

## Steps to reproduce the problem

[code]

## RuboCop version

Includ

[2017-12-29 13:23] deivid-rodriguez commented on #5306
Also did a quick check on `ruby/spec`. They use `DisabledByDefault: true` as well, and while enabling double quotes leads to ~16K offenses, enabling "single quotes" leads to 51K offenses. So that repo should be either removed from the table or moved to the second column as well.

[2017-12-29 14:00] garettarrowood commented on #5306
@deivid-rodriguez - Thank you for these extra details! I'll leave the table above intact so that our comments make sense. However, I will update what you and I find in the table contained below. Since you can vouch for `byebug` & `activeadmin`, I'll move them over to `double_quotes`. While `ruby/spec` & `puma` use double quotes more than single, I think we can only safely move them to `disabled` f

[2017-12-29 14:10] deivid-rodriguez commented on #5306
I think `discourse` and `gitlabhq` can be moved to disabled too?

[2017-12-29 14:14] garettarrowood commented on #5306
Yep. And wow, Gitlab has an extremely intricate `rubocop` setup.  Found the disabling here - https://gitlab.com/gitlab-org/gitlab-styles/blob/master/rubocop-style.yml

[2017-12-29 14:24] deivid-rodriguez commented on #5306
Yeah, I got there after jumping from config file to config file too. :laughing:

[2017-12-29 14:29] garettarrowood commented on #5306
One more - `fat_free_crm` has this rule explicitly disabled as well - must have just missed it.

[2017-12-29 17:08] #3666 closed

[2017-12-29 18:27] chrisnicola commented on #4521
It would be awesome if changes like this had some kind of support in an upgrade tool. I'm finding every update of Rubocop involves a lot of housework afterwards.

[2017-12-29 18:33] chrisnicola commented on #4521
Sorry ignore my comment above. The changes were smaller than I had realized. For some reason during the execution of `--auto-gen-config` it showed dozens of errors related to this. Rerunning it normally only reported 3 changes.

[2017-12-29 23:08] jfelchner opened #5355 "False Positive: Layout/EmptyLinesAroundArguments With HEREDOCs"
HEREDOCs are used frequently for complex cases with multiline strings.  As such, there are frequently cases where you might want to have empty lines as the first/last line in a HEREDOC.  I think that the `Layout/EmptyLinesAroundArguments` missed this use case when it was originally developed.

--------

## Expected behavior

HEREDOCs should be allowed to have empty lines at their start/end

## Act

[2017-12-29 23:16] jfelchner commented on #5265
@neontapir I'm assuming you didn't have `ForceEqualSignAlignment` set to `true` in your configuration.

[2017-12-29 23:17] jfelchner commented on #5265
I've updated the original issue to describe the exact reproducible use case.

[2017-12-29 23:22] jfelchner opened #5356 "Feature Request: Matching Cop to `Lint/UnneededDisable`: `Lint/UnneededEnable`"
The `Lint/UnneededDisable` is very useful, but part of the problem with using it is that, if you wrap code like this:

[code]

Making the `Lint/UnneededDisable` cop happy (either manually or with autocorrection) leaves the `enable` line even though it's no longer needed.

It'd be great to have a cop to handle this use case as well.

[2017-12-29 23:47] jfelchner opened #5357 "False Positive: Lint/InterpolationCheck"
## Expected behavior

The cop should understand matching things that look like string interpolations inside a Regex

## Actual behavior

Matching `\#{20}` is matching 20 `#` in a row, not a string interpolation for a variable named `20`

## Steps to reproduce the problem

[code]

## Output

[code]

## RuboCop version

[code]

[2017-12-30 02:48] garettarrowood commented on #5355
Since the last version bump, there was one more sweep through this Cop. I believe this scenario is resolved by #5340 .

[2017-12-30 03:05] jfelchner commented on #5355
@garettarrowood awesome!  I'll close this for now then.

[2017-12-30 03:05] #5355 closed

[2017-12-30 07:26] bbatsov commented on #5356
Yeah, that's a good idea. Although it should be named `UndeededCopEnableDirective`. We agreed a while ago that we would rename this `UnneededDisable` to `UnneededCopDisableDirective`, but I guess we forgot to do so.

[2017-12-30 07:28] bbatsov commented on #5357
I also notice that the message `Interpolation in single quoted string detected. Use double quoted strings if you need interpolation.` violates our policy to have a single-sentence cop messages. We should fix this as well.

[2017-12-30 15:22] #5350 closed

[2017-12-30 15:26] #5188 closed

[2017-12-30 20:15] garettarrowood commented on #5356
This appears to be a dup of our oldest open issue, #2543 , and #3001 .  It also looks like they got resolved by a new `Lint/MissingCopEnableDirective`. Does this accomplish our goal, or our we not seeing this fire when it should?

[2017-12-30 20:33] jfelchner commented on #5356
@garettarrowood it's the opposite of `Lint/MissingCopEnableDirective`.  `Lint/MissingCopEnableDirective` is a dupe of #3001.

What I'm asking for is a cop that flags if there's a `rubocop:enable` that is not needed (because the cop(s) were never disabled.

You are correct that this issue is a dupe of #2543.

[2017-12-30 20:36] garettarrowood commented on #5356
@jfelchner - Thanks for the clarification!

[2017-12-31 14:41] garettarrowood commented on #5356
Ok. I think I'll tackle this today.

[2017-12-31 16:22] #5314 closed

[2018-01-01 08:57] PrimeTimeTran commented on #752
Am I facing a bug...? I have it set up exactly like you guys(I've tried with & without quotes and it still complains.

![screen shot 2018-01-01 at 3 56 56 pm](https://user-images.githubusercontent.com/16382165/34466613-796484e0-ef0c-11e7-8e61-aec1a9aa8d42.jpg)

[2018-01-01 09:05] pocke commented on #752
@PrimeTimeTran Can you show me the command line that you executed?

If you specify `db/schema.rb` with command line, rubocop does not ignore it.

[code]

See also https://github.com/bbatsov/rubocop/issues/5139#issuecomment-348678866

[2018-01-01 09:11] PrimeTimeTran commented on #752
@pocke it's a git hook =). What can I show you in the hook that could be useful? Sorry, I'm not super familiar with linux so I'm not sure what all this does.

[code]

[2018-01-01 09:14] pocke commented on #752
It looks executing rubocop with changed files.
Can you try updating your script with the following? It adds `--force-exclusion` option to avoid this problem.

[code]

[2018-01-01 09:31] PrimeTimeTran commented on #752
@pocke that resolved it. Thanks for the help!

[2018-01-01 09:42] bbatsov commented on #5348
Yeah, it seems we made an ops precedence mistake. @rrosenblum Can you take a look at this?

[2018-01-01 09:43] bbatsov commented on #5346
Is this also a problem in the latest stable release?

[2018-01-01 21:40] rrosenblum commented on #5348
This is related to several other issues that are open for `Style/SafeNavigation` and `Lint/SafeNavigationChain`. The problem is that the cops don't look to see if there is a method chain that makes it ineligible or that will need to be modified during the auto-correction to keep it safe. I'll start working on a fix for this.

[2018-01-02 10:13] Darhazer opened #5376 "Feature request: empty line after early return"
It would be nice to have a cop that enforces consistent usage of empty lines after early returns.
Example:

[code]

Here the cop would require adding a blank line after the return.

Note: it's possible tho have multiple consecutive return statements with different conditions. In that case I would suggest adding the blank line after the last return.

[2018-01-02 14:10] bbatsov commented on #5376
Yeah, that makes perfect sense to me. It's an extremely common style of coding, practiced by myself as well.

[2018-01-02 15:13] ivoanjo commented on #5306
I'd say that if the community is this split on the rule, maybe it should be disabled by default, rather than the default changed?

And then in a few months it could be re-reviewed until there was general consensus and then that consensus be re-added as either of the options :)

[2018-01-02 16:36] Drenmi commented on #5376
I have had this on my list for a while, but I imagine an `EmptyLinesAroundGuardClause`, which would cover things like `next` as well. 🙂

[2018-01-02 17:48] fidalgo opened #5378 "Style/EmptyMethod should have the expanded as default"
Based on the Ruby Style guide https://github.com/bbatsov/ruby-style-guide#no-single-line-methods
[code]
I think the Rubocop's default for the `Style/EmptyMethod` configuration should match the recommendation on the Ruby Styleguide, instead of using the compact option.

I've opened this issue to gather feedback and if we have a consensus I'll open a PR with the changes.

[2018-01-02 17:51] Drenmi commented on #5346
Yep. Just reproduced this on latest `master`.

[2018-01-02 18:07] dmolesUC opened #5379 "Lint/Void documentation doesn't adequately explain changed behavior in 72fb0c2e"
Under RuboCop 0.47, the following code was considered valid:

[code]

Under RuboCop 0.52, it produces:

[code]

The initializer in question is in a subclass of [XML::Mapping::SingleAttributeNode](http://multi-io.github.io/xml-mapping/XML/Mapping/SingleAttributeNode.html). The XML::Mapping library makes heavy use of a pattern in which superclasses strip leading arguments before leaving the remainin

[2018-01-02 20:35] #4477 closed

[2018-01-02 21:44] bbatsov commented on #5306
For newcomers it would be like this doesn't exist (few people go browsing disabled cops), so I don't like this idea.

[2018-01-02 22:50] ellingtonjp opened #5380 "Unexpected method indentation when using access modifier"
## Expected behavior

I expect the following
[code]

to be corrected to

[code]

## Actual behavior

Nothing is corrected in that case.

Additionally, rubocop will adjust indentation based on the first method. For example,

[code]
is corrected to
[code]

When using no access modifier, methods are always indented to two spaces, as expected.

## Steps to reproduce the problem

Run rubocop on the pre

[2018-01-03 00:47] onebree commented on #3392
Hi everyone. I know this is labeled `hacktoberfest`, but would I be able to tackle this one? This is the exact configuration I'm looking for wrt trailing commas.

[2018-01-03 01:19] dmolesUC3 commented on #1690
I've been assuming all this time (well, up to the appearance of Lint/MissingCopEnableDirective) that rubocop:disable was scoped to the current block.

[2018-01-03 02:00] mikegee commented on #5306
Yeah, consistency within a codebase is more important than which option is picked.

My 2 cents on this topic: I've been using the default and not thinking about it too much. There always seemed to be sufficient arguments on both sides of this debate. Reconsidering again, I think I'll switch to double quotes on new projects.

Changing the default seems like it might generate significant noise, most

[2018-01-03 08:09] jonas054 commented on #3392
Yes of course! October is over.

[2018-01-03 13:15] #2543 closed

[2018-01-03 13:15] #5356 closed

[2018-01-03 13:18] bbatsov commented on #5378
I don't think there's an explicit rule about this in the style guide, though. Maybe first we should add one. :-)

[2018-01-03 14:32] eamonn-webster commented on #5336
I'm seeing something similar (0.52.1). I appears to be making the edit on the wrong line.

[code]
running
`rubocop --auto-correct --only Layout  lib/tasks/translate2.rake`
gives  the following errors
[code]
and this output
[code]

[2018-01-03 16:09] dominicsayers opened #5383 "Exception thrown by Rails/Presence if local method blank? is defined"
If a class has a method `blank?` and that method is called with `if blank?` then the cop `Rails/Presence` throws an exception

[code]

--------

## Expected behavior

I expect the `Rails/Presence` cop not to throw an exception when parsing syntactically correct code

## Actual behavior

The `Rails/Presence` cop throws an exception when parsing a reference to a locally defined `blank?` method

## S

[2018-01-03 16:11] dominicsayers commented on #5383
cc @wata727

[2018-01-03 19:35] bquorning commented on #5336
@eamonn-webster That I can reproduce. Using git-bisect I’ve identified a540482cc9581fb03457b2631241ca9b72419150 as the first bad commit. cc @bgeuken re. #4869.

[2018-01-03 20:51] jamiemccarthy commented on #5357
I'm seeing this too, also with an escaped `#` in a double-quoted string. My test case is:

## Steps to reproduce the problem

[code]

## Output

[code]

## RuboCop version

[code]

[2018-01-04 01:09] ragesoss commented on #5328
I hit another kind of false positive with this cop:

[code]

In this case, `.each` is being called on an array of two-item arrays, so the block arguments are destructuring the array, like this:

[code]

[2018-01-04 01:11] ragesoss commented on #5328
Ah, I see there's a helpful note in the source for my use case"

[code]

Maybe adding something along these lines to the cop output would be helpful?

[2018-01-04 03:12] garettarrowood commented on #5378
Just to be clear, none of those examples are empty methods. This conflicts with `Style/SingleLineMethods`, where all of those `okish` examples would be considered `bad` by our current implementation. `Style/SingleLineMethods` description reads:

[code]

So this seems like a feature request to add a config option to `Style/SingleLineMethods` to allow one expression in single line methods.

[2018-01-04 07:28] #5383 closed

[2018-01-04 08:37] tdeo opened #5387 "Should `Style/IndentHeredoc` be moved to `Rails` namespace?"
`String#strip_heredoc` being a Rails-specific method, this cop breaks code when being ran on non-Rails code.

Moving it to the `Rails` department would prevent it from running for people not having Rails cop enabled.

[2018-01-04 08:45] bbatsov commented on #5387
It's not Rails-specific. RuboCop gets it from https://github.com/bbatsov/powerpack and obvious you can use `ActiveSupport` without Rails. Eventually those methods won't be needed, though - Ruby 2.2 is going to reach EOL soon.

[2018-01-04 08:45] #5387 closed

[2018-01-04 08:50] bbatsov commented on #5378
Why so? I think @fidalgo just copied the examples from the single-line method rule, therefore my remark we don't actually have a rule about what to do with methods with no body.

This might be useful in general, but doesn't seem related to this ticket.

[2018-01-04 11:03] garettarrowood commented on #5378
All remarks here are valid.  It just seems like citing those examples implies that Rubocop should not register an offense for them. At the moment, those will always register no matter what config the user sets.

Agreed that we need a section in the guide about preferring one-line empty methods over two.

[2018-01-04 13:05] fidalgo commented on #5378
Well first of all I've made a confusion with `Style/SingleLineMethods` and `Style/EmptyMethod`.
So I've created a sample file:
[code]

and got this offence:
`sample.rb:7:1: C: Style/EmptyMethod: Put empty method definitions on a single line.`

which is aligned with the guide.
So I think we should add a section about empty methods on the Style Guide, because at the moment is just a remark of the Si

[2018-01-04 13:11] Mifrill commented on #5063
[code]
rubocop -a
[code]
after correcting
[code]
it seems that with the Thai symbols the same thing happens

[2018-01-04 13:49] wata727 opened #5388 "Feature request: Checks that `unless` is not used with multiple conditions."
I was worried about the poor readability of code using `unless` with multiple conditions.

[code]

Looking at the code like the above, I first think about De Morgan's law, rewrite it and proceed with implementation. This is a very painful task.

In order to prevent this problem, I created a cop called `Lint/UnlessMultipleCondtions`.
https://github.com/wata727/rubocop/commit/da4ed994d5fd263c4e08d4d

[2018-01-04 14:09] bquorning commented on #5336
A failing test case for spec/rubocop/cop/layout/block_end_newline_spec.rb:
[code]
There seems to be some confusion between `node.source` and `node.loc.end.source_buffer.source`…

[2018-01-04 15:29] jfelchner opened #5390 "Feature Request: Style/InlineComment Exception for Rubocop Comments"
In general I like to avoid inline comments (obviously with some exceptions), but when I attempted to try out this cop, I ran into a huge hurdle.

Rubocop uses inline comments to disable certain cops.  This is a useful feature as it doesn't require re-enabling the cop on the next line.

Unfortunately, because the `InlineComment` cop doesn't provide an exception for `rubocop` comments, it requires e

[2018-01-04 17:36] wbotelhos commented on #5336
Sorry about late @bquorning , but maybe I was, for some reason, on version 0.52.0. Now, for sure, on 0.52.1 it does not happened again.

[2018-01-04 19:29] mikegee commented on #5388
This seems like a good idea. 140 offenses in Rubocop's code is a bad sign though. Maybe it will be too noisy and should be disabled by default?

[2018-01-04 20:49] bquorning commented on #4704
I see Ruby warnings for `Lint/EndAlignment` and `Lint/DefEndAlignment` offenses, but not for `Lint/BlockAlignment` and `Lint/ConditionPosition`:

`» cat test.rb`
[code]

[code]

[2018-01-04 22:09] bdewater commented on #5236
@delphaber AFAICS the documentation is wrong, I have a PR out to fix it: https://github.com/rails/rails/pull/31446

[2018-01-05 02:55] asherkach commented on #5388
Disagree, I think the `unless foo && bar` structure can be far more readable than `if !foo && !bar` depending on what `foo` and `bar` are. Granted it can be far less readable for the cases where it is  natural to invoke De Morgan's Law. Banning the usage of conjunctions in `unless` statement seems like a bad idea to me.

[2018-01-05 04:35] CloCkWeRX opened #5392 "Crash: undefined method `begin' for nil:NilClass"
[code]

[2018-01-05 04:57] pocke commented on #5392
Duplicated, and this bug has been fixed in #4749 .
Please try using v0.51.0 or newer (latest version is v0.52.1). Feel free reopen the issue if the issue still exists for your code.

[2018-01-05 04:57] #5392 closed

[2018-01-05 05:57] ryym opened #5393 "Rails/Delegate false positive (arguments ignored)"
`Rails/Delegate` warns incorrectly about a method call with arguments.

Sample code (a.rb):

[code]

--------

## Expected behavior

`rubocop a.rb` reports no offenses.

## Actual behavior

It reports an offense like this:

[code]

But obviously `Foo#b` method cannot be delegate to `a.b`. In fact, auto-fixed code raises an error.

[code]

Auto-fixed code:

[code]

## Steps to reproduce the problem

[2018-01-05 06:26] KosukeOhmura opened #5394 "[Metrics/***Length] Is it possible to exclude heardocs line count?"
## Expected behavior

Hi,
Metrics/ClassLength, Metrics/MethodLength and other cops for line count doesn't ignore heardocs.
I can ignore it by writing `# rubocop:disable Metrics/MethodLength` for all points that have heardocs, but it is not a smart way. Can I configure to ignore heardoc's line count?

## Actual behavior

When I write this code:

[code]

I get error `C: Metrics/MethodLength: Method

[2018-01-05 07:56] pocke commented on #5388
It's a very nice cop!
BTW, I think the cop should be in the Style department instead of the Lint department. Because `unless foo && bar` style is not a bug, but the style confuses us and sometimes we make a bug with the style. And I think the cop should be enabled by default if it's in the Style department.

[2018-01-05 08:36] bquorning commented on #4704
Also relevant comment: https://github.com/bbatsov/rubocop/pull/1789#issuecomment-92308357

[2018-01-05 11:40] ijdickinson opened #5398 "False positive persists with strftime and Style/FormatStringToken"
I realise that issues with `strftime` and `Style/FormatStringToken` have been raised before, but I'm still seeing a false positive:

    app/models/user_selections.rb:126:23: C: Style/FormatStringToken:
    Prefer annotated tokens (like %<foo>s) over unannotated tokens (like %s).
      value.strftime('%B %Y')
                      ^^

(in case the indentation is awry, it's the `%B` token that is b

[2018-01-05 12:54] mikegee commented on #5388
That is true. When I said I thought this cop was a good idea, I was thinking developers should extract these more complicated conditions to a method.

[2018-01-05 14:09] wata727 commented on #5388
While looking the code where the offenses were found, I noticed one thing.
In an environment where `Hash#dig` can not be used, the following code is often used for checking elements of a nested hash:

[code]

I think that this code should not be fixed as follows.

[code]

In such a case, I think that the first example can be used as a kind of idiom. So, I'm wondering whether this cop should be ena

[2018-01-05 14:15] jturkel opened #5401 "Style/RedundantReturn doesn't detect offenses if an ensure block is present"
The Style/RedundantReturn cop doesn't detect offenses if an `ensure` block is present in a method.

--------

## Expected behavior

Redundant returns should be flagged as an offense even if the method has an `ensure` block.

## Actual behavior

No offenses are detected.

## Steps to reproduce the problem

The following code should trigger an offense:

[code]

## RuboCop version

[code]

[2018-01-05 16:02] chrisokamoto opened #5403 "Can't use EOF heredoc"
In the docs it says:

But in the AllowedAcronyms' table, it says that EOF is allowed, but in fact, it isn't. When I try to use EOF, it says:

But I am not sure if I misunderstood it.
[code]

[2018-01-05 17:02] neontapir opened #5404 "Poor warning: TrailingCommaInLiteral cop has been split, but config still refers to it"
The TrailingCommaInLiteral cop has been split into TrailingCommaInArrayLiteral and TrailingCommaInHashLiteral, but `lib/config.rb` still refers to them:

    OBSOLETE_COPS = {
      'Style/TrailingComma' =>
        'The `Style/TrailingComma` cop no longer exists. Please use ' \
        '`Style/TrailingCommaInLiteral` and/or ' \
        '`Style/TrailingCommaInArguments` instead.',
       ... }

Thi

[2018-01-05 17:56] #5404 closed

[2018-01-05 22:50] Drenmi commented on #5378
Correct. When I implemented this, I took this part of the style guide:

as an indication that the above is the recommended for empty methods.

[2018-01-05 23:12] Drenmi commented on #5388
[code]

These examples both seem perfectly readable.

As per @mikegee's suggestion, one can implement `Cat#dangerous?`, but the question is if this generalizes across common examples.

[2018-01-05 23:30] siegfault opened #5406 "Closing Heredoc Indentation"
When autocorrecting heredoc indentation, the heredoc close is ignored. I think I would expect it to be realigned with the heredoc open.

The following examples use
[code]
as starting code.

--------

## Expected behavior

When running rubocop, I'd expect to see a violation for `SQL` needing to be indented two spaces and for the autocorrect to result in
[code]

## Actual behavior

Instead, there ar

[2018-01-06 12:00] flyerhzm opened #5409 "multiline indent for Style/WordArray and Style/SymbolArray autocorrect"
For multiline word array and symbol array autocorrect

## Expected behavior

it expects to keep the original indent.

## Actual behavior

it removes original indent.

## Steps to reproduce the problem

[code]

[code]

[code]

[code]

[code]

But I expect the code to be

[code]

## RuboCop version

[code]

[2018-01-06 14:28] koic commented on #4910
@pocke I missed the commit message #4910 and closed this Issue. However 35 cops still have no document.

[code]

Would you please re-opening this Issue?

[2018-01-06 20:39] asherkach commented on #5401
This seems to be a generalization of [this comment](https://github.com/bbatsov/rubocop/blob/master/lib/rubocop/cop/style/redundant_return.rb#L21-L22) in the cop that indicates the cop should be generalized to cover a wider footprint.

[2018-01-06 20:58] #4704 closed

[2018-01-06 21:09] #5357 closed

[2018-01-07 02:53] Ana06 commented on #5332
@Ana06

The method are not exactly equivalente with symbols as well:

[code]

I am not sure if this can be safely implemented. 🤔

[2018-01-07 05:31] pocke commented on #4910
Reopened. Thank you!

[2018-01-07 06:46] #3437 closed

[2018-01-07 06:48] #5393 closed

[2018-01-07 06:54] #5409 closed

[2018-01-07 07:08] wata727 commented on #5388
I agree with it. I think that there are occasionally bad examples, but I understood that there are circumstances to use like this.

In order to avoid this Cop, I think that rewriting of understandable code should be avoided.

Based on these, I'm thinking whether to take either of the following:

1. Add this Cop with `Enabled: false`
2. Do not add this Cop

wdyt?

[2018-01-07 13:00] flyerhzm opened #5415 "Is strip_indent a bad practice in tests?"
I have fixed 2 issues about indent #5410 and #5292, all tests did not figure out the issues because they use `strip_indent` to ignore indent.

So I open a question here: is `strip_indent` a bad practice in tests? If so, I'll try to create a PR to remove `strip_indent`.

[2018-01-07 17:50] garettarrowood commented on #2908
It looks like this is already possible with the `SpaceBeforeBlockParameters` config option.

[2018-01-07 21:47] asherkach commented on #5401
Fix (this and related issues) forthcoming...

[2018-01-07 22:31] jeremywadsack opened #5420 "Incorrect failure for UselessSetterCall when local variable is a reference"
In the following method, Rubocop incorrectly fails the `UselessSetterCall` cop:

[code]

--------

## Expected behavior

RuboCop should be able to track the fact that `entry` is a local _reference_ to a value and that the reference is added to a non-local scope.

## Actual behavior

The error message flags the local variable `entry` with the following.

[code]

Note that if I alter the above code

[2018-01-08 15:16] garettarrowood opened #5422 "--auto-gen-config misses offenses when Metrics/LineLength Max is set"
## Expected behavior

`rubocop --auto-gen-config` to create a todo file that catches all `Style/WhileUntilModifier` & `Style/IfUnlessModifier` violations. This is not the case when the todo file generates a `Metrics/LineLength` `Max` AND the `Metrics/LineLength` `Max` is set in the `.rubocop.yml`.

So with a `.rubocop.yml` file that contains:
[code]

And a `foo.rb` ruby file with this:

[code]

I

[2018-01-08 18:41] tjwp commented on #5332
I wrote a custom cop to do this: https://github.com/ezcater/ezcater_rubocop/blob/master/lib/rubocop/cop/ezcater/style_dig.rb

We've found it useful, but it is definitely susceptible to false positives, e.g. ranges also have to be excluded.

I wouldn't enable it by default for rubocop.

[2018-01-09 07:06] bbatsov commented on #5415
No, I think it's actually great. It shows you better the real indentation of the code - imagine how ugly everything would be if the indentation had to start from the beginning of the line. `strip_indent` doesn't ignore the indent, just the leading indent. If the code snippet is well-formed, that's never really an issue.

[2018-01-09 11:30] jonas054 commented on #5422
The setting of `Metrics/LineLength:Max` in `.rubocop.yml` overrides the generated one in `.rubocop_todo.yml`. For this reason, the effective Max is 100, so the `if` statement in `foo.rb` cannot be changed to modifier form and there is no offense.

On the lastest `master`, we have the change #5371, which adds a warning on the console for these situations, when a parameter overrides another setting

[2018-01-09 12:00] garettarrowood commented on #5422
Ok. That makes sense. My big concern here is that one cannot generate a working `todo` file. This makes upgrading versions extra difficult. `rubocop` should always run green after generating a fresh `todo`.

[2018-01-09 13:03] jonas054 commented on #5422
It's the regular `rubocop` command that issues the warning:
[code]

 The `rubocop --auto-gen-config` command outputs
[code]

If we really wanted a watertight `.rubocop_todo.yml` we'd have to remove the `LineLength:Max` from `.rubocop.yml` in the process. That could be regarded as a bit heavy-handed.

I think the current solution is the best that we can do for the time being, without rethinking lar

[2018-01-09 21:05] johnnyshields opened #5426 "Rails/InverseOf should allow explicit inverse_of: nil"
Using Rubocop 0.52. This should be accepted by the cop:

[code]

[2018-01-10 08:08] bquorning opened #5429 "Layout/Tab ignores tabs that are not indentation"
It seems that Layout/Tab will only report on tabs when they are part of a line’s indentation – although [the documentation](http://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Layout/Tab) says that “this cop checks for tabs inside the source code.”

# This cop checks for tabs inside the source code.

## Expected behavior

In my test file, there is a tab between `puts` and `42`, which I expect Layout/