[2019-04-12 03:13] Drenmi commented on #6920
While the core team may individually have opinions on style, the RuboCop core team doesn't. We are just concerned with building the linter. Ruby is a long standing language, and people are already quite cemented in their opinions of style. Trying to have an official stance inevitably leads to a lot of bike shedding, and people opening issues to forcefully promote their own preferred style, which i

[2019-04-12 03:24] Drenmi commented on #6925
Hi, @rlue!

We do have a feature that lets you generate a TODO list:

[code]

This is not perfect though. There is no way for us to reliably tell what's "new code" and not, and so it works by exclusion of the cop on a file-by-file basis. Then you can go ahead to "fix" one file at a time, or one cop at a time, or one cop and file at a time, depending what makes more sense for your project.

Another

[2019-04-12 03:24] #6925 closed

[2019-04-12 09:31] olegantonyan commented on #6888
Yet another case when this happens
[code]
in `app/models` directory

[2019-04-12 09:41] rlue commented on #6920
Super cool! I'll take a peek at what it takes to build a cop one of these weekends, just to see if I can contribute here myself. Thanks!

[2019-04-12 13:33] rrosenblum commented on #6915
Thanks for submitting the issue. I have confirmed that this is a bug. The same issue would occur with `return` and `next` as well. It should be a straight forward fix, but I haven't dug through that code in a while.

[2019-04-12 15:49] bosunolanrewaju commented on #6888
The error was introduced in *v0.67.2*. Had to downgrade to *v0.65.0* for now

[2019-04-12 16:29] dduugg opened #6926 "Cannot unset default InverseMethods in Style/InverseMethods"
The default setting of `Style/InverseMethods` includes:
[code]
I would like to unset the `:<` and `:>` entries, as the inverse methods are not correct when comparing classes, e.g.
[code]
is not equivalent to
[code]
In reading https://github.com/rubocop-hq/rubocop/issues/4289 as well as https://github.com/rubocop-hq/rubocop/blob/master/manual/configuration.md#inheritance-of-hashes-vs-other-types my

[2019-04-12 16:35] dduugg commented on #6860
In case useful, a more minimal repro:
[code]
is autocorrected to
[code]
using rubocop defaults

[2019-04-13 08:45] bbatsov commented on #6888
You could have also just disabled the problematic check. I guess we should suggest this workaround in the error message or something like this.

[2019-04-14 07:12] vfonic commented on #6878
Bump! Any thoughts? Am I overthinking this?

[2019-04-14 07:13] vfonic commented on #6898
Bump! Any pair of eyes want to check this out? Thank you!

[2019-04-14 14:40] bbatsov commented on #6878
You've raised some very good points, but unfortunately I'm crazy busy these days and I don't have time to properly respond. Long-story short - there's a lot of inconsistencies all over the project and I'd definitely would like to reduce those before 1.0. We should certainly improve the configuration validation, no argument from me.

As for `rubocop-rails` - it's a WIP project right now, that's sch

[2019-04-14 14:41] bbatsov commented on #6898
See https://github.com/rubocop-hq/rubocop/pull/6889

[2019-04-14 14:41] #6920 closed

[2019-04-14 15:09] deivid-rodriguez opened #6931 "`Layout/AccessModifierIndentation` should only apply to bare access modifiers"
## Expected behavior

I would expect the `Layout/AccessModifierIndentation` cop to only apply to bare access modifiers (that do not apply to a specific method like `private :foo`). I think my expectation comes from the experience of having never seen code following the recommendation this cop makes for these modifiers when using the `outdent` style. But also because otherwise, it makes it impossib

[2019-04-14 15:10] deivid-rodriguez commented on #6931
I have already coded the fix for this, but I wanted to open an issue in case a different solution is preferred.

[2019-04-15 04:08] ribose-jeffreylau opened #6934 "Extraneous space characters inserted with alignment of equal signs turned on, with an if-block"
Extra space characters are inserted when force-aligning equal signs, with if-unless-modifier disabled.  Example input:

[code]

The above code block showcases an assignment of an if-block, inside which there's another assignment.

### Possibly related issues:

* https://github.com/rubocop-hq/rubocop/issues/5265
* https://github.com/rubocop-hq/rubocop/issues/6069
* https://github.com/rubocop-hq/rub

[2019-04-15 04:20] Drenmi commented on #6934
This is reproducible on latest `master`. The corruption happens because an infinite correction loop between `Layout/ExtraSpacing` and `Layout/IndentationWidth`. The loop eventually terminates after a configured number of iterations, leaving the code far off to the right.

[2019-04-15 08:38] vfonic commented on #6898
@bbatsov I can't seem to find the connection with that PR and this issue?

Is it this line mentioning adding `ActiveRecord::Base`?
https://github.com/rubocop-hq/rubocop/pull/6889#discussion_r272660253

This is a different cop than the one in linked PR.

Or are you trying to say that most of the rails cops could be marked as unsafe, so your decision is to not mark them for such "edge cases"? :)

[2019-04-15 08:47] vfonic commented on #6878
@bbatsov Thank you very much for your time and work! ❤️

I just wanted to raise some points about some difficulties when using the library. I see that you are aware of these issues, so don't spend too much time answering to me. 👍
I think the best is to close this issue for now. I'm looking forward to v1.0!

[2019-04-15 08:48] #6878 closed

[2019-04-15 19:16] jfelchner opened #6936 "Layout/MultilineMethodArgumentLineBreaks False Positive On Multiline Assignment"
This is a pretty major bug.  The `Layout/MultilineMethodArgumentLineBreaks` cop is throwing errors when an assignment spans multiple lines.  I'm assuming because it sees the assignment operator as a "method" (which it technically is but should not be treated like a method call for the purposes of this cop).

Original PR: #6826

/cc @maxh

--------

## Expected behavior

The following code should n

[2019-04-15 19:24] jfelchner opened #6937 "Style/BlockDelimiters Conflicts with Style/MethodCalledOnDoEndBlock When Using &."
There's a circular error when `Style/BlockDelimiters` and `Style/MethodCalledOnDoEndBlock` are both configured where one wants `do/end` while the other wants curly braces.

This is only an issue when the chained method uses `&.`.  If the method is chained via the usual `.`, everything is fine.

--------

## Expected behavior

The two cops should agree.

## Actual behavior

The two cops do not agre

[2019-04-15 19:25] jfelchner commented on #6937
BTW, this seems to be a regression.  This wasn't an issue before I upgraded but not sure what the prior version was.

[2019-04-16 09:36] Ana06 commented on #3264
@gabeodess

Well, it will still be disabled in potentially 800 files of your codebase. I guess the idea was to avoid that the todo file gets huge. In addition, if you have 800 files with offenses, allowing to add a few more doesn't seem to be such important.

[2019-04-16 10:40] dawidof opened #6938 "uninitialized constant RuboCop::AST::Parser"
Trying to execute `rubocop -a` or `rubocop -V` or `bundle exec rubocop -V`

Receiving an error
[code]

[2019-04-16 12:16] koic commented on #6938
I didn't know [ruby_executable_hooks](https://github.com/rvm/executable-hooks). So I'm not sure if it would be a hint... How about updating the latest RubyGems with `gem update --system`?

[2019-04-16 12:19] zverok opened #6939 "Problem in Gemfile-less folder"
In a small folder with only one file (even empty one), attempt to run `rubocop file.rb` now leads to:
[code]
The problem is here: https://github.com/rubocop-hq/rubocop/blob/master/exe/rubocop#L12
Rubocop assumes that if the `Bundler` constant is defined, it should be able to load a Gemfile. It proves to be generally wrong, at least on my system, `Bundler` constant gets defined in RubyGem's `ruby_e

[2019-04-16 12:50] gabeodess commented on #3264
Got it, thanks!

[2019-04-16 18:02] AlexWayfer commented on #5659
It seems like there is regression with original example and:

[code]

[2019-04-16 18:14] AlexWayfer opened #6940 "Add `beggining_when_superclass_breaks_line` style for `EmptyLinesAroundClassBody` cop"
## Is your feature request related to a problem? Please describe.

I have some long-named classes with inheritance and body, like:

[code]

And I want to separate multi-line inheritance from class body. But I'm getting an offense from `EmptyLinesAroundClassBody` cop.

## Describe the solution you'd like

I see many existing styles for `EmptyLinesAroundClassBody` cop. Maybe there can be one more, l

[2019-04-16 20:33] mikegee commented on #6381
Since you mention "dynamic attributes" I think you're referring to the [`FactoryBot/AttributeDefinedStatically` cop](https://github.com/rubocop-hq/rubocop-rspec/pull/666). Does the documentation at https://thoughtbot.com/blog/deprecating-static-attributes-in-factory_bot-4-11 help resolve your problem?

[2019-04-17 08:27] ghiculescu opened #6943 "Rails/ActiveRecordOverride crashing on modules"
`Rails/ActiveRecordOverride` crashes on the following code:

[code]

[code]

Note that it does not crash if the module only contains 1 method.

This is the same root cause as https://github.com/rubocop-hq/rubocop/issues/6888 but I logged it separately as it impacts modules, which IMO this cop shouldn't check.

--------

## Expected behavior

Don't crash, but record a lint error.

## Actual behavio

[2019-04-17 09:03] koic commented on #6939
Thanks for the feedback. I opened a PR #6939.

[2019-04-17 09:11] koic commented on #6938
Or maybe it is related to #6939.

[2019-04-17 09:16] bbatsov opened #6945 "Drop support for Ruby 2.2 and 2.3"
Both of them reached their EOL already and according to our official support policy we don't need to support them anymore.

I don't have a strong take on this, but I'd rather remove them mostly to speed up the test suite. The final decision will also depend on how widely 2.2 and 2.3 are still used in the wild, of course. @rubocop-hq/rubocop-core Any thoughts on this?

[2019-04-17 09:41] Darhazer commented on #6945
I would vote for dropping 2.2. The same discussion applies as with [dropping support for 2.1](https://github.com/rubocop-hq/rubocop/pull/5990) - dropping from the runtime but preserving the parsing support.
2.3 got its EOL recently and we may give users some more time to switch. Let's drop just 1 version at a time.

According to JetBrains stats, [2.2 was used by 20% of developers in 2017](https://

[2019-04-17 09:43] dawidof commented on #6938
@koic removing `gem 'rubocop-performance'` from Gemfile solved the issue.
Thanks for your help

[2019-04-17 09:52] bbatsov commented on #6945
Hmm, that's interesting. Even 8% seems like a lot to me, but I guess we can drop 2.2 if no one objects strongly to this.

[2019-04-17 09:55] #6939 closed

[2019-04-17 12:55] #6926 closed

[2019-04-17 12:55] pirj commented on #6945
I'd be interested in seeing the statistics of Ruby version used for the latest RuboCop gem versions.

This might give a better insight into how many people will get upset that they are unable to update RuboCop without updating the Ruby version.

In the case when the users of newer versions of RuboCop mostly also prefer newer Ruby versions, I don't see a good reason not to drop support for both 2.2

[2019-04-17 21:19] andreasklinger commented on #6943
Same error
[code]

[2019-04-17 21:27] andreasklinger commented on #6943
happens on all rubocop version - seems to be the cop itself

i didn't look into this properly now but this workaround might help someone landing in this issue
add this to rubocop.yml
[code]

[2019-04-18 07:48] luke-hill commented on #6945
Kind of an obvious point, but the users who are using old rubies (Perhaps for a legacy app or two out of 10-15 apps at a company), are likely to also have old outdated code. And as such, are unlikely to want to run things like rubocop on it that often.

Also given rubocop's popularity as a highly used gem, making it as optimal as possible whilst catering to a large proportion of the userbase I wou

[2019-04-18 08:38] #6888 closed

[2019-04-18 08:46] bbatsov commented on #6945
Well, let's drop 2.2 and see how things go. I don't really expect much of a fallout from this.

[2019-04-18 11:01] bbatsov commented on #6898
Ah, my bad. But yeah - in general most Rails cops are unsafe, as they rely on imprecise heuristics to operate (mostly some naming conventions). At some point we'll have to decide if we want to be strict and make them unsafe explicitly. Probably we should.

[2019-04-18 12:39] tiagotex commented on #6943
I also found the same problem, modules don't have a parent class so

[code]

[2019-04-18 12:54] tiagotex commented on #6943
Well, it seems like this is a duplicate of #6888 and it is already solved on master (#6889) 😄

[2019-04-18 14:40] koic commented on #6945
Ruby is new released on every year, and old version becomes EOL around March.
AFAIK,  When RuboCop dropped support for Ruby 2.0 and Ruby 2.1, it was about a year after EOL.

I think it is a good time to drop Ruby 2.2 by convention since Ruby 2.3 became EOL.
IMO, It would be good to support Ruby 2.3.

[2019-04-18 14:52] #6943 closed

[2019-04-18 23:59] ghiculescu commented on #6943
Thanks for that, any ideas when that’ll be on rubygems?

[2019-04-19 07:14] vfonic commented on #6898
I agree. I'd love to be able to confidently run `--safe-auto-correct` and then, after I commit those autofixes, without even blinking, I can run `--auto-correct` and check all the autofixes one by one to decide which ones are safe and I'll keep. :+1:

This could actually be a suggested way that rubocop can show to users of the tool.

I'll close this issue for now as it's a part of a bigger issue t

[2019-04-19 07:14] #6898 closed

[2019-04-19 10:38] #6778 closed

[2019-04-20 07:14] vfonic opened #6950 "Should Rails/TimeZone be marked as unsafe cop?"
I just spent some time debugging my app trying to figure out why, after the last set of changes, my timezones are all messed up.

I ran `git bisect` which led me to this:

[code]

So, as the commit message states, I only ran `rubocop -DRES --safe-auto-correct`. This introduced a bug in my app that I still didn't track down (due to this command having changed 89 files (with 389 additions and 232 de

[2019-04-20 07:46] #6902 closed

[2019-04-20 14:14] hoshinotsuyoshi commented on #6860
The  comment https://github.com/rubocop-hq/rubocop/issues/6860#issuecomment-482640633 is so helpful to me. thank you!

I believe  that the problem is that `Style/InverseMethods` cop and `Style/Not` cop combination cannot auto-correct such code at once.

file:
[code]

auto-correct:
[code]

corrected badly:
[code]

[2019-04-22 02:36] Drenmi commented on #6945
I've always been a proponent of not supporting old versions. It is really a disservice to enable teams to stay on outdated and unsupported versions. Having popular libraries nudge people along will benefit everyone in the end. Rails does a great job of this (Rails 6 required Ruby 2.5 or higher.)

[2019-04-22 06:47] pirj commented on #6945
Please don't get me wrong, I'm all for dropping support for EOL versions. However, some libraries, e.g. RSpec, do support Ruby 1.8.7 onwards.

[2019-04-22 08:46] #6860 closed

[2019-04-22 10:23] #6931 closed

[2019-04-22 13:19] chucklor commented on #6861
Any updates on this? I'm interested in having 4 spaces indent as well. I wonder if I can simply override it in the .rubocop.yml file. Thank you!

[2019-04-22 22:50] radar opened #6955 "Style/TrailingCommaInArguments works weirdly with heredocs"
Hello, I am experiencing what I would call "weirdness" with `Style/TrailingCommaInArguments` and heredocs.

Here is a short piece of code which raises an offense:

[code]

--------

## Expected behavior

I would expect Rubocop to not raise offences at this code.

## Actual behavior

When I run `rubocop` over this file, I see this offense listed:

[code]

Running `rubocop` with `-a` changes the fir

[2019-04-22 23:15] cllns commented on #6955
Also running into this issue right now. It looks like a duplicate of https://github.com/rubocop-hq/rubocop/issues/6837

[2019-04-22 23:44] radar commented on #6955
Closing this one in favour of #6837.

[2019-04-22 23:44] #6955 closed

[2019-04-23 02:16] rramsden opened #6956 "Style/Lambda with unused argument bug"
### Context

When using `--auto-correct` with a "stabby lambda" function where arguments are unused results in syntactically incorrect code:

[code]

Is autocorrected to the following:

[code]

Which returns the following error when executed:

[code]

--------

## Expected behavior

Should not inject `_` arguments into lambda e.g. `lambda(_)` this is not allowed in Ruby. The result should be the f

[2019-04-23 10:10] koic commented on #6956
Thanks for your feedback. I opened a PR #6958.

[2019-04-23 10:48] #6956 closed

[2019-04-23 20:45] matkoniecz commented on #6630
I tried

[code]

in my config file. I still got

`# TODO: HACK why some horrible problem should be fixed`

[2019-04-23 20:49] matkoniecz commented on #6950
Given that this cop may (will?) change what data returned by code it certainly should be marked as am unsafe.

[2019-04-24 02:57] #6915 closed

[2019-04-24 16:33] bbatsov commented on #6950
Let's mark it as unsafe.

[2019-04-24 16:48] brodao opened #6961 "An error occurred while SketchupSuggestions/Compatibility cop was inspecting file"
The attached file raise error.

  [exec] An error occurred while SketchupSuggestions/Compatibility cop was inspecting W:/brodao/ws_ruby/pulley/src/actools_su/support.rb:31:8.
     [exec] An error occurred while SketchupSuggestions/Compatibility cop was inspecting W:/brodao/ws_ruby/pulley/src/actools_su/support.rb:31:41.
     [exec] An error occurred while SketchupSuggestions/Compatibility cop was

[2019-04-24 18:34] marcandre opened #6962 "Layout/ClassStructure bad autocorrection"
I'm expecting RuboCop to always produce equivalent code when autocorrecting.

Layout/ClassStructure cop autocorrects badly

[code]

I believe that autocorrection should be disabled unless the constant is set to an independent literal (e.g. `CONSTANT = 42`). Even then, the way the code is currently moved around is wrong, like this HEREDOC case shows:

[code]

[code]

[2019-04-24 18:49] marcandre opened #6963 "Lint/Void cop false positive"
It is the case that `#each` ignores the result of the block for `Array`, `Range` and `Enumerable` and thus creates a void context, `Enumerator#each` does not ignore the result of the block.

[code]

I believe that [this cop](https://github.com/rubocop-hq/rubocop/blob/v0.67.2/spec/rubocop/cop/lint/void_spec.rb#L183-L190) is thus overly strict, at least unless the receiver is an array/range literal

[2019-04-24 19:03] marcandre opened #6964 "Metrics/LineLength should ignore rubocop comments"
I believe the `Metrics/LineLength` cop should ignore `# rubocop: disable` comments, or at least those that end with `# rubocop: disable Metrics/LineLength`.

Otherwise we get a catch-22 where the "solutions" are all worse than the "problems"

Example:

[code]

[2019-04-24 19:43] marcandre commented on #6841
Description edited to match #6965

[2019-04-24 20:25] pirj commented on #6945
Diversity across used RuboCop versions being in use is noticeable.

Version | Downloads per week
--- | ---
0.67.2 | 73411
0.66.0 | 25066
0.64.0 | 45369
0.58.2 | 25442+
0.54.0 | 29335+
0.49.1 | 29955

[2019-04-24 22:59] hoshinotsuyoshi commented on #6822
@rrosenblum

I think that there is no need to treat `#gsub`, any methods, or `\<number>` specially.

The problem is that auto-correcting results in wrong value replacing; like `"\\2"` -> `"\2"`.

---

I think that [RuboCop::Cop::Util#escape_string](https://github.com/rubocop-hq/rubocop/blob/v0.67.2/lib/rubocop/cop/util.rb#L76-L78) will fit to fix that...

[code]

I will investigate later.

Escapin

[2019-04-25 02:49] koic commented on #6961
`SketchupSuggestions/Compatibility` cop is not a RuboCop core's cop.
https://github.com/SketchUp/rubocop-sketchup/blob/master/lib/rubocop/sketchup/cop/suggestions/compatibility.rb

Can you please report to https://github.com/SketchUp/rubocop-sketchup repo?
Thank you.

[2019-04-25 02:49] #6961 closed

[2019-04-25 06:11] vfonic commented on #6950
I created a PR that marks it as unsafe: https://github.com/rubocop-hq/rubocop/pull/6966

[2019-04-25 07:25] deivid-rodriguez commented on #6964
There's a `IgnoreCopDirectives` configuration for this cop that does just this.

[2019-04-25 07:31] deivid-rodriguez opened #6967 "Add more configurations to `Style/MethodCallWithArgsParentheses`"
## Is your feature request related to a problem? Please describe.

This cop is very useful, but particularly hard to enable because there are usually many exceptions where you don't want it.

## Describe the solution you'd like

I'd like a bit more flexibility when configuring it. For example,

* [x] An `IgnoredMethodPatterns` configuration so that one can do things like:

[code]

    Done in #703

[2019-04-25 07:46] marcandre commented on #6964
I'm personally not using this cop, just fighting with it when playing with rubocop's own code.

I think rubocop is using it's own defaults, right? Maybe the default could be changed?

[2019-04-25 07:55] deivid-rodriguez commented on #6964
Me neither, I never use this cop. I just saw the configuration by chance while playing around with rubocop's source and thought it could be useful here.

Not exactly, it tweaks them a bit: https://github.com/rubocop-hq/rubocop/blob/master/.rubocop.yml, but yeah, the default should probably be changed since I'm guessing this problem affects most people using this cop?

[2019-04-25 09:53] bquorning commented on #6912
I think this is a duplicate of #6907.

[2019-04-25 10:03] #6950 closed

[2019-04-25 10:04] #6841 closed

[2019-04-25 16:31] vfonic opened #6968 "Ruby 2.6: CollectionMethods `filter` => `select`? `select` => `filter`?"
## Is your feature request related to a problem?

I just found out that ruby 2.6 (oh man I live in the past) introduced `Enumerable#filter` method.
https://ruby-doc.org/core-2.6.3/Enumerable.html#method-i-filter

Should this be added to CollectionMethods cop?
What should the preferred mapping be?

https://github.com/rubocop-hq/ruby-style-guide#map-find-select-reduce-size

## Describe the solution

[2019-04-25 17:34] bbatsov commented on #6968
Yep, I agree that going forward we should prefer `filter`. I was actually one of the people who campaigned for the new alias to be added. We should update the style guide as well, but the wording there should be - `select` for older Rubies and `filter` for 2.6+.

[2019-04-25 17:38] vfonic commented on #6968
Agreed!

We can use "target ruby version" to differentiate between < 2.6 and >= 2.6.
I'll have a look at how other cops did it and try to make a pull-request by the EOW.

[2019-04-25 19:21] rrosenblum commented on #6913
This is a duplicate of #3071. Essentially, this is likely an issue with `cancancan` not implementing `to_proc` properly. It might be able to fix this issue inside of `cancancan`. It looks like the previous solution was to mark auto-correction for this cop as unsafe. I don't think there is anything else that we can do to account for this in RuboCop.

[2019-04-25 20:12] vfonic commented on #6968
I want to check if I'm on the right track.

I figured it would be way easier to simply create a new cop...until the support for ruby < 2.6 is dropped. (that will take a while)

Here's what I have so far (specs are c/p from `collection_methods_spec.rb`):
https://github.com/vfonic/rubocop/commit/107e78f4e5bb22ed5d37c5225d0ac0a174b6be0e

Pay special attention to this line: https://github.com/vfonic/r

[2019-04-25 21:13] andreasklinger opened #6969 "Style/InverseMethods not being safe in auto-correct"
## Expected behavior
running Style/InverseMethods should consider return arguments of next statements

## Actual behavior

it did change it to a result that's not the same

## Steps to reproduce the problem

Simplified example:

[code]

gets autocorrected to
[code]

Which is not the same result:

Console:
[code]

## RuboCop version

[code]

[2019-04-26 01:54] Drenmi commented on #6969
Thanks for the report!

It is likely better if we don't register an offense at all if there's a `next` present.

[2019-04-26 02:04] Drenmi commented on #6968
Huh. That's interesting. I think `#filter` is much worse no matter how you look at it. 🤔

The only prerequisite for `#select` and `#reject` to make intuitive sense is knowing some English. On the contrary, to intuitively grasp `#filter`, you need to know some other programming language. Why pander to other languages when Ruby already has a better option? 🙂

Filter is a horribly bad name in those o

[2019-04-26 02:05] #6912 closed

[2019-04-26 02:10] Drenmi commented on #6913
Yes. This crops up all the time, because Rails does some unconventional handling in Rails. I marked the cop as unsafe for autocorrect in 0.64 (#6730).

[2019-04-26 02:10] #6913 closed

[2019-04-26 04:27] hoshinotsuyoshi commented on #6822
Sorry, I found that it breaks other behaviors.  😭

Forget that...

<details><summary>memo:</summary>

[code]

now latest rubocop (v0.67.2) auto-corrects to that

[code]

but using `RuboCop::Cop::Util#escape_string` breaks this:

[code]

</details>

[2019-04-26 04:35] hoshinotsuyoshi commented on #6822
But I believe that the current behavior below is simply a bug.

[code]

rubocop (v0.67.2) corrects

[code]

results in:

[code]

[2019-04-26 05:15] vfonic commented on #6968
@Drenmi those are some great points!

You're right, `#filter` might sound like it's supposed to "filter out" some items.

I'm not a fan of `#select` because, although it sounds understandable in English, it doesn't always sound so clear in the context in which it is being used.
For example, it took me quite a while to finally remember/realize that `#select` is not an Active Record method, when que

[2019-04-26 08:57] luke-hill opened #6972 "False Failure: Style/MixinUsage: include is used at the top level. Use inside class or module."
## Expected behavior

rubocop doesn't throw any failures for the code snippet below

## Actual behavior

rubocop throws 1 failure
[code]
## Steps to reproduce the problem

[code]

## RuboCop version

[code]

The issue is the `if` statement. As you can see when running this that the include `Spec::Matchers` line doesn't complain.

[2019-04-26 13:00] #6781 closed

[2019-04-26 13:49] okuramasafumi commented on #6739
I'm closing issue since no one reports this problem.
If someone finds this issue a problem, please let me know.

[2019-04-26 13:49] #6739 closed

[2019-04-26 14:43] AlexWayfer opened #6974 "`FirstMethodArgumentLineBreak` cop doesn't work for `super`"
Hello!

I've noticed that `FirstMethodArgumentLineBreak` cop doesn't work for `super` call.

--------

## Expected behavior

Offenses from `FirstMethodArgumentLineBreak` cop about code with `super`.

## Actual behavior

There are no offenses.

## Steps to reproduce the problem

[code]

## RuboCop version

Include the output of `rubocop -V` or `bundle exec rubocop -V` if using Bundler. Here's an ex

[2019-04-26 16:07] koic commented on #6974
Thanks for your feedback. I opened a PR #6976.

[2019-04-26 16:50] AlexWayfer commented on #6974
Thank you for the work and help!

[2019-04-26 17:25] net1957 opened #6977 "Crash on class including ActiveModel::Model on valid? method"
## Expected behavior

Rubocop should not fail

## Actual behavior

[code]
I have duplicated my class to a simplified one that give the same error: fail on valid?

the test.rb file:
[code]

the trace:
[code]

## Steps to reproduce the problem

Use the latest rubocop version. previous versions did not fail at this code

## RuboCop version

[code]
Rails is 5.2.3

[2019-04-26 20:14] andreasklinger commented on #6969
@Drenmi i think that's a fair approach 🙌

[2019-04-26 21:49] andreasklinger opened #6978 "Style/SymbolProc causes problems in auto-correct"
## Steps to reproduce the problem

[code]
[code]
[code]
i am not 100% sure if this is actually incorrect transformation or a bug in a related lib - wanted to report to make sure

received this runtime errors when related code ran
[code]

## RuboCop version

[code]

[2019-04-26 22:42] koic commented on #6977
This issue is the same as #6888 and #6943 and resolved at #6889. It will be included in the next release RuboCop 0.68.

[2019-04-26 22:42] #6977 closed

[2019-04-26 22:59] koic commented on #6978
Yes. `Style/SymbolProc` cop has been marked as unsafe for auto-correct.
cf. #6913.

A solution is to use `--safe-auto-correct` option.

[code]

https://github.com/rubocop-hq/rubocop/blob/v0.67.2/manual/auto_correct.md#safe-auto-correct

[2019-04-26 22:59] #6978 closed

[2019-04-27 01:29] andreasklinger commented on #6978
I would not have expected that

I highly recommend making auto-correct safe by default and introduce an
--aggressive-auto-correct

On Fri, Apr 26, 2019, 15:59 Koichi ITO <notifications@github.com> wrote:

[2019-04-27 07:28] fig opened #6980 "Style/StringHashKeys is not safe for autocorrection"
I don't believe that `Style/StringHashKeys` should be labeled as safe for autocorrection.

As an example, a Hash may be passed as the second argument to `String#gsub`. If the matched text is one of its keys, the corresponding value is the replacement string. Converting the String key to a Symbol will break the replacement.

--------

## Steps to reproduce the problem

example scenario:

[code]
aft

[2019-04-27 15:19] #6974 closed

[2019-04-27 18:37] bbatsov commented on #5979
@Darhazer would you be able to tackle this anytime soon or should we find someone else from @rubocop/rubocop-core to work on it? It's one of the most important tasks on the way to RuboCop 1.0 and since it's not a big task it'd be nice if we wrapped it up in the next couple of releases.

[2019-04-28 03:33] yakout opened #6985 "Incorrect auto-correct Lint/LiteralInInterpolation if contains array percent literals"
I have found that rubocop incorrectly fixes the `LiteralInInterpolation` when there is a percent literal.

This bug causes the Ruby program behave different between before/after being fixed by rubocop's auto-correct.

--------

## Expected behavior
[code]
## Actual behavior

[code]
## Steps to reproduce the problem

[code]

## RuboCop version

[code]

[2019-04-29 06:07] #6985 closed

[2019-04-29 13:49] #6822 closed

[2019-04-29 14:21] patrick-gleeson commented on #6822
@hoshinotsuyoshi you are a true pillar of the community. Thank you for fixing this!

[2019-04-29 14:30] Ana06 opened #6991 "Rake task for auto_gen_config"
We have already a rake task for running RuboCop and for auto-correcting RuboCop offenses. I propose to add another one to generate the todo file.

In this way, this task:

[code]

would generate:

[code]

Currently, to achieve something like that, I would have to write:

[code]

[2019-04-29 15:34] NoahTheDuke opened #6992 "Layout/IndentFirstParameter crashing on method definition"
`Layout/IndentFirstParameter` crashes on the following code:
[code]

[code]
--------

## Expected behavior

Don't crash, potentially throw a linting error.

## Actual behavior

Crashes.

## Steps to reproduce the problem

See code above.

## RuboCop version

[code]

[2019-04-29 16:36] mensfeld commented on #6992
Can confirm. Same on my side.

[2019-04-29 17:09] TheDeepestSpace commented on #3591
Same problem with assignments in `map` or `each`:
[code]
This code results with:
[code]
(the first offense is dropped if using something like `e = e == 42 ? 0 : e`)

0.67.2 (using Parser 2.6.2.0, running on ruby 2.5.1 x86_64-linux)

[2019-04-29 17:49] bbatsov commented on #6992
@maxh Can you take a look? Seems we'll need to do a quick bugfix release for this.

[2019-04-29 18:19] erikjenks commented on #6992
Can confirm seeing this with `ruby 2.6.0` as well

[2019-04-29 19:39] mikegee commented on #3591
@TheDeepestSpace I don't think Rubocop is wrong to complain about your example. This code behaves exactly the same as your example:

[code]
In both examples, `a` becomes `[42, 42, 42, 42]` and `e` is undefined outside the block.

[2019-04-29 20:09] TheDeepestSpace commented on #3591
Good catch, @mikegee. Thanks for the clarification.

[2019-04-29 20:55] Darhazer commented on #6992
The EnforcedStyle should be set to either `consistent` or `align_parentheses`.
Might be used as a workaround (set EnforcedStyle for the cop in .rubocop.yml) until a new version is released

[2019-04-29 21:03] bquorning opened #6996 "False positive for Style/RedundantFreeze"
Since #6784, an input like `('a' * 20).freeze` would cause Style/RedundantFreeze to say the `freeze` was not necessary. Since the parenthesised expression produces a mutable string, the `freeze` call is indeed necessary.

--------

## Expected behavior

Freezing the result of `('a' * 20)` should be ok.

## Actual behavior

Freezing the result of `('a' * 20)` makes Style/RedundantFreeze to say the

[2019-04-29 21:32] Darhazer commented on #5979
Sure. I'll do it in the next couple of weeks.
What about the wording? Something along the lines of
[code]
Also, since it would require copy/pasting cop names to the .rubocop.yml, perhaps a rake task to enable/disable a cop /all non-configured cops/ would be useful?

[2019-04-29 22:04] #6996 closed

[2019-04-29 23:17] phene commented on #6992
Neither `consistent` nor `align_parentheses` enforces the style used in the example. I ended up disabling it until it's fixed.

[2019-04-29 23:58] koic commented on #6972
@Darhazer I opened a PR #7000. Would you please review the PR?

[2019-04-30 05:59] #6992 closed

[2019-04-30 07:41] #6972 closed

[2019-04-30 08:55] celsworth opened #7004 "ConvertTry produces invalid Ruby"
*Be clear, concise and precise in your description of the problem.
Open an issue with a descriptive title and a summary in grammatically correct,
complete sentences.*

*Use the template below when reporting bugs. Please, make sure that
you're running the latest stable RuboCop and that the problem you're reporting
hasn't been reported (and potentially fixed) already.*

*Before filing the ticket you

[2019-04-30 09:18] Darhazer commented on #7004
It's a conflict between `Style/RedundantSelf`, which removes the `self` and `Rails/SafeNavigation`, which converts the `try`.

[2019-04-30 09:28] hoshinotsuyoshi commented on #6738
smaller example:

[code]

auto-corrects badly;

[code]

( in rubocop.yml, `TargetRubyVersion: 2.3` needed(2.3 or higher version). )

----

### when `--only Style/SafeNavigation`

[code]

### when `--only Style/Next`

[code]

----

### $ rubocop -V

[code]

[2019-04-30 19:44] #6738 closed

[2019-05-01 02:10] hoshinotsuyoshi commented on #5154
In 1st-3rd examples, I found that setting `Layout/BlockAlignment`  `EnforcedStyleAlignWith: start_of_block` may enforce 1st style. ⭐️

(Personally, I have not use this setting ever, but this seems so convenient that I will use it in my workplace project ... 😃 )

[code]

----

## demo

### $ cat a.rb

[code]

### $ cat .rubocop.yml

[code]

### $ rubocop -a a.rb

[code]

### $ cat a.rb

[code]

###

[2019-05-01 05:18] #6937 closed

[2019-05-01 12:17] christophweegen opened #7011 "Wrong indentation of end keyword"
[code]

When writing the following code

[code]

I would expect the code to look like this after running Rubocop:

[code]

Instead nothing changes. The wrong indentation of the "end" keyword of the "bar" method stays at the same position.

Rubocop is running. Other offenses get corrected.

Is this expected behaviour?

Thanks!

[2019-05-01 12:34] bbatsov commented on #7011
If I recall correctly that particular autocorrect is disabled by default, as customary for Lint cops.

[2019-05-01 12:38] christophweegen commented on #7011
@bbatsov thank you very much for the fast reply :nerd_face:

Could you maybe provide a link to the docs where to enable it?

Thanks!

[2019-05-01 12:46] bbatsov commented on #7011
Seems it's this one http://www.rubocop.org/en/latest/cops_layout/#layoutdefendalignment And my bad - it's not a lint cop. Not sure why we disabled the auto-correct then.

[2019-05-01 13:13] christophweegen commented on #7011
Shouldn't it be the default "align with def" and also be auto-corrected?

Actually never seen Ruby code like this:

[code]
isnt' the convention to write the `private` keyword on it's own line?

Like this ( and usually indenting the following private methods):

[code]

What's your opinion about that? Are there any reasons why Rubocop doesn't handle it this way?

Thanks!

[2019-05-01 13:35] bbatsov commented on #7011
The examples are a bit misleading, as they cover only the difference in the two alignment styles in the presence of some macro before the `def`. In the absence of modifiers it will just align with the `def`.

[2019-05-01 14:03] christophweegen commented on #7011
Ah ok I understand. So you got no idea why the auto-correct is disabled by default then?

Aligning end with def (or another element) is always wanted I and doesn't alter anything in the code's semantics so it's always safe I guess...

[2019-05-01 20:00] Darhazer commented on #6812
This issue is the same as #6738 and it's fixed in Rubocop 0.68.1

[2019-05-01 20:00] #6812 closed

[2019-05-01 21:08] Floppy opened #7014 "Add an alias from FirstParameterIndentation to IndentFirstParameter"
The change in https://github.com/rubocop-hq/rubocop/pull/6982 breaks compatibility with older rubocop versions by removing the old name in the same version update as the new one is added. Adding an alias (with deprecation warning) for the old name temporarily would help people to migrate in a gentler fashion.

It would also allow shared config gems like https://github.com/toshimaru/rubocop-rails_c

[2019-05-01 21:28] bbatsov commented on #7014
We currently don't have a concept of aliases. I've been thinking about this for a while, but getting this right would be tricky.

[2019-05-02 06:34] bbatsov commented on #7011
Likely it's because we moved the cop around departments. Don't have the time to check this now. Lots have happened and I've started to forget things. :-) I think originally we didn't want to align def automatically because this could mask some logic mistake - when the code was written with the wrong indentation someone believe they were in one scope, but they were actually in a different scope. So

[2019-05-02 07:46] #6900 closed

[2019-05-02 10:47] bbatsov commented on #7014
One more things - that's not a simple rename. The old cop was split in two - one cop handling params (definitions) and one handling arguments (invocations).

[2019-05-02 11:42] Floppy commented on #7014
ah, thanks @bbatsov - I'll update my fix to add both the new halves.

[2019-05-02 15:41] christophweegen commented on #7011
Thanks for the answer, that makes quite a lot of sense to me. No further explanations needed. Just have been curious why decisions were made the way they are. :-) Have a nice day! :-)

[2019-05-02 15:41] #7011 closed

[2019-05-02 20:08] dduugg commented on #6969
Hi, I'd be happy to take fixing this, if no one else is on it already.

[2019-05-03 01:59] hoshinotsuyoshi commented on #6880
I thought that RuboCop::Options#parse need to be fixed, so opened https://github.com/rubocop-hq/rubocop/pull/7015 . 😃

[2019-05-03 11:23] deivid-rodriguez opened #7017 "Improve user configuration defaults"
## Is your feature request related to a problem? Please describe.

As it is implemented, I don't find "user configuration" useful. In my opinion, user configuration is useful _only_ for personal projects that do not have a style. But other than that, I don't really want my personal style to affect the established configuration of a project.

Say my personal style is double quotes. Then my naive ap

[2019-05-03 12:02] stanhu opened #7018 "Unusually high number of getwcwd() calls"
When running `bundle exec rubocop` locally with GitLab (https://gitlab.com/gitlab-org/gitlab-ce), I noticed an usually high number of `getcwd()`calls:

[code]

I think this is partly why it seems Rubocop takes a long time to run.

--------

## Expected behavior

Few `getcwd()` calls.

## Actual behavior

In a span of 10 seconds, I count 53,260 `getcwd()` system calls.

## Steps to reproduce the pr

[2019-05-03 12:27] stanhu commented on #7018
Oh, this might be a GitLab issue. I added this to rubocop.rb:

[code]

And found it was happening here: https://gitlab.com/gitlab-org/gitlab-ce/blob/9f8123d935679582ac4f1487e1dcb559863372cb/rubocop/spec_helpers.rb#L11

[2019-05-03 12:27] #7018 closed

[2019-05-03 13:33] #6880 closed

[2019-05-03 21:11] jbodah commented on #6491
Ruby 2.3 is EOL; closing

[2019-05-03 21:11] #6491 closed

[2019-05-06 10:25] ghiculescu opened #7020 "Lint/UnneededCopDisableDirective removes valid comments"
`Metrics/LineLength` config:

[code]

Code:

[code]

The cop that's disabled in the second string is irrelevant. The point is that we are disabling a cop that *isn't* `Metrics/LineLength`

Run rubocop on this file:

[code]

Cool. Let's autocorrect the issue, `bundle exec rubocop -a test.rb`. Output:

[code]

And the file contents are now:

[code]

Basically, the "a long line" part of the 2nd comme

[2019-05-06 18:20] rrosenblum commented on #6832
Thanks for the bug report.

The reason that only one piece of code was flagged for safe navigation is because all of the sample code contains calls to methods that `nil` implements. Safe navigation only works as a replacement when the method being called is not implemented by `nil`. For example `foo && foo.to_i` cannot be converted to `foo&.to_i`. Assuming `foo` is `nil`, in the first example `nil

[2019-05-06 20:15] jaredbeck commented on #5942
Maybe this can be closed in favor of https://github.com/rubocop-hq/rubocop/issues/6495?

[2019-05-07 12:42] mediafinger commented on #5833
The intended behavior is misleading. I also did expect `default` or `EnforcedStyle` to influence all literal delimeters. I feels like a bug from my point of view, as I had to add all of them to the config file:

[code]

[2019-05-07 12:51] bpappin commented on #4297
Just and FYI, there was a rule of thumb in the early days of TDD and agile, called the rule of 10: 10 methods per class, 10 lines of code per method, etc.

It came out of a desire to make code more maintainable, and more testable at a time when the monolithic class/function was usually what you were going to find when you inherited some codebase. It was used as a guideline for when you should refa

[2019-05-07 12:56] bpappin commented on #4297
Not exactly what I was looking for, but here is a ref to the 10 lines idea:
https://sourcemaking.com/refactoring/smells/bloaters

[2019-05-07 15:21] movermeyer opened #7022 "Style/RegexpLiteral autocorrects `{` to unterminated literal `%r{{}`"
Autocorrect for `Style/RegexpLiteral` with `EnforcedStyle: percent_r` produces invalid regex literals when the regex contains `{`  or `}` characters.

--------

## Expected behavior

Autocorrect for `Style/RegexpLiteral` with `EnforcedStyle: percent_r` would always produce valid regex literals.

ie. `MY_REGEX = /{/` gets changed to `MY_REGEX = %r{\{}`
ie. `MY_REGEX = /}/` gets changed to `MY_REGEX

[2019-05-07 17:28] dduugg opened #7023 "Autocorrection for `Lint/NumberConversion`"
## Is your feature request related to a problem? Please describe.

`Lint/NumberConversion` flags autocorrectable violations, e.g.

[code]

## Describe the solution you'd like

I would like the option to have rubocop autocorrect with the suggested fix. (This of course would be accompanied by a `SafeAutoCorrect: false` default config.)

## Describe alternatives you've considered

Manual autocorrecti

[2019-05-07 19:10] stanhu opened #7024 "Make it possible to load configuration and run CLI for different files"
haml-lint does the following:

1. Parses each HAML file in its path
2. Strips the relevant Ruby code
3. Runs `Rubocop::CLI#run` repeatedly on each file.

This leads to a lot of I/O required to reload `.rubocop.yml` (and its parent files) each time. For thousands of HAML files, this slows things down considerably Could we consider splitting the functionality so that the CLI implementation does the

[2019-05-08 08:23] koic commented on #6945
Sure. I opened a PR #7026.

[2019-05-08 10:45] #6945 closed

[2019-05-08 10:47] clive-hetzner commented on #4213
I too am getting this on ruby 2.5.1, but only on Linux and not on OSX(darwin) The same code in our project, produces rubocop failures only on the linux dev machines and the CI (linux) - but not on mac osx machines.

[2019-05-08 10:50] clive-hetzner commented on #4213
[code]

[2019-05-08 11:30] AlexWayfer opened #7028 "Except multi-line conditions for `RedundantParentheses`"
## Is your feature request related to a problem? Please describe.

I want to wrap multi-line condition into parentheses.

## Describe the solution you'd like

Except multi-line conditions for `RedundantParentheses`.

## Describe alternatives you've considered

* Alignment of additional lines of condition to the first line.
* Move condition to the next line after keyword.

## Additional context

I

[2019-05-08 20:21] drbrain commented on #5866
Are any of the contributors going to come back and look at this?

[2019-05-08 21:09] searls commented on #6498
I believe this is still an issue and should be left open

[2019-05-08 21:10] searls commented on #6446
I think this is still a good idea, but StandardRB would no longer need it ¯\_(ツ)_/¯

[2019-05-08 21:36] localhostdotdev opened #7029 "Style/Attr is broken when an "attr" method is defined"
if I have a method called `attr`, e.g. `attr(*args, &block)` or something like that then it breaks this cop.

--------

## Expected behavior

maybe it could only inspect classes/modules body?

## Actual behavior

inspects methods body

## Steps to reproduce the problem

source:

[code]

auto-corrected:

[code]

(not sure how but I also had some `attr_accessor` and `attr_writer` inserted in my code

[2019-05-08 22:58] jeremywadsack commented on #5420
In rubocop 0.68.1 this is still failing.

[2019-05-08 23:02] localhostdotdev commented on #7029
also messes up with `Lint/DuplicateMethods`

[2019-05-09 00:51] drbrain commented on #3697
I rerun the example:

[code]

So I make the suggested change:

[code]

The suggested change creates an error

[2019-05-09 01:12] drbrain commented on #5516
This is still broken:

[code]

[2019-05-09 01:14] #5829 closed

[2019-05-09 01:14] drbrain commented on #5628
Still crashes:

[code]

[2019-05-09 02:23] FranklinYu commented on #6662
This is closed by #6895 IIUC. Thanks!

[2019-05-09 02:23] #6662 closed

[2019-05-09 05:16] rnickmccandless commented on #6896
An example I'm looking for without triggering the rubocop offense is to return a list of directories only (without the included files):

[code]

Currently, I have to disable the cop to get by:
[code]

...this seems like a bug.

[2019-05-09 05:16] marcandre commented on #6726
This should be relatively easy to do now that `<...>` has been implemented, with the same limitations (only one of `...`, `< ...>` or `*/+` per sequence)

[2019-05-09 05:18] marcandre commented on #6842
This would be very easily changed now, to capture the "symbol" of the node type, or raise. Probably best to keep current behavior until someone shows a good usecase for a different solution, so I'm closing this.

[2019-05-09 05:18] #6842 closed

[2019-05-09 05:32] Ana06 commented on #4802
:sob:

[2019-05-09 05:34] Ana06 commented on #4802
BTW, I am not sure if this is more a bug than a feature... :thinking:

[2019-05-09 05:35] Ana06 commented on #4802
BTW, I would say this is more a bug than a feature... :thinking:

[2019-05-09 05:35] Ana06 commented on #4620
@bbatsov

should we add this information to one of those and close this?

[2019-05-09 05:36] rhys-vdw commented on #6729
Is rubocop still being maintained? There's a PR for this issue here but it's being marked as stale? Why mark issues as stale if PRs are going unmerged? https://github.com/rubocop-hq/rubocop/pull/6820

[2019-05-09 05:36] Ana06 commented on #5199
I think this is important and shouldn't be closed (not sure if it still happen in the current master version but it would be worthwhile to doble check)

[2019-05-09 05:41] baweaver commented on #6724
I'll be looking more into this and a few ideas, though I'd noted the any order groupings taking `<>` so I might need to rethink that a bit.

[2019-05-09 06:11] tejasbubane commented on #6844
I think this is handled in https://github.com/rubocop-hq/rubocop/pull/6930 (merged 7 days ago).

Specifically this test case: https://github.com/rubocop-hq/rubocop/blob/a0206c99be17651f0d2941b89ddace2118909fd6/spec/rubocop/cop/rails/time_zone_spec.rb#L90-L95

[2019-05-09 07:09] #6387 closed

[2019-05-09 07:16] bquorning commented on #4719
Removed the `stale` label. This bug is still valid with the most recent version of RuboCop:
[code]

[2019-05-09 07:19] bquorning commented on #6420
@bbatsov I would like to hear your opinion. Is strings continued over multiple lines within the responsibility of RuboCop, or should a separate tool (e.g. rubocop-strings) handle these niche cases?

[2019-05-09 07:39] mvz commented on #6759
@Drenmi any thoughts on this? I suppose I can take a stab at a pull request...

[2019-05-09 07:41] mvz commented on #6410
@bquorning have you been able to find the time to do your experiment?

[2019-05-09 07:46] bquorning commented on #6410
I did a small experiment, but as I recall, the results were inconclusive.

[2019-05-09 07:48] TomasBarry commented on #6245
This is still an issue in Rubocop

[2019-05-09 08:12] rymai commented on #5251
After upgrading `rubocop` and `rubocop-rspec` to `0.68.1` and `1.32.0 respectively, it seems that the bug is still occurring:

[code]

and

[code]

[2019-05-09 08:30] thomthom commented on #5718
I see there has been work done that refer to this issue. Might it be closed? Only thing that makes we wonder if it shouldn't is that AppVeyor appear to only build 2.5?

https://ci.appveyor.com/project/bbatsov/rubocop

[2019-05-09 08:50] rlue commented on #5212
Bump

[2019-05-09 10:24] w0rp commented on #6294
Here is some activity. Don't use bots to close issues automatically. It doesn't make sense, and there's nothing wrong with having a lot of issues open. ALE has 293 open issues. The oldest issue is from February 2017, and it's still valid. Software issues don't go "stale." The concept is ridiculous. They remain until someone feels like resolving them.

[2019-05-09 10:43] mikegee commented on #6294
@w0rp why not comment on whether the issue is still relevant? I think it is resolved.

[2019-05-09 10:44] w0rp commented on #6294
I already asked a question about it on January 30th. Look above.

[2019-05-09 10:46] mikegee commented on #6294
Yeah, the issue I rightly stale because nobody wants to the work. Closing seems appropriate to me.

[2019-05-09 10:46] bbatsov commented on #6294
@w0rp I understand your perspective, but I don't think it makes sense to keep issues open indefinitely if no progress is happening on them. More about this - https://metaredux.com/posts/2019/05/09/always-be-closing.html

[2019-05-09 10:48] w0rp commented on #6294
The philosophy that issues should be closed just because they are old makes no sense at all. Having old issues open doesn't harm anyone. I'd had issues open for years that are later closed when someone finally decides to fix them. You don't have to fix the issues, just leave them open and someone else might submit a patch for them some day.

[2019-05-09 11:00] mensfeld commented on #6893
It's not stale - it's still present.

[2019-05-09 11:16] bbatsov commented on #6893
Yeah, there's a PR that targets it, but it got stuck a while ago. See https://github.com/rubocop-hq/rubocop/pull/6908

[2019-05-09 11:31] tejasbubane commented on #6980
There are existing exceptions in `Style/StringHashKeys` for `IO.popen`, etc. So I added `gsub` and `gsub!` to the list.

[2019-05-09 11:42] promisedlandt commented on #6294
My apologies, as this did not affect me in my job any more, and I have no free time, I did not give it the attention it deserves.
This weekend, I will check whether the problem still exists. If it is fixed, as @mikegee believes, we can close it without philosophical discussion :)

That being said, ALE already used `--stdin` with a parameter when I posted the issue, as is visible in [the issue I li

[2019-05-09 12:08] tejasbubane opened #7032 "rake default should not depend on host system config"
I had some invalid config lying around in my old system in `~/.rubocop.yml`. Running `bundle exec rake default` in [rubocop project](https://github.com/rubocop-hq/rubocop) (before contributing a fix) fails.

--------

## Expected behavior

`rake default` should use its own config rather than depending on host system config. Disabled cops in host system can lead to inconsistent checks in local and

[2019-05-09 12:16] w0rp commented on #6294
ALE doesn't use `--stdin` for fixing files at the moment. I'm waiting for an answer to my previous question, as quoted here.

[2019-05-09 13:03] #5247 closed

[2019-05-09 13:28] rrosenblum commented on #7004
We seem to be getting more and more issues about auto-correction conflicts between cops. I'm starting to think that we need a better way to run auto-correction. Rather than running the corrections back to back, we need some way to check if the source has changed since we registered the offense. If it has, we need to skip auto-correction or recheck the code for an offense/correction.

[2019-05-09 13:37] #6980 closed

[2019-05-09 13:50] deivid-rodriguez commented on #7017
Actually, I just read

https://github.com/rubocop-hq/rubocop/blob/6fe5956c177ca369cfaa70bdf748b70020a56bf4/manual/configuration.md#L26-L54

, and the information in there seems to imply the behavior I'm requesting. So this might be a documentation issue?

In any case, the behavior I'm suggesting (and that might be present) will still mess up projects without explicit configuration that want to fol

[2019-05-09 13:50] #7017 closed

[2019-05-10 02:04] preetpalS commented on #5581
This issue should not be closed since it relates to Rubocop changing the semantics of code.

[2019-05-10 02:39] Drenmi commented on #7004
This is strange. Did we make changes to the correction loop lately? It looks like both cops are attempting to correct the code on the same pass, which is not how it used to work. 🤔

When applying `Rails/SafeNavigation` and then `Style/RedundantSelf` (and the other way around) sequentially, there is no problem.

[2019-05-10 03:01] #6969 closed

[2019-05-10 18:37] jfelchner commented on #5265
This is still an issue.

[2019-05-10 19:15] #6729 closed

[2019-05-10 19:42] natesholland opened #7033 "Error in Layout/EmptyLineAfterGuardClause parsing Ternaries"
I discovered a bug that when you run Rubocop 0.68.1 on a file with the following code it will error:

[code]

This file is about as small as I can make it to reproduce the error.

This is the stack trace it spits out (cleaned my user and rvm stuff out):
[code]

## Expected behavior

I would expect it to not throw an error here.

## Actual behavior

The error above happens.

## Steps to reproduce t

[2019-05-10 19:51] natesholland commented on #7033
It looks like @koic and @bbatsov may have already fixed this in this commit

https://github.com/rubocop-hq/rubocop/commit/4910d514e1#diff-1681d32b641581525ec5917b802ef152R133

But it will need to be released to address this issue.

[2019-05-11 01:43] #6270 closed

[2019-05-11 04:17] koic commented on #7033
Thanks for the feedback. The above commit did not solve it. I opened a PR #7034.

[2019-05-11 08:17] #7033 closed

[2019-05-11 13:24] natesholland commented on #7033
Ahh, yea I should have realized that. Thanks for the fix.

[2019-05-11 17:09] jayqui opened #7035 "Add feature to suspend a rule based on date of a line's commit"
## Is your feature request related to a problem? Please describe.

For a large codebase I'm working with, we are considering introducing a Rubocop rule to discourage a certain behavior, even though the codebase already contains a few hundred violations of the rule we would introduce.

I imagine plenty of teams find themselves in this position.

## Describe the solution you'd like

I'm wondering if

[2019-05-11 19:06] tejasbubane commented on #6779
Created a new cop `Style/NegatedUnless`.

[2019-05-12 06:20] bbatsov commented on #7035
We avoid coupling RuboCop to any external tools like git. Generally `--auto-gen-config` is the way to go in situations like the one you've described.

[2019-05-12 15:25] pocke commented on #6805
Sorry for no response.
It already runs on CircleCI. https://circleci.com/gh/pocke/rubocop-regression-test
RuboCop's Circle CI configuration is really useful for me. Thank you @bquorning

It works, but it has limitations.

* It tests only trick codes.
  * https://github.com/pocke/rubocop-regression-test/blob/6730a980980f75dfa342cb1699345d25f678841f/lib/cli.rb#L2-L18
  * We need to fix existing bugs

[2019-05-12 19:51] promisedlandt commented on #6294
I just double checked, issue still persists.

You are correct of course. It was only used for linting.

Would be good to get a definitive answer from a maintainer, but from what I can see, there is no [formatter](https://github.com/rubocop-hq/rubocop/blob/master/manual/formatters.md) for that.

I have written the dumbest possible custom formatter I could think of to solve this:

[code]

Is this so

[2019-05-13 06:11] #6779 closed

[2019-05-13 09:20] ShockwaveNN commented on #6268
I think I can close this issue
[code]
not cause any related warning in
[code]

[2019-05-13 09:20] #6268 closed

[2019-05-13 09:22] ShockwaveNN commented on #5088
Issue is still actual in original form in
[code]

[2019-05-13 11:51] stoivo commented on #6410
I think I have created a PR where you can allow both key and table at the same time. Take a look at #6649.

The rubocop yaml will look like:
https://github.com/rubocop-hq/rubocop/pull/6649/files#diff-11a0d7906801d9dea0eccb85667ad811

[2019-05-13 15:47] scottmatthewman commented on #7035
@jayqui In the main project I'm working on right now, we're in the same boat.

We've gone down the route of enforcing good style only on changes. Different devs have different ways of doing this -- I prefer [overcommit](https://github.com/sds/overcommit), as it allows me to differentiate between violations on lines of code I've modified (which I must fix before it'll let me commit them even to my

[2019-05-13 16:04] envygeeks commented on #5617
I don't actually know if this is still a problem, or if it is... I've not noticed it anymore, this can probably be closed, I'll comment or open another issue if it arises again, but it's not been a problem since that day so I assume this is pretty stale and doesn't really matter tbqf.

@bbatsov

[2019-05-14 02:47] Drenmi commented on #5617
Thanks @envygeeks! 🙇

[2019-05-14 02:47] #5617 closed

[2019-05-14 09:06] tejasbubane commented on #6837
Related to https://github.com/rubocop-hq/rubocop/issues/6701 cc @abrom

[2019-05-14 09:09] tejasbubane commented on #6770
I feel this varies on Ruby's constant lookup and is out of scope of static analysis of rubocop. i.e. how will Rubocop figure out if `MyModule` has `Exception` class defined?

[2019-05-14 09:13] abrom commented on #6837
Not sure why you believe this is an error!? The message is:
[code]
It's saying your configuration expects to see a comma after the last parameter. The heredoc is the last parameter, thus there should be a comma.

I'm guessing you've overridden the `EnforcedStyleForMultiline` configuration to either `comma` or `consistent_comma` ??

https://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Style/TrailingCo

[2019-05-14 10:05] tejasbubane commented on #6837
@abrom Should it not put the comma `after` the heredoc? (i.e. it should correctly recognize where heredoc ends)

### Actual

[code]

### Expected

[code]

[2019-05-14 11:05] abrom commented on #6837
No, your expected code block is invalid Ruby. The closing heredoc tag must be the only thing on the line. The comma should be after `<<~MSG` as Rubocop is suggesting (given the supposed configuration and provided code example).

[2019-05-14 12:53] md-work opened #7041 "allow *%W for better readability (Lint/UnneededSplatExpansion)"
In certain scenarios, using `*%W` may improve readability. So there should be exceptions to: `Lint/UnneededSplatExpansion`

Most of those scenarios are when building shell commands.

E.g.:
[code]

Be aware, that `system` is not the only method covered by this. `Open3....` is also affected and I'm actually using a custom method with adds additional checks when running external command. So excluding

[2019-05-14 13:12] rrosenblum commented on #7041
I can see the benefit of improved readability. I feel like this is a highly specific use case. I'm not sure that there is a great solution for this. A few ideas that I have are:

1. Create a white list of methods that you are allowed to pass splat expansion to
We could have a default list of methods and allow users to add to the list. I'm not sure how many methods this would need to apply to
2. Cr

[2019-05-14 13:21] rrosenblum commented on #7035
I have added RuboCop to large old code bases and have felt this pain as well. `--auto-gen-config` works great, but it is a bit simplistic for trying to enforce cops that already have significant offenses in your code. Especially since `--auto-gen-config` will wind up disabling the cop for an entire file or disable the cop entirely if there are offenses in too many files.

I believe there was a PR

[2019-05-14 15:36] roberts1000 opened #7042 "Remove rubocop-performance post install message"
Can the post install message about the `rubocop-performance` be removed at some point? It's already documented at https://github.com/rubocop-hq/rubocop/blob/master/manual/extensions.md and that should be sufficient.

My team embeds the rubocop gem in a wrapping gem that installs rubocop-performance and configures a premade .rubocop.yml file.  The post install message makes some developers think th

[2019-05-14 16:10] wasosa opened #7043 "Error parsing documentation for rubocop-0.69.0"
Installing rubocop fails due to error while parsing the documentation. This began to fail for me yesterday, which lines up with the `0.69.0` release.

The error is as follows:
[code]
## Expected behavior

Installing rubocop succeeds.

## Actual behavior

Installing rubocop fails.

## Steps to reproduce the problem

Here's an easy way to reproduce this:
[code]
## RuboCop version

```0.69.0 (using P

[2019-05-14 16:11] wasosa commented on #7043
NOTE: as a workaround, I'm currently using `gem install --no-rdoc --no-ri rubocop`

[2019-05-14 16:15] wasosa commented on #7043
Also note that this is only an issue on Ubuntu 16.04 (ruby version `ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]`) but not on Ubuntu 18.04 (ruby version: `ruby 2.5.1p57 (2018-03-29 revision 63029) [x86_64-linux-gnu]`)

In other words, this works:

[code]

[2019-05-14 17:18] bbatsov commented on #7042
Yeah, I agree we should remove it at this point. @koic Can you handle this?

[2019-05-14 17:20] pedrocaseiro opened #7044 "undefined method `name' for {TkSTRING 451, 15:19 "%Q<department>"}:RDoc::RubyToken::TkSTRING"
## Expected behavior

Expected `gem install rubocop` to work.

## Actual behavior

[code]
## Steps to reproduce the problem

`gem install rubocop`

[2019-05-14 17:56] wasosa commented on #7044
Looks like the same issue as https://github.com/rubocop-hq/rubocop/issues/7043

[2019-05-14 18:24] tejasbubane commented on #7043
Possibly related to this commit - https://github.com/rubocop-hq/rubocop/pull/7026/commits/05f25f30935b032650924e89ae336572df6998d6

[2019-05-14 21:24] MikeMcQuaid commented on #3534
Homebrew would still find this useful so just commenting so stale bot knows someone cares.

[2019-05-14 21:25] MikeMcQuaid commented on #6077
Homebrew would still find this useful so just commenting so stale bot knows someone cares (although this could be combined with https://github.com/rubocop-hq/rubocop/issues/3534)

[2019-05-14 21:25] MikeMcQuaid commented on #6258
Homebrew would still find this useful so just commenting so stale bot knows someone cares.

[2019-05-14 21:26] MikeMcQuaid commented on #6149
Homebrew would still find this useful so just commenting so stale bot knows someone cares (although this could be combined with https://github.com/rubocop-hq/rubocop/issues/3534 or https://github.com/rubocop-hq/rubocop/issues/6077)

[2019-05-14 21:53] CyborgMaster commented on #6077
I would still love this as well

[2019-05-14 23:36] mattbrictson commented on #6410
Closing as fixed by #6649

[2019-05-14 23:36] #6410 closed

[2019-05-14 23:57] smcgivern commented on #4082
I think this is still valid, but I haven't had the time or energy to work on it 😞

I'm fine if the bot closes it; if I do come back to it in future, I can always reopen.

[2019-05-15 03:31] koic commented on #7043
I confirmed that and I opened a PR #7047.

[2019-05-15 03:32] #7044 closed

[2019-05-15 06:17] #7043 closed

[2019-05-15 06:36] koic commented on #7042
I agree too. I opened a PR #7049.

[2019-05-15 07:01] #7042 closed

[2019-05-15 09:18] Eneroth3 commented on #6149
I also still find this useful, even though I am now leaning towards a more general approach of a MaxLineLength and a RecommendedLineLength as different options. All cops recommending to join things into a single line would honor to RecommendedLineLength if it's set or otherwise use MaxLineLength.

[2019-05-15 09:29] floehopper opened #7050 "Rails/ReflectionClassName does not allow object converted to String with `to_s`"
In v0.69.0, the `Rails/ReflectionClassName` cop fails if the `class_name` of a Rails `belongs_to` association is set to an object which is converted to a String by calling the `#to_s` method on it. I don't see why this should not be allowed.

--------

## Expected behavior

`Rails/ReflectionClassName` cop passes.

## Actual behavior

`Rails/ReflectionClassName` cop fails.

## Steps to reproduce th

[2019-05-15 09:57] tejasbubane commented on #7050
Duplicate of https://github.com/rubocop-hq/rubocop/issues/6764. Please see comments there for the rationale.

[2019-05-15 10:39] tejasbubane commented on #6359
@Darhazer Sent a PR to mark it as unsafe.

Apart from this, do you think we should handle the case of no receiver? Calling without receiver most probably means it is not a Hash (unless Hash class is opened).

[2019-05-15 12:20] Darhazer commented on #6359
yeah, I guess it doesn't make sense to flag on nil receiver

[2019-05-15 12:42] #7050 closed

[2019-05-15 17:12] Eneroth3 commented on #6075
I'm still interested in this. I think anyone who develops SketchUp plugins and use rubocop could benefit from this.

[2019-05-15 17:43] dduugg opened #7052 "An option for Lint/HandleExceptions to accept comments"
## Is your feature request related to a problem? Please describe.

I find that `Lint/HandleExceptions` is often bypassed with a `nil` in the `rescue` block. This is not helpful, whereas comments would be. However, a `rescue` block consisting of only a comment will still trigger a `Lint/HandleExceptions` offense.

## Describe the solution you'd like

I would like an option to allow comments within

[2019-05-15 18:43] roberts1000 commented on #7042
Thanks for the fast turnaround!

[2019-05-15 22:58] rhys-vdw commented on #6918
This bot makes no sense. Why are you closing legitimate issues? To create to appearance that the project is maintained?  If you have lots of bugs and nobody's fixing them, then you _should_ have a high issue count.

[2019-05-16 01:58] rlgreen91 opened #7053 "Unable to downgrade Rubocop"
*Be clear, concise and precise in your description of the problem.
Open an issue with a descriptive title and a summary in grammatically correct,
complete sentences.*

*Use the template below when reporting bugs. Please, make sure that
you're running the latest stable RuboCop and that the problem you're reporting
hasn't been reported (and potentially fixed) already.*

*Before filing the ticket you

[2019-05-16 04:19] oehlschl commented on #6774
@mikegee @bbatsov can we re-open this? Came here after contributing to the original https://github.com/rubocop-hq/rubocop/issues/6254

[2019-05-16 05:57] bbatsov commented on #7053
Do you have any other packages that depend on RuboCop in your Gemfile? I can't imagine another reason for this downgrade not to work.

It does? That's the first time I hear this.

[2019-05-16 11:46] mikegee commented on #7053
I can't reproduce the problem with a Gemfile that only lists `rubocop`. After installing 0.69.0, I changed the version requirement to `'~> 0.67.0'` and bundler installed 0.67.2:

[code]

Try looking through your Gemfile.lock to see if another gem has a dependency on Rubocop that prevents it from downgrading.

[2019-05-16 17:47] Fryguy commented on #7053
Since 0.69.0 introduced the new "require: rubocop_performance" within config, codeclimate can't handle it and blows up. Their minimal channel is presently 0.67.0 based.  Normally the local repo being slightly off from codeclimate doesn't matter since configuration is usually the same between versions, but this new require line is effectively a breaking change.

More info in here: https://github.co

[2019-05-17 16:15] #7023 closed

[2019-05-17 16:17] #6359 closed

[2019-05-17 17:26] Bhacaz commented on #6764
@jcoyne, In Rails 5.2, it's already the case, you cannot pass a Class (take a look at the original PR rails/rails#27551). The cop try to prevent the same think, circular dependencies, where `ActiveRecord::Reflection` cannot. If you use `class_name: User.name` or `class_name: User.to_s` Rails will be fine but you still eagerloading the Class `User`.

---

@floehopper you got a good example where th

[2019-05-17 17:54] jcoyne commented on #6764
@Bhacaz using a class was @petewalker's example.   My example was using a string from configuration

[2019-05-17 18:32] Bhacaz commented on #6764
@jcoyne Sorry I miss that detail 😕. It's seems right to flag the issue.

[2019-05-18 10:14] unasuke opened #7056 "To check the value of "Enabled" in YAML configuration is true or false"
## Is your feature request related to a problem? Please describe.
Our team occurred a problem that, unexpected  cop was in effect.
The cause was the wrong config value like an "Enabled: disabled".

## Describe the solution you'd like

I think it's helpful to check the value of a yaml key "Enabled".

Like this.

![Screenshot from 2019-05-18 19-11-37](https://user-images.githubusercontent.com/448729

[2019-05-18 17:13] mockdeep opened #7057 "Style/MethodCallWithoutArgsParentheses option for methods *with* args"
## Is your feature request related to a problem? Please describe.

As an alternative to `Style/MethodCallWithArgsParentheses` where there are methods where we *do not* want parenthesis around method calls that take args, it would be nice to enforce consistency for the negative case as well.

## Describe the solution you'd like

I'd like to have something like an `IncludedMethods` option where we c

[2019-05-19 05:41] zw963 opened #7058 "[Propose] use formatador instead of ruby-progressbar"
Following is a gif animation for compare two. first is formatador.

![Peek 2019-05-19 13-31](https://user-images.githubusercontent.com/549126/57978200-dd3d8880-7a3a-11e9-938e-ab9055a1b35e.gif)

And, [formatador](https://github.com/geemus/formatador) is more feature riched than ruby-progressbar, and no any external dependency.

Thank you.

[2019-05-19 07:00] bbatsov commented on #7058
Is there any concrete problem such a change is going to solve?

[2019-05-19 09:43] zw963 commented on #7058
no any problem，just more beautiful? :)

[2019-05-19 11:54] behraaang commented on #7032
Hello there
I am trying to get this resolved, but in the Rakefile there is nothing mentioned about using the default.yml file config if the argument is `default`, is that the required behavior? and can I do this if I got that right ?

[2019-05-20 09:27] tejasbubane commented on #7057
Duplicate of #6967.

[2019-05-20 11:06] tejasbubane commented on #7052
There are two parts to this:

1. Add config option `AllowComments` - done in #7060
1. Do not allow rescue blocks consisting of `nil` (especially single line rescue) - I will do this once above is merged to avoid conflicts.

[2019-05-20 15:33] AlexWayfer commented on #7028
I think, there is conflict with `Style/ParenthesesAroundCondition`. We have `AllowInMultilineConditions: true` in our config.

[2019-05-20 17:29] AlexWayfer commented on #6493
Additional example:

[code]

[2019-05-20 22:37] mockdeep commented on #7057
@tejasbubane I saw that issue before, but it didn't look like the same thing as what I'm asking for here. It looks like they're asking for more sophisticated ways to ignore methods, but I'm looking for a more strict "inverse" option.

[2019-05-21 04:10] zw963 opened #7061 "Layout/CaseIndentation auto-correct not indent "end""
A image can describe clearly.

![image](https://user-images.githubusercontent.com/549126/58067780-4222eb00-7bc1-11e9-9e90-211575db4e7f.png)

[code]

[2019-05-21 05:14] zw963 opened #7062 "Not safe refactor when run with rubocop -R -a --safe"
![image](https://user-images.githubusercontent.com/549126/58070079-43a4e100-7bca-11e9-9e14-f3c896c6f72e.png)

new code will result in syntax error.

[code]

Thank

[2019-05-21 05:42] zw963 opened #7063 "Style/TernaryParentheses Not safe when run with "rubocop -a --safe""
![image](https://user-images.githubusercontent.com/549126/58071030-ce3b0f80-7bcd-11e9-95fc-9bac6308ffa3.png)

Following is new code after refactor

[code]

## RuboCop version

Include the output of `rubocop -V` or `bundle exec rubocop -V` if using Bundler. Here's an example:

[code]

[2019-05-21 08:44] madejejej opened #7064 "[Case statement] Disallow "then" keyword for multi-line "when" clauses"
In a case statement we can use the `then` keyword to have the whole `when` clause in a single line, eg.

[code]

We can rewrite this case statement by putting all the `puts` calls in separate lines:

[code]

In this case, the `then` keyword is optional. I don't see any use cases when you would want to leave it there as it just generates more noise. Rubocop should complain about this and the correc

[2019-05-21 11:59] rmm5t commented on #7052
I like this, and I think it should be the new default.

[2019-05-21 13:01] kmoschcau opened #7066 "New Layout/AlignHash has a runtime error on mixed Hash style"
## Expected behavior

Rubocop should run the Layout/AlignHash cop without an error occuring.

## Actual behavior

There occurs an error with the message "nil can't be coerced into Integer"

## Steps to reproduce the problem

Minimal example:
[code]

## RuboCop version

[code]

[2019-05-21 16:17] rmm5t commented on #7066
I just ran into this as well, here was our specific use-case:

[code]

[2019-05-21 17:35] rmm5t commented on #7066
PR ready for review here: #7068

[2019-05-21 20:01] micahbf opened #7070 "Add Rails/Date option to allow `to_time` but not `Date` methods"
## Is your feature request related to a problem? Please describe.

Yes - there are many places in our code base where we use `String#to_time` on variables which cannot be statically analyzed as strings. In our app, these strings are always full ISO-8601 time strings. However, this results in false positives. Here's a real example:

[code]

This problem exists with both the "strict" and "flexible"

[2019-05-21 23:28] koic commented on #5976
rubocop-rails 2.0.0 has been released 🚀
https://rubygems.org/gems/rubocop-rails/versions/2.0.0

[2019-05-22 00:27] blackst0ne commented on #7064
[code]

This is easier to read than the multi-line variant, imo.

[2019-05-22 00:29] mvastola commented on #6861
Second this issue. Seems to only be a problem when the access modifier is the first line of code in the class/module.

[2019-05-22 06:15] bbatsov commented on #5976
Fantastic work! 🙇

[2019-05-22 06:35] bbatsov commented on #7070
We're in the process of moving all Rails-related functionality to a standalone library (gem) named `rubocop-rails`. Please, migrate this issue to its issue tracker https://github.com/rubocop-hq/rubocop-rails/issues/

[2019-05-22 06:35] #7070 closed

[2019-05-22 07:23] Eneroth3 commented on #6149
I also still find this useful, even though I am now leaning towards a more general approach of a MaxLineLength and a RecommendedLineLength as different "global" options. All cops recommending to join things into a single line would honor to RecommendedLineLength if it's set or otherwise use MaxLineLength.

[2019-05-22 08:56] bbatsov commented on #5979
@Darhazer The wording sounds great.

Great idea! This might also be some command-line option, but I rake task would be enough.

[2019-05-22 16:20] maxh commented on #6936
Apologies for delay; didn't get an email for this. Fix: https://github.com/rubocop-hq/rubocop/pull/7072

[2019-05-22 16:25] maxh commented on #6992
Sorry to miss this! Thanks for the fix, @Drenmi. I've reconfigured my GitHub settings so I am properly notified about messages in this repo. I just noticed https://github.com/rubocop-hq/rubocop/issues/6936 and created https://github.com/rubocop-hq/rubocop/pull/7072. Feel free to tag me if there's anything else I should look into -- I should see it now.

[2019-05-22 16:53] PatrickNLT opened #7073 "Naming/RescuedExceptionsVariableName false positive"
## Steps to reproduce the problem

Run Rubocop on

[code]
## Expected behavior

No offense is detected.

## Actual behavior

An offense is detected at the line of the second rescue statement:

[code]

Interesting fact: if the first rescue statement is removed, the offense in the second statement is not detected anymore.

FYI this bug did not occur with Rubocop `0.67.2`.
## RuboCop version

[code]

[2019-05-23 07:02] colleen-card commented on #7004
This is the best hacking program! I use it to steal all the codez.

#AnonymousHacktivitCollective

#Beto 4 President

[2019-05-23 07:20] #7073 closed

[2019-05-23 09:11] vongruenigen commented on #1661
We have the same problem, that we'd like to align a hash as @akimd did, but rubocop complains. Aligning a hash in such a way is especially useful if the lengths of the keys differ greatly from one another, because it increases readability imo:

Currently required by rubocop:
[code]

What I'd wish would also be accepted:
[code]

[2019-05-23 09:34] bbatsov opened #7077 "Cop naming guidelines"
With RuboCop 1.0 closer than ever it's time for us to start doing to final cleanup leading to the 1.0 release. One aspect of the cleanup is to make sure all cops follow consistent naming patterns (and we'll enforce those down the road). Here are a few examples of inconsistencies we have today:

* We use "Unneeded" and "Redundant" (we should use always "Redundant")
* Blank vs Empty (for lines)
* "I

[2019-05-23 12:05] #7066 closed

[2019-05-23 12:45] mikegee commented on #7020
I just encountered this bug too. I had code like:

[code]

Running `rubocop --safe-auto-correct` deletes that whole line.

[2019-05-23 13:34] bbatsov commented on #7077
I was just given a great example of a bad cop name - `Lint/PercentStringArray`. Who can guess what this checks only based on its name? 😉

[2019-05-23 14:32] halfbyte commented on #5976
Can someone please add a short note in the rubocop-rails README about the renaming/owner change?

I am inclined to say that the name takeover is a bad idea that should have never happened (from a platform stability standpoint) but I also know that it's way too late to chime in on that. You are probably aware that the yanking is also gonna break a ton of builds of the users of the old gem, so there

[2019-05-23 18:49] maxh commented on #7077
Thoughts:

(1) Disambiguate arguments and parameters. Spit cops if needed.

Arguments are in method invocations.
Parameters are in method definitions.

(2) For appropriate clustering in the documentation, I personally have found that clustering cops by their action (e.g. if they are powered by the same mixin) is better:

- IndentFoo
- IndentBar

Than having multiple similar cops spread out:

- Foo

[2019-05-24 10:51] okuramasafumi commented on #7064
I think I'm going to tackle this issue as my first patch to RuboCop.

IMO there should be an option to choose whether they prefer `then` (one-line) style or multiline style.
Also, I've heard some users prefer semicolon over `then`, so should we provide an option for that as well?

[2019-05-24 11:04] madejejej commented on #7064
@okuramasafumi that's great!

Here's what I think:

1. Multiline `then` syntax should always be banned
2. One-line `then` syntax should be optional - I agree it's sometimes easier to read @blackst0ne and I don't have anything against it
3. Multiline syntax should always be allowed - as sometimes you want to use more than one line in the when clause. It won't end up well with the one-line syntax.
4

[2019-05-24 11:39] okuramasafumi commented on #7064
@madejejej I agree!

[2019-05-25 18:27] mvastola opened #7083 "Caching Cannot Be Configured Globally"
So this is somewhere between a feature request and a bug report, but basically I'm running into an issue where I'm trying to run `rubocop` on an open source project I'm working on and I noticed I'm repeatedly getting the error:
[code]
This error appears to have originated in #2484 as a way to mitigate certain attacks, and is being triggered because my `/home` folder is symlinked onto another parti

[2019-05-26 05:42] bquorning opened #7085 "Layout/IndentHeredoc issue on multi-line method calls"
When a squiggly heredoc is given on the second (or higher) line of a method argument, Layout/IndentHeredoc wants me to indent the heredoc two spaces more than the last line of method arguments. See this example code:

[code]

RuboCop is happy (but I am not) if I indent like this:
[code]

Please note that there are no offenses for the first example if I use `<<` or `<<-` instead of `<<~`.

--------

[2019-05-26 23:45] FranklinYu commented on #1572
@jonas054 For question 1, we need to mention `.yaml` *only once*. For question 2a, no. `.yml` is the default. User requiring `.yaml` will rename the file and update the inheritance anyway. They only do it once per project, not a big deal.

[2019-05-27 03:52] dangerous opened #7087 "Style/RedundantBegin causes syntax errors in Rake tasks"
The Style/RedundantBegin can introduce a syntax error to a Rake task
--------

Rake task is as follows:
[code]

## Expected behavior

Rubocop does not correct the file

## Actual behavior

[code]

## Steps to reproduce the problem

See above

## RuboCop version

[code]

[2019-05-27 06:15] #6936 closed

[2019-05-27 06:56] bquorning commented on #7085
I thought found a way to change the cop, but then it broke this untested, but valid indentation:

[code]

[2019-05-27 10:03] robertgauld opened #7088 "Inconsistent Layout/MultilineMethodCallIndentation when adding a new method into chain"
## Actual behaviour

The following code in a spec is considered fine:
[code]
However when adding a new method into the chain the Layout/MultilineMethodCallIndentation cop complains "Use 2 (not 32) spaces for indenting an expression spanning multiple lines."
[code]

## Expected behaviour

I would expect both versions to be considered fine (or not fine).

## RuboCop version

0.68.0 (using Parser 2.6

[2019-05-27 10:05] robertgauld commented on #7088
Also in version 0.70.0 (using Parser 2.6.3.0, running on ruby 2.6.2 x86_64-linux)

[2019-05-27 14:02] herwinw opened #7089 "Inconsistencies with Style/ZeroLengthPredicate"
Proof of concept:

[code]

--------

## Expected behavior

I would expect an offense for `Style/ZeroLengthPredicate` for every line that starts with `return true if`except for the frist one.

## Actual behavior

There are two problems here:

1. The method `Array#count` does not get detected in `Style/ZeroLengthPredicate`, most likely because it can accept an extra argument or block to filter, but

[2019-05-27 14:04] okuramasafumi commented on #7064
I'm implementing this cop and thinking about the name of the cop.
I came up with `RedundantThen` cop but it might be too broad. `RedundantWhenThen` is more specific but sounds weird.
My basic idea is that in multiline case statement `then` is redundant.
@bbatsov What do you think?

[2019-05-27 14:39] mikegee commented on #7064
This code gets a complaint from `Style/MultilineIfThen`:

[code]

So, maybe `Style/MultilineWhenThen` for consistency?

[2019-05-27 17:56] okuramasafumi commented on #7064
@mikegee `Style/MultilineWhenThen` sounds reasonable.
I hope we can merge two cops about `then` into one cop, such as `RedundantThen`.

[2019-05-27 21:33] mvastola commented on #5657
Hi, I would just like to second this. This is a major source of annoyance for me and I wish there were some way to have rubocop recognize parameters intentionally aligned this way.

[2019-05-28 12:04] herwinw opened #7091 "Style/FormatStringToken with flags/modifiers"
PoC code:

[code]

--------

## Expected behavior

6 warnings of `Style/FormatStringToken` to prefer annotated tokens

## Actual behavior

Only the `%s` items are detected. Any flag or modifier to the format string makes them unrecognized.

## Steps to reproduce the problem

See PoC

## RuboCop version

[code]

[2019-05-29 08:05] mvz commented on #6426
I'm still interested in this.

[2019-05-29 11:23] timon commented on #5781
I have similar issue: `Style/GuardClause` code complaints for the following code:

[code]

raise + check statements are long enough to not fit into one line together; however no offence is registered if the guard condition is moved into separate `if` block and the rest of the `elsif` branches cases into another if:

[code]

Should not GuardClause cop consider `elsif` acceptable when guard clause i

[2019-05-29 19:45] jonas054 commented on #1572
Plus every time they re-run `--auto-gen-config`. I remain unconvinced. :slightly_smiling_face:

[2019-05-29 20:57] FranklinYu commented on #1572
@jonas054 I think I have some misunderstanding about `--auto-gen-config`; is it supposed to run frequently? Currently our team only run it once (when we start to use Rubocop in the project), then work to eliminate the `.rubocop_todo.yml`. I assume this is why we call it TODO. It doesn't feel right to generate it again and again.

[2019-05-30 00:37] mikegee commented on #1572
@FranklinYu there's a workflow where a developer works on resolving offenses by looking at the generated `.rubocop_todo` config, then runs `rubocop --auto-gen-config`, and looks at the `git diff` to check their progress.

[2019-05-30 01:45] FranklinYu commented on #1572
@mikegee Thank you. This wasn’t our case, probably because there weren’t that many things in `.rubocop_todo`; but I guess this works for some organization.

Even in this case, I think I can accept both `.rubocop_todo.yml` and `.rubocop_todo.yaml`.

Not worth what? Development? If so, is PR welcomed?

[2019-05-30 06:14] jonas054 commented on #1572
No I was thinking about maintenance when I said that. I foresee a number of problems if we allow two different file names for the configuration file.

1. When answering support questions, you can't just say "What's in your `.rubocop.yml`?" anymore. You'd have to say "What's in your `.rubocop.yml` or `.rubocop.yaml`?".
1. If you want to search for RuboCop configuration in a large directory tree, or

[2019-05-30 09:27] #6726 closed

[2019-05-30 10:33] AlexWayfer commented on #1572
"What's in your RuboCop config file?"

`.rubocop.*` or `.rubocop.y{a,}ml`

Of course.

It should be by default, as YAML spec says.

And that's why we have standards, specs and guidelines. And YAML's standard says that `.yaml` is single correct file extension.

To follow standards. In tool for community standards.

[2019-05-30 10:54] mikegee commented on #1572
I can’t find that at https://yaml.org/spec/1.2/spec.html. Please point me in the right direction.

[2019-05-30 11:04] AlexWayfer commented on #1572
The issue-start comment.

Hm, maybe.

As appeal.

Is it possible to use `.yaml` in RuboCop? I think, yes.

[2019-05-30 14:04] FranklinYu commented on #1572
…It means that we made the wrong choice between `.yml` and `.yaml`? 😄

I expect `.yaml` to be mentioned in the documentation only a few times, so most places will still use `.yml`. If `.yaml` gets popular even in that case, this means `.yaml` is *significantly superior* (which you won't agree).

Raising an error is decent, but if nobody even wants to maintain this logic: make this “undefined behav

[2019-05-30 18:07] kepstin commented on #6918
The alignment that the cop accepts here is hilariously bad :/
[code]

This seems related to #6774 and #6254 and appears to have been introduced in #6246 (the old behaviour of having `rescue`/`ensure` match `end` gave good results here)

[2019-05-30 23:14] jakeonrails commented on #6918
I have a similar example of bad output but not from assignment:

[code]

[2019-05-31 03:28] taichi-ishitani opened #7094 "False positive for MultilineOperationIndentation"
## Expected behavior

When enforce style of ` Layout/MultilineOperationIndentation` cop is `aligned` Rubocop should report no offences for multi-line operation without assignment like below.

[code]

## Actual behavior

Rubocop reports `MultilineOperationIndentation` offence with following message:

[code]

## Steps to reproduce the problem

Unzip attached zip file and run command below.
[sample.z

[2019-05-31 11:26] tejasbubane commented on #6632
Rails-related functionality has been moved to a standalone library (gem) named `rubocop-rails`. Please, migrate this issue to its issue tracker https://github.com/rubocop-hq/rubocop-rails/issues/

[2019-05-31 12:21] luke-hill commented on #5953
This to me feels like a bug with the way the cop works, and perhaps should be a cause for auto-disabling the cop??

the following "should" not be raising issues. I know it does, by design; but I would argue it "shouldn't"
[code]

I use `private` as a keyword as seen above and then all private methods below. But I also put readers/writers at the top. I would argue this is the most common use-case.

[2019-05-31 12:42] Mange commented on #6294
I'm pretty sure this is resolved now. I had a similar error so I found this bug, but my problem was caused by some weird interaction with `--force-exclusion`.

In order to isolate this problem I did some experiments with the `--stdin` option, and the filename passed to it is definitely considered correctly.

[code]

[2019-05-31 12:46] jonas054 commented on #4802
I don't think `rubocop --auto-gen-config` should update source code. It should stick to just updating configuration. That means we can't be sure that `rubocop --auto-gen-config` leaves the project in a state without offenses, which is not perfect but I think acceptable in this "corner case".

But I agree that (part of) what you describe is a bug.

That's the bug. When auto-correct removes a `ruboc

[2019-05-31 19:12] ryan-raimer opened #7098 "Use the `rubocop-rails` gem warning given when you bundle install --deployment"
Just ran into this issue running our builds. Seems like the issue is around the --deployment flag as it works fine with and without the flag in my dev environment. The --deployment flag is set in our build though so this keeps popping up.

## Expected behavior

I would expect no message to be shown post `bundle install --deployment` since the gem is included in the Gemfile, the bundle install has

[2019-05-31 19:35] jakeonrails opened #7099 "An error occurred while Layout/RescueEnsureAlignment cop was inspecting in 0.71.0 against Ruby 2.6.1"
Just got this bug after upgrading to 0.71.0, but a quick search through issues shows this is happening for a while now

--------

## Expected behavior

No bug when running rubocop against this code:

[code]

## Actual behavior

[code]

## Steps to reproduce the problem

Run rubocop with the default configuration against the code sample above.

## RuboCop version

[code]

[2019-06-01 23:36] tchia04 commented on #5494
I face a similar issue as well.
If I don't have a Gemfile.lock file, rubocop won't run.

[code]

I need a dummy Gemfile.lock file to run any rubocop command which I can create using "bundle init; bundle lock"

IMHO, rubocop should handle the missing Gemfile.lock more gracefully by not displaying a stack trace but rather say it's not able to infer the ruby-version or whatever the reason it's trying

[2019-06-02 08:40] #5976 closed

[2019-06-02 08:50] bbatsov commented on #7098
That's going to get fixed by itself with the next release when we remove the cops and the warning with them. //cc @koic

[2019-06-02 10:45] SolaWing opened #7100 "auto fix with Style/BlockDelimiters changes code behaviour!"
## example
[code]

## Expected behavior
[code]

## Actual behavior
[code]

## RuboCop version

0.71.0 (using Parser 2.6.3.0, running on ruby 2.5.3 x86_64-darwin17)

[2019-06-03 06:11] #7098 closed

[2019-06-03 07:28] okuramasafumi opened #7103 "Feature - Cop to sort rubocop.yml alphabetically"
## Is your feature request related to a problem? Please describe.

I'm always annoyed when `.rubocop.yml` entries are not sorted alphabetically.
Sometimes it's not that easy to remember the cop name correctly and it's really helpful to have sorted config file in those cases.

## Describe the solution you'd like

Like `Gemfile`, I think we can sort `.rubocop.yml` alphabetically.

## Describe altern

[2019-06-03 09:49] RicardoTrindade opened #7104 "Requiring both rubocop-rails and rubocop-performance in rubocop.yml throws warning"
--------

## Expected behavior

When requiring both rubocop-rails and rubocop-performance no warnings are thrown

## Actual behavior

When running rubocop a warning is thrown  `.rubocop.yml:2: require is concealed by line 3`

## Steps to reproduce the problem
If you require both rubocop-rails and rubocop-performance in .rubocop.yml like this
[code]
It will throw a warning `.rubocop.yml:2: require

[2019-06-03 10:38] koic commented on #7104
Please use the YAML's array notation.

[code]

https://github.com/rubocop-hq/rubocop/blob/v0.71.0/.rubocop.yml#L4-L7

[2019-06-03 10:46] RicardoTrindade commented on #7104
oh right sorry, thanks!

[2019-06-03 10:46] #7104 closed

[2019-06-03 14:46] svyatov commented on #6907
This is still happening with `0.71.0 (using Parser 2.6.3.0, running on ruby 2.6.1 x86_64-darwin18)`.

[2019-06-04 08:08] coding-bunny opened #7105 "Multiple Configurations not properly respected"
I'm creating a gem for multiple projects to use the same configuration. This is a bit elabortate in that I have multiple files based on the target ruby version etc., and all those files inherit from a base configuration inside the gem.

In my project, I added my gem through bundler, and created the following `.rubocop.yml` file:
[code]

The `rspec/2.3/.rubocop.yml`, which is part of my Gem, has th

[2019-06-04 12:45] ThomasOwens opened #7106 "Lint/NumberConversion cop - undefined method send_type? for nil:NilClass"
## Expected behavior

I created a single file in a Rails application that consists of the following:

[code]

I would expect that this successfully completes without any errors or offenses detected (at least - it doesn't visually appear that there should be offenses).

## Actual behavior

The following stack trace is generated:

[code]

In addition to the stack trace, Rubocop does report that 1 fi

[2019-06-04 15:13] radiospiel opened #7108 "Style/StderrPuts: dangerous autocorrection"
## Expected behavior

Style/StderrPuts should autocorrect `STDERR.puts "foo"` into `Kernel.warn "foo"` or not at all. The current behavior would call "warn", even if it is not Kernel.warn, but something else completely in the current context.

## Actual behavior

Style/StderrPuts autocorrects `STDERR.puts "foo"` into `warn "foo"`.

[2019-06-04 15:14] koic commented on #7106
Thanks for the feedback. I opened a PR #7109.

[2019-06-04 16:27] ThomasOwens commented on #7106
Thanks, @koic. I'm just curious when I can expect this to be in a released version that's accessible via RubyGems. I'm looking to upgrade Rubocop at work, and we need to be using released versions. It's not a rush, but I don't know what the release cycle for Rubocop is. Thanks!

[2019-06-04 19:20] kddeisz opened #7110 "IfUnlessModifier versus MultilineIfModifier"
I have the following code structure:

[code]

This fails `Style/IfUnlessModifier` because technically the body of the if statement and the predicate could fit on one line. So I change it to:

[code]

But that fails `Style/MultilineIfModifier` because technically it's multiline. I think probably both of those should pass, but I'd be fine with either one.

## RuboCop version

[code]

[2019-06-05 07:25] #7106 closed

[2019-06-05 11:42] Darhazer commented on #5979
@rubocop-hq/rubocop-core I won't be able to complete this at least two more weeks, so if someone wants to take it, feel free to do so

[2019-06-05 12:09] coding-bunny commented on #7105
Closing this - discovered the issue was with relative vs absolute paths and lookups depending on file-name. Working as expected!

[2019-06-05 12:09] #7105 closed

[2019-06-05 19:11] rrosenblum commented on #7108
This sounds like a reasonable request to me. The code looks like it will be easy to update.

[2019-06-05 19:29] rrosenblum commented on #7103
I agree that would be a nice feature to have. It isn't quite the same as the `OrderedGem` cop because `.rubocop.yml` isn't a Ruby file. I assume that this can be accomplished by fairly easily by loading the yaml file into a hash and then checking the order of the keys. We'll have to come up with some custom ordering to make sure that things like `inherit_from`, `require`, and `AllCops` still show

[2019-06-05 19:38] rrosenblum commented on #7087
I was unable to reproduce the issue using RuboCop master and Ruby 2.6.3. The corrected code appears to have the correct syntax for me.

[code]

As a sanity check, is the version of Ruby that you are using to check the syntax of the file the same version of Ruby that is being used with RuboCop? The error output looks like it comes from a version of Ruby prior to when implicit begins were added to b

[2019-06-06 05:59] #7063 closed

[2019-06-06 07:06] tejasbubane commented on #6844
Please move this issue to `rubocop-rails` repo.

[2019-06-07 10:06] Odalrick commented on #6498
I had the same issue today.

[2019-06-07 13:22] gerrywastaken commented on #6382
I have tested the fix yet, but I just wanted to say thanks for working on it. :)

[2019-06-07 14:37] klyonrad commented on #5192
My two cents: The ruby gem ecosystem already provides `reek` and `flay` for deeper static code analysis (and much more other tools). So I would consider this out of scope and personally disable it in a rubocop config.

reek and flay should be able to be configurable in their own configuration files as well (would be nice of those tools could work a bit more together with the `rubocop.yml`...

[2019-06-07 19:32] #6750 closed

[2019-06-07 19:32] #6495 closed

[2019-06-07 19:32] #6767 closed

[2019-06-07 19:32] #6744 closed

[2019-06-07 19:32] #6789 closed

[2019-06-07 19:32] #6323 closed

[2019-06-07 19:32] #5933 closed

[2019-06-07 19:32] #6817 closed

[2019-06-07 19:32] #6793 closed

[2019-06-07 19:32] #5422 closed

[2019-06-07 19:32] #6857 closed

[2019-06-07 19:32] #6863 closed

[2019-06-07 19:32] #6864 closed

[2019-06-07 19:33] #5716 closed

[2019-06-07 19:33] #6873 closed

[2019-06-07 19:55] jaredbeck commented on #6873
I'm still working on this.

I don't have permission to re-open this, and I don't want to create a new issue and lose the context here. Feel free to leave it closed though, and just wait for my PR.

[2019-06-07 20:32] #6536 closed

[2019-06-07 20:32] #5572 closed

[2019-06-07 20:32] #5932 closed

[2019-06-07 20:32] #6525 closed

[2019-06-07 20:32] #6615 closed

[2019-06-07 20:32] #3773 closed

[2019-06-07 20:32] #6653 closed

[2019-06-07 20:32] #5338 closed

[2019-06-07 20:32] #6520 closed

[2019-06-07 20:32] #6703 closed

[2019-06-07 20:32] #6669 closed

[2019-06-07 20:32] #6521 closed

[2019-06-07 20:32] #5529 closed

[2019-06-07 20:32] #6588 closed

[2019-06-07 20:32] #6655 closed

[2019-06-07 20:32] #6732 closed

[2019-06-07 20:32] #6557 closed

[2019-06-07 20:32] #6544 closed

[2019-06-07 20:32] #6506 closed

[2019-06-07 20:32] #6497 closed

[2019-06-07 21:32] #6402 closed

[2019-06-07 21:32] #6348 closed

[2019-06-07 21:32] #6404 closed

[2019-06-07 21:32] #6403 closed

[2019-06-07 21:32] #6415 closed

[2019-06-07 21:32] #6421 closed

[2019-06-07 21:32] #6439 closed

[2019-06-07 21:32] #3983 closed

[2019-06-07 21:32] #6444 closed

[2019-06-07 21:32] #6455 closed

[2019-06-07 21:32] #6406 closed

[2019-06-07 21:32] #6440 closed

[2019-06-07 21:32] #6431 closed

[2019-06-07 21:32] #6450 closed

[2019-06-07 21:32] #6479 closed

[2019-06-07 21:32] #6488 closed

[2019-06-07 21:32] #6480 closed

[2019-06-07 21:32] #6490 closed

[2019-06-07 21:32] #6430 closed

[2019-06-07 21:33] #6454 closed

[2019-06-07 21:33] #6373 closed

[2019-06-07 21:33] #6512 closed

[2019-06-07 21:33] #6519 closed

[2019-06-07 21:33] #6508 closed

[2019-06-07 21:33] #6523 closed

[2019-06-07 22:32] #3832 closed

[2019-06-07 22:32] #5253 closed

[2019-06-07 22:32] #5585 closed

[2019-06-07 22:32] #5650 closed

[2019-06-07 22:32] #5655 closed

[2019-06-07 22:32] #6289 closed

[2019-06-07 22:32] #3339 closed

[2019-06-07 22:32] #6290 closed

[2019-06-07 22:32] #5717 closed

[2019-06-07 22:32] #6332 closed

[2019-06-07 22:32] #5837 closed

[2019-06-07 22:32] #5889 closed

[2019-06-07 22:32] #6013 closed

[2019-06-07 22:32] #6368 closed

[2019-06-07 22:32] #6344 closed

[2019-06-07 22:32] #6376 closed

[2019-06-07 22:32] #6374 closed

[2019-06-07 23:28] AlexWayfer commented on #5717
This is still actual.

[2019-06-07 23:32] #6069 closed

[2019-06-07 23:32] #6179 closed

[2019-06-07 23:32] #6201 closed

[2019-06-07 23:32] #6129 closed

[2019-06-07 23:32] #6061 closed

[2019-06-07 23:32] #6108 closed

[2019-06-07 23:32] #4446 closed

[2019-06-07 23:32] #6183 closed

[2019-06-07 23:32] #5747 closed

[2019-06-07 23:32] #6259 closed

[2019-06-07 23:32] #5447 closed

[2019-06-07 23:32] #4359 closed

[2019-06-07 23:32] #5304 closed

[2019-06-07 23:32] #4863 closed

[2019-06-07 23:32] #4524 closed

[2019-06-07 23:32] #4594 closed

[2019-06-07 23:32] #3840 closed

[2019-06-07 23:32] #3696 closed

[2019-06-07 23:32] #3298 closed

[2019-06-07 23:32] #4291 closed

[2019-06-07 23:32] #3119 closed

[2019-06-07 23:33] #4294 closed

[2019-06-07 23:33] #6291 closed

[2019-06-07 23:33] #3760 closed

[2019-06-08 00:32] #4482 closed

[2019-06-08 00:32] #4637 closed

[2019-06-08 00:32] #4683 closed

[2019-06-08 00:32] #4775 closed

[2019-06-08 00:32] #4772 closed

[2019-06-08 00:32] #5332 closed

[2019-06-08 00:32] #5379 closed

[2019-06-08 00:32] #5466 closed

[2019-06-08 00:32] #5604 closed

[2019-06-08 00:32] #5620 closed

[2019-06-08 00:32] #5621 closed

[2019-06-08 00:32] #5624 closed

[2019-06-08 00:32] #5660 closed

[2019-06-08 00:32] #5673 closed

[2019-06-08 00:32] #5728 closed

[2019-06-08 00:32] #5916 closed

[2019-06-08 00:32] #5669 closed

[2019-06-08 00:32] #5890 closed

[2019-06-08 00:32] #5971 closed

[2019-06-08 00:32] #6032 closed

[2019-06-08 01:32] #3282 closed

[2019-06-08 01:32] #3741 closed

[2019-06-08 01:32] #3803 closed

[2019-06-08 01:32] #3823 closed

[2019-06-08 01:32] #3859 closed

[2019-06-08 01:32] #4395 closed

[2019-06-08 01:32] #4431 closed

[2019-06-08 05:26] zw963 commented on #7063
Cool, thank for hard work!

[2019-06-08 07:30] AlexWayfer commented on #5447
The bug is still here.

[2019-06-08 07:31] AlexWayfer commented on #5022
The bug is still here.

[2019-06-08 08:55] #6271 closed

[2019-06-08 08:55] #6911 closed

[2019-06-10 07:05] jfelchner commented on #3282
This is still and issue.

[2019-06-10 08:59] beauraF opened #7117 "unrecognized cop Performance/Casecmp"
## Expected behavior

Run without warning.

## Actual behavior

[code]

## Steps to reproduce the problem

Add:

[code]

And run:

[code]

## RuboCop version

[code]

[2019-06-10 11:43] pocke commented on #7117
Performance cops have been transferred to rubocop-performance gem.
https://github.com/rubocop-hq/rubocop/pull/6890

Can you try installing rubocop-performance?
https://github.com/rubocop-hq/rubocop/pull/6890

[code]

[code]

[2019-06-10 12:09] bbatsov opened #7120 "Update style guide links"
We recently started publishing the Ruby Style Guide to https://rubystyle.guide. As the guide looks much better there and the navigation is better I think we should update the base URL to point to it.

The plan is to publish the RSpec and Rails guides under rspec.rubystyle.guide and rais.rubystyle.guide in the weeks to come.

[2019-06-10 13:52] beauraF commented on #7117
Great! Thank you.
I didn't see it in the changelogs. Maybe it would be cool to notify it?

[2019-06-10 13:52] #7117 closed

[2019-06-10 13:56] bbatsov commented on #7117
It's in the changelog and there were deprecation notices for a while. Guess you've skipped a few versions. @koic We might consider making the current message about unrecognized cops smarter - e.g. we can suggest using the new gems for missing cops with prefix Performance or Rails.

[2019-06-10 13:59] beauraF commented on #7117
I missed it: https://github.com/rubocop-hq/rubocop/releases/tag/v0.68.0
Thank you for your reactivity!

[2019-06-11 02:43] pocke opened #7124 "CI fails with ruby-head"
CI fails with ruby-head.
For example: https://circleci.com/gh/rubocop-hq/rubocop/57757?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

--------

## Expected behavior

CI passes.

## Actual behavior

Ci fails.

## Steps to reproduce the problem

We can reproduce it with `rubocophq/circleci-ruby-snapshot:latest` docker image.

[code]

I guess it is a bundl

[2019-06-11 03:07] koic commented on #7124
Thank you for your investigation. Can you open this issue to the Ruby developers team or the Bundler team?

[2019-06-11 03:25] pocke commented on #7124
Sure :+1:

[2019-06-11 12:20] ZimbiX commented on #4286
Unless this has been resolved without my knowledge, please re-open the issue

[2019-06-11 15:28] bbatsov commented on #7120
FYI - https://rails.rubystyle.guide and https://rspec.rubystyle.guide are up as well.

[2019-06-11 16:58] AdrienSldy opened #7127 "Layout/AlignHash table style with mixed hash key style"
When using mixed hash syntax, I want to be able to guarantee the table hash alignment according to the `Layout/AlignHash` cop.

With this code and the EnforcedStyle set to table :
[code]
--------

## Expected behavior

I expect to get an align multiline hash offense.
I expect that the good writing is:
[code]

## Actual behavior

I don't get offenses.

## Steps to reproduce the problem

* Create a

[2019-06-11 19:04] robenkleene opened #7128 "No way to disable Metrics/LineLength for shebang line"
## Is your feature request related to a problem? Please describe.

I don't think I can disable the `Metrics/LineLength` for just the shebang line.

(If it helps, the shebang line in question is `#!/System/Library/Frameworks/Ruby.framework/Versions/2.3/usr/bin/ruby --disable-gems`. The reason I'm doing this is to reference the system Ruby on macOS while bypassing the users gem environment.)

## Des

[2019-06-12 08:27] michiomochi opened #7130 "`Style/FormatString` cop breaks code"
Rubocop auto-corrector breaks code by `Style/FormatString` cop.

Before code is

[code]

Execute auto-correct

[code]

After code is

[code]

## Expected behavior

No effort.

## Actual behavior

Fix to unexpected code.

## RuboCop version

[code]

[2019-06-12 08:51] pocke commented on #7130
`String#%` can receive an array, but `format` cannot receive it.

[code]

I think we should mark the auto-correction as unsafe.

[2019-06-12 09:11] mensfeld opened #7131 "Layout/IndentFirstArrayElement makes you create quirky code"
## Expected behavior

I expect the previous behavior to be maintained.

This code looks much better:

[code]

than

[code]

## Actual behavior

Rubocop reports things that shouldn't be considered invalid as the final output format looks really weird.

## Steps to reproduce the problem

[code]

[code]

## RuboCop version

[code]

[2019-06-12 09:11] tejasbubane commented on #7130
@pocke Is is a good idea to not register offense when second argument to `String#%` is a variable?

[2019-06-12 09:23] pocke commented on #7130
It makes sense, but I prefer changing auto-correct safety.
Because if the cop does not register offense, user has no way to know `format` method.

---

By the way, I got other ideas.

First, ignore only auto-correction when the argument is a variable.
The cop registers an offesne for `String%` with a variable but does not apply auto-correction.

Second, I guess we can use splat operator for a vari

[2019-06-12 10:26] tejasbubane commented on #7130
This will be an issue if variable is a hash. First approach looks better.

[2019-06-12 10:52] vfonic opened #7132 "Crash when having ~/.rubocop.yml file requiring extension"
My `~/.rubocop.yml` requires `rubocop-rails`. However, when I tried to run `bundle exec rake default` (essentially rubocop) in rubocop git repo's root, I received the following error:

[code]

## Steps to reproduce the problem

[code]

Since rubocop repo has its own `.rubocop.yml`, the `~/.rubocop.yml` in my home directory should be completely ignored.

This makes it really hard to work on any pro

[2019-06-12 10:55] vfonic opened #7133 "Would it make sense to mention/list rubocop extensions"
Maybe as one of the sections in the Readme.md?

## Describe the solution you'd like

If you're new to rubocop, it's hard to know and find existing rubocop extensions. You'd have to go to `rubocop-hq` and check which repos are there, etc. We could have the most popular or all extensions right in the Readme.md to avoid confusion and people not finding extensions, especially the ones like rubocop-rai

[2019-06-12 11:11] pocke commented on #7133
You can find popular custom cops from here https://docs.rubocop.org/en/stable/extensions/#custom-cops

Personally, I think README does not need to mention the custom cops because it already has a link to the official manual.
But, I think we should improve the README and official manual if people are confused by them. For example, more eye-catching link to the manual, add useful ToC  to the top pag

[2019-06-12 11:20] tejasbubane commented on #7132
Same as https://github.com/rubocop-hq/rubocop/issues/7032.

[2019-06-12 11:48] tejasbubane commented on #7124
Can we allow failure for `ruby-head` so the CI is green?

[2019-06-12 13:15] vfonic commented on #7132
Indeed, I think the underlying issue is the same. I'll c/p my post over there.

[2019-06-12 13:15] #7132 closed

[2019-06-12 13:17] vfonic commented on #7032
I've had created a duplicated issue: https://github.com/rubocop-hq/rubocop/issues/7132
So I'm closing the other issue to keep this in one place.

Just to add, this doesn't only happen on rubocop project, but on any project.

Here's the issue's content:

<details>

My `~/.rubocop.yml` requires `rubocop-rails`. However, when I tried to run `bundle exec rake default` (essentially rubocop) in rubocop

[2019-06-12 21:16] eveevans commented on #3258
That's interesting, but... when I try to
`Date.new(2014, 0o9, 0o1)`
it throw
`SyntaxError: (eval):2: Invalid octal digit
Date.new(2014, 0o9, 0o1)`

[2019-06-13 15:34] pocke opened #7137 "New cop: RUBY_VERSION in gemspec"
## Is your feature request related to a problem? Please describe.

Gemspec should not contain RUBY_VERSION as a condition to switch dependencies.
For example:

[code]

It has unexpected behavior. The `RUBY_VERSION` is determined by `rake release`.
If I use Ruby 2.5 to execute `rake release`, the gem always has `gem_a` as a dependency even if a user installs the gem with Ruby 2.4 or older.

We have

[2019-06-13 15:38] pocke commented on #7124
Personally, I'd like to keep it strict. Because I guess anyone will not notice a failure for ruby-head if we allow the failure.
And we can ignore a failure manually if it is not related to the pull request.

[2019-06-13 17:48] rrosenblum commented on #7124
`ruby-head` was allowed to fail when we had the build in TravisCI. I think the idea was to be able to keep an eye on how RuboCop worked with the latest Ruby, but we didn't care about the actual failure since `ruby-head` isn't always stable.

[2019-06-14 08:25] malyshkosergey commented on #7120
@bbatsov, I've updated base url and opened PR
https://github.com/rubocop-hq/rubocop/pull/7139

Could you please let me know if we need to update rails and rspec links somewhere as well?
Haven't found it yet so if you can give the tip I can do it as well. Thanks!

[2019-06-14 09:37] #7120 closed

[2019-06-14 09:38] bbatsov commented on #7137
You've got my blessing! :-)

I was also thinking we should add a section on Gemfile/gemspec to https://rubystyle.guide/. Our cops have a lot of good advice that's not part of the guide yet.

[2019-06-14 09:40] bbatsov commented on #7133
Yeah, I agree. Having everything important in the manual is what matters the most IMO.

I totally agree here as well.

[2019-06-14 09:41] bbatsov commented on #7120
They should be updated in `rubocop-rspec` and `rubocop-rails`.

[2019-06-14 10:10] vfonic commented on #7133
// I wrote a lengthy reply and then removed it 😇

tl;dr
Perhaps "Official manual" could be just changed to "Documentation"?

I just opened couple of repos that I could remember from the top of my head and here's the terminology they use (this is random sample):
https://github.com/facebook/create-react-app/blob/master/README.md#user-guide (words used: "User Guide" and "documentation)
https://github

[2019-06-14 10:25] bquorning commented on #7124
I don’t think CircleCI has a concept of “allowed failures”. As I recall it, when we switched from Travis to Circle, it was decided to just make the `ruby-head` steps _not_ required status checks.

[2019-06-14 10:36] #7124 closed

[2019-06-14 10:59] bbatsov commented on #7133
Fair point! I guess I meant to write official User Manual or something like this back in the day, but mistyped or whatever. :D I'm fine with rebranding to "User Manual", "documentation" or whatever else people prefer.

An oversight we should address.

[2019-06-14 13:38] malyshkosergey commented on #7099
@jakeonrails, I was looking at this issue and found the reason of the failure.
But I am not sure why rescue should be aligned two more spaces.

Current valid indentation is the following
[code]

Any objection about it?

[2019-06-15 01:58] jakeonrails commented on #7099
@malyshkosergey This is what I would expect the formatter to do and how I correct indentation manually. (Well, I would actually do this:

[code]

Basically I think the rescue should probably be aligned with the matching `end` token.

[2019-06-15 07:58] pocke commented on #7137
Definitely! It will be helpful for beginners of gem developer.

[2019-06-15 10:00] mensfeld commented on #7131
I do understand that you guys are busy but could you at least tell me whether this is a new style recommendation or a bug?

[2019-06-15 21:40] SvcDptDev opened #7143 "Layout/CommentIndentation flags commented out else/elsif branches"
When I comment out an `else`/`elsif` branch from an `if` conditional, the Layout/CommentIndentation Cop flags the `else`/`elsif` line.

I'm not 100% sure this is really a bug. There is a strong argument against committing commented out code. My personal use case here is a code branch that I only want to use when I'm debugging. I could easily do something other than comment the branch out, but the

[2019-06-16 15:33] AdrienSldy opened #7144 "Style/Documentation accept constant visibility declaration as namespace"
When declare the visibility of a constant (class and module include), the namespace object get an offense to document it.

[code]

--------

## Expected behavior

Don't get an offense on the Namespace module. by considering constant visibility declaration as constant declaration.

## Actual behavior

Get an offense on the Namespace module.

## Steps to reproduce the problem

* Create a file with t

[2019-06-17 08:42] lawrencejones commented on #2782
Worth mentioning I just hit this issue- ideally you should be able to trust rubocop auto-corrects, but you can't for this one!

[2019-06-17 22:09] beechtom opened #7151 "Style/WordArray does not report strings with hyphens"
## Expected behavior

Word arrays with string literals are reported as offenses and rubocop suggests using `%w` or `%W` instead.

## Actual behavior

Word arrays with string literals are not reported as offenses if any of the strings contain a hyphen.

## Steps to reproduce the problem

[code]

With this word array, rubocop does not report any offenses.

[code]

But when removing the hyphen, ruboc

[2019-06-18 06:27] dgollahon commented on #5953
I know a lot of conversation regarding several separate issues has happened since my original complaint and it went stale at some point, but my original problem is still unsolved and I think it could be improved. I'm unable to use the cop because of extensive use of `concord` and `anima` and similar tools.

What I think should happen is the cop should determine what was defined directly in that sc

[2019-06-18 06:35] dgollahon commented on #4524
This is not the most common code, but I believe the false positive is still valid (and the advice causes a semantic change!) and could be detected by examining the local variables in scope. @Drenmi's suggestion might make sense for most people, though every time I've actually done this it's been helpful--usually to avoid some name forced upon me by a dsl or to do some kind of local memoization wit

[2019-06-18 06:41] dgollahon commented on #5837
This still bugs me when I'm ingesting data with keys that I didn't name. Since keyword argument binding (usually*) means you're not **"introducing" a name, but are accessing a name (vaguely related: there's no flag for using `:fooBar` in `hash.fetch(:fooBar)`) so it seems like it should not flag by default or be an option to turn off.

*Actually, i guess you _are_ "introducing" a name in some case

[2019-06-18 07:59] dgollahon opened #7152 "Set `safe` standards and/or implement --preserve-ast option"
Unless things have changed in the past couple of months and I missed it, I don't think there are clear guidelines for what makes a cop "safe". For background, it will likely help to read https://github.com/rubocop-hq/rubocop/pull/6714#issuecomment-466766807 and @Drenmi's follow-up.

If there is only going to be one level of safe, I would prefer it to be something that is AST-unmodifying. Otherwise

[2019-06-18 08:47] bbatsov commented on #7152
It's not as simple as this - even replacing the name of one method with an alias would technically modify the AST. :-) And there are cases where the changes to the AST would be bigger, but the semantics would be the same. Generally I don't think it's worth exploring this direction, although I'm open to doing some research in that direction. I think the idea of some levels of safety has some merits

[2019-06-18 10:58] bbatsov commented on #7131
Hmm, there's there definitely a bug here, but perhaps not the one I first thought of (when you first showed this to me I thought the problem was with the method calls position). Likely the behaviour was changed in this commit https://github.com/rubocop-hq/rubocop/commit/184c2a1e92caa6914fe75a0bcc484c64ab834594#diff-0b8552aed98e2fa61f6cf43358e05933, but someone will have to dig deeper. Both the new

[2019-06-18 10:59] bbatsov commented on #7131
//cc @maxh

[2019-06-18 11:33] Nta1e commented on #7151
I will be taking this on @bbatsov 🙂

[2019-06-18 13:30] dgollahon commented on #7152
I'm aware, that's what I'm saying I would prefer, if that were the only way to be 100% sure about some cops. This is probably not what most people would prefer for cases like stdlib aliases. I'm thinking of cases where I just want to format a new codebase (there are tons of should-be-whitespace-only changes and I don't trust rubocop enough without hand-auditing all changes). If I can say "run all

[2019-06-18 19:27] Lukom opened #7154 "Cops discussion links + vote button"
Hey, is it possible to add a possibility to vote for each rule + link to the discussion like it's on http://www.betterspecs.org/ ?

![image](https://user-images.githubusercontent.com/187657/59713050-24c05b80-9217-11e9-8ec3-adc7bb15009d.png)

It's frustrating when I do not fully agree with the rule and don't have a possibility to discuss it or easy way to find such a discussion if it took place. Ad

[2019-06-18 20:19] bbatsov commented on #7154
The discussions usually happen in https://github.com/rubocop-hq/ruby-style-guide (https://rubystyle.guide). At this initially this was the case, at some point they shifted mostly here.
In general the idea is that RuboCop should follow the evolution of the Ruby style guide.
I don't think that voting helps much, as it's easy to fake if you're persistent enough, so I prefer good arguments over a high

[2019-06-19 02:58] pboling commented on #5953
I would argue that `module_function` and `attr_reader ` tripping this is also a false positive, since it is not code that should be flagged as outside of best practice, even if the reasons for the flagging may be different.

[2019-06-19 03:06] dgollahon commented on #5953
Yeah, wasn't trying to imply those weren't issues, just worried the original problem case got lost in the other discussion.

It seems like this cop should maybe just be checking for `def` defined methods only.

[2019-06-19 06:43] koic commented on #7154
I completely agree with @bbatsov that good arguments should be preferred over voting and reaction.

[2019-06-19 09:05] mensfeld commented on #7131
You mean that as default?

[code]

Can you justify that decision?

[2019-06-19 09:37] joeyates opened #7155 "Running --auto-gen-config breaks .rubocop.yml containg URLs"
When running `rubocop --auto-gen-config`, `.rubocop_todo.yml` is added to `.rubocop.yml` as an `inherit_from`.

Currently, when`.rubocop.yml` contains existing `inherit_from` entries with **URL**s,
the URLs are not removed correctly.

--------

## Expected behavior

Describe here how you expected RuboCop to behave in this particular situation.

Given the following `.rubocop.yml`

[code]

the modif

[2019-06-19 09:40] joeyates commented on #7155
This is fixed by #7138

[2019-06-19 17:02] AdrienSldy opened #7157 "Remove useless Layout/SpaceAfterColon Cop"
## Is your feature request related to a problem? Please describe.

The `Layout/SpaceAfterColon`, checks space needed between colon and value in ruby 1.9 hash syntax. It's already check with Layout/AlignHash.
Each style describe in this latter cop guarantee at least one space between separators and values.

Also since #6649 release in [0.70.0 (2019-05-21)](https://github.com/rubocop-hq/rubocop/blob

[2019-06-19 19:10] maxh commented on #7131
Sorry to hear of your trouble. It's possible that some contributions I made to this project impacted the behavior here. Did the behavior previously support what you were looking for? What version did you upgrade from/to where the behavior changed?

In my team's codebase this is autocorrected to:

[code]

Which is what I would expect. Indeed, in JS prettier a similar expression gets autoformatted t

[2019-06-19 19:52] maxh commented on #5975
I suggest renaming this bug to "Unexpected Layout/ClosingParenthesisIndentation behavior with non-standard indent configs". The current title suggests the cop is broken in the general case, but in my team's codebase we use 2-space indent everywhere, and we don't have any issues.

For those of you experiencing issues, it would be useful to know what the value of `IndentationWidth` is for these rubo

[2019-06-19 20:47] jeremywadsack commented on #5975
@maxh, sorry but that still doesn't fix it:

[code]

[code]

[code]

[code]

---
I guess I'm confused about the difference between these two cops:

`Layout/IndentFirstArgument`

`Layout/IndentFirstParameter`

Beyond the inconsistency of "argument" vs. "parameter" why do we need two cops?

[2019-06-19 21:39] jfelchner commented on #5975
@jeremywadsack and what if you add `IndentationWidth: 4` to the `Layout/ClosingParenthesisIndentation` cop?

[2019-06-19 21:48] maxh commented on #5975
I just created this PR to explain:
https://github.com/rubocop-hq/rubocop/pull/7158/files#diff-a84499718ddc87fd24a1cb3dc7d46a3dR10

When I first started looking into this, `IndentFirstArgument` didn't actually fix method definitions, only calls, which led us to see issues symptomatically similar to yours in our codebase. But I was able to fix those by adding `IndentFirstParameter` to fix the indent

[2019-06-19 23:25] jeremywadsack commented on #5975
@jfelchner the problem with that is that we're not using 4 spaces for indentation. We just want parameters for multi-line method calls to be indented 4 spaces.

e.g.

[code]

I realize this is non-standard. I suppose what we really should do is use the standard 2-space indentation for multi-line. That would certainly make the code more in-line with expectations of in-coming developers.

I guess I'

[2019-06-20 05:51] koic commented on #7157
I think that roles of `Layout/SpaceAfterColon` cop and `Layout/AlignHash` cop are different.

`Layout/AlignHash` cop is a cop for Hash style. For example, `Layout/SpaceAfterColon` cop has detected a kwargs. This is not detected by `Layout/AlignHash` cop.

[code]

It can not be detected when `Layout/SpaceAfterColon` is disabled.

[code]

So `Layout/SpaceAfterColon` cop cannot be removed as it works

[2019-06-20 05:51] #7157 closed

[2019-06-20 10:47] AdrienSldy commented on #7157
@koic

You agree, I forgot to check the inline hash.

[2019-06-20 10:58] Lukom commented on #7154
100%! So, start including links to discussions under rules. Let's start this trend. People of 21 century have the right to comment!

This is where voting strikes. If it's hard to decide – start a discussion on StackOverflow, and by voting, we can easily find the best answer. This answer will have the Power because it'll contain arguments, upvoted comments and community support (votes count).

[2019-06-20 13:21] antonzaytsev opened #7159 "Support endless range from Ruby 2.6"
Latest version doesn't have support of added feature `endless ranges` in Ruby 2.6.

--------

## Expected behavior

In case of proper syntax for endless range, Rubocop should pass

## Actual behavior

It fails with error

[code]

## Steps to reproduce the problem

I created repo with 2 test files (ruby files and rubocop config).
https://github.com/antonzaytsev/rubocop-endless-range-issue.
Literall

[2019-06-21 03:36] koic commented on #7159
Thanks for the feedback. I opened a PR #7160.

[2019-06-21 09:31] #7159 closed

[2019-06-21 18:43] dduugg opened #7161 "Style/SafeNavigation autocorrect removes comments"
## Expected behavior

When rewriting code to replace `if` statements with safe navigation, I expect comments to remain intact.

## Actual behavior

Comments within the `if` statement are removed.

## Steps to reproduce the problem
[code]
autocorrects to
[code]
rather than
[code]

## RuboCop version
[code]

[2019-06-22 07:25] #7151 closed

[2019-06-23 11:17] bbatsov commented on #7053
I think we can close this on.

[2019-06-23 11:17] #7053 closed

[2019-06-23 22:17] rlgreen91 commented on #7053
Hello all,

Sorry it's take me a bit to come back to this.  I'm in the midst of an upgrade for this project, but I will try checking my Gemfile again once that's finished.

[2019-06-24 03:00] znz opened #7165 "Style/ConditionalAssignment causes undefined method `column' for nil:NilClass"
## Expected behavior

Do not raise exception.

## Actual behavior

When

- `EnforcedStyle: assign_inside_condition`
- condition without else
- auto correction

causes error:

## Steps to reproduce the problem

[code]

## RuboCop version

[2019-06-24 04:24] koic commented on #7165
Thanks for the feedback. I opened a PR #7166.

[2019-06-24 08:01] znz opened #7167 "Naming/RescuedExceptionsVariableName causes undefined method `loc' for nil:NilClass"
## Expected behavior

Do not raise error.

## Actual behavior

- `rescue` without variable name after `rescue` with a variable name
- auto correct

raise error

## Steps to reproduce the problem

[code]

## RuboCop version

[2019-06-24 09:40] koic commented on #7167
I could reproduce it and opened a PR #7168. Thanks!

[2019-06-24 14:34] dgmora opened #7170 "Layout/RescueEnsureAlignment doesn't behave as expected with inline private_class_method"
Rubocop reports a warning, when I think it shouldn't.

--------

## Expected behavior
I expect no warnings for this example. Also, autocorrection should align this method as it is:
[code]

## Actual behavior

This is the warning I get:
[code]
And this the autocorrection:
[code]

## Steps to reproduce the problem

Already described

## RuboCop version

[code]

[2019-06-24 16:13] snogrammer opened #7171 "An error occurred while Style/SafeNavigation cop was inspecting file: undefined method 'parent' for nil:NilClass"
## Expected behavior

Rubocop processes files without any errors encountered.

## Actual behavior

Rubocop raises a Style/SafeNavigation error when inspecting file:

[code]

## Steps to reproduce the problem

[code]

[code]

## RuboCop version

*Also happening on 0.70.0*

[code]

[code]

[2019-06-25 07:22] #7137 closed

[2019-06-25 07:23] #7165 closed

[2019-06-25 07:31] #6893 closed

[2019-06-25 07:31] #6907 closed

[2019-06-25 07:35] koic commented on #7167
This issue has been resolved by #7122.

[2019-06-25 07:35] #7167 closed

[2019-06-25 07:41] mensfeld commented on #7131
Hey, thanks for the answer.

Just to clarify:

 - I use defaults for `Layout/MultilineMethodCallIndentation`
- `IndentFirstArrayElement` is empty / default as well
- `IndentArray` not present

I don't use autocorrect as I don't have rubocop installed within my gemset (not relevant to the error).

When I change indentations to this (to give you a full scope):

[code]

Rubocop still reports followin

[2019-06-25 08:05] koic commented on #7171
I reproduced it and opened a PR #7172. Thanks!

[2019-06-25 10:08] #7155 closed

[2019-06-25 12:55] #7171 closed

[2019-06-25 13:00] #7130 closed

[2019-06-25 17:52] jonas054 commented on #3258
That's right, you can only use digits 0-7 in octal numbers. So `9` in decimal equals `0o11` in octal.

[2019-06-25 18:54] jigarius opened #7175 "A cop for Rdoc documentation"
## Is your feature request related to a problem? Please describe.

I come from a PHP / Drupal background and I recently started working on Ruby. One thing I really like about Drupal is that they have a coding standard for documenting code. So, there are standard ways of documenting classes, functions, variables, etc.

## Describe the solution you'd like

It would be cool to have a cop which would

[2019-06-25 19:15] koic commented on #7175
I think that you can use `Style/Documentation` cop and `Style/DocumentationMethod` cop .

- https://docs.rubocop.org/en/stable/cops_style/#styledocumentation
- https://docs.rubocop.org/en/stable/cops_style/#styledocumentationmethod

`Style/DocumentationMethod` is disabled by default. You can enable it by setting the following in .rubocop.yml.

[code]

The following is an example.

[code]

On the o

[2019-06-25 19:15] #7175 closed

[2019-06-25 19:55] jfelchner commented on #5975
@jeremywadsack wow, I think "non-standard" is the very polite way of putting that. 😂

`IndentationWidth` is indeed the thing that would do that, but for `ClosingParenthesisIndentation`, it's going to use that width for ALL closing parenthesis, so in your case, if you're only indenting 4 spaces on parameters, then you'll end up with errors on other invocations like this:

[code]

The above example

[2019-06-26 01:58] maxh commented on #7131
I see. Two suggestions below depending on the behavior you want. The defaults are a bit inconsistent for these two cops, I guess. (It appears this inconsistency is unrelated to my changes FWIW, but potentially worth fixing within the upstream codebase.)

(A) If you want this:

[code]

Then switch to `indented` style for `MultilineMethodCallIndentation`:
https://www.rubydoc.info/gems/rubocop/RuboCo

[2019-06-26 09:24] znz opened #7177 "Layout/IndentAssignment breaks some code"
## Expected behavior

Do not modify contents in String.

## Actual behavior

Insert spaces into string literal.

## Steps to reproduce the problem

[code]

## RuboCop version

[code]

[2019-06-26 12:19] kamilpp opened #7178 "Rails/TimeZone autofix broken for "DateTime.now""
So I had somewhere in the code `DateTime.now`. When running the linter (`rubocop` command) I was getting this error:

[code]

which is correct.

But, when I run `rubocop --safe-auto-correct` that string get changed to `DateTime.zone.now` which is incorrect – `DateTime` does not implement `zone` method:

[code]

--------

## Expected behavior

After running autofix, I expect `DateTime.now` changes

[2019-06-26 22:25] samstickland opened #7180 "Rubocop 0.72.0 inspecting 0 files"
Rubocop was working correctly on 0.49.1, but since upgrading to 0.71.0 we cannot run the Rubocop command to check files - it just reports that 0 files have been inspected.

Oddly, Rubocop still works correctly via `pronto run` and my vim linter (Ale)

## Expected behavior

This is the correct behaviour using 0.49.1:

[code]

## Actual behavior

This is the behaviour we get with 0.71.0

[code]

##

[2019-06-26 22:26] samstickland commented on #7180
I've seen the other comments about this problem when the `.rubocop.yml` file is blank, but ours isn't

[2019-06-26 22:28] samstickland commented on #7180
Run via `pronto run` we get this output (expected behaviour):

[code]

Interestingly I've just tried it with an almost completely blank `.rubocop.yml` file and it worked from the CLI.. I will have a dig and try and find out which config might be causing this.

[2019-06-26 22:32] samstickland commented on #7180
It's these lines that cause the issue:

[code]

[2019-06-26 22:36] samstickland commented on #7180
Hmm.. seems to be that behaviour of `Include` was changed here: https://github.com/rubocop-hq/rubocop/issues/4247

[2019-06-27 11:12] buehmann commented on #7032
I can reproduce this as and tried to reduce the problem via `bundle exec rake internal_investigation` down to
[code]
The `AllCops/Exclude` line leads to [this spec](https://github.com/rubocop-hq/rubocop/blob/f04ad39050717a95cd8d2b7075f8c96b50d94342/spec/rubocop/config_loader_spec.rb#L136-L156) which was introduced in https://github.com/rubocop-hq/rubocop/pull/295

Sure enough, my rubocop checkout

[2019-06-27 15:43] mensfeld commented on #7131
Thank you - so to make it clear, with the default RuboCop settings as it is now, I will be offended either by one or the other, right?

[2019-06-27 17:54] maxh commented on #7131
Yep, I think that's correct. I'm not sure how the defaults end up being set to what they are. I think RuboCop overall is more oriented towards configurability + flexibility rather than having perfect defaults out of the box.

Here's our configuration of these cops, fwiw:

[code]

[2019-06-27 17:57] mensfeld commented on #7131
Yes I do understand that although I would still consider that as a bug as there's a contradiction here.

[2019-06-28 03:16] koic commented on #7180
Performance cops have been removed from RuboCop 0.68. Please use the rubocop-performance gem instead about this error.
https://github.com/rubocop-hq/rubocop/blob/master/manual/migrate_performance_cops.md

[2019-06-28 08:51] yskkin opened #7186 "Style/MixinUsage behaves inconsistently for guard clause"
## Expected behavior

Both of `WebRoutes` and `DebugRoutes` lines behaves same against rubocop

## Actual behavior

`Style/MixinUsage` violation is reported only for `DebugRoutes`

[code]

## Steps to reproduce the problem

Lint this file:

[code]

## RuboCop version

[code]

[2019-06-30 19:12] Sharparam opened #7189 "Multiline copyright comments not working"
In my code, I'd like to enforce a copyright comment at the top of files similar to:

[code]

The `Style/Copyright` inspector seemed right for this, but it does not seem to work properly when giving it a multiline comment for the `Notice` key.

--------

## Expected behavior

Rubocop should work with multiline copyright comments.

## Actual behavior

Rubocop claims the copyright comment is invalid.

[2019-06-30 23:47] amyspark opened #7190 "Wildcard excludes do not work if running within Git Bash"
Hey all,

I've run into a bug when using Rubocop with bash (Git Bash) under Visual Studio Code.

This is the relevant portion of .rubocop.yml:

[code]

## Expected behavior

When running `rubocop -a`, it doesn't check excluded files.

## Actual behavior

Rubocop checks all paths including the excluded entries:
[code]

This still happens when running Rubocop through a CMD instance (Git Bash -> `cmd

[2019-07-01 03:23] #7170 closed

[2019-07-02 06:00] kamillle opened #7192 "Style/MutableConstant reacts to Range object."
## Expected behavior
Style/MutableConstant does not react to `RANGE = 1..2` as Range object is immutable.

[code]

## Actual behavior
Style/MutableConstant does not react to `RANGE = 1..2` .

[code]

## Steps to reproduce the problem
prepare test file and assign to Range object to a constant, then run rubocop

## RuboCop version

Include the output of `rubocop -V` or `bundle exec rubocop -V` if us

[2019-07-02 08:42] luke-hill commented on #5953
:point_up: does this seem a fair compromise rubocop devs?

[2019-07-02 18:30] rrosenblum commented on #7192
Technically, range is a mutable object in Ruby.

[code]

However, I am unaware of any methods that can actually mutate a range so it acts as if it is immutable. The same thing is true for `Regexp` which is also flagged by this cop. Ideally, these objects would be made immutable in Ruby itself.

There are valid arguments for and against us flagging range and regex as mutable. I will defer to others

[2019-07-02 23:10] lamont-granquist opened #7193 "Style/SymbolArray autocorrect breaks `:[]`"
here's the diff resulting from the autocorrect:

[code]

and those expressions are not equivalent:

[code]

[code]

[2019-07-02 23:23] lamont-granquist commented on #7193
not entirely unsurprisingly `:[]=` also gets broken.

[2019-07-03 00:33] koic commented on #7193
I cannot reproduce by the default settings. Could you show a .rubocop.yml for this auto-correct?

[2019-07-03 02:49] koic commented on #7186
Thanks for the feedback. I opened a PR #7194.

[2019-07-03 07:27] #7186 closed

[2019-07-03 14:09] mikegee commented on #7192
This is what I also checked when I saw this issue. Since I can't think of a way of mutating a range, I'm ok with this cop ignoring the fact that `frozen?` returns `false`.

[2019-07-03 16:36] lamont-granquist commented on #7193
I'm using `rubocop --only  Style/SymbolArray` so I don't think the contents of the .rubocop.yml matters?

The contents of the .rubocop.yml though is:

[code]

[2019-07-03 16:50] pocke commented on #7193
I can reproduce it with a configuration of Style/PercentLiteralDelimiters cop.

[code]

I guess you have the cop's setting in some .rubocop.yml.
Can you confirm your .rubocop.yml? You can use `rubocop --debug` to display configuration files that are used by rubocop. I guess it includes another .rubocop.yml.

[2019-07-03 17:05] lamont-granquist commented on #7193
yeah, i just figured out the same thing.

i don't quite understand how it was picking it up but:

[code]

[2019-07-03 17:10] lamont-granquist commented on #7193
Actually its possible I ran that in isolation with --only and then saw the `%i[]`s were added and then fixed the PercentLiteralDelimiters with a global run with autocorrect on against those rules.  Although one way or another there's an autocorrect bug here, possibly two, since when the PercentLiteralDelimiters change any escaped old delimiter should become unescaped.

[2019-07-03 21:11] jeremywadsack commented on #5975
@jfelchner: We use 4 spaces for all set-like continuation. e.g. Method calls, arrays, hashes. This visually distinguishes it from 2-line indentation for control flow. I'm not sure where we picked up the style, likely some much older version of the style guide that's since been changed.

There were 6 other people who 👍'd this issue. I'm closing this as "obscure" but if anyone else has any concerns

[2019-07-03 21:11] #5975 closed

[2019-07-04 04:07] #7099 closed

[2019-07-05 16:11] ThomasOwens opened #7197 "With immutable string literals not being the default in Ruby 3, does FrozenStringLiteralComment still make sense by default?"
See [the Ruby feature request](https://bugs.ruby-lang.org/issues/11473), in particular [matz's comment](https://bugs.ruby-lang.org/issues/11473#note-53).

When this feature was on the roadmap for Ruby 3, this cop made sense to me by default to help make sure that I would be able to reduce the pain in upgrading. However, it's now off the roadmap, so I'm not sure that this cop makes sense as somethi

[2019-07-05 19:50] mikegee commented on #7197
Frozen string literals reduce object allocations because Ruby doesn't allocate the same content in a new string object each time the literal is encountered. There is only one instance of that `String`.

There were a few years when folks were sprinkling `.freeze` calls on all the string literals for the performance benefits. The magic comment is preferable for readability.

[2019-07-05 20:08] jakeonrails commented on #7099
Thank you for the fix @koic and @tatsuyafw :D

[2019-07-06 06:00] bbatsov commented on #7197
Indeed. We might consider moving this cop to `rubocop-performance`, though, if there's no chance that this will become the default in Ruby at some point (e.g. Ruby 4, etc).

[2019-07-06 14:42] koic commented on #7197
As far as I asked Matz a few months ago (RubyKaigi 2019), it was abandoned to default the frozen string literals in Ruby 3, but Matz seems to be thinking about an opportunity to default the frozen string literals in the future.

Also, frozen string literals has been introduced to libraries managed by the Ruby developers team (CSV, Psych, WEBrick, and others). https://github.com/ruby

I think it is

[2019-07-07 19:00] jonas054 commented on #7190
This step is unclear to me. What do I do, exactly?

[2019-07-08 14:25] AlexWayfer commented on #5788
Nice: unfixed bugs become closed due to unfixing. For presentation like "we have not too much open issues".

[2019-07-08 14:32] bbatsov commented on #5788
@AlexWayfer See https://metaredux.com/posts/2019/05/09/always-be-closing.html

[2019-07-08 19:58] lamont-granquist commented on #6493
Dunno if this would be considered a separate issue but heredocs don't seem to be considered multiline either:

[code]

[2019-07-08 21:25] lamont-granquist opened #7198 "AlignArguments (and AlignParameters probably) interaction with AlignHash w/ignore_implicit"
with these settings:

[code]

I wouldn't expect this to be legal:

[code]

Because the kwargs there are an implicit hash they're being ignored by AlignHash correctly, but what I'd like is for AlignArguments to pick up the slack and fix it to:

[code]

The first snippet in a .rubocop.yml with all the rest of the default rubocop rules passes on either version of this code so there's no enforcement a

[2019-07-09 10:07] #5088 closed

[2019-07-09 13:18] vzamanillo opened #7201 "Add styleGuideUrl property to offense when using --display-style-guide and --format=json flags"
## Is your feature request related to a problem? Please describe.

It is very hard to get the display guide URL from the message, you are forced to parse it (e.g: using regex) which seems very fragile.

## Describe the solution you'd like

Add a property like `styleGuideUrl` (or whatever) when use `--display-style-guide` and --format=json, by this way it should very easy to get and use it (e.g: wi

[2019-07-09 22:13] amyspark commented on #7190
Apologies @jonas054 ! By "running Rubocop", I meant the following steps. It's probably way excessive, but it will help match my project layout.

1. Set up a Rails project with `rails new test --api -T`.
2. In the Gemfile, add `gem rails-rspec`. Run `bundle` and then `rails rspec:install`.
3. Copy the `.rubocop.yml` file I've attached in this issue.
3. Run  `rubocop -a` on the project folder.

As i

[2019-07-11 12:27] sevenmaxis opened #7205 "Running after `--auto-gen-config` does not ignore all convention offenses"
I've generated `.rubocop_todo.yml` by `rubocop --auto-gen-config` command and get 13445 offenses.
Then I run just `rubocop` and still get 3858 offenses.
Seems that `.rubocop_todo.yml` doesn't work as expected.

[2019-07-11 16:36] ngw opened #7206 "Project purpose and usage are sometimes misunderstood."
Some people misunderstand Rubocop purpose, I think we might need some kind of disclaimer on the purpose of the project and a couple lines about quality != consistency.

The website and the README should display some kind of disclaimer on how to use this, eventually some considerations on how to use rubocop and not blindly follow all the defaults. We clearly can't fix everything but if people is mi

[2019-07-13 06:57] #4719 closed

[2019-07-14 16:37] ashmaroli opened #7207 "A Cop to detect wasteful initializations"
## Is your feature request related to a problem? Please describe.

I frequently encounter non-memoized method definitions that involve generation of a constant object that doesn't depend on the state of the Class / Module.

### Example

Given that there's a class with following instance methods:

[code]
The Hash generated in `:fallback_data` and the intermediate array in `:cross_over` are both goi

[2019-07-15 02:01] ribose-jeffreylau commented on #6934
Stale bot, this problem still exists as of:

[code]

[2019-07-15 02:17] Drenmi commented on #7207
Hi, @ashmaroli!

The performance cops have recently been moved to [their own repository](https://github.com/rubocop-hq/rubocop-performance). Please help move your issue over there. Thank you! 🙇

[2019-07-15 02:17] #7207 closed

[2019-07-15 04:01] ashmaroli commented on #7207
@Drenmi Will you be able to *transfer this issue* using the GitHub UI?
https://help.github.com/en/articles/transferring-an-issue-to-another-repository

[2019-07-15 11:09] bbatsov commented on #7103
Maybe we can add some extra option (or tiny tool) to lint `.rubocop.yml`?

[2019-07-15 11:23] jonas054 commented on #7190
I have not been able to reproduce the problem. I think we need a more minimal reproduction description:

- a minimal `.rubocop.yml`
- can we boil it down to a single file, e.g. `config/application.rb`?
- does it occur with `--only Style/Documentation`?
- is it only with `-a`?
- does it occur only in VS Code or can it be reproduced just running in a Git Bash window?

You said `rails-rspec`, but mea

[2019-07-15 12:54] okuramasafumi commented on #7103
Maybe this feature should not be a Cop but a command line utility. I'm closing this for now since it's not a RuboCop issue anymore. If you think it should be a Cop then please reopen it.

[2019-07-15 12:54] #7103 closed

[2019-07-16 00:59] matthewhively opened #7209 "Layout/SpaceBeforeFirstArg AllowForAlignment does not work as expected"
I have a file where 2 lines of parameters are the same other than a prefix, so additional spacing was added for visual clarity.

Here is a stripped down version of the file
[code]

The cop `Layout/SpaceBeforeFirstArg` does not properly detect this case.
It appears the culprit is the preceding line `belongs_to :promo_zone`. If it is commented or removed then the cop passes without issue.

This vers

[2019-07-16 08:40] vStone commented on #536
using `rubocop -c .rubocop.yml` also does seem to prevent looking for other .rubocop.yml files in parent directories.

[2019-07-16 18:17] buehmann commented on #7143
To be honest, your commented code also looks strange to me. I would use the following:
[code]

[2019-07-16 18:28] buehmann commented on #7085
RuboCop is also happy with the following placement of the end marker. Just to give you another option …
[code]

[2019-07-16 19:16] buehmann commented on #7061
It turns out that autocorrection for cop `Layout/EndAlignment` has been disabled by default since 2015: https://github.com/rubocop-hq/rubocop/pull/1789

You could add the following to your `.rubocop.yml` to enable it:
[code]

[2019-07-16 19:18] amyspark commented on #7190
Hey @jonas054 , I'll reply on each point.

I can't minimize it, as it will introduce additional noise on the output.

I've trimmed it down to a few relevant files (one per folder) along with their subordinate `.rubocop.yml` files.

Yes.

No, `rubocop` and  `rubocop -a` fail in the same way.

Only in VS Code, and from my experience, only when:

* using a workspace (ie more than one opened folder in

[2019-07-16 22:40] liamwhite opened #7212 "Layout/EmptyLinesAroundAccessModifier and Lint/UselessAccessModifier should only apply at class scope"
It is possible to trigger the style cop Layout/EmptyLinesAroundAccessModifier in various ways by using `public` and `private` as instance methods on a class which are not directly defined in that class.

In addition, it is possible to trigger the lint Lint/UselessAccessModifier by using the `public` and `private` access modifiers e.g. in conditionals.

Below is a (somewhat pathological) testcase t

[2019-07-17 05:56] bbatsov commented on #7206
I think we already covered this here https://rubystyle.guide/#a-note-about-consistency

That's a weird story. I'm sorry to hear this, but probably you don't want work for a company that evaluates people in this manner anyways.

[2019-07-17 05:57] #7180 closed

[2019-07-17 08:01] jonas054 commented on #7061
Thanks @buehmann! This problem comes up every now and then. If and when we write an FAQ, the above is sure to be featured.

[2019-07-17 08:01] #7061 closed

[2019-07-17 09:11] ngw commented on #7206
That’s for sure, but I believe my ticket is still valid, isn’t it? I don’t know if the person doing this was technical (apparently product manager - so no) but there could be misunderstandings, isn’t it? At the end it’s 100 “offences” to the code, if I wasn’t a dev that wouldn’t sound nice :) (I mean I’m interested in an opinion too, first time this ever happened to me). Am I being too anal?

HAND

[2019-07-17 09:13] #7206 closed

[2019-07-17 09:31] samstickland commented on #7180
Rubocop isn't using semver then?

[2019-07-17 10:44] bbatsov commented on #7180
Not yet. Right now every release can potentially contain breaking changes, although we obviously try to limit those. We're aiming for a 1.0 release and adoption of SemVer by the end of the year.

[2019-07-17 11:13] samstickland commented on #7180
Thanks for the response!

[2019-07-17 14:08] SvcDptDev commented on #7143
Hmm. I use Sublime Text and after checking, I see that it comments the same way you just showed, and that that doesn't generate a violation. I'm not sure how I came up with the example code I posted. Thanks for pointing out my mistake.

[2019-07-17 14:08] #7143 closed

[2019-07-17 14:11] luke-hill opened #7215 "Style/Guard Clause conflicts with Metrics/LineLength in certain situations"
## Expected behavior

rubocop shouldn't advise me to change my code if changing it will introduce more failures, in the code example below, the changing from multi-line to single line will break the LineLength restriction

## Actual behavior

You get into a circular loop. Change from multi-line to single line, then back to multi-line

## Steps to reproduce the problem

[code]

## RuboCop version
0

[2019-07-17 15:33] Aqualon opened #7216 "Style/FormatStringToken with --disable-uncorrectable can't handle multiline strings"
## Expected behavior

When rubocop disable statement via `--auto-correct --disable-uncorrectable` is added, it should handle multiline strings.

## Actual behavior

It does not handle multiline strings and adds the `# rubocop:disable Style/FormatStringToken` in a place, where it breaks the code.

## Steps to reproduce the problem

For this code in `foo.rb`
[code]
Then execute the cop
[code]
Result

[2019-07-17 17:28] jfelchner commented on #5265
Fixed in #7211

[2019-07-17 17:28] #5265 closed

[2019-07-17 17:29] jfelchner commented on #6934
This should be fixed in #7211

[2019-07-17 17:29] jfelchner commented on #6069
This should be fixed in #7211

[2019-07-17 17:30] jfelchner commented on #6259
For equal sign alignment, this should be fixed in #7211.  If you want to have different groups of alignment, you just have to separate them by an empty line.  Each group's assignments will be aligned separately.

[2019-07-18 17:18] imi24 commented on #2901
I have error  like
`couldn't find HOME environment -- expanding `~'`
for use pod command in mac after update to high sierra and i have  fixed it by install rvm and permission files...

some of error fixed with
[code]

if it didnt fixed continue ...

[code]
--- If rvm didnt work search and install it :-)
--- With rvm we can fixed permissions - just this :-)

[code]

and after restarting my mac I fi

[2019-07-18 19:20] mdole commented on #7212
+1, also experiencing this issue with the following code:
[code]

[2019-07-18 20:36] dduugg opened #7219 "Autocorrect support for Lint/ErbNewArguments"
The `Lint/ErbNewArguments` cop introduced in https://github.com/rubocop-hq/rubocop/pull/5845 produces messages like "Passing safe_level with the 2nd argument of ERB.new is deprecated. Do not use it, and specify other arguments as keyword arguments." and "Passing trim_mode with the 3rd argument of ERB.new is deprecated. Use keyword argument like ERB.new(str, trim_mode: '-') instead."

It would be n

[2019-07-19 05:02] vfonic opened #7220 "Rubocop `Exclude:` wildcard match files in parent directory (`..`)"
This was a difficult bug to find. :)

I wrote a huge bug description here, but I managed to narrow the issue down to a simple repo. Here's the repo: https://github.com/vfonic/rubokop

Here are the repro steps:

[code]

I understand that config files starting with `.rubocop` are treated differently, but I'd expect `'**/*_spec.rb'` to be interpreted the same way (to match all of the file paths, no m

[2019-07-19 05:24] koic commented on #7219
Thanks for the feedback. I opened a PR #7221.

[2019-07-19 07:19] buehmann commented on #7220
I did not know that rubocop behaved that way, but at least it is documented: https://rubocop.readthedocs.io/en/latest/configuration/#path-relativity

[2019-07-19 07:22] vfonic commented on #7220
I'm aware of that. The issue is that I'm using a wildcard: `'**/*_spec.rb'` but the file doesn't get excluded. I believe it should.

(the issue is probably in relative path resolution having `..` in it, I _think_)

[2019-07-19 07:40] buehmann commented on #7220
The path `**/*_spec.rb` gets evaluated relative to the location of `config/.rubocop.yml`; so it effectively excludes `config/**/*_spec.rb`.

[2019-07-19 07:51] buehmann commented on #7110
[code]
is not equivalent to your original code: Here the condition applies to the assignment; in the orignal version it applies to the right-hand side only.

This would be equivalent:
[code]
And both cops are happy with it. (I am not; so I'd probably rewrite this.)

[2019-07-19 08:01] buehmann commented on #7128
The `Metrics/LineLength` cop can be configured to ignore lines that match certain patterns. Maybe that would help you?

[code]

[2019-07-19 08:13] buehmann commented on #7088
I cannot reproduce this with 0.73.0 and the default configuration. Could you share a `.rubocop.yml` that triggers the behaviour?

[2019-07-19 08:20] koic commented on #7088
Yeah, this issue has been resolved by #7199. Please update RuboCop to latest version.  Thanks @buehmann!

[2019-07-19 08:20] #7088 closed

[2019-07-19 08:22] robertgauld commented on #7088
Indeed, fixed in latest version.

[2019-07-19 08:58] vfonic commented on #7220
Aaaaaaaah. Now I understand why it's happening. :) Thanks!

I guess this is a WONTFIX then? I'll close it.

[2019-07-19 08:58] #7220 closed

[2019-07-19 13:09] kddeisz commented on #7110
Interesting - I'll close this, thanks for the feedback.

[2019-07-19 13:09] #7110 closed

[2019-07-19 16:08] bbatsov opened #7223 "A proper home page and a better documentation portal"
As we're inching closer to the release of RuboCop 1.0 I was wondering if it makes sense to invest in a proper home page and a better documentation portal.

RuboCop used to have a homepage, but we forgot about it as some point (http://rubocop-hq.github.io/rubocop/). It was pretty basic, though, and there was a lot of room for improvement.

Our current docs site is powered by RTD, which is quite lim

[2019-07-19 17:00] jonas054 commented on #7190
Thanks for the detailed description! Using that example project I was able to reprocude the problem in VS Code. I got the squiggly line under that `class` keyword in `application.rb` and the tooltip offense report from `Style/Documentation`.

But I have not been able (just as you hinted) to reproduce it in a shell. Not in Git Bash and not in CMD. This leads me to believe that the problem lies in [

[2019-07-19 17:08] #7219 closed

[2019-07-19 17:13] amyspark commented on #7190
Hey @jonas054 ,

Glad to see you could reproduce it! However,

I **do not** use any Ruby-related extensions in my VS Code installation. I only run Rubocop from within the integrated terminal, with `terminal.integrated.shell.windows` pointing to `"d:\\Program Files\\Git\\bin\\bash.exe"`.

Git Bash itself works correctly, it's only in their integrated terminal that this bug appears.

[2019-07-19 18:00] dduugg commented on #7219
Wow, that was fast! Thanks!

[2019-07-21 07:45] jonas054 commented on #7190
I think I finally managed to reproduce _your_ problem as well.

I also noticed the following behavior:

[code]

See how the `cd .` changes the drive letter to upper case? This is what trips up RuboCop, and I think the best solution is if we handle lower case drive letters as well as upper case. A change is needed in `PathUtil#absolute?`. I'll submit a PR.

[2019-07-21 18:54] amyspark commented on #7190
I did a bit more digging, and this seems to be a known issue when running shells inside VS Code: microsoft/vscode#9448, microsoft/vscode#45760, microsoft/vscode#70004 .

[2019-07-22 12:14] TomasBarry opened #7226 "Rubocop does not flag undeclared variables"
Given the following code:

[code]

Rubocop only flags a single issue:

[code]

This can lead to subtle errors being raised when the above method is actually run.

--------

## Expected behavior

Rubocop should flag that variables 'a', 'b', and 'c' are all undeclared.

## Actual behavior

Rubocop does not flag any undeclared variables

## Steps to reproduce the problem

Using the following code:

[

[2019-07-22 20:16] dduugg opened #7227 "EnforcedSyle options for Style/InfiniteLoop"
## Is your feature request related to a problem? Please describe.

The `Style/InfiniteLoop` cop requires the use of `loop do` over `while true`. I would like an option to require the latter instead, as it has better performance characteristics (it doesn't create a new scope). See the Ruby Kaigi [talk](https://rubykaigi.org/2019/presentations/ktou.html) on "Better CSV processing with Ruby 2.6" (in

[2019-07-22 21:40] matkoniecz commented on #6630
Unstale.

[2019-07-23 05:54] buehmann commented on #7226
This is hard because variables are not declared in Ruby. In the example above, `a`, `b`, and `c` are parsed as method calls. And those methods could be inherited and therefore defined in some other source file, making this valid and error-free code.

[2019-07-23 05:58] #7190 closed

[2019-07-23 06:20] buehmann commented on #7032
Adding `--ignore-parent-exclusion` to the rubocop options in `Rakefile` would be one option. See https://github.com/rubocop-hq/rubocop/issues/4328

[2019-07-23 06:51] tejasbubane commented on #7032
@buehmann I already tried it, does not work. It only ignores `Exclude` from parent. My parent config has an invalid cop name. Not sure but I think we might need another flag which disables parent inheritance entirely.

[2019-07-23 08:18] TomasBarry commented on #7226
You are correct. Thanks for the clarification.

[2019-07-23 08:18] #7226 closed

[2019-07-23 09:50] koic commented on #7227
I'm a native Japanese speaker and I joined RubyKaigi 2019 and listened to them. I heard about the YouTube recording again now. This may be a bit confusing if only slides are referenced...

In conclusion, they are not always recommended to use `while true`.

Basically, it is recommended to use `loop` and is told to use `while true` unavoidably when it becomes a bottleneck. Their talks are against m

[2019-07-23 09:50] #7227 closed

[2019-07-23 14:43] buehmann commented on #7032
You're right, my mistake. `--ignore-parent-exclusion` still loads `~/.rubocop.yml`.

[2019-07-23 16:32] buehmann commented on #5628
I have a fix for `Layout/SpaceInsideStringInterpolation` that I am going to turn into a PR soon.

[2019-07-23 19:28] marcandre commented on #6963
Still valid

[2019-07-23 21:19] tomprats opened #7230 "Allowing inherit_mode in AllCops"
I searched through all the other issues with `inherit_mode` and while there's a lot of discussion, I think they talk about changing defaults or how the inheritance is applied. I'm talking about allowing `inherit_mode` in a new place to achieve something different.

## Is your feature request related to a problem? Please describe.

`inherit_mode` can be specified for the entire config, as well as s

[2019-07-24 03:40] bbatsov commented on #7223
Seems there are no objections to doing this and I can tackle at some point the manual conversion itself, which should pretty straightforward. The only thing that will required a bit of work is the landing page and the generator for the cop docs.

[2019-07-24 10:49] marcandre commented on #6964
Bump

[2019-07-24 10:50] marcandre commented on #6962
Bump

[2019-07-24 15:37] #5628 closed

[2019-07-25 08:29] coorasse opened #7231 "Warning: unrecognized cop always exits with code 0"
## Expected behavior

When a warning `Warning: unrecognized cop` is raised we expect to exit with status code 1.

## Actual behavior

`rubocop` exits with code 0.

Using `rubocop --fail-level=warning` or `Lint:
  Severity: warning` option has no effect.

## Steps to reproduce the problem
[code]

0 is printed, 1 should be printed because a warning is raised.

## RuboCop version

0.73.0

[2019-07-25 19:32] robenkleene commented on #7128
@buehmann Thanks Andreas! I tried this approach out and it seems like a good workaround for my situation. I still think ideally the shebang should be ignored by default, so I'll leave the issue open for however the maintainers want to handle it. Thanks and cheers!

[2019-07-25 19:49] buehmann commented on #7128
@robenkleene You're welcome. And I have good news: I saw this PR this morning: https://github.com/rubocop-hq/rubocop/pull/7232

[2019-07-25 20:01] rafaelfranca commented on #7212
Same:

[code]

[2019-07-26 01:48] #7128 closed

[2019-07-26 07:25] jonas054 commented on #7215
@luke-hill You're not the first one who misunderstands the term _guard clause_. What the cop wants is this:
[code]

I'm going to make a change in `Style/GuardClause` that clarifies in its message what it wants you to do. A PR is in the works.

[2019-07-26 08:57] luke-hill commented on #7215
Awesome response there jonas. Thanks. Will amend accordingly.

[2019-07-26 14:07] AlexWayfer commented on #5953
Our case:

[code]

[2019-07-26 15:59] dhnaranjo opened #7235 "Style/IfInsideElse and friends swallowed a condition when --safe-auto-correct'd"
--safe-auto-correct of some less than ideal code resulted in a conditional branch completely getting deleted. Thankfully we had test covg around it, but I figured y'all would like to know. The code sample below is a direct copy of the code with object n method names changed.

--------

## Expected behavior

Rubocop either resolves issues without breaking functionality or identifies them without au

[2019-07-26 20:54] manlon opened #7236 "auto-correct Style/InverseMethods and Style/SymbolProc together inverts meaning of code"
Code like

```[:a, false, :b, false].reject { |x| !x }```

violates `Style/InverseMethods` and `Style/SymbolProc`. Fixing one or the other should be enough but when `--auto-correct`'d we get

```[:a, false, :b, false].select(&:!)```

which has the opposite meaning. I realize Style/SymbolProc is not auto-correct-safe but here the correction _would_ be safe except for interfering with Style/InverseM

[2019-07-27 07:22] buehmann commented on #7235
Here's a reduced example:
[code]
is autocorrected by `Style/ConditionalAssignment` to
[code]
It does not fail on the `elsif` variant. The cop might be fooled by the similar ASTs.

[2019-07-27 08:16] #7215 closed

[2019-07-27 08:29] #6861 closed

[2019-07-27 13:06] #7235 closed

[2019-07-27 14:09] gkpacker commented on #7201
I'd like to try to implement that

[2019-07-27 14:41] vzamanillo commented on #7201
I was thinking about the implementation of this feature, I think the better aproach should be adding the Cop reference URLs to the Offense and move most of the logic from MessageAnnotator to another class to handle that URLs and extend it to have a new MessageAnnotator.

[2019-07-27 18:28] gkpacker commented on #7201
I was studying the code, and i agree that we should add a `style_guide_url` attribute to the offense, so we can get it on `RuboCop::Formatter::JSONFormatter#hash_for_offense` like this:

[code]

What do you think?

[2019-07-27 18:31] gkpacker commented on #7201
Then, i got an offense on `Offense` parameter list, now that it has more than 5 args, so i was looking for how to use `Config.for_cop` at `Offense.cop_name`, but i don't know if it will work, since its name doesn't have the "department". Does it makes sense?

[2019-07-27 20:26] dhnaranjo commented on #7235
Dang y'all, good looking out with the quick response. Appreciate all your efforts.

[2019-07-27 21:51] vzamanillo commented on #7201
One solution to `Too many parameters` is to use objects as parameters (this implies a lot of codebase changes) or pass the optional parameters as a hash (more appropiated to this case)

[code]
I wonder if makes sense to check the `display_style_guide` CLI option with JSON format, I think the offense hash should be serialized as the offense is and let the developer choose how to use it, it makes se

[2019-07-29 17:41] jonathanschlue-as opened #7241 "Style/FrozenStringLiteralComment matches arbitrary token as being no offense"
Rubocop's cop `Style/FrozenStringLiteralComment` for enforcing the so called frozen string literal comment misses some offenses.

It does not report offenses if an arbitrary string value without whitespace is specified, although the resulting magic comment does not switch on frozen string literal behaviour.

Consider the file `foobar.rb`:

[code]

[code]

--------

## Expected behavior

It should

[2019-07-29 18:48] eyqs commented on #3696
Can we re-open this issue? It takes me a few seconds to process that an explicit `nil` is just a placeholder for a no-op block, as opposed to anything semantically meaningful. I'd be happy to work on this if others agree that having an empty block with a comment is OK.

[2019-07-30 08:49] buehmann opened #7242 "Style/ConstantVisibility does not work on non-trivial class bodies"
This is the issue I already mentioned [here](https://github.com/rubocop-hq/rubocop/pull/7239#issuecomment-515883573). I will add a PR fixing it shortly.

`Style/ConstantVisibility` does not do what it says on the cover.

## Steps to reproduce the problem

Enable the cop in your .rubocop.yml
[code]
Run rubocop on the following example taken straight from the [documentation](https://github.com/ruboc

[2019-07-30 09:30] Drenmi commented on #7236
Thanks for your report @manlon! 🙏

I have made a PR that marks the auto-correct of `Style/InverseMethods` as incompatible with that of `Style/SymbolProc`, so in the case they both want to correct, the former should back off.

[2019-07-30 19:06] libc opened #7246 "Infinite loop correcting Layout/EmptyLinesAroundAccessModifier"
Infinite loop when correcting the following code with the default config:

[code]

I looked in the opened issues, and couldn't find anything related, but hope it's not a duplicate.

--------

## Expected behavior

Something reasonable, preferably without spurious spaces around `private`

## Actual behavior

[code]

## Steps to reproduce the problem

Create Gemfile

[code]

Create a.rb
[code]

Crea

[2019-07-31 06:26] #7242 closed

[2019-07-31 19:05] buehmann commented on #7212
@koic I used `git bisect` to see when this was introduced: ffeccd639b9f40d755f0523e6e59d10edabf3b83 is the first bad commit

[2019-07-31 19:12] buehmann commented on #7246
I think this is a symptom of the underlying #7212: If `Layout/EmptyLinesAroundAccessModifier` did not detect `private` within the method definition above, there would be no infinite loop.

[2019-08-01 00:16] gkpacker commented on #7201
I'll try to take a look today, but yeah, looks good.

Probably not, it was only a primary solution to the problem. I agree that the url property should appear regardless the formatter.

[2019-08-01 10:02] Floppy commented on #7014
I've resolved my problem with this specific issue, but I definitely think it's worth considering adding aliases to help with the upgrade path for rubocop users.

[2019-08-01 13:25] Molszew commented on #1342
Since Rubocop v0.72 `EnforcedStyle: rails` have beed renamed. Use this instead:
[code]

[2019-08-01 14:48] Draiken commented on #6918
I'm still seeing this. I agree with @rhys-vdw that it should have an option similar to the `Layout/EndAlignment`

[2019-08-02 15:58] halfwhole opened #7252 "Layout/SpaceInsideStringInterpolation auto-correct gives infinite loops with multiline interpolations"
`Layout/SpaceInsideStringInterpolation` can give infinite loops for multiline string interpolations upon running auto-correct, when run alongside `Layout/SpaceBeforeComment` and `Layout/ClosingParenthesisIndentation`.

--------

## Expected behavior

Perhaps multiline interpolations can simply be ignored, similar to the suggestion in https://github.com/rubocop-hq/rubocop/issues/5620, or any other

[2019-08-02 16:01] betesh opened #7253 "Lint/NumberConversion: Exception when `to_i` is called without a receiver"
Lint/NumberConversion cop throws an exception (`undefined method `source' for nil:NilClass`) when `to_i` is called without an explicit receiver

--------

## Expected behavior

Rubocop should not throw an exception and should not find any offenses

## Actual behavior

[code]

## Steps to reproduce the problem

[code]

## RuboCop version

[code]

[2019-08-02 22:31] jcraigk commented on #7205
@sevenmaxis There are various situations where you will get what you are describing.  For example, `Metrics/LineLength:Max` is a special case.  Also if you have specific `Exclude`s under certain Cops, then when you inherit from the TODO, the Exclude you specified will completely override the TODO's list (not a merge), producing warnings.

[2019-08-02 22:41] jcraigk opened #7254 "Fatal exceptions in `rubocop --auto-gen-config` produce empty rubocop_todo.yml"
When using CLI command `rubocop --auto-gen-config`, an empty `.rubocop_todo.yml` file is generated and a line is placed in `.rubocop.yml` to inherit from this file when an error occurs during the process.  For example, if you are inheriting from a gem in `.rubocop.yml` and you have not run `bundle install` to include the gem, when running `rubocop --auto-gen-config` the following output is observe

[2019-08-03 09:37] buehmann commented on #7252
@halfwhole Thanks for your report. I created pull request #7255 ignoring multi-line interpolation completely for now.

[2019-08-04 04:15] halfwhole opened #7256 "Style/RedundantParentheses auto-correct fails on method calls where argument begins with a hash"
With `redirect_to ({ action: 'show' }.merge({ foo: 'bar' })`, the offense `Style/RedundantParentheses` is falsely detected, even though the parentheses are necessary. Auto-correct removes the outer parentheses around the argument, giving a syntax error.

--------

## Expected behavior

When the argument begins with a hash, no offense should appear.

## Actual behavior

Offense appears, and auto-co

[2019-08-04 10:06] jonas054 commented on #7205
@sevenmaxis We need more details.

- Which cops still report offenses?
- What does you `.rubocop.yml` look like?
- What does the generated `.rubocop_todo.yml` look like?
- What's the version and platform? (run `rubocop -V`)

[2019-08-04 11:28] sevenmaxis commented on #7205
Thanks to all, I was using `.rubocop_todo.yml` with old `.rubocop.yml`. It was resolved after I cleaned up the `.rubocop.yml`.

[2019-08-04 11:28] #7205 closed

[2019-08-05 01:41] gkpacker commented on #7201
@vzamanillo Idk if i get it right... Why we wouldn't need to 'annotate' the message anymore? I'm having difficulties on finding where and how i should add the message. I've added the `options` to offense args, but only in the json formatter it's clear where we have to add a key...

[2019-08-05 16:15] #7256 closed

[2019-08-06 13:20] jcraigk opened #7261 "Autocorrect reacts to EmptyLineAfterMagicComment config"
## Basic Problem

When running `rubocop -a` to fix auto-correctable offenses, `# frozen_string_literal: true` and  a blank line are added to the top of every file.  It would be desirable for this newline not to be present in the case of `Layout/EmptyLineAfterMagicComment` being disabled.

## Solution

When running `rubocop -a`, do not place an empty line after `# frozen_string_literal: true` if `L

[2019-08-06 13:48] jcraigk opened #7262 "FormatParameterMismatch fails when modifiers appear before name"
## Expected behavior

When using the `Lint/FormatParameterMismatch` cop, I expect it to accept all valid variations of `format` strings, including those where modifiers appear before the named substitution.

## Actual behavior

When running the `Lint/FormatParameterMismatch` cop, it does not recognize valid `format` strings where modifiers are supplied before the named parameter.

For example, the

[2019-08-06 13:51] herwinw opened #7263 "Weird autocorrect with Layout/IndentFirstArrayElement when using tabs"
I have a legacy app that uses tabs instead of spaces, and the upgrade to Rubocop 0.74.0 started to give false positives for `Layout/IndentFirstArrayElement`.
I've created a repository at https://github.com/herwinw/rubocop_layout_indentfirstarrayelement with a minimal reproduction case.

--------

## Expected behavior

An example of code that breaks:
[code]
This code is aligned with tabs. The suppo

[2019-08-06 13:58] jcraigk opened #7264 "Rails/HttpPositionalArguments does not recognize include Rack::Test::Methods"
#7095  Expected behavior

In RSpec tests that use `Rack::Test::Methods`, the `Rails/HttpPositionalArguments` cop should not warn about using keyword arguments, as that is not how the `Rack::Test::Methods` work.

## Actual behavior

In RSpec tests that include the line `include Rack::Test::Methods` and then use the `get`, `post`, etc methods supplied in that module, the `Rails/HttpPositionalArgumen

[2019-08-06 15:09] AlecRust opened #7265 "Exclude corrected errors from output"
## Is your feature request related to a problem? Please describe.

After adding lots of files e.g. using `rails generate` and running `rubocop -a` via a pre-commit hook, I get a noisy output with most of the output displaying errors that have already been automatically corrected.

**To see just the list of errors I need to address, I need to run `rubocop -a` again manually.**

![screenshot](https:

[2019-08-06 15:51] buehmann commented on #7263
Thanks for the report. At first glance this looks like an old bug that  got unveiled by a recent change I made. Will take a closer look soon.

[2019-08-06 16:20] vfonic opened #7266 "Style/PercentLiteralDelimiters doesn't detect `%{}`"
I was just running rubocop constantly, when it, out of a sudden, fixed one `%{ }` multi-line string delimeter to `%( )`. 🤷‍♂

Just next to it there are tons of not-detected `%{ }` strings.

After trying out, I've managed to narrow it down to this:

[code]

If there are `(` and `)` (actually only `(` would do) in the string, the cop won't raise error.

Update:

[code]
With this setup, it fails to f

[2019-08-06 21:12] drbrain commented on #5866
Are any of the contributors going to come back and look at this?

[2019-08-06 23:26] jeremywadsack commented on #5420
Closing this as it appears fixed with Rubocop 0.74

[2019-08-06 23:26] #5420 closed

[2019-08-07 02:41] #7263 closed

[2019-08-07 05:09] buehmann commented on #7261
I believe a cop should never change its behaviour because another cop is disabled.

I think there is a simpler solution: `FrozenStringLiteralComment` should only be concerned about inserting/removing the magic comment as necessary but not about its spacing. So it should never insert empty lines.

The spacing would then be the responsibility of `EmptyLineAfterMagicComment`.

[2019-08-07 05:40] herwinw commented on #7263
Just to be complete: I've deleted the repository with the reproduction case, since that one is no longer needed

[2019-08-07 07:57] mvz commented on #6759
This issue is still relevant.

[2019-08-07 08:21] bquorning commented on #6420
I’m still hopeful that someone with knowledge of Parser will comment on this issue.

Maybe @whitequark would be the right person to ask? Or @pocke ?

[2019-08-07 08:32] whitequark commented on #6420
Each chunk of the literal is emitted as a separate node so you can just look at the line attribute.
![Screenshot_20190807_083230](https://user-images.githubusercontent.com/54771/62607614-e594b980-b8ed-11e9-9ca9-5679c5db9117.png)

[2019-08-07 08:51] TomasBarry commented on #6245
This is still an issue in Rubocop

[2019-08-07 08:51] koic commented on #7064
This feature has been implemented by #7114.

[2019-08-07 08:51] #7064 closed

[2019-08-07 09:08] rlue commented on #5212
Bump

[2019-08-07 09:18] tejasbubane commented on #7266
@vfonic This is expected behaviour. See https://github.com/rubocop-hq/rubocop/blob/69bce3fd009a4c2723f3f52e10c3fc54f826df0e/spec/rubocop/cop/style/percent_literal_delimiters_spec.rb#L77-L82 Although I am not sure why we need it.

[2019-08-07 13:00] leewaa commented on #3105
Old issue I know however, this one killed my flow 😂 a cop against something like this is imho, useless! and it takes the **incorrect** spelling of the word.

The correct spelling is **referrer** !

[2019-08-07 14:18] SHGoldfarb commented on #6200
@sergiotapia did you find a solution? I'm having the same issue, and can't find any info on it :(

[2019-08-07 14:29] buehmann commented on #6245
Hi @TomasBarry, I have trouble understanding what the bug is supposed to be here. The cop seems to behave as designed. Could you explain what the issue is for you?

[2019-08-07 15:21] buehmann commented on #6420
@bquorning The first aspect (one space between quote and `\`) could be useful for other line continuations as well, not only between string literals.

In fact I was experimenting with extending `ExtraSpace` the other day to cover the case of too many spaces before the backslash. For your second bad example above:
[code]
Doing that I discovered a more general flaw in the cop that needs to be fixed

[2019-08-07 16:36] vfonic commented on #7266
@tejasbubane I'm not sure the test you linked is what I am reporting in this issue.

[code]

The `%q()` is the default/preferred delimiter. I'm reporting that, for this case: `%()` (also preferred delimiter, but without `q`), it doesn't report anything, for this case: `%{(}`.

So this code wouldn't report any errors:

[code]

...while, obviously both can't be default/preferred delimiters.

[2019-08-07 16:58] buehmann commented on #7266
@vfonic The test uses `[` as the preferred delimiter: https://github.com/rubocop-hq/rubocop/blob/69bce3fd009a4c2723f3f52e10c3fc54f826df0e/spec/rubocop/cop/style/percent_literal_delimiters_spec.rb#L7

So this is equivalent to your case: https://github.com/rubocop-hq/rubocop/blob/69bce3fd009a4c2723f3f52e10c3fc54f826df0e/spec/rubocop/cop/style/percent_literal_delimiters_spec.rb#L49-L54

This has been

[2019-08-07 17:05] vfonic commented on #7266
Ah I see. So, to me, this seems like an issue.

Why would this test be written? I can't wrap my head around this test. 🤔

/cc @bbatsov @hannestyden

[2019-08-07 17:35] buehmann commented on #7265
As long as RuboCop does not support this out of the box, you could use a [custom formatter](http://www.rubocop.org/en/stable/extensions/#custom-formatters), e.g. by subclassing an existing one:
[code]

[2019-08-07 21:36] hannestyden commented on #7266
@vfonic I don't remember my exact reasoning at the time, but I would assume the test was added to ensure that the cop is lenient in cases where e.g. `%([])` would be thought to be easier (for humans) to parse than `%[[]]`, even if `[` and `]` were the preferred delimiters.

I hope that helps. In any case I don't have strong opinions about the behavior of the `PercentLiteralDelimiters` cop, so feel

[2019-08-08 04:20] vfonic commented on #7266
That's actually the reason why I opened this issue. 😁
I wanted to write my graphql queries like this:

[code]

Sorry for formatting, I'm on my phone.

This didn't show any errors when I had () inside.

But then, some of my queries (mutations actually) had () so half of my
queries were `%{` and half were `%(`, which brought me here. 🤷‍♂️

I think better solution would be to let the user choose to d

[2019-08-08 06:17] pablocrivella opened #7269 "Un-align "equals" on assignations Cop"
I'm not sure if it exists but I could not find find an Cop that would convert this:

[code]
to this:

[code]

I don't have strong arguments against the 1st option other than sometimes looks really ugly (subjective), it's width inefficient and you have to remember to update the other assignations.

[2019-08-08 07:59] labocho opened #7271 "Autocorrect produces invalid syntax for Style/TrailingCommaIn(Array|Hash)Literal and Layout/Multiline(Array|Hash)BraceLayout"
In some case below, auto-correction may produce invalid syntax.

- `Style/TrailingCommaInArrayLiteral` or  `Style/TrailingCommaInHashLiteral` is configured with `EnforcedStyleForMultiline: consistent_comma`.
- Enable `Style/TrailingCommaIn(Array|Hash)Literal` and `Layout/Multiline(Array|Hash)BraceLayout` at same time.

--------

## Expected behavior

Do not change semantics on auto-correct.

## Ac

[2019-08-08 08:06] koic commented on #7271
Dup #6498.

[2019-08-08 08:29] bbatsov commented on #7269
I think `Layout/ExtraSpacing` accounted for this if you set `AllowForAlignment` to `false`. This cop's documentation needs some love. :-)

[2019-08-08 08:56] pablocrivella commented on #7269
I can confirm this is working :) thanks a lot for your answer!
Also could you point me to the where this doc update should be added? Maybe I can find some time to introduce a PR for this

[2019-08-08 12:44] buehmann commented on #7269
See https://docs.rubocop.org/en/stable/development/#documentation

https://github.com/rubocop-hq/rubocop/blob/69bce3fd009a4c2723f3f52e10c3fc54f826df0e/lib/rubocop/cop/layout/extra_spacing.rb#L8-L32

[2019-08-08 12:51] fidalgo opened #7273 "Cop to check the space before dot"
This code `"a" .class` despite of being a valid ruby code, can be improved by removing the space.

I've searched the documentation in order to find something already implementing this, but haven't found nothing, just the style cops for dot position in the method chain.

Input:
`"a" .class"`
Expected:
`"a".class"`

[2019-08-08 13:27] buehmann commented on #7271
I understand what is happening and have a fix for it. @koic How do I best add a spec that verifies that these pairs of cops work correctly together? Is there a best practice for this?

[2019-08-08 23:30] sergiotapia commented on #6200
@SHGoldfarb  Nope, I just stopped using Rubocop and moved to prettier

[2019-08-09 00:09] SHGoldfarb commented on #6200
I solved the issue installing this extension: https://github.com/misogi/vscode-ruby-rubocop

It is meant to work alongside `vscode-ruby`. Linter and formatter work fine.

[2019-08-09 01:18] #7252 closed

[2019-08-09 14:32] buehmann commented on #7273
Weird that something basic like this is not covered already.

The space after the dot seems not to be covered either. Same goes for the other method call operators:

[code]

[2019-08-09 20:38] bquorning commented on #6420
Thank you for the response, @whitequark. But, your example shows a string containing a newline character. My question is regarding two strings that are “implicitly joined” (as two strings joined by whitespace would be, e.g. `"a" "b" == "ab"`), only the strings are on different lines _and_ the first line is ended by a backslash (to signal to Ruby that the line continues).

In the following example,

[2019-08-09 20:39] kjvarga commented on #2335
This still isn't catching bad variable names in arguments passed to a method, and it doesn't catch bad `let` variable definitions (thought I think that one is understandable).  It _does_ catch bad parameters in a method definition, and bad variable assignments.

[2019-08-09 20:41] whitequark commented on #6420
No; the location of `\`, like with some other tokens (for example `,`) is thrown away after lexing.

[2019-08-09 20:57] bquorning opened #7274 "Don't use `#send` etc. to include or prepend modules"
Back in the day (before Ruby 2.1), `Module.include` and `Module.prepend` were private methods. So when people authored gems / patched monkeys, they wrote e.g. `Foo.send(:include, MyPatch)`. In our day and age, I think we should encourage everybody to just write `Foo.include(MyPatch)`.

## Describe the solution you'd like

Recommend calling `Foo.include(Bar)` over `Foo.send(:include, Bar)`, `Foo.pu

[2019-08-09 22:11] kjvarga opened #7275 "Style/VariableName doesn't work for method arguments"
The `Style/VariableName` rule isn't catching bad variable names (e.g. camelCase when snake_case is configured) for variables passed to methods as arguments.

It also doesn't catch bad `let` variable definitions, thought I think that is understandable, but would be a great feature.

The problem then is that in a lot of specs we define the variable using `let` and then it gets passed to a method whe

[2019-08-09 22:13] kjvarga commented on #2335
Created issue: https://github.com/rubocop-hq/rubocop/issues/7275

[2019-08-10 07:15] #7262 closed

[2019-08-10 19:25] parkerfinch commented on #7192
I like the idea of the Ruby language making Ranges frozen objects! For now I think it makes sense that this is flagged by rubocop, since someone _could_ mutate a Range by changing instance variables (e.g. `RANGE.instance_variable_set(:@foo, "foo")`) or by defining singleton methods on the Range (e.g. `def RANGE.size; 0; end`).

[2019-08-10 22:45] #7253 closed

[2019-08-11 02:41] elad-maimon opened #7277 "Error in RSpec/LeadingSubject while inspecting"
Got an error:
"An error occurred while RSpec/LeadingSubject cop was inspecting...."

This is the subject line it fails:
subject { ProtoModel.new(field1: 'f1', field2: nested_model).serialize_to_proto }

These is relevant code:
    class ProtoModel
      include ProtoSerializable
    end

    let(:nested_model) { NestedProtoModel.new }

    class NestedProtoModel
      include ProtoSerializable

[2019-08-11 02:45] elad-maimon commented on #7277
Important to say (just noticed) - it happens only if the code is in that order:

    descrive...
    class NestedProtoModel
      include ProtoSerializable
    end

    subject { ProtoModel.new(field1: 'f1', field2: nested_model).serialize_to_proto }

    let(:nested_model) { NestedProtoModel.new }

If I move subject to after describe it works fine.

[2019-08-11 10:05] koic commented on #7275
Thanks for your feedback. I opened  a PR #7278 for this false negative of method argument names when invoking a method.

OTOH, `let` is a feature specific to RSpec. Can you feedback to RuboCop RSpec about when using `let`?
https://github.com/rubocop-hq/rubocop-rspec/issues

/cc @bquorning

[2019-08-11 10:23] #7275 closed

[2019-08-11 16:45] buehmann commented on #6420
@bquorning This is the approach I was playing with, basically analyzing the whitespace around line breaks with regexps: https://github.com/buehmann/rubocop/blob/32ccea042243ee0edf9d9f0dc426bf5baf5d604e/lib/rubocop/cop/layout/space_before_line_continuation.rb#L54-L61

[2019-08-11 17:23] bquorning commented on #6420
@buehmann Interesting approach with the `#investigate` implementation. Does it actually work, though? Does the `between` object contain backslashes, or did Parser throw them away at this point?

I was playing around with e.g.
[code]
and matching the line with `line.match?(/\S \\\Z/)`.

`processed_source.raw_source` definitely contains the backslashes, but isn’t tokenized, and I am only working wit

[2019-08-11 17:30] buehmann commented on #6420
It works. The source buffer contains the backslashes, they just sit between tokens returned by Parser. This is similar to the cops that look for commas that don't have tokens either.
[code]

[2019-08-11 18:53] koic commented on #7274
I think it makes sense because it can be unified with a new mix-in style using public `include` and `prepend` (and `extend`) methods. I opened a PR #7279.

[2019-08-12 07:39] bquorning opened #7281 "Layout/SpaceAroundOperators false positives after #7211"
After upgrading to RuboCop v0.74.0, I discovered some changes in what is disallowed by `Layout/SpaceAroundOperators`. `git bisect` shows that #7211 is the cause of these changes.

--------

## Expected behavior

For both of these examples, I would expect no offenses.

test_1.rb:
[code]

test_2.rb:
[code]

## Actual behavior

[code]

[code]

## Steps to reproduce the problem

Run RuboCop on the cod

[2019-08-12 15:44] jfelchner commented on #7281
Thanks for pinging me @bquorning :)

Those examples you gave are considered errors. Each group of assignments now has its own alignment.

For the first one it should be pretty clear why that’s an error: You’ve told the ExtraSpacing cop that you want to align on equal signs and the equal signs aren’t aligned. In fact I believe that particular bit of code may have thrown the same error even before m

[2019-08-12 15:48] jfelchner commented on #7281
@jonas054 if we start seeing a bunch of issues where people are confused as to why the empty line is resetting the alignment group, I may be open to adding an option to specify whether blank lines reset the alignment groups.

[2019-08-12 16:47] jonas054 commented on #5788
I'm working on a solution.

[2019-08-12 20:56] tiegz opened #7282 "Tidelift funding"
Hello!

Just wanted to say thanks to all the maintainers of Rubocop -- I've been using it on projects for years and appreciate all of your work and time.

I’m an engineer at Tidelift, saw your README's [Funding section](https://github.com/rubocop-hq/rubocop#funding), and noticed that [Rubocop currently has almost $1000 per month on Tidelift](https://tidelift.com/lifter/search/rubygems/rubocop) tha

[2019-08-13 06:41] #7274 closed

[2019-08-13 06:53] bbatsov commented on #7282
Thanks for reaching out! You've reminded me that I got a couple of emails from Tidelift last year and I completely forgot to respond to them. 😄 I guess GitHub is a much better way to get a hold of a project maintainer than email. 😉

[2019-08-13 06:53] #7282 closed

[2019-08-13 07:23] bquorning commented on #7281
Thanks for the clarification @jfelchner.

Regarding the first example, I was too focused on producing the minimal amount of code to reproduce the problem, and ended up with a bad example. This following example better illustrates why I thought it was a bug:

[code]
which gives this RuboCop output:
[code]

And I agree with you (now that I know how the cop works) that the solution is to just add a b

[2019-08-13 08:04] md-work commented on #7041
The problem is still present in 0.74.0.

[2019-08-14 00:32] kjvarga commented on #7275
Awesome!  Will do.

[2019-08-14 06:22] koic commented on #7271
@buehmann Tests for auto-correction with multiple cops can be written to spec/rubocop/cop/layout/indentation_width_spec.rb. The following address may be helpful.
https://github.com/rubocop-hq/rubocop/pull/6866/files#diff-0e7dbdd6e99e0defc2bab2cb544b42da

[2019-08-14 10:01] jonathantribouharet opened #7287 "Style/FrozenStringLiteralComment should not be considered as safe for autocorrection"
Hi,
I think `Style/FrozenStringLiteralComment` should not be considered as safe for autocorrection.

For example:

[code]

This code will crash with an error `can't modify frozen String (FrozenError)`.

Regards,
John

[2019-08-14 19:15] #6940 closed

[2019-08-14 21:15] #6381 closed

[2019-08-15 04:05] #6498 closed

[2019-08-15 04:05] #7271 closed

[2019-08-15 08:29] labocho commented on #7271
Thanks!

[2019-08-15 08:59] md-work opened #7289 "RescueModifier should explain why"
https://github.com/rubocop-hq/rubocop/blob/master/manual/cops_style.md#stylerescuemodifier

RescueModifier doesn't tell why the rescue modifier shouldn't be used.
But I guess this is the reason!?
https://thoughtbot.com/blog/don-t-inline-rescue-in-ruby

Please put that into the cop description!
Else people might think it's just "bad style" to use the rescue modified.
And they won't get, that this c

[2019-08-15 15:02] DMA57361 opened #7290 "Style/ConditionalAssignment auto correct removes nested unless inside else"
We've found some code that the Style/ConditionalAssignment auto-correction ends up breaking by removing a nested unless branch from within the else.

In our case we've changed the nested unless to be another elsif and all is well, but thought I'd report the breaking auto-correct.

--------

## Expected / Actual behavior

A nested unless inside an else is removed by the Style/ConditionalAssignment

[2019-08-15 20:42] allentsai commented on #6962
We are seeing something similar.  Additionally:
[code]
has returned the following, post auto-correct:
[code]
expected:
[code]
Maybe I am misunderstanding what `association` means for the config...

[2019-08-16 11:04] koic commented on #7056
This issue is addressed in #7272.

[2019-08-16 16:27] allentsai commented on #7198
Same with us.
config:
[code]
valid:
[code]
But we would like the `user_token` key to be aligned.
It might not be that simple though--we introduced the `EnforcedLastArgumentHashStyle: ignore_implicit` because something like:
[code]
was not being handled the way we wanted.

[2019-08-16 17:13] allentsai commented on #6493
I was writing a feature request, but found this issue already filed.  I agree with above.

After adding
[code]
We end up with an autocorrection as follows.
Before:
[code]
After:
[code]
I would have liked to end up with
[code]
or
[code]

[2019-08-16 17:34] allentsai commented on #6493
The cop might be somewhat broken, rubocop does not complain about:
[code]
I would expect it to return:
[code]

[2019-08-17 12:14] roolo opened #7291 "Layout/AlignHash pops up on aligned hash"
## Expected behavior

When I have keys and values of a Hash aligned I should not see this offense in Rubocop report.

## Actual behavior

Gist with larger example hash: https://gist.github.com/roolo/580b5061003355e07f631cffbe2fea9c

[code]

When I have hash like this, I am told I should _elements of a hash literal_

## Steps to reproduce the problem

1. Put call from gist into your code. Adding ju

[2019-08-17 14:13] roolo commented on #7291
I just tried [`EnforcedColonStyle: table`](https://rubocop.readthedocs.io/en/latest/cops_layout/#enforcedcolonstyle-table) and that's the behaviour I did expect from the offense's message. Interesting thing is that the message did not change.

[EnforcedColonStyle: table](https://rubocop.readthedocs.io/en/latest/cops_layout/#enforcedcolonstyle-table):
[code]

[EnforcedColonStyle: key (default)](htt

[2019-08-18 04:40] jamesla opened #7292 "Can't install rubocop on alpine"
Rubcop doesn't appear to run on Alpine.

When building the following docker file:

[code]

and running
[code]

It throws the following error and rubocop is unusable

[code]
--------

## Expected behavior

Would expect rubocop to install correctly

## Actual behavior

rubocop runs properly

## RuboCop version

[code]

[2019-08-18 14:22] esambo commented on #6967
I'm trying to get multiline macros to require parenthesis, but there doesn't seem to be an option for that. And I cannot just enable it for certain macros. Perhaps having the following would help:
[code]

[2019-08-18 14:32] esambo commented on #5657
Possibly related to #2035

[2019-08-18 15:40] esambo opened #7294 "Prevent excessive indentation"
## Never indent by more than 2 spaces

I like my code to look like the _normal indent_ option from [The Ruby Style Guide: No Double Indent](https://github.com/rubocop-hq/ruby-style-guide#no-double-indent), where every line can only change the indentation level by 0 or 2 spaces.

## Solution
### Specific
For [table hash format](https://github.com/rubocop-hq/rubocop/blob/master/manual/cops_layout.md

[2019-08-18 17:08] #7058 closed

[2019-08-19 07:38] #7056 closed

[2019-08-19 08:09] zw963 commented on #7062
Anyone help on this issue?

![image](https://user-images.githubusercontent.com/549126/63249269-b68e2880-c29b-11e9-9b14-e6de770f6e57.png)

This new code is syntax error.

[2019-08-19 14:55] CyborgMaster commented on #6077
I would still like to see this implimented

[2019-08-19 15:02] #7241 closed

[2019-08-20 12:26] tejasbubane commented on #7052
Fixed in #7297

[2019-08-20 13:18] RST-J opened #7298 "False positive for Lint/UselessAccessModifier modules extending ActiveSupport::Concern"
## Expected behavior
The `private` modifier in the `class_methods` block is not flagged as `Lint/UselessAccessModifier: Useless 'private' access modifier.`

## Actual behavior
The `private` modifier in the `class_methods` block is flagged as `Lint/UselessAccessModifier: Useless 'private' access modifier.`

## Steps to reproduce the problem
Run rubocop on a file with the following contents:
[code]

[2019-08-20 16:00] buehmann commented on #7292
Your Ruby installation is incomplete:
[code]
(or install `ruby-json`, `ruby-etc`, …)

Also see https://pkgs.alpinelinux.org/package/edge/main/x86/ruby-full

[2019-08-20 19:22] grosser opened #7299 "alert on `raise Exception` usage"
similar to the "do not rescue Exception" cop it would make sense to not allow raising Exception since that will bypass test frameworks and error reporters

[2019-08-21 05:47] #7290 closed

[2019-08-21 05:59] bbatsov commented on #7299
Great idea!

[2019-08-21 20:14] jpserra opened #7303 "Add JUnit formatter"
Some CI tools expect test results to be formatted as JUnit XML. It would be interesting to support this for rubocop Cop results so we can add a step in the pipeline to check for rubocop offenses.

## Solution

Include a JUnit formatter in rubocop