[2020-11-23 15:45] bbatsov commented on #9084
See https://github.com/rubocop-hq/rubocop/pull/9082

I'll cut a bugfix release shortly.

[2020-11-23 15:45] #9084 closed

[2020-11-23 16:06] bbatsov commented on #9084
Done.

[2020-11-23 16:18] marcandre commented on #9069
FWIW, `rbs` distinguishes between a return type of `nil`, or `SomeClass?` and a `void` return type (that can be technically be any value, but result is not meant to be used). I really like this `void` signature idea; I `return nil` when the `nil` should be used, and I `return` when the method's result is not used (`void`)

Anyways, I think a list of cops that are more typically a user preference w

[2020-11-23 17:53] tejasbubane commented on #9083
Right I missed that check.

[2020-11-23 18:41] michaelglass commented on #9056
@marcandre repro'd / reported the issue there. Thank you for the nudge! Up to you whether you want to leave the issue open for visibility until the other issue is closed.

[2020-11-23 19:27] #9083 closed

[2020-11-23 19:40] marcandre commented on #9056
Thank you 👍
Let's keep it open and see what happens; stalebot will remind me to check this out if nothing happens for a while

[2020-11-23 20:14] tejasbubane opened #9086 "Add `SameConditionalType` config to `Style/SoleNestedConditional`"
## Is your feature request related to a problem? Please describe.

Add config to `Style/SoleNestedConditional` to check for same conditional type only. When `SameConditionalType: true` don't report offenses to merge `if` and `unless`.

## Describe the solution you'd like

current:
[code]
Such conditons are difficult to merge & I would like to avoid refactoring them if I don't have tests.

[code]

[2020-11-24 00:11] ciroque commented on #7771
The problem I am having with this is having warnings as errors, this fails my builds and source control hooks, could it be an INFO not a WARNING?

[2020-11-24 03:04] #7756 closed

[2020-11-24 04:34] tas50 commented on #8043
Still an issue

[2020-11-24 07:24] avdv commented on #9083
Hi.

It seems like the fix did not make it into the 1.4.1 release, although it is listed in the CHANGELOG:
https://github.com/rubocop-hq/rubocop/blob/master/CHANGELOG.md#141-2020-11-23

[2020-11-24 07:39] tejasbubane commented on #9083
@avdv Right. This bug came in just after `1.4.1` was released. The fix has been merged but will be released in the next version.

[2020-11-24 07:58] klyonrad commented on #9065
Okay thanks for the note, I only went through the official Rails docs for zeitwerk and they didn't mention that. Will come back here later.

[2020-11-24 08:05] avdv commented on #9083
It's just that I am using depend-a-bot which sources the changelog from the changelog.md file of a gem's repository and hitting the same bug it says is fixed on the tin is ... surprising. :smile:

Waiting for the next release then.

[2020-11-24 08:12] tejasbubane commented on #9083
@avdv Ok something seems wrong with the changelog. Commits here shows `Cut 1.4.1` before merging this PR https://github.com/rubocop-hq/rubocop/commits/master

cc @bbatsov

[2020-11-24 08:57] Aqualon opened #9088 "Layout/EmptyLineBetweenDefs not useful for single line class definitions?"
We define our own error classes like this and get it flagged by `Layout/EmptyLineBetweenDefs`.

[code]
--------

## Expected behavior

The cop should not report `Use empty lines between class definitions` for single line classes.

## Actual behavior

The cop reports `Use empty lines between class definitions` but I don't see how this would improve the code.

## Steps to reproduce the problem

`rub

[2020-11-24 12:12] bbatsov commented on #9083
Yeah, it seems I didn't notice that the changelog entry was misplaced. That's why these days it's discouraged to edit the changelog directly and we're mostly generating it from the files under `changelog/`. I've fixed it now.

[2020-11-24 12:14] bbatsov commented on #9088
There's an option controlling this - `AllowAdjacentOneLineDefs`.

[2020-11-24 16:11] Aqualon commented on #9088
Thanks, this worked.

[2020-11-24 16:11] #9088 closed

[2020-11-24 17:09] khiav223577 opened #9089 "Autocorrect of `Style/FormatString` changes semantics"
## Expected behavior

Autocorrect should not change the behavior of the code.

## Actual behavior

Autocorrect changed the behavior of the code.

## Steps to reproduce the problem

Add `test.rb`:
[code]

Run `ruby test.rb`, it will print "0004".

Add `.rubocop.yml`:

[code]

Run `rubocop --auto-correct test.rb` in command line.
The auto-corrected `test.rb` will be:
[code]

It will raise `test.rb:2

[2020-11-24 17:29] paulslaby opened #9090 "Cop idea: to_enum is the only usage of a method argument"
## problem description
I just found a bug in my code which could have been found by a Cop.

[code]

args argument is really used, but this idiom is very often used and it can tell me, that I used it only in `enum_for`

## Describe the solution you'd like

I'd like to have a cop, which would tell me, that `args` is unused method argument.
It should complain, if receiver of enum_for is nil of self a

[2020-11-25 04:07] mo-nathan commented on #8053
Thanks for keeping this alive.

[2020-11-25 06:30] #9089 closed

[2020-11-25 06:31] bbatsov commented on #9086
Even if I don't agree with your reasoning (for me it's all the same if I have to combine `if` and `unless`) I'm not opposed to making this configurable, although I'd probably wait a bit to see if someone else is interested in such functionality before adding it.

[2020-11-25 07:46] #7670 closed

[2020-11-25 07:47] #9070 closed

[2020-11-25 08:00] jonas054 commented on #8752
Tip: use `rubocop --debug` to see which configuration files are read.
Since there seems to be no remaining problems, I'll close this issue.

[2020-11-25 08:00] #8752 closed

[2020-11-25 08:23] tomdalling commented on #9069
Either using presets or severity/suggestions could be good. But you still have the same problem: people are going to interpret the defaults as the "correct" way to write Ruby. So what would the defaults be?

Personally, I think the defaults should be more relaxed and unobtrusive. I feel like, in Ruby, strictness should be optional for most things --- not just for RuboCop. Ruby is supposed to be fl

[2020-11-25 08:49] bbatsov commented on #9069
I'm leaning towards a more relaxed default preset myself.

Largely because of this. 😆

[2020-11-25 08:51] #8053 closed

[2020-11-25 11:16] ThomasKoppensteiner opened #9095 "Respect NewCop value from merged_config"
Rubocop `1.4.2` shows a warning about pending cops, even if the `NewCops: enabled` is set in a `required` config file.
This happens because the `possible_new_cops?` methods in the [ConfigLoader](https://github.com/rubocop-hq/rubocop/blob/master/lib/rubocop/config_loader.rb#L112) checks against `config` and not against `merged_config`.

#### Warning Text:
[code]
--------

## Expected behavior
I exp

[2020-11-25 13:26] klyonrad commented on #9065
Sorry for the inconvenience, that was exactly my mistake. Thanks for your note and thanks for ruboocop to keep my file names in check! :)

[2020-11-25 13:26] #9065 closed

[2020-11-25 15:06] stefanhorning commented on #6216
Actually just use `URI.open()` which works as a drop in replacement for `(Kernel.)open` and will be accepted by Rubocop too, in contrary what the docs say (RC version 0.93.1).

Actually `URI.parse(something).open` doesn't exist (tested with ruby 2.7).

[2020-11-25 16:34] jaredbeck opened #9097 "EmptyLinesAroundArguments: False positive"
## Input

[code]

## Expected behavior

No offenses expected

## Actual behavior

[code]

## Steps to reproduce the problem

See input above.

## RuboCop version

[code]

[2020-11-26 07:56] #9097 closed

[2020-11-26 10:49] mmainz opened #9104 "Naming/VariableNumber reporting on stdlib call"
I have the following code:

[code]

--------

## Expected behavior

I'd expect this to not yield an offense. The method is called `iso8601` and I am not able to change that, since the `Time` class is from the standard lib. So I have no way of fixing the issue. And I don't want to litter my code with comments to disable Rubocop every time this is done.

## Actual behavior

[code]

## RuboCop versio

[2020-11-26 11:29] baelter opened #9105 "Auto correct breaks if statement"
## Expected behavior

[code]
Should auto correct to:

[code]
## Actual behavior

[code]

## RuboCop version

[code]

[2020-11-26 12:05] #9104 closed

[2020-11-26 14:07] boardfish commented on #8757
Seeing this issue on RuboCop 1.4.2:

[code]

The line in question is unchanged as reported here.

[2020-11-26 16:06] #9105 closed

[2020-11-26 17:37] OlivierJM commented on #6216
I replaced `open()` with `URI.open()` and rubocop smiled.

[2020-11-27 04:55] cscorley opened #9109 "EndOfLine outputs CRCRLF on Windows Command Line"
When formatting CRLF input from stdin, Rubocop will output CRCRLF.

I am using Windows 10 and I am able to replicate this behavior using cmd, but over stdin only.

Using the following file:

`ruby -e "STDOUT.binmode;print %(puts 'hello'\r\n)" > crlf.rb`

--------

## Expected behavior

No changes in input.

## Actual behavior

An additional CR is added to the output.

--debug output:
[code]

## St

[2020-11-27 07:12] koic commented on #5718
I will close this issue because RuboCop has been migrated from AppVeyor to GitHub Actions. Thank you.
https://github.com/rubocop-hq/rubocop/pull/7893

[2020-11-27 07:12] #5718 closed

[2020-11-27 08:04] Drenmi opened #9110 "Metrics/MethodLength blows up when inspecting index method"
## Expected behavior

No exceptions.

## Actual behavior

[code]

## Steps to reproduce the problem

**1. Configure `ExcludedMethods` to any value. In this case:**

[code]

**2. Inspect a class that defines the `#[]` method:**

[code]

## RuboCop version

[code]

[2020-11-27 08:06] Drenmi commented on #9110
As an aside, I find it a bit awkward that this configuration key is deprecated, but the new one is not introduced? 😅

[code]

[2020-11-27 08:26] bbatsov commented on #9110
@Drenmi It's deprecated only on `master` and `IgnoredMethods` should work there.

[2020-11-27 08:39] Drenmi commented on #9110
@bbatsov I see! I was too quick to assume that change was the culprit. I didn't realize there were several rapid changes to the cop. 🙂

The offending call is [here](https://github.com/rubocop-hq/rubocop/commit/499e50fbd75e4c9defcbd729ae5f4f4f10bf88be#diff-973df3513a2d3ce211512584b0db23529577c29ea93eb0fa1ecaeb74ee9324cbR39).

After testing, I think this might be fixed on `master`, so I'm closing th

[2020-11-27 08:39] #9110 closed

[2020-11-27 12:03] luke-hill opened #9111 "Invalid Offense / Invalid Autofix: Layout/MultilineHashBraceLayout"
--------

## Expected behavior

Not to flag a cop

## Actual behavior

[code]

## Steps to reproduce the problem

Inside an rspec expectation write the following code

[code]
## RuboCop version

0.91.1 (using Parser 2.7.2.0, rubocop-ast 0.8.0, running on ruby 2.7.2 x86_64-linux)

## Extra Info

When auto-fixing this, it formats the code in an ugly way, putting a double brace on the line next to ni

[2020-11-27 15:07] koic commented on #9111
I think this behaviour is an expected.

[code]

https://docs.rubocop.org/rubocop/1.4/cops_layout.html#layoutmultilinehashbracelayout

By default `EnforcedStyle: symmetrical`, `{` and `options` should be on different lines. e.g.:

[code]

Auto-corrected code also seems to follow the good case.

[code]

[2020-11-27 16:19] luke-hill commented on #9111
Fair does I guess. I think the bottom bit looks really crap. I'm happy with the top one though. So if it's intended let's close it off and I'll work around it.

[2020-11-27 16:19] #9111 closed

[2020-11-28 19:56] pdobb opened #9115 "Layout/FirstArgumentIndentation is off by one when the method is preceded by a `*`"
I am experiencing an off-by-1 disagreement with the Layout/FirstArgumentIndentation cop (configured with `EnforcedStyle: consistent_relative_to_receiver`) when a leading `*` is involved. But preceding dots and `&.` behave fine.

[code]

--------

## Expected behavior

Layout/FirstArgumentIndentation shouldn't auto-correct to and shouldn't require an extra space when an `*` precedes the method call

[2020-11-28 20:40] pdobb opened #9116 "Layout/FirstMethodArgumentLineBreak doesn't detect indentation differences on `super` method calls (only?)"
When using the Layout/FirstMethodArgumentLineBreak cop, I've noticed that the first argument of a call to `super` (only?) can actually be indented at any level without problem. Further, auto-correct will pick 0 indentation, which is odd and requires manual intervention to make it look right.

--------

## Expected behavior

[code]

## Actual behavior

[code]

Also Note: All of these are considered

[2020-11-29 20:36] #9115 closed

[2020-11-29 21:36] pdobb opened #9119 "Add String/Line Continuation cops"
I believe the below may be more of a category of feature requests, than a single feature request. I will be glad to follow-up and break this out into multiple feature requests, but I am first seeking buy-in and/or direction or advice on if this is even possible to enforce with rubocop and the parser library.

## Is your feature request related to a problem? Please describe.

My team frequently use

[2020-11-30 06:28] #9095 closed

[2020-11-30 11:28] karimtimer opened #9121 "Performance/ArraySemiInfiniteRangeSlice triggered variable is not an array (but within an array"
I have an array of words. For each word, I remove the first two characters if it matches a conditional. This triggers ArraySemiInfiniteRangeSlice, saying I should use #drop on the element in the loop. This method is not available to Strings and so cannot make that change.

--------

## Expected behavior

Not to raise this cop when dealing with strings.

## Actual behavior
running rubocop gives thi

[2020-11-30 12:42] #7775 closed

[2020-11-30 12:42] #7653 closed

[2020-11-30 16:06] tejasbubane opened #9122 "Nudge about standard extensions"
## Is your feature request related to a problem? Please describe.

Although it has been long time since we [extracted `rubocop-rails` from core](https://github.com/rubocop-hq/rubocop/issues/5976) some users never discover our extensions. I have seen quite a few modern Rails projects using only `rubocop`.

## Describe the solution you'd like

I would like when `rubocop` is run, it recognizes and pr

[2020-11-30 16:11] bbatsov commented on #9122
Good idea. Shouldn't be hard to implement it.

[2020-11-30 17:21] marcandre opened #9124 "Better support for packages: `rubocop -V`"
It would be nice if there was a way for packages like `rubocop-performance/rspec/...` to "register" themselves so we could output their versions in `rubocop -V`.

For example I couldn't confirm in https://github.com/rubocop-hq/rubocop-performance/issues/200 that the report was due to an older version of `rubocop-performance`.

[2020-11-30 17:25] marcandre opened #9125 "Better support for packages: renamed / obsolete cops / config"
It would be nice if packages had an API to tap into our [config_obsoletion class](https://github.com/rubocop-hq/rubocop/blob/5784d45f6c17d15c7aa72cb6d727352819351bcb/lib/rubocop/config_obsoletion.rb)

See https://github.com/rubocop-hq/rubocop-performance/issues/198#issuecomment-733497898

[2020-11-30 17:27] marcandre commented on #9125
Maybe related to #9124

[2020-11-30 17:42] koic commented on #9124
`-V` option has been extended from RuboCop 1.0 for extension cop versions.
https://github.com/rubocop-hq/rubocop/pull/8908

e.g.

[code]

I've updated the issue template example for users by #9126.

[2020-11-30 19:31] #9124 closed

[2020-11-30 19:32] #8820 closed

[2020-11-30 19:43] bbatsov commented on #9125
Good idea. In general config obsoletion should be polished, so it's easier to do rename/replace stuff, without breaking the user configuration. Recently @dvandersluis did some work on that front for https://github.com/rubocop-hq/rubocop/pull/9098

[2020-11-30 20:11] dvandersluis commented on #9122
I'm taking a stab at this.

[2020-11-30 20:20] lopopolo opened #9128 "Style/ClassAndModuleChildren cop incorrectly corrects parent `class` to `module`"
RuboCop incorrectly expands compact style class reopenings to use `module` for the parent if the parent is a `Class`.

--------

## Expected behavior

Describe here how you expected RuboCop to behave in this particular situation.

### Input

[code]

### Expected output

[code]

## Actual behavior

Describe here what actually happened.
Please use `rubocop --debug` when pasting rubocop output as it

[2020-12-01 03:37] omgitsbillryan opened #9132 "Rubocop shadowing Exclude config from subdirectory .rubocop.yml files when using --force-exclusion"
Rubocop is inconsistent in how it honors the `Exclude` config of `.rubocop.yml` in subdirectories when using the `--force-exclusion` flag.

--------

## Expected behavior

I expected that rubocop would not shadow the `Exclude` config of `.rubocop.yml` files in subdirectories even when using the `--force-exclusion` flag.

Relevant documentation ([source link](https://docs.rubocop.org/rubocop/config

[2020-12-01 06:52] #9128 closed

[2020-12-01 09:20] #8564 closed

[2020-12-01 09:42] baelter opened #9133 "RedundantRegexpEscape auto correct mangles code"
Not sure exactly what in the regex that triggers this bug but this:

[code]

Get auto corrected to:

[code]

Which is obviously wrong.

`1.4.2 (using Parser 2.7.2.0, rubocop-ast 1.1.1, running on ruby 2.7.2 x86_64-darwin19)`

[2020-12-01 16:51] omgitsbillryan commented on #9132
I'm not certain this isn't expected behavior... In which case, I guess this is more of a feature request to have rubocop be consistent in it's exclusions when using `--force-exclusion` and not using it. This might involve allowing it to be used even when not passing in a list of files, e.g

**Desired**
[code]

**Actual**
[code]

...or an separate flag (i.e. `--force-root-exclusion`) that behaves l

[2020-12-01 17:10] #9122 closed

[2020-12-01 18:15] dvandersluis commented on #9133
@baelter I can't duplicate this, can you give the rubocop output from autocorrecting?

[2020-12-01 19:41] #8684 closed

[2020-12-01 19:58] #8076 closed

[2020-12-01 21:51] dvandersluis commented on #9125
I've started on working on this, I hope to have something tomorrow!

[2020-12-02 00:04] fran-worley opened #9140 "Error running Layout/EmptyLinesAroundArguments cop"
## Expected behavior

Expected cops to run without errors being raised

## Actual behavior
The following errors occured:
`An error occurred while Layout/EmptyLinesAroundArguments cop was inspecting .....`

## Steps to reproduce the problem

Anywhere I use the call syntax, with the arguments on the next line, I get a hard error for rubocop.

[code]

## RuboCop version

[code]

[2020-12-02 00:19] pdobb opened #9141 "An error occurred while Layout/EmptyLinesAroundArguments cop was inspecting..."
After upgrading from rubocop 1.4.2 to 1.5.0 I'm seeing errors coming from the Layout/EmptyLinesAroundArguments cop when the method being called isn't explicitly named. e.g. an explicit `.call()` works fine but the implicit form of that, with `.()` does not.

Quick overview of the error message:

undefined method `line' for nil:NilClass

The line of code at fault appears to be https://github.com/ko

[2020-12-02 00:22] pdobb commented on #9141
Whoops. This is a duplicate of https://github.com/rubocop-hq/rubocop/issues/9140

[2020-12-02 00:29] koic commented on #9141
Yeah, this issue is a dup with #9140 and will be fixed by #9142. Thank you for the feedback!

[2020-12-02 00:29] #9141 closed

[2020-12-02 00:33] pdobb commented on #9133
Just to try to help out, I tried to replicate too. Autocorrect changed to this for me:
[code]
Which looks right.

[2020-12-02 05:59] ianfixes opened #9144 "Style/StringConcatenation mistakenly assumes that the + operator means concatenation, e.g. with Pathname"
## Expected behavior

Rubocop should not suggest replacing an expression that returns a `Pathname` with an expression that returns a `String`, even if we use the `+` operator to combine a `Pathname` and `String` (which [returns a `Pathname`](https://ruby-doc.org/stdlib-2.6.3/libdoc/pathname/rdoc/Pathname.html#method-i-2B))

## Actual behavior

[code]

## Steps to reproduce the problem

Here are th

[2020-12-02 06:26] #9140 closed

[2020-12-02 08:08] boris-petrov opened #9145 "SuggestExtensions cop not working on JRuby"
I'm not sure whether I've not done something wrong but just updating RuboCop from 1.4.2 to 1.5.0 and running it blows up with:

[code]

Disabling the cop fixes the issue. This is on Linux, using JRuby. I haven't installed/am not using Bundler (which, I guess, is the problem).

[2020-12-02 08:31] bbatsov commented on #9145
Hmm, it seems we've leveraged an API that exists only for MRI. @dvandersluis, please check if there's something we can use for JRuby, otherwise let's just make this a no-op for it.

[2020-12-02 10:21] Drenmi opened #9146 "Make Layout/EmptyLineAfterGuardClause accept RuboCop directive after guard clause"
## Expected behavior

I expected the cop to not flag the case where the line after the guard clause is a RuboCop directive, e.g.:

[code]

## Actual behavior

RuboCop registers an offense.

## Steps to reproduce the problem

Run RuboCop on the following:

[code]

## RuboCop version

[code]

[2020-12-02 10:23] CKolkey commented on #9145
Well, for added fun, I can report that I'm having the same issue using rubocop outside of bundler on MRI. Using `ruby 2.6.6p146 (2020-03-31 revision 67876) [x86_64-linux`

[code]

[2020-12-02 11:43] afuno opened #9147 "Why gem isn't updated to version 1.5.0?"
Until this time, there were no problems.

Now, after running the `bundle update` command, the gem isn't updated.

And this command:

[code]

Says this:

[code]

[2020-12-02 11:53] ShockwaveNN commented on #9147
I just faced similar problem, maybe some other dependencies of your require `regexp_parser` < 2.0, but current rubocop require 2.0

https://github.com/rubocop-hq/rubocop/blob/master/rubocop.gemspec#L36

[2020-12-02 11:56] ShockwaveNN opened #9148 "Rubocop failure if no `Gemfile` or `.bundle` dir"
## Actual behavior

Seems rubocop trying to analyze `Gemfile` and `.bundle` dir by default and if there is no such file\dir - there is failure
I understand that is not common behavior for ruby script to not to have Gemfile, but I dont think this failure is looking good

## Steps to reproduce the problem

1. `mkdir /tmp/rubocop-bug`
2. `cd /tmp/rubocop-bug`
3. `touch test.rb`
4. `rubocop test.rb`

[2020-12-02 12:15] bbatsov commented on #9148
@dvandersluis Guess you know what to do. :-)

[2020-12-02 12:46] afuno commented on #9147
@ShockwaveNN I don't understand how this relates to the rest of the libraries? If rubocop needs something, it can install it. Moreover, this has nothing to do with the fact that my bundle doesn't see the new version at all.

[2020-12-02 12:55] ShockwaveNN commented on #9147
Rubocop v1.5 require v2 of lib
Rubocop v1.4 require v1 of lib
Some other dependency require v1 of lib

In that case bundler will install rubocop v1.4
It's just how bundler works

[2020-12-02 12:58] afuno commented on #9147
@ShockwaveNN I thought that if the library depends on something, then it installs it. 🤔
In this case, what do I need to do to install the new version in all my rails 6.x projects? Because none of my applications can update rubocop to version 1.5.0.

[2020-12-02 13:09] dvandersluis commented on #9148
On it.

[2020-12-02 13:41] ShockwaveNN commented on #9147
You should figure out which of your deps require older version of any lib, I cannot tell without complete Gemspec, and please note that all I said it's just my toughts, since not a lot of info

[2020-12-02 14:38] Drenmi commented on #9147
Bundler will only install *one* version of each library. Different from e.g. yarn which installs as many versions as it sees.

Maybe you can check in your `Gemfile.lock` if there is another dependency that requires an older version of `regexp_parser`. (Just search the file for `regexp_parser`.)

[2020-12-02 14:45] koic commented on #9147
I think @ShockwaveNN's guess may be correct.

For example, if your Rails application specifies Capybara (3.34.0 or lower) in the Gemfile (or Gemfile.lock), your application cannot upgrade to RuboCop 1.5 because you cannot upgrade to regexp_parser 2.0 because Capybara specifies `regexp_parser ~> 1.5`.
https://rubygems.org/gems/capybara/versions/3.34.0

When Capybara current master branch is release

[2020-12-02 14:48] afuno commented on #9147
Thanks everyone for the answers

[2020-12-02 14:48] #9147 closed

[2020-12-02 15:02] ShockwaveNN commented on #9147
BTW, I faced this issue while using `watir`
Make I pr to fix it, hope dev team merge it

https://github.com/watir/watir/pull/902

[2020-12-02 15:14] dvandersluis commented on #9148
@bbatsov this is a duplicate of #9145.

[2020-12-02 15:17] dvandersluis commented on #9145
I don't think it's a JRuby issue specifically, but rather that bundler isn't guaranteed to be available (it's only a development dependency). A couple checks for bundler and the presence of a Gemfile should resolve this (and #9148, which is a different error message but the same cause).

[2020-12-02 15:17] ShockwaveNN commented on #9148
@dvandersluis I think it's better to change name of #9145, I serached before posting this bug, but JRuby in #9145 title make me ignore it

[2020-12-02 15:32] dvandersluis commented on #9148
@ShockwaveNN I agree, but don't have access to change it 😅. In any case #9149 will fix both!

[2020-12-02 15:53] #9145 closed

[2020-12-02 16:11] bbatsov opened #9150 "Warnings when building the docs"
There are some annoying warnings when building the documentation site:

[code]

I think I had hunted them down in the past, but I no longer remember where exactly those were (they are definitely in the auto-generated cop documentation for the main gem). Still, we should fix them eventually.

[2020-12-02 16:19] bbatsov commented on #9148
RuboCop 1.5.1 is out https://github.com/rubocop-hq/rubocop/releases/tag/v1.5.1

[2020-12-02 16:19] #9148 closed

[2020-12-02 16:19] bbatsov commented on #9145
RuboCop 1.5.1 is out https://github.com/rubocop-hq/rubocop/releases/tag/v1.5.1

[2020-12-02 16:22] boris-petrov commented on #9145
Thanks for so quickly resolving this! 1.5.1 works like a charm!

[2020-12-02 17:01] haines opened #9151 "RuboCop suggests inherited extensions"
## Expected behavior

RuboCop does not suggest to add extensions that have already been configured in an inherited gem.

## Actual behavior

RuboCop suggests extensions that are already configured.

## Steps to reproduce the problem

- set up a project that depends on `rspec`
- put `inherit_gem` in its .rubocop.yml, and inherit from a gem that depends on `rubocop-rspec` and has `require: rubocop-r

[2020-12-02 17:05] marcandre commented on #9133
Please update to latest RuboCop. I believe support for UTF-8 has been fixed with latest `regexp_parser` gem which `rubocop` uses.
Closing, but just comment if it's still an issue.

[2020-12-02 17:05] #9133 closed

[2020-12-02 17:07] mmuehlberger opened #9152 "Style/SoleNestedConditional incorrectly merges conditionals"
I've been observing an issue with the auto-correct functionality of `Style/SoleNestedConditional` that incorrectly merges two conditionals, which have more than one condition.

## Input

[code]

## Expected behavior

Resulting code will be

[code]

## Actual behavior

Resulting code is

[code]

## RuboCop version

[code]

[2020-12-02 17:08] marcandre commented on #9152
Thanks for the report.

@koic did you want to have a look at this?

[2020-12-02 17:08] bbatsov commented on #9151
Sounds like a task for @dvandersluis.

[2020-12-02 17:16] dvandersluis commented on #9151
Yeah it's not currently considering what's activated in rubocop.yml, just what's found from gems. I'll take a look!

[2020-12-02 17:37] koic commented on #9152
Yeah, I will take this one!

[2020-12-02 19:02] dvandersluis commented on #9151
@haines In the meantime this configuration should work for you:

[code]

[2020-12-02 19:14] tas50 commented on #9147
@koic is there the possibility to allow RuboCop to support both 1.x and 2.x versions of the regex parser. I'm having a large problem with multiple third party tools that are pinned to the 1.x release and probably won't ship anytime soon.

[2020-12-02 21:16] dvandersluis commented on #9151
@haines can you confirm that `rubocop-rspec` is in your `Gemfile.lock`?

[2020-12-02 21:40] haines commented on #9151
@dvandersluis thanks for looking into this!

`rubocop-rspec` is in the Gemfile.lock: https://github.com/haines/rubocop-inherited-extensions-bug/blob/ace95f260920531df2f9a84d1e9ba39868611955/project/Gemfile.lock#L43

It's not in the Gemfile, though; it's a transitive dependency.

[2020-12-02 21:57] pdobb opened #9155 "Layout/FirstArgumentIndentation is off-by-[1|2] when using splats with chained methods"
This is a follow-up to https://github.com/rubocop-hq/rubocop/issues/9115.

There is still/another issue in rubocop 1.5.1 with splatting and the Layout/MultilineMethodCallIndentation cop with `EnforcedStyle: consistent_relative_to_receiver`.

--------

## Expected behavior

Both of these examples should be valid:

[code]

## Actual behavior

Method chains appear to require an extra space to offset

[2020-12-02 22:27] #9080 closed

[2020-12-02 23:10] marcandre commented on #9144
The problem is larger than this though.

[code]

The cop is already marked as unsafe, I'm not sure there's much more we can do (until we can know more about the class of some expressions)

[2020-12-03 03:24] yujideveloper opened #9160 "Strange auto-correction with unwanted repetitive comments and unwanted repetitive conditions"
I got a strange auto-correction with unwanted repetitive comments and unwanted repetitive conditions when I ran `rubocop -a` on the following codes.

[code]

--------

## Expected behavior

[code]

## Actual behavior

I got the following results and strange auto-correction.

[code]

[code]

## Steps to reproduce the problem

Run `rubocop -a` on the following codes.

[code]

## RuboCop version

[co

[2020-12-03 04:18] ianfixes commented on #9144
This is good to know, but (forgive my ignorance) how do I know which cops are unsafe?  I upgraded from a version `0.55.0` (or so) of rubocop, and the new version had this rule automatically enabled, it seems.  Is there something in my existing config file that might have caused an unsafe cop to run?

[2020-12-03 04:51] pdobb opened #9161 "Layout/HeredocArgumentClosingParenthesis false positive when chaining methods that pass heredocs"
When an outer method contains a chained method call with heredocs present, the Layout/HeredocArgumentClosingParenthesis cop appears to produce a false positive offense.

--------

## Expected behavior

No offenses should be found.

## Actual behavior

[code]

Also:

[code]
## Steps to reproduce the problem

There is no special configuration for this cop. So just run

[code]
on
[code]

NOTE: In my

[2020-12-03 05:05] pdobb commented on #9161
Note, I edited and added a 2nd false positive example to the description, but adding here as well to be extra clear:

[code]

[code]

[2020-12-03 05:12] pdobb commented on #9160
Note: I tried reproducing this and found it to be an issue in 1.5.1, but not in 1.4.2.

[2020-12-03 05:13] koic commented on #9160
This issue can be reproduced with `rubocop -a --only Style/SoleNestedConditional,Style/IfUnlessModifier` that smallest cops combination.

[2020-12-03 06:00] #8985 closed

[2020-12-03 06:06] #9155 closed

[2020-12-03 08:11] bbatsov commented on #9144
@ianfixes It's marked as Unsafe it the cop metadata. You also see this is the cop documentation. https://docs.rubocop.org/rubocop/1.5/cops_style.html#stylestringconcatenation

Unsafe cops are enabled by default, as they are pretty useful in most cases, but they are excluded from the default auto-correct.

Btw, after pondering about this cop we can add some option to ignore the unsafe cases - meani

[2020-12-03 08:30] tejasbubane commented on #9146
@Drenmi I was not able to reproduce this with latest rubocop (1.5.1)

[code]

[code]

[code]

[2020-12-03 10:17] #9146 closed

[2020-12-03 12:56] #9152 closed

[2020-12-03 13:38] pirj opened #9163 "Suggestion: `--only` to run only enabled cops and warn/fail if cops are disabled"
## Problem

It always hits me by surprise when running RuboCop with `--only <cop-name>` flag that there are no warning telling me that if I would run without `--only` flag, the offences would not be raised.

I think of `--only` as a way to filter the lengthy list of a normal `rubocop` run (that are at times hundreds of screens long.

## Solution

When `rubocop` is run with `--only`:
 - union the l

[2020-12-03 14:04] ianfixes commented on #9144
Having an option to reduce the detection for this cop to just `"string literal" [+ 0 or more other expressions] + "string literal"` sounds like a great improvement, honestly.

I'm not sure what the sentiment is around creating these cops but it sounds like there is a tradeoff between confidence and scope.  In this case, this cop's rule is broad in scope but not high in confidence (well, my confide

[2020-12-03 15:09] marcandre commented on #9163
I'm curious... When does it surprise you, i.e. in what context are you typing `rubocop --only SomeDisabledCop` in the first place?

[2020-12-03 15:45] pirj commented on #9163
I've recently updated RuboCop version and added `rubocop-rspec` to a massive application.
As it is usually, there are thousands of offences.
There was a really painful bug in the recently deployed code, one that RuboCop could prevent.

And there is a cop that does raise an offence when inspecting this code. I've checked it by running `rubocop --only <that-cop> <that-file>`.
I've also checked that

[2020-12-03 16:21] bbatsov commented on #9163
Hmm, I was under the impression that `--only` was ignoring weather a cop is disabled or enabled. I'm guessing this got changed when we added support to run entire departments via it, which makes sense. Still, it the target is a single cop I think it's a no brainer we need to run it.

[2020-12-03 16:46] marcandre commented on #9163
My understanding is that this is still the case but that @pirj would like to change that. It's still not clear to me why 😅

I'm not against a "Note that cop Xyz is currently disabled in the config", but it should still run.

[2020-12-03 18:14] pirj commented on #9163
Sounds reasonable, that's all I need 👍
I can handle adding this warning if you don't mind the idea.

[2020-12-03 18:55] marcandre commented on #9144
@ianfixes instead of disabling just that cop, consider running `rubocop --safe` or modify your `.rubocop.yml` instead (sorry, not sure how to get the same effect off hand).

[2020-12-03 20:33] bbatsov commented on #9163
I'm fine with this. Seems I once again misread what the issue was about. 😆

[2020-12-03 20:33] bbatsov commented on #9163
It's probably prudent to document better the behavior in general as well.

[2020-12-03 20:44] dvandersluis opened #9164 "Gem warning for parser"
Gem gives a warning when the gemspec is loaded (and via Bundler.load, which we do in a couple places):

[code]

Would it be ok to make the suggested change?

[2020-12-03 22:24] marcandre commented on #9164
"if parser is semantically versioned" => it is not.

Is there a way to disable this? Or else add '<= 42.0.0' 😆

[2020-12-03 22:42] dvandersluis commented on #9164
Haha yeah that’s what I wasn’t sure. We can just ignore the warning, but it gets spit out in test output sometimes.

[2020-12-04 08:26] #9161 closed

[2020-12-04 08:30] #9151 closed

[2020-12-04 10:07] afuno commented on #9147
The problem is solved in version 1.5.2

[2020-12-04 10:14] koic commented on #9147
Yeah, this issue has been resolved by #9154 and #9162 included in RuboCop 1.5.2. Thank you for the feedback.

[2020-12-04 13:06] thiagotrentin commented on #8723
Hi @bbatsov,
I think the permission of your Slack space is just to link your Slack account with your Github account and it won’t be available for other teams.
https://github.com/integrations/slack#authorization
Enabling it will make it possible to subscribe to changes to the repository within other organizations' Slack.

[2020-12-05 06:28] #9125 closed

[2020-12-05 06:31] #9164 closed

[2020-12-05 06:38] bbatsov commented on #8909
The config obsoletion logic was completely reworked on master (see #9143), so I doubt this problem is still around. Let us know if you experience it again when doing future upgrades.

[2020-12-05 06:38] #8909 closed

[2020-12-05 06:39] bbatsov commented on #8805
The fix was merged a while ago, but we forgot to close this issue.

[2020-12-05 06:39] #8805 closed

[2020-12-06 05:39] scottohara opened #9173 "Lint/ConstantResolution and private_constant"
I have enabled the `Lint/ConstantResolution` cop and have been liberally adding `::` prefixes to all of the bare constants in my code base to satisfy the offenses.

I've encountered an issue with `private_constant` though, and I'm not entirely sure how to resolve.

(disclaimer: I'm a bit rusty, as it has been a while since I've worked with Ruby, so apologies in advance if there's a simple explanat

[2020-12-06 16:39] #7563 closed

[2020-12-06 17:20] fynsta opened #9174 "False autocorrection when merging "exclude?" in outer conditional"
When running `rubocop -a` on the following code, it autocorrects it to something syntactically wrong.

[code]

Result:
[code]

RuboCop even throws an error in Lint/Syntax on the newly corrected line, so it is obviously a wrong correction. The correction stems from Style/SoleNestedConditional

--------

## Expected behavior

Not to make my code syntactically wrong. Maybe add brackets?

## Actual be

[2020-12-06 17:29] fynsta opened #9175 "Wrong number of autocorrections"
When running `rubocop -a --only=Layout/LineLength`, it displays a total of 12 offenses, of which 7 were autocorrected. In fact, none of those offenses were corrected.

[code]

Here, for example, an offense was supposedly corrected, although nothing in this line was changed. And, sure enough, next time I run the same command, the offense shows up again.

I am not sure what is causing the problem as

[2020-12-06 18:38] dvandersluis commented on #7766
I was looking into this and it already corrects variables in the rescue body, so this can be closed.

[2020-12-06 19:17] dvandersluis commented on #9175
This is a continuation of #8978 and #9073. `LineLength` is a special case for autocorrect because it can only split lines at certain places. Your example should actually autocorrect, but it looks like my fix from #8978 (from before AutoCorrect was enabled by default) is preventing the autocorrect from actually running. I have a fix coming.

[2020-12-06 21:58] marcandre commented on #7563
For anyone stumbling on this issue: the config `CountRepeatedAttributes` resolves this issue *and* would count the repeated `scanner.matched` as a single branch too.

[2020-12-07 03:09] dvandersluis opened #9179 "Consistent test failures due to test-queue?"
In the last day or so we've gotten consistent CI failures on ruby-head from `test-queue`:

[code]

It doesn't appear that test_queue has been updated in quite some time (the last gem release was almost 4 years ago), but I'm wondering if maybe ruby-head was updated in some incompatible way.

[2020-12-07 03:25] marcandre commented on #9179
Interesting.
There's a lot of work being done currently on concurency (Ractor, but also @ioquatix's work on Fibers).
It would be interesting to be able to reproduce it and do a git bisect to figure out what's the commit responsible.

I tried `rake spec` on my mac and things run smoothly (ruby 3.0.0dev (2020-12-05T10:40:00Z master 9dbb2bfd73) [x86_64-darwin18])
Can you reproduce it on your machine?

[2020-12-07 05:16] marcandre opened #9180 "`using MyRefinement` cop?"
I've recently become quite positive about refinements.

One pattern I suspect could be to group refinements in a global module and call `using MyRefinement` in all files (in particular when writing a gem):

[code]

@bbatsov is the main gem a good place for a utility Cop like this? It would of course be disabled by default and require configuration like name of the refinement, maybe scoping ('top',

[2020-12-07 05:21] dvandersluis commented on #9179
Installed `3.0.0-dev` (also on mac) and ran `bundle exec rake spec`, it succeeded with no errors. Only ever saw it in the CI reports.

[code]

[2020-12-07 05:22] #9174 closed

[2020-12-07 05:43] marcandre opened #9181 "Why aren't downloaded configs in cache folder?"
[code]

Creates a *local* file called `.rubocop-https---raw-omgthisfilepathissolong.yml`

Is there a good reason not to create that file in our `rubocop_cache` instead? It is a cached file, after all...

[2020-12-07 06:18] bbatsov commented on #9181
I guess that was just some oversight.

[2020-12-07 06:20] marcandre commented on #9181
Cool, I'm on it then

[2020-12-07 06:55] dvandersluis commented on #7725
This will now (as of #9171, not released yet) output the following (it outputs on stderr so if you're still having this issue check that maybe you're not suppressing it):

[code]

I think this issue can be closed. (/cc @bbatsov)

[2020-12-07 06:58] #7725 closed

[2020-12-07 07:19] marcandre commented on #9181
Probably not an oversight 😅 It's trickier than I hoped because there's a lot of different ways to specify the location of the cache, only the `Runner` actually has the final info and where we need to use it is quite far from there...

[2020-12-07 07:21] bbatsov commented on #9180
Still hasn't happened for me. 😆

Yep. I can definitely see some value in this approach, although it also highlights why I don't like refinements much. (there's no easy way to apply them to some hierrarchy, and if you just have them in some modules it may seem weird that some methods exist there and not elsewhere) It would have been nice if there was a more natural way to modify some classes only w

[2020-12-07 07:46] marcandre commented on #9180
Cool.

So how does `Layout/RequiredRefinement` sound?
I'm thinking of a config 'Required' like:

[code]

which would auto-correct:

[code]
I'm surprised that Yaml doesn't need key nor value quoted, cool.

(I'll work on that tomorrow)

[2020-12-07 11:02] baelter commented on #9133
I can verify that this is not reproducible with just rubocop cli. Still getting it in vscode though so must be a bug somewhere there.

[2020-12-07 14:03] seandilda opened #9183 "Style/ClassEqualityComparison autocorrect is not safe"
After updating an old project to rubocop 1.5.2 and running ```rubocop -a```, I found that it made an unsafe change.

The Style/ClassEqualityComparison cop changed
```l.class == loc_class```
to be
```l.instance_of?(loc_class)```

While this is a bad smell and should be changed, those two statements are not logically equivalent.

--------

## Expected behavior

The specified autocorrect should happe

[2020-12-07 14:06] bbatsov commented on #9183
Yeah, that's a fair point. We should update this.

[2020-12-07 16:23] koic commented on #9179
Circle CI now passes. It seems that the Ruby head image of CI was temporarily broken. So I will close this issue.
OTOH, maybe it may be useful to display `ruby -v` in the CI results in future.

[2020-12-07 16:23] #9179 closed

[2020-12-07 16:37] zverok commented on #9180
Actually (maybe not really related to @marcandre's request, but seems to me it does) I already thought several times that it would be cool to have some "private cop" definition DSL (maybe somewhat along the lines of RSpec custom matchers/Rake tasks), which made the small additions "I like to have it this way in my project" much easier than they are now. Like, IDK, when some project wants to switch

[2020-12-07 18:47] marcandre commented on #9180
@zverok That's my secret plan for `np`. Have a way to type in "Ruby" that generates a node pattern (I'm thinking of `_name` instead of `<name>` as that translates mentally easily to node pattern), and have a format for replacements (maybe each capture can be replaced independently). All that available as a command line or electron app (also available online, see https://nodepattern.heroku.app ), w

[2020-12-07 21:13] marcandre commented on #9183
I'm not sure I follow in which cases this not equivalent (short of redefining `#class`, `Class#==` or `instance_of?`). In which use-case is this not equivalent?

[2020-12-07 21:15] bbatsov commented on #9183
Yeah, you're right. Once again I confused `instance_of?` and `kind_of?`. 😆 I think the transformation is safe.

[2020-12-07 21:27] seandilda commented on #9183
My mistake, I was confusing `instance_of?` and `kind_of?` as well.  Sorry for the trouble, and thanks for catching my confusion.

[2020-12-07 21:27] #9183 closed

[2020-12-07 22:17] tas50 opened #9184 "Layout/EmptyLinesAroundAttributeAccessor fails if the attr_accessor is the last line of the file"
## Expected behavior

EOF should be considered an empty line around the attr_accessor and the cop should continue on without error.

## Actual behavior

[code]

## Steps to reproduce the problem

End a file with the attr_accessor like this

[code]

## RuboCop version

[code]

[2020-12-08 04:13] #9184 closed

[2020-12-08 11:27] #8897 closed

[2020-12-08 14:07] sos4nt opened #9191 "Suggestion: "auto-correct" rubocop.yml after update"
I just updated RuboCop and got a warning that

no big deal, but it would be really nice if RuboCop could update its config automatically.

(to detect an outdated config, the RuboCop version could be stored within `rubocop.yml`)

[2020-12-08 15:14] #8135 closed

[2020-12-08 15:14] bbatsov commented on #9191
I think that's a good idea, although it comes with a small caveat - what happens if someone tries to use the same config with an older version of RuboCop? Of course, if you update the configuration manually you'll be faced with the same problem, so I guess I'm overthinking this.

[2020-12-08 17:31] dvandersluis commented on #7801
This cop is working as expected. Both instance and class methods are considered, and it is not limited to certain paths.

[code]

However, the cop only checks for methods with the correct arity: getters must have 0 arguments and setters must have 1. I am opening a PR to update the documentation in that regard.

[2020-12-08 17:41] #7801 closed

[2020-12-08 17:49] #9175 closed

[2020-12-08 19:04] dvandersluis commented on #9173
This is a fair point that I don't know if there's an easy fix for. RuboCop doesn't resolve identifiers, so the code flagging this offense has no idea that `BAR` is private (it could even be defined, or made private, in a completely separate file, and RuboCop generally works on a single file at a time).

Unfortunately I think either using `# rubocop:disable Lint/ConstantResolution` or adding `BAR`

[2020-12-09 09:52] jennwah commented on #1974
yo this is life saver haha

[2020-12-09 11:43] #9160 closed

[2020-12-09 12:27] morgoth opened #9196 "1.6.0 breaks Rubocop run"
I have the GH actions set as follow:
[code]

This now fails with:

[code]

This is also strange (run locally):
[code]

So locally it runs fine with `bundle exec rubocop` but simple `rubocop` does not work

[2020-12-09 13:54] bbatsov commented on #9196
Hmm, seems we messed up, but I'm sure we'll manage to sort this out quickly. Seems our warnings didn't factor in the possibility that someone might be using extensions directly without a `Gemfile`. Sorry about the inconvenience! //cc @dvandersluis

[2020-12-09 14:01] seandilda commented on #9196
For anyone else searching issues, this same issue appears to be affecting Rails cops even when your rubocop.yml is requiring rubocop-rails.

[2020-12-09 14:43] effetmonstre opened #9203 "Autocorrect bug: Move include to the class declaration line"
<img width="700" alt="Screen Shot 2020-12-09 at 9 40 45 AM" src="https://user-images.githubusercontent.com/60717156/101644218-ef0ec400-3a02-11eb-811d-a40e98fa72f5.png">

The auto correction moves the 'include ConcernName' to the same line as the class declaration.

In this case, the correction was

[code]

## RuboCop version

[code]

[2020-12-09 15:27] dvandersluis commented on #9196
Looking into it!

[2020-12-09 16:28] dvandersluis commented on #9196
Can anyone who is experiencing this please share your .rubocop.yml requires?

[2020-12-09 16:32] darylf commented on #9196
I'm experiencing this. My require looks like:
`require:
  - rubocop-rspec
  - rubocop-performance
  - rubocop-rails
`

[2020-12-09 16:35] dvandersluis commented on #9196
@darylf and you are running rubocop without Bundler?

[2020-12-09 16:37] morgoth commented on #9196
[code]
As described, it fails when run without a bundler.

[2020-12-09 16:38] darylf commented on #9196
Yes, I am running it without bundler. As a github action, as well as locally

[2020-12-09 17:50] marcandre commented on #1974
Better comment on #8986.
Note that the example given passes with default settings.

[2020-12-09 17:59] dvandersluis commented on #9196
Thanks everyone, I'm putting up a PR to fix this now.

[2020-12-09 19:10] key88sf commented on #9196
Any ETA on when this will be live/fixed? Currently can't build anything due to this bug.

[2020-12-09 19:15] dvandersluis commented on #9196
@key88sf can you lock your build to 1.5.2 until this is resolved? I imagine @bbatsov will release 1.6.1 pretty quickly once this is fixed.

[2020-12-09 19:21] bbatsov commented on #9196
Yeah, that's my plan. I'm just waiting for a green build on the PR.

[2020-12-09 20:57] vaporyhumo opened #9198 "Make `Lint/UselessMethodDefinition` alias-aware"
## Is your feature request related to a problem? Please describe.

When aliasing methods, I prefer to have the original method being referenced explicitly defined in the file, sometimes just calling `super`. This of course triggers the `Lint/UselessMethodDefinition` cop, which seems kinda strict for this case.

## Describe the solution you'd like

I'd like that `Lint/UselessMethodDefinition` check

[2020-12-09 21:54] #9196 closed

[2020-12-09 21:56] bbatsov commented on #9196
I've merged the fix and I'll cut a new release tomorrow, so I can give you the opportunity to test it by building the gem from `master`. Huge thanks to @dvandersluis for instantly jumping on this and fixing it! 🏆 🥇

[2020-12-10 03:45] pdobb commented on #9180
Friendly note: GitHub now supports "[Discussions](https://docs.github.com/en/free-pro-team@latest/discussions)" separate from Issues 🎉

[2020-12-10 07:38] bbatsov commented on #9196
1.6.1 is out https://github.com/rubocop-hq/rubocop/releases/tag/v1.6.1

[2020-12-10 07:49] bbatsov commented on #9180
Yeah, I noticed those and we'll see how to best leverage them.

[2020-12-10 09:16] andreyruby opened #9202 "Error when inspecting file and folder with different config .rubocop.yml"
I have this structure
- my_app
  - .rubocop.yml
  - spec
    - .rubocop.yml

Also spec/.rubocop.yml requires rubocop-rspec
[code]

When requesting to check separate files - everything is ok
[code]

When requesting to check same file and folder (with same one file) - rubocop raises tons of errors (look like one for each rspec rule)

[code]

## RuboCop version

[code]
Also there is rubocop-rspec v2.

[2020-12-10 09:50] koic commented on #9203
I cannot reproduce this issue. Can you update to the latest RuboCop (1.6.1) and please provide reproduction step if you reproduce this issue with the latest version of RuboCop?

[2020-12-10 11:15] bbatsov commented on #9198
@fatkodima Please look into this when you can.

[2020-12-10 12:31] marcandre commented on #9198
May I ask why? I'm not sure I see how that adds any information.

[2020-12-10 14:09] vaporyhumo commented on #9198
I don't think it **adds** information per se, just make it a little bit more at hand, most aliases I've seen are directly defined below the method itself. I consider this a nice-to-have only.

[2020-12-10 16:52] alexandrz opened #9205 "False positive Naming/MemoizedInstanceVariableName"
[code]

## Expected behavior

Memoized variable @values matches method name `values`.

## Actual behavior

Rebocop reports an offence:

Naming/MemoizedInstanceVariableName: Memoized variable @values does not match method name inherited. Use @inherited instead.

## RuboCop version

[code]

[2020-12-10 17:00] dvandersluis opened #9207 "Frozen Registry breaks `bundle exec rake default`"
The registry is now frozen in tests as of #9204. However, it appears that since it's all run within the same rake task, the registry continues to be frozen when `rubocop` itself is run (on `master`):

[code]

[2020-12-10 17:58] marcandre commented on #9198
Thanks.
If that code was in a PR for `rubocop`, I would ask for a good justification to add an alias *on a subclass* (maybe because I tend not to create aliases at all) of if `def show_all; index; end` is not better than an alias here (in case a subclass refines `index`). I would definitely ask you to remove this method definition as I find it more confusing than helpful (I have to parse these lin

[2020-12-10 18:51] vaporyhumo commented on #9198
Yeah I wouldn't do it in a library either. Only use case so far has been rails pundit policies, where using alias and inheritance has been really semantically useful for us. Since this is not by any means urgent for us, I'll put up PR when/if I have some time. Thanks for answering! You can close the issue if you want to declutter; I con open it again if I decide to go on with the PR.

[2020-12-10 19:44] dark-panda opened #9208 "Hidden directories containing a large number of files impacts performance"
Finding hidden files can have a performance impact when there are hidden
directories in the working directory that contain many files, as the
`hidden_files` array can become rather large, resulting in a long
start-up time while the target files are determined. Using a binary search
can cut down on this start-up time considerably.

As an example, on my machine, I have a `.bundle` directory containi

[2020-12-11 00:44] fnando opened #9211 "Github Sponsor's $1 tier"
Hi there!

I've decided to sponsor 10-20 projects every month and rubocop is on my list. Can you add a $1/mo tier? Maybe other people would chip in given that $1/mo is a no brainer.

Thanks!

[2020-12-11 02:52] #9211 closed

[2020-12-11 05:27] t-kinoshita opened #9213 "False Positive Style/RedundantFreeze for Array#*"
`Array#*` generates false positive `Style/RedundantFreeze`

--------

## Expected behavior

No offence detected

## Actual behavior

(run with `rubocop --debug --only Style/RedundantFreeze`)

[code]

## Steps to reproduce the problem

[code]

## RuboCop version

Include the output of `rubocop -V` or `bundle exec rubocop -V` if using Bundler.
If you see extension cop versions (e.g. `rubocop-perform

[2020-12-11 07:53] #7754 closed

[2020-12-11 07:53] #7799 closed

[2020-12-11 07:53] #7798 closed

[2020-12-11 09:06] mvz opened #9216 "Fork rubocop-i18n"
## Is your feature request related to a problem? Please describe.

[rubocop-i18n](https://github.com/puppetlabs/rubocop-i18n) is no longer being maintained and is not compatible with the latest version of rubocop. The repository has been archived.

## Describe the solution you'd like

I'd like (a fork of) rubocop-i18n to be maintained under the rubocop-hq organization. Options are:

1. Fork or tra

[2020-12-11 09:15] bbatsov commented on #9216
I'm all for maintaining the gem(s) here.

Unless there are strong arguments in favour of option 2), I guess we should try option 1) first as it would present less hassle for the existing users of the gem.

@highb, can you help us out with this or point us in the right direction? (I've noticed you were doing most of the work on the gem before it was archived)

[2020-12-11 09:16] bbatsov commented on #9216
Btw, we now have https://github.com/rubocop-hq/rubocop/discussions as well, but I guess it's fine to keep discussing the topic in this ticket.

[2020-12-11 11:49] #9213 closed

[2020-12-11 13:35] anatols-baymaganov commented on #6968
@bbatsov
when can we expect changes in the style guide according to this discussion? Because we have already holy war in a project I working, about #select and #filters, and I agree in general about using #filter but I don't see changes about it in rubocop style guide, why you still didn't add them?

[2020-12-11 14:26] bbatsov commented on #6968
@anatols-baymaganov Just an oversight on my part. Please, open a ticket with the style guide and I'll update it when I can. Touching the RuboCop config is tricky, as it's a breaking change and can't happen before version 2.0.

[2020-12-11 17:55] #9205 closed

[2020-12-11 21:08] #9207 closed

[2020-12-12 07:49] highb commented on #9216
@bbatsov @mvz I've been working with my contacts at Puppet to get maintainer access for the gem and get the repo un-archived. Hopefully I'll get access soon and can work on merging the outstanding PRs and doing some maintenance.

[2020-12-12 07:51] highb commented on #9216
I'm also open to working with the Puppet org to transfer ownership to rubocop-hq, I'm just not sure what Puppet wants to do there.

[2020-12-12 07:58] bbatsov commented on #9216
Thanks! Any idea why the repo was archived? Seems the project was fairly popular.

[2020-12-12 09:42] #9208 closed

[2020-12-12 10:57] mvz commented on #9216
Thanks, @highb!

[2020-12-12 13:37] henrahmagix commented on #8099
I just tested this with version `0.9.2` and the latest version `1.6.1`, and this is still an issue with both.

Is it a complex one that is unlikely to be fixed?

I attempted to look into it myself, but the source code for these two Layout Cops is unfortunately beyond me at the moment – I only wrote my first linter a few weeks ago so I still have some learning =)

[2020-12-12 21:54] highb commented on #9216
Long story short is that internationalization and localization were a company-wide priority at Puppet. Then suddenly, they weren't. 😞 It is very easy to open source something. The hard part is maintenance and community engagement. I'll try my best to help out in my free time, but my day job doesn't have an open source maintenance budget and doesn't make use of this library so my time will be limit

[2020-12-13 23:01] fatkodima opened #9222 "New cop for yoda expressions"
Inspired by https://palantir.github.io/tslint/rules/binary-expression-operand-order/

This is in addition to existing `Style/YodaCondition` cop.
[code]

[2020-12-13 23:05] fatkodima opened #9223 "New lint cop to check mistypes in `+=` or `-=`"
Inspired by https://rules.sonarsource.com/ruby/type/Bug/RSPEC-2757 and https://www.viva64.com/en/w/v588/

I think many people did mistakes like the following
[code]

[2020-12-13 23:11] fatkodima opened #9224 "New style cop for nested `case-when`s"
Inspired by https://rules.sonarsource.com/ruby/RSPEC-1821

It is always easier to understand the code, when nested `case`s are avoided or extracted into a separate method.

[2020-12-14 03:04] Drenmi commented on #9223
I guess the case of `x =- 2` is more likely to have false positives, because it could be `x = -2`, but the space went in the wrong place. 🙂 Either way, I think this is a solid candidate for a `Lint` cop.

[2020-12-14 06:56] bbatsov commented on #9223
I also think such a cop is a good idea!

[2020-12-14 06:57] bbatsov commented on #9222
Seems like a good idea to me.

[2020-12-14 13:35] sswander opened #9225 "Style/LambdaCall skips subsequent checks after finding a violation"
My colleague @kelvinngsl and I might have found an unexpected behaviour in `Style/LambdaCall`. It might also be related to Style/LambdaCall's implementation of `ConfigurableEnforcedStyle` mixin.

With `EnforcedStyle: braces`, when the first `blk.call` is found, it is reported as an offense, but all subsequent code that violates the braces code style got skipped.

With `EnforcedStyle: call`, when t

[2020-12-14 17:22] binford2k commented on #9216
Hey @bbatsov. Like @highb said, i18n is not a priority at the moment. We've been cleaning up some projects that weren't being effectively maintained to help our eng teams focus and this one was accidentally included in that due to an internal miscommunication. We were actually planning to offer it to @highb for maintenance instead. The repo has been unarchived and @highb has admin access and publi

[2020-12-14 17:45] bbatsov commented on #9216
Thanks! I'll leave the next steps to @highb - if he wants he can transfer the repo to RuboCop HQ. I think that's better than forking it, as it always creates confusion for the users.

[2020-12-14 18:46] highb commented on #9216
I've shipped a [3.0.0 release ](https://github.com/puppetlabs/rubocop-i18n/releases/tag/v3.0.0) with @mvz 's changes. I think for now, we can keep it in the Puppetlabs namespace, as I've been given full maintainer permissions on the repo. If that's acceptable to everyone, this issue can hopefully be closed?

[2020-12-14 20:26] kassi opened #9227 "Misleading example for Style/GuardClause"
The example in the documentation for `Style/GuardClause` is misleading because mentioned bad and good version don#t match execution.

It says

[code]
However both versions behave differently and _bad_ can't be replaced by _good_.

Imagine `something` being `true` and `foo` returning a truthy value.
Bad (original) behavior: `foo` gets called.
Good (suggested) behavior: `foo` gets called and `ok` ge

[2020-12-14 20:49] bbatsov commented on #9216
Indeed! Thanks for your help! 🙇‍♂️

[2020-12-14 20:49] #9216 closed

[2020-12-14 21:19] bbatsov commented on #9227
Seems to me a `return` is missing, but yeah - the example is not great.

[2020-12-15 02:15] jshah opened #9230 "Layout/LineLength Says Corrected But Not Correcting"
Rubocop says it's auto-correcting a Layout/LineLength error but the file does not get auto-corrected.

[code]

In my previous rubocop version (0.84), Layout/LineLength was never correctable.

## Expected behavior

Doesn't think Layout/LineLength is auto-correctable.

## Actual behavior
Tries to correct line and doesn't even work.

[code]

Afterwards, file shows no changes.

## Steps to reproduce t

[2020-12-15 02:43] koic commented on #9230
The issue may have been resolved by latest RuboCop 1.6. Can you update to the latest RuboCop version?
If that doesn't work, can you provide executable reproduction code? Thank you.

[2020-12-15 06:57] #8482 closed

[2020-12-15 07:30] dvandersluis commented on #9230
Yeah this should be fixed by #9190.

[2020-12-15 10:48] thinca opened #9233 "Wrong auto correction Style/SoleNestedConditional"
I got a wrong auto-correction with `Style/SoleNestedConditional` cop and without `Style/IfUnlessModifier` cop.

`.rubocop.yml`
[code]

`test.rb`
[code]

Run:
[code]

## Expected behavior

[code]

## Actual behavior

Output:
[code]

`test.rb`
[code]

- Extra comments are appears
- Strange indentation

## Steps to reproduce the problem

[code]

## RuboCop version

[code]

[2020-12-15 17:51] zverok opened #9234 "Bug in Style/KeywordParametersOrder"
Versions: `1.6.1 (using Parser 2.7.2.0, rubocop-ast 1.3.0, running on ruby 2.5.5 x86_64-linux)`

Test code:
[code]
Glitch:
[code]

[2020-12-15 17:51] #9223 closed

[2020-12-15 18:07] zverok opened #9235 "`--only` and ambiguous cop name"
Versions: rubocop 1.6.1, rubocop-rspec 2.0.1
This file:
[code]
...produces (beside others) this offense:
[code]
...but, when I am trying to use `--only RSpec/VariableName` (actually, on a large project, checking each cop's impact):
[code]
(Notice the warning about namespace)

Shouldn't be this way, I believe :)

[2020-12-15 18:19] zverok commented on #7880
Just in case I'll forget: I plan to do some experimenting in January on those matters.
My current idea is that the best (easy to implement and least disruptive) option is to have `AllowedStyles` generic param in many cops, so it would be one _enforced_ and many _allowed_; with any of "allowed" considered OK (not changed to enforced), but if something matches neither, it would be converted to "enfo

[2020-12-15 19:02] jshah commented on #9230
Thanks, I'll give this a go today.

[2020-12-15 19:25] jshah commented on #9230
Looks like `1.6.1` is actually auto-correcting. This is great!

Closing

[2020-12-15 19:25] #9230 closed

[2020-12-15 21:11] bbatsov commented on #9235
@dvandersluis can you look into this?

[2020-12-15 22:55] koic commented on #9233
Thank you for the feedback. Part of auto-correction of indentation will be left to other `Layout` cop yet (`Layout/IndentationWidth` cop), but the auto-corrected comment is clearly incorrect.

[2020-12-16 01:51] dvandersluis commented on #9235
Sure I'll take a look tomorrow (sorry didn't get a notification about this earlier for some reason).

[2020-12-16 04:31] mmb opened #9237 "Lint/UnreachableLoop false positive with should_receive and raise in block"
## Expected behavior

rubocop should not identify this as an unreachable loop.

## Actual behavior

rubocop identifies this as an unreachable loop.

## Steps to reproduce the problem

test_spec.rb:

[code]

[code]

## RuboCop version

[code]

[2020-12-16 05:18] ianfixes commented on #9144
I'm not sure where to say this (as I'm sure it's been discussed at length elsewhere) but it's disheartening to hear that `rubocop --safe` isn't the default behavior, i.e. that potential false positives come enabled by default (instead of being something you look for after everything else has been cleaned up).

No action required, I just needed to express that.  I will plan to use `rubocop --safe`

[2020-12-16 06:53] Drenmi commented on #9144
There are plenty of options for marking false positives, and more are added by the day. False negatives, on the other hand, are beyond reach of the end user, and so the trade-off is (generally) to prefer false positives.

While RuboCop can save a great deal of time, it will never be "smart" in the human sense, and thus can not save us from thinking about our code. Thinking is hard work and all tha

[2020-12-16 07:39] #9234 closed

[2020-12-16 12:11] ravi-deepsource commented on #9191
Hey @sos4nt @bbatsov 👋🏻 !

I remember automating this process a while ago by creating mappings based on what RuboCop suggests. The gist is here: https://gist.github.com/ravi-deepsource/ef231c0297deecc35bb0697203546636. But it seems this can be automated better using the mappings here: [obsoletion.yml](https://github.com/rubocop-hq/rubocop/blob/master/config/obsoletion.yml), which were pushed recen

[2020-12-16 18:04] dvandersluis commented on #9235
So some context:

[code]

What's happening here is:
1. `--only` triggers `Cop::Registry.qualified_cop_name`: https://github.com/rubocop-hq/rubocop/blob/2a4f895dd7eb29246e18f61cb4e3f493cc2005d8/lib/rubocop/options.rb#L100
2. `qualified_cop_name` tries to match the name against the known registry. If a badge is not found, it *accepts* it (crucial here). https://github.com/rubocop-hq/rubocop/blob/798

[2020-12-16 18:04] fatkodima commented on #9225
@sswander You should move `opposite_style_detected` into `add_offense`
https://github.com/rubocop-hq/rubocop/blob/b01dcfc27db16010707e8e2d4c5627612c6e21b7/lib/rubocop/cop/style/lambda_call.rb#L30-L36

as
[code]

and add a test case with producing 2 violations at the same time.

[2020-12-16 20:19] ianfixes commented on #9144
Not quite, I had rubocop enabled from the beginning of this project but [recently upgraded its version](https://github.com/rubocop-hq/rubocop/issues/9144#issuecomment-737655252).  I make heavy use of rubocop in both personal and professional projects, and my positive experience there is driven by high confidence: each cop is (until now) so perfectly consistent, so the cop as a whole either does or

[2020-12-16 22:37] JasonBarnabe opened #9242 "New cop for alignment of arguments on repeated, consecutive method calls"
When a method is repeated multiple times consecutively (common in a DSL), ensure the arguments are aligned.

Good:
[code]

Bad:
[code]

Bad:
[code]

[2020-12-17 07:04] #9235 closed

[2020-12-17 08:11] sswander commented on #9225
@fatkodima nice, thanks for the pointer! I'll give this a try 👍

[2020-12-17 08:51] r7kamura opened #9244 "Cannot enable rubocop-rspec derived cops on DisabledByDefault"
To enable only certain cops derived from rubocop-rspec, I configured `DisabledByDefault: true` and tried to enable `RSpec/EmptyExampleGroup` like this:

[code]

ref: https://github.com/rubocop-hq/rubocop/pull/7923

## Expected behavior

I expected `RSpec/EmptyExampleGroup` to be enabled like this:

[code]

## Actual behavior

But `RSpec/EmptyExampleGroup` is not enabled:

[code]

## Steps to repro

[2020-12-17 09:02] r7kamura commented on #9244
This problem doesn't happen on rubocop-rails. I think this is because rubocop-rspec has `RSpec` department in its config/default.yml, while rubocop-rails does not..

- https://github.com/rubocop-hq/rubocop-rspec/blob/56d801cffb74a9e89876336932e196eb128d9209/config/default.yml#L2
- https://github.com/rubocop-hq/rubocop-rails/blob/39bd3939a128c027d26dbfd95a98af19074a818f/config/default.yml

Because

[2020-12-17 22:08] fatkodima opened #9247 "Cop to check for .gitignore'd files"
There is a [note regarding `Gemfile.lock`](https://rails.rubystyle.guide/#gemfile-lock), but it is under "Rails Style Guide". I think it is not only rails specific.

Imo, we could at least check for
1. `Gemfile.lock`
2. `db/schema.db` (supporting multi databases)
3. `db/structure.sql` (supporting multi databases)
4. some other examples?
TO NOT BE ignored.

We can check for some files TO BE ignored

[2020-12-17 22:08] marcandre opened #9248 "Magic comment `shareable_constant_value`"
I'm a week early, but we'll want a cop to enforce `# shareable_constant_value: ...`.

https://bugs.ruby-lang.org/issues/17273
See https://bugs.ruby-lang.org/issues/17397

Maybe related to #9180

[2020-12-17 22:19] marcandre commented on #9247
Yes :-) For example `Gemfile.lock` is no longer officially recommended by rubygems in gitignore and it isn't anymore by default for `bundle gem my_new_gem` for example. I disagree with this, but a cop must be configurable for this. Autocorrection would be cool; I have to manually add it when I create a gem (which is often these days, playing with Ractor).

I'm also adding `.rubocop-http*` until #9

[2020-12-18 02:29] dgollahon opened #9249 "Allow customizing --disable-uncorrectable to output `rubocop:disable` instead of `rubocop:todo`"
## Is your feature request related to a problem? Please describe.

At my company we use inline `rubocop:disable`s relatively often and consider a lot of cops to be relatively noisy (for instance, using the method length cop as a nudge to double check something shouldn't be broken up but confidently disabling if we think a fat method is better in context) and also get a decent number of false posit

[2020-12-18 05:28] AndreiEres commented on #8127
I ran into a problem while I was working on the task. I can't understand how to implement `expect_offense` for missing final newline.

To throw an error I've written a wrong spec
[code]

The error was
[code]

So if I'll write `=end    ^{} Final newline missing.` in spec it won't caught. If I move error message to next line error will disappeared because we will have the newline.

Have anybody alre

[2020-12-18 06:47] marcandre commented on #8127
@AndreiEres  Good point. You are right, I don't think there's a way around this one. We could add some functionality to `expect_offense` but since this case is very rare, probably best to leave it as is.

[2020-12-18 06:52] koic commented on #8162
I will close this issue because that does not reproduce with RuboCop 1.6.1.

[2020-12-18 06:52] #8162 closed

[2020-12-18 06:59] mechos3d commented on #8127
I have a solution for it, but life happened and didn't create a PR with it yet.
I created a separate matcher `expect_newline_offense` that works like this:
[code]
But @marcandre is right in that it's a very rare case - so I was hesitant wether this matcher is worth adding or not.

[2020-12-18 07:07] marcandre commented on #8127
If you have something that works @mechos3d, we can definitely include it.
Another "sneaky way" might be to check if the string we're being passed is missing a newline at the end, and if so reproduce that when we extract the failure messages. That might even be simpler.

[2020-12-18 09:29] mensfeld opened #9251 "Cannot use the --only option with custom cop settings to run only rubocop-rails"
When attempting to run only certain department cops form rubocop-rails using the rubocop `--only` flag, I get following error:

[code]

--------

## Expected behavior

It should allow me to run Rails cops only with one of them being disabled but the rest of the department working.

## Actual behavior
Fails

## Steps to reproduce the problem

[code]

[code]

[code]

## RuboCop version

Include the

[2020-12-18 17:32] dvandersluis commented on #9251
I'm on this.

[2020-12-18 19:58] zenspider commented on #5576
No, you can't.

@agrberg's findings are correct. ANYTHING besides `inherit_from` blows up and disables the config. I just got bit by this and it was an utter bitch to diagnose. I ran with `--debug` and eventually thought "what if I delete that sub-config?" and eventually found myself here.

This should be reopened... `inherit_from` and friends do NOT behave the way one would expect. My guess is th

[2020-12-18 20:02] zenspider commented on #5576
I should add... I tried to be clever and chain some inherit_from files to make this work. 2 inherit_froms... etc... none worked. Making subdir configs simply buggy at this point.

[2020-12-18 21:12] bquorning commented on #9235
FYI @pirj

[2020-12-18 21:15] dvandersluis commented on #9244
This was really hairy but I have a PR incoming.

[2020-12-19 04:40] vlad-pisanov opened #9257 "Style/SymbolProc false positive with unused argument"
Consider:

[code]

## Expected behavior

Should not register any offenses.

## Actual behavior

Rubocop registers Style/SymbolProc offense: `[Correctable] Style/SymbolProc: Pass &:meow as an argument to map instead of a block.`

With the `-A` option, it autocorrects to:

[code]

## RuboCop version

NOTE: this appears to be a regression because version 1.4.2 doesn't exhibit this behavior. Likely re

[2020-12-19 05:32] marcandre commented on #9257
Thanks for the report.
I don't think this was caused by #9232, but maybe by #9127.
@dvandersluis would you like to check this out?

[2020-12-19 06:05] #7815 closed

[2020-12-19 06:21] dvandersluis commented on #9257
Sure thing!

[2020-12-19 21:46] #9257 closed

[2020-12-20 08:14] #9237 closed

[2020-12-20 08:17] #9251 closed

[2020-12-20 22:39] dgollahon opened #9262 "Style/CollectionMethods does not detect `inject` -> `reduce` in certain cases"
## Expected behavior

[code]

## Actual behavior

[code]
Note that the following works correctly:

[code]

## Steps to reproduce the problem

Add an `.inject` with  to some code and run `rubocop`.

## RuboCop version

rubocop -V

[code]

[2020-12-21 09:16] AndreiEres commented on #8127
So I've used error raising in https://github.com/rubocop-hq/rubocop/pull/9263 because that is built-in and needn't additional helpers. Thus we've completed with using `inspect_source` (if you accept PR of course).

[2020-12-21 12:22] alex-damian-negru opened #9265 "False positive in RuboCop::Cop::Performance::HashEachMethods"
I am using Dry::Types, which allows me to build enum objects, such as this:

[code]

The resulting object has a `#values` method which yields an `Array` containing the values above.

Using `Level.values.each` triggers this cop, even though I'm not operating on a hash.

--------

## Expected behavior

No offense should be added when using `#values` on objects other than those belonging to `Hash`.

[2020-12-21 12:22] alex-damian-negru opened #9292 "False positive in RuboCop::Cop::Style::HashEachMethods"
I am using [dry-types](https://dry-rb.org/gems/dry-types/1.2/enum/), which allows me to build enum objects, such as this:

[code]

The resulting object has a `#values` method which yields an `Array` containing the values above.

Using `Level.values.each` triggers this cop, even though I'm not operating on a hash.

--------

## Expected behavior

No offense should be added when using `#values` on o

[2020-12-21 17:23] deronnax commented on #5306
Python too has this super widespread implicit convention that single quotes are for computers and double quotes for human, see https://stackoverflow.com/a/56190/1765357

[2020-12-21 17:35] bbatsov commented on #5306
FWIW - earlier this year RuboCop's users voted on the subject and the chose single-quoted literals https://metaredux.com/posts/2020/05/26/rubocop-defaults-survey-results.html For now this topic is closed as far as I'm concerned.

[2020-12-21 21:27] matthewhively commented on #8191
If there is no way to exclude method names including their parent objects, then please add a way to do that or clarify the documentation to list it as a known limitation.

Example:
Flag `logger.info 'something'`, but not `info 'something'` or `myobj.info 'something'`

[2020-12-22 03:53] #7848 closed

[2020-12-22 03:53] tas50 commented on #7848
Closing based on the feedback.

[2020-12-22 03:59] tas50 opened #9269 "Nested regexes cause issues in Lint/OutOfRangeRegexRef"
## Expected behavior

Lint/OutOfRangeRegexRef would not alert when using a ref that is actually valid/present.

## Actual behavior

RuboCop incorrectly identifies the outer regex as being an issue due to the lack of that ref in the inner. It's a bit funky so check the example to see what I meant here.

## Steps to reproduce the problem

Given this code:

[code]

RuboCop is matching on this part:

[2020-12-22 06:54] #9262 closed

[2020-12-22 07:11] #9244 closed

[2020-12-22 07:13] bbatsov commented on #5576
@dvandersluis Can you take a look into this one, since you've been on a roll with config-related isssue lately? 😆 I planned to look into this one myself, but it's a bit crazy on my end this week.

[2020-12-22 07:26] dvandersluis commented on #5576
What is the expected behaviour here? Does [inherit_mode](https://docs.rubocop.org/rubocop/1.6/configuration.html#merging-arrays-using-inherit_mode) help?

[2020-12-22 07:37] bbatsov commented on #5576
Originally a `.rubocop.yml` in a subdirectory was supposed to override settings in a config file higher up the directory tree for any files under the directory it was placed in (e.g. `lib`, `app`, whatever). This functionality was created so you can have different configuration for different parts of the code - I think the use-case that made us develop this back in the day was that you don't care

[2020-12-22 08:18] kewudu opened #9270 "rubocop report SystemStackError Error on Ubuntu system"
I have a ruby file on windows, when use rubocop to inspect this file on windows, it's ok, but when i copy this ruby file to ubuntu system, use the same version of rubocop,  rubocop report SystemStackError error.

--------

## Expected behavior

rubocop on Ubuntu system behave the the same as windows system.

## Actual behavior

rubocop report SystemStackError on Ubuntu.
[code]

## Steps to reprodu

[2020-12-22 09:10] mensfeld commented on #7131
Why marked as stale :( still waiting on that to be fixed.

[2020-12-22 13:36] AndreiEres commented on #8127
Could you tell me, please? What can we do with old syntax in that files?
spec/support/alignment_examples.rb
spec/support/multiline_literal_brace_layout_trailing_comma_examples.rb

[2020-12-22 14:25] dvandersluis commented on #9270
What’s the contents of the file being scanned?

[2020-12-22 17:17] Aqualon opened #9274 "Metrics/ClassLength undefined method `type' for nil:NilClass"
`Metrics/ClassLength` cop raises exception on inspecting https://github.com/rspec/rspec-core/blob/main/lib/rspec/core/formatters/protocol.rb

## Expected behavior

Don't crash on empty classes with only comments.

## Actual behavior
[code]

The problem starts in
https://github.com/rubocop-hq/rubocop/blob/d71e169fe98d436cff2edd6b340cb69524280e0d/lib/rubocop/cop/metrics/utils/code_length_calculator.

[2020-12-22 17:45] dvandersluis commented on #5576
So the [docs](https://docs.rubocop.org/rubocop/1.6/configuration.html#config-file-locations) lay out how the config file is found, cascading up from the current directory until a file is found (" RuboCop will use the config as specified inside the **first** of the following files"). Are we looking to change this? Because in order for a config file to override a higher file, all would need to be lo

[2020-12-22 17:48] dvandersluis commented on #5576
Also I am so far unable to replicate the bug:

[code]

[code]

[code]

[code]

@zenspider can you make a minimal repo that demonstrates the problem?

[2020-12-22 17:58] bbatsov commented on #5576
Hmm, seems I didn't remember how this was supposed to work - somehow I thought it was supposed to automatically merge the with the config file above it, but I guess that's not the case. At least not anymore.

[2020-12-22 20:25] zenspider commented on #5576
I don't think it needs to be changed. `inherit_from` should be sufficient for 90% of the projects out there that want to do something like this.

@dvandersluis key to this in in the title: _causes *some* cops to fail_. Please try a repro with `Rails/HttpPositionalArguments` instead.

[2020-12-23 02:23] #9274 closed

[2020-12-23 08:29] kewudu commented on #9270
the file scanned is  604KB with 14264 lines of ruby code inside

[2020-12-23 09:54] bbatsov commented on #9270
There's no limit to RuboCop's ability! 😉 That being said - in a file this big you're more likely to run into some bug, as it happened in your case. I guess that's something you can't really share for repro purposes, right?

[2020-12-24 05:10] AndreiEres commented on #8003
As we say that `inspect_source_file` is useless, here is my suggestion to inline it https://github.com/rubocop-hq/rubocop/pull/9273

[2020-12-24 18:53] #8046 closed

[2020-12-24 20:33] jfelchner commented on #9173
I'd like to go for a third option here.  I see much less of an issue with `UPPER_SNAKE_CASE_CONSTANTS` being "mispathed" than `CamelCaseClassOrModuleConstants`.  I think it might be a good middle ground to allow `Ignore` to take a regex and just apply `\A[A-Z_]+\z` to it.

[2020-12-24 21:51] #9225 closed

[2020-12-24 21:53] #8938 closed

[2020-12-25 03:07] jfelchner opened #9284 "Allow Lint/ConstantResolution To Accept Unqualified Constant In Current Scope"
## Is your feature request related to a problem? Please describe.

First I want to say that I _love_ this cop and I think that enabling it will solve a lot of _very_ hard to track down bugs, but I have one thing that I think would drastically improve it:

I don't even know if this is possible with the parser, but I think that if a constant is _directly_ defined in the current scope, there should b

[2020-12-25 08:32] pirj commented on #9163
Supposedly fixed in https://github.com/rubocop-hq/rubocop/pull/9241

[2020-12-25 08:32] #9163 closed

[2020-12-25 08:33] pirj commented on #8465
I'll close this, as it never happened to me ever since, and is an edge case.

[2020-12-25 08:33] #8465 closed

[2020-12-25 08:33] #7911 closed

[2020-12-25 09:00] #7820 closed

[2020-12-25 10:47] oanstein opened #9290 "Layout/SpaceBeforeBrackets: a space is incorrectly added to `strip_whitespace % w[name email]`"
## Expected behavior

Does noting to `before_validation { to_downcase %w[email] }`

## Actual behavior

Layout/SpaceBeforeBrackets: a space is incorrectly added to `before_validation { to_downcase %w[email] }` => `before_validation { to_downcase % w[email] }`

## Steps to reproduce the problem

Add `before_validation { to_downcase %w[email] }`to model file

## RuboCop version

[code]

[2020-12-25 11:28] zhuravel commented on #9290
Another example that should not generate a warning:
[code]

[2020-12-25 12:10] 6temes commented on #9290
Actually, this fails with any method that accepts an array as params, if not using parenthesis (which is quite common in DSLs)

[2020-12-26 18:23] tejasbubane commented on #9292
Rubocop's static analysis has limitations - it doesn't know what type of value a variable refers to at runtime. Which is one of the reasons this cop is marked as `unsafe`.

I think you have the following options:
1. Disable the cop inline, in the file, or entirely in the project. [ref](https://docs.rubocop.org/rubocop/configuration.html)
2. Run rubocop using `--safe` option to show only the offens

[2020-12-27 00:02] AlexWayfer commented on #7884
It's probably not too popular case, and heredocs make good job, so it can be closed probably according to RuboCop policy (if I've understood and remember it correctly).

[2020-12-27 09:15] #9290 closed

[2020-12-28 02:13] jfelchner opened #9296 "Style/HashLikeCase Fails With Unidentifiable Error When MinBranchesCount Is Less Than 1"
Turns out looking at debug information helps ;)

I had inadvertently set `MinBranchesCount` to `0` because I wanted the cop to always fire.  I was going to increase the number if I felt it necessary.

This may not be something that you all will want to fix, but I wanted to bring it up as a possible point of UX improvement since the error message directs the user to open an issue rather than helpin

[2020-12-28 06:50] GG-Sheridan commented on #9249
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-12-28 10:27] jlahtinen opened #9298 "Autofix results to invalid syntax when rubocop comment is removed. Style/RaiseArgs: EnforcedStyle: compact"
### Testfiles

    $ more .* *

::::::::::::::
.rubocop.yml
::::::::::::::

    Style/RaiseArgs:
      EnforcedStyle: compact
    AllCops:
      NewCops: enable

::::::::::::::
foo.rb
::::::::::::::

    class Foo
      def bar; end

      def bar_bar # rubocop:disable Metrics/MethodLength
        @bars.map do |b|
          begin
            b.foo
          rescue A => e
            e
          en

[2020-12-29 10:49] jlahtinen opened #9303 "Autofix might result to invalid code when RaiseArgs EnforcedStyle is set to compact"
### Testfiles
`$ more .* *`

::::::::::::::
.rubocop.yml
::::::::::::::

    Style/RaiseArgs:
      EnforcedStyle: compact

::::::::::::::
foo.rb
::::::::::::::

    # frozen_string_literal: true

    # Class to demonstrate RaiseArgs EnforcedStyle
    class Foo
      def a
        bar
      rescue NonBarException
        raise BarError.new, 'bar'
      end
    end

### Running autofix

`$ rubocop

[2020-12-29 11:32] kitsunde opened #9304 "Style/ExplicitBlockArgument autocorrect doesn't take into if it's yielding the same args"
Given

[code]

## Expected behaviour

`rubocop -A` should at worst do nothing.

## Actual behavior

[code]

This now populates the 2nd argument of `each`, so it's not equivalent.

## Steps to reproduce the problem

Run `rubocop -A` on:

[code]

## RuboCop version

[code]

[2020-12-29 13:59] yahonda opened #9305 "Cop to detect a space between Hash and [key]"
## Is your feature request related to a problem? Please describe.

I'd like RuboCop to detect a space between the hash object and [] method.

[code]

[code]

## Describe the solution you'd like
I'd like RuboCop to detect a space between the hash object and [] method.

## Describe alternatives you've considered
If there are two spaces between Hash and [key], `Layout/ExtraSpacing` cop detects it.

#

[2020-12-29 14:20] koic commented on #9305
You can detect it with `Layout/SpaceBeforeBrackets` cop.
https://docs.rubocop.org/rubocop/1.7/cops_layout.html#layoutspacebeforebrackets

The cop has been added in RuboCop 1.7.0, but please try using a newer next version (1.7.1 or 1.8.0) that will be released due to existing issue.
https://github.com/rubocop-hq/rubocop/pull/9291

Thank you.

[2020-12-29 14:38] #7839 closed

[2020-12-29 14:40] yahonda commented on #9305
Thanks for the information. I have installed the latest RuboCop and confirmed a space between hash and [] has been detected by `Layout/SpaceBeforeBrackets` cop.

[code]

[2020-12-29 14:40] #9305 closed

[2020-12-29 18:27] bkuhlmann opened #9307 "Add Layout/SpaceBeforeBrackets method exclusion"
## Is your feature request related to a problem? Please describe.

It would be nice if we could configure this cop to exclude methods, especially custom conversion functions, that accept arrays without being flagged as a violation. Example:

[code]

This is happening because the Versionaire gem refines `Kernel` to allow one to cast an array (and other primitives) to a version type (see highlighted

[2020-12-30 06:20] koic commented on #9307
#9291 no longer detects this and configuration will not be required. Please wait for the next release. Thank you for your feedback.

[2020-12-30 06:20] #9307 closed

[2020-12-30 09:16] #9298 closed

[2020-12-30 11:39] CodingItWrong opened #9308 "EmptyLineBetweenDefs Errors after Endless Class Method"
# Rubocop Issue
When I have a class that has uses the new Ruby 3.0 endless method syntax for a class method, and it is not the last line of the class body, Layout/EmptyLineBetweenDefs gives an error.

There is no error if the endless class method is the last line of the body, or if the method is an instance method instead of a class method.

--------

## Expected behavior

The following syntax is

[2020-12-30 11:46] eregon commented on #288
:+1: on merging `Exclude:` should be the default, who doesn't want that?

[2020-12-30 15:07] #9303 closed

[2020-12-30 19:02] rmm5t opened #9311 "Layout/SpaceAroundOperators incorrectly flags word arrays when used as first argument to method"
## Given:

a method call with one argument as a word-array (example taken from a `Guardfile`):

[code]

## Expected behavior

No rubocop offenses.

## Actual behavior

[code]

## Actual (auto-correct) behavior

[code]

## RuboCop version

[code]

[2020-12-30 19:07] koic commented on #9311
This issue dup with #9290 and it has been fixed by #9291. Please wait the next release. Thank you.

[2020-12-30 19:07] #9311 closed

[2020-12-30 22:16] muirdm opened #9312 "Layout/FirstHashElementLineBreak not applying to single element hash"
FirstHashElementLineBreak doesn't apply to the below case:

[code]

I want it to produce:
[code]

FirstHashElementLineBreak skips the outer hash because it only has a single element. I think the outer hash still counts as  "multi-line" even though it only has one element.

[2020-12-30 22:41] blampe opened #9314 "Style/RedundantReturn produces a syntax error when safe-correcting methods that return arrays"
When a method returns something in the form `return (a), b` or `return a, (b)`, these are safe-corrected to a syntactically invalid format and not `[a, b]` as expected.

Below I have a reproduction which only triggers the `Style/RedundantReturn` correction, however the same behavior is also observed when `Style/RedundantParentheses` is applied (in the case where `a` is a literal, for example).

--

[2020-12-31 06:54] #9314 closed

[2020-12-31 06:55] #9308 closed

[2020-12-31 07:34] #9296 closed

[2020-12-31 08:34] agargiulo opened #9316 "Style/EmptyLiteral seems to want to repalce valid code with invalid code"
I have run into an issue with the `Style/EmptyLiteral` cop. It trys to replace valid `Hash.new` code with invalid syntax when I run with autocorrect.

--------

## Expected behavior

I expected RuboCop to not replace code in such a way that it breaks the rest of the file

## Actual behavior

When run without autocorrect, it just flags that I should be using `{}` instead of `Hash.new`
[code]
Which

[2020-12-31 09:15] tejasbubane commented on #9316
I am able to reproduce this with rubocop 1.7.0.

However strangely, I cannot reproduce it on master and not sure if anything changed after 1.7.0. We have tests to ensure this does not happen: https://github.com/rubocop-hq/rubocop/blob/master/spec/rubocop/cop/style/empty_literal_spec.rb#L103-L105

[2020-12-31 10:01] agargiulo commented on #9316
That's very strange indeed because the file `lib/rubocop/cop/style/empty_literal.rb` hasn't changed since 1.7.0 has been released as far as I can tell. But I don't know enough about how the parsing works to say more on what could have changed to affect this. (I just tried running against master and the issue seems fixed there)

EVEN stranger, I tried switching back and forth between `v1.7.0` and `

[2020-12-31 10:09] agargiulo commented on #9316
Okay, so if I create `.ruby-version` and set it to 2.7.2 in my new temp directory, the issue returns.
[code]

[2020-12-31 10:16] agargiulo commented on #9316
Setting the `.ruby-version` file to `2.6.0` (Even with ruby 2.7.2) results in no issues reported
[code]

[2020-12-31 10:45] agargiulo commented on #9316
I've locally added this test below the one you linked and it fails as expected.
[code]
[code]

[2021-01-02 04:14] #7844 closed

[2021-01-02 14:06] eregon opened #9325 "RuboCop does not merge Exclude by default and therefore scans vendor/bundle"
RuboCop currently does not merge `Exclude` by default.
I think this is a significant usability bug, because it makes RuboCop harder to use in combination with the very common Bundler path `vendor/bundle`.

Notably, it causes extra troubles for ruby/setup-ruby in https://github.com/ruby/setup-ruby/issues/136 and RuboCop seems by far the most common tool to be tripped up by files under `vendor/`. Ot

[2021-01-02 14:07] eregon commented on #7819
I think the default Exclude should always be merged with user Exclude, i.e., RuboCop should merge all `Exclude:`, and I believe that is the user intention, always: https://github.com/rubocop-hq/rubocop/issues/9325

[2021-01-02 14:09] eregon commented on #288
I filed an issue to merge `Exclude:` by default, I believe that is always the intention for RuboCop users: #9325

[2021-01-03 02:03] marcandre commented on #9325
Agreed.

Is there any use case where that could be problematic?

[2021-01-03 04:23] #9316 closed

[2021-01-03 06:27] marcandre opened #9327 "Layout/EmptyLineAfterMagicComment should accept top-level `# shareable_constant_values` (Ruby 3.0)"
The following should not raise an offense:

[code]

First two lines could be in the reverse order and that's ok too.

[2021-01-03 06:31] marcandre opened #9328 "`Style/MutableConstant` should be aware of `# shareable_constant_value` (Ruby 3.0)"
The following should not generate an offense:

[code]

[2021-01-03 06:51] marcandre opened #9329 "`TargetRubyVersion` and `inherit` loading error"
If my `.rubocop.yml` starts with:

[code]

And my gemspec has:
[code]

Then I get an error:
[code]

If I remove the line `inherit_from`, I don't get an error.

There should be no error (assuming I specify `TargetRubyVersion: 2.4` as I did)

[2021-01-04 01:06] marcandre opened #9330 "`Lint/UselessAssignment` false positive"
The following should not raise an offense:

[code]

[code]

[2021-01-04 02:07] marcandre commented on #9330
Not a false positive, my bad 🤦‍♂️

[2021-01-04 02:07] #9330 closed

[2021-01-04 04:45] kaji-hiro opened #9332 "Cannot format html"
## Expected behavior
run
`rubocop --format html -o tmp/rubocop.html `
and created output file

## Actual behavior
An error has occured.
Error message is
[code]

* kaji-hiro is my linux user name
## Steps to reproduce the problem

standard output is normal.
`rubocop --out tmp/rubocop.html `
↑ it works
`rubocop -f html`
it doesn't work.

## RuboCop version

[code]

[code]

[2021-01-04 05:07] koic commented on #9332
Unfortunately I cannot reproduce this issue. Ruby code to inspect may be the trigger. Can you provide a reproducible inspection Ruby code?

[2021-01-04 07:31] #9312 closed

[2021-01-04 08:10] kaji-hiro commented on #9332
@koic Thank you for your cooperation.
This project is private ,so i cannot send you.
I'm trying to find cause code, and I'll send you core of the problem.
(sorry for bad English)

[2021-01-04 08:18] jesperronn commented on #9311
Thanks for both the issue report (@rmm5t ) and the fix (@koic)

is there a way to push for a release, since in my perspective, the suggested auto-fix is pretty serously wrong with 1.7.0

This is what happened for me:

[code]

The problem is that all these fixes will yield a clearly wrong result:
[code]

So my point is that we would need a bugfix release as fast as possible. My question is therefor

[2021-01-04 08:33] kaji-hiro commented on #9332
@koic
I understand the cause.
rubocop_cache may have wrong data and that raise error.
run
`rm -rf /home/kaji-hiro/.cache/rubocop_cache`
then, error is gone.
than you and お手数をお掛けしました

[2021-01-04 08:33] #9332 closed

[2021-01-04 14:03] soullivaneuh commented on #7380
I would love to have any feedback on it. :+1:

[2021-01-04 23:02] rc-tom opened #9333 "Style/IfInsideElse error: undefined method `last_line' for nil:NilClass"
When linting my code, Rubocop reports that an error occurred in the `Style/IfInsideElse` cop.

--------

## Expected behavior

I expect Rubocop to not produce an error.

## Actual behavior

An error occurs.

<details>
<summary>Debug backtrace</summary>

[code]

</details>

## Steps to reproduce the problem

Lint the following file using RuboCop 1.7:

[code]

## RuboCop version

[code]

[2021-01-05 06:31] #9333 closed

[2021-01-05 12:59] jonas054 opened #9335 "NestedParenthesizedCalls and MethodCallWithArgsParentheses autocorrect produces code with syntax error"
With the following code
[code]

[code]

running `rubocop -a`

## Expected behavior

[code]

## Actual behavior

[code]

[code]

## Steps to reproduce the problem

As above.

## RuboCop version

[code]

I'm working on a fix for this myself. I think the easiest solution is to make `Style/NestedParenthesizedCalls` do nothing if `Style/MethodCallWithArgsParentheses` is enabled (which it isn't by defau

[2021-01-06 08:09] #9335 closed

[2021-01-06 15:08] rrosenblum commented on #9328
Here's a link to some documentation on the feature, https://docs.ruby-lang.org/en/3.0.0/doc/syntax/comments_rdoc.html#label-shareable_constant_value+Directive.

I hadn't heard of this being added before so I found it to be an interesting feature. It seems like the intent is to be used with Ractors

[2021-01-06 15:49] marcandre commented on #9328
That's one way to view it. The other way is the general position that constants should be immutable, and clearly when we say that we never mean actual classes. So in effect that is pretty much what "Ractor-shareable" means.

[2021-01-06 16:25] laserlemon opened #9337 "Support AllowedIdentifiers option for Naming/VariableName cop"
There exist situations where non-standard naming should be permitted. In our case, we have a `cvss_vectorString` column name that we need to support.

The `Naming/VariableNumber` cop has an `AllowedIdentifiers` configuration option with some sensible defaults based on offenses built into Ruby itself. I suggest adding a similar `AllowedIdentifiers` option to the `Naming/VariableName` cop with a def

[2021-01-07 00:13] aguynamedben opened #9340 "There should be an `info` severity level"
There should be an `info` severity level for things that are worth pointing out but are not show-stoppers for our codebase. I don't really understand the current severity levels in RuboCop and how they should be used, and the thought process behind them doesn't seem to be documented.

For JavaScript I use ESLint which has 3 levels:
- `off`
- `warn`
- `error`

With ESLint, I set rules such as line

[2021-01-07 07:42] #9337 closed

[2021-01-07 07:44] #9233 closed

[2021-01-07 10:17] jonas054 opened #9342 "Lint/RedundantDirGlobSort crashes"
With

[code]

and

[code]

running
[code]

## Expected behavior

No error.

## Actual behavior

[code]

## Steps to reproduce the problem

As above.

## RuboCop version

[code]

[2021-01-07 10:22] MikeMcQuaid commented on #5388
Agreed!

Just to offer my own $0.02: I've been working with Ruby professionally for ~8 years, through being a Homebrew maintainer for ~12 years and programming professionally (not just using Ruby) for ~14 years and: I find all cases of `unless ... ||` or `unless ... &&` (including the above) hard to mentally parse and, particularly, to accurately and consistent reverse the logic (by turning it int

[2021-01-07 10:51] vpereira opened #9343 "Hash conditions over SQL fragment issue"
Hi rubocop team!

We have this rule enabled https://rails.rubystyle.guide/#hash-conditions, which we like and we think that make sense. However in a case like:

[code]

Where we have an "SQL constant" does it make sense to autocorrect? My suggestion would be that if there is no question mark in the query (i.e it is a literal string), wouldn't be better to keep as it is?

[2021-01-07 11:40] #9342 closed

[2021-01-07 11:43] Drenmi commented on #5388
It seems there's good reason to think this cop would be useful to people, and the issue was only automatically closed by GitHub when the first PR was closed by it's author, so let's re-open this one. 🙂

[2021-01-07 15:06] marcoXbresciani opened #9345 "Style/AsciiComments Cop conflicts with formal copyright notice."
As far as I know, even though the copyright notice is actually no more formally needed, I think that this cop should avoid to notify the © characters that must be present in the copyright notice itself.

See also https://en.wikipedia.org/wiki/Copyright_notice

## Expected behavior
Even if a © is present, the Style/AsciiComments Cop should not highlight it.

## Actual behavior
If a © is present, th

[2021-01-07 21:49] ninp0 opened #9348 "Lint/RedundantDirGlobSort cop Responds with undefined method for Nil class"
[code]
--------

## Expected behavior
Continues scanning the repo without error.

## Actual behavior

[code]

## Steps to reproduce the problem
[code]

## RuboCop version
[code]

[2021-01-07 22:12] dgollahon opened #9349 "Lint/MultipleComparison should not be marked safe"
I am using a SQL query dsl with code like this:

[code]

rubocop autocorrects this to:

[code]

which has different semantics.

(see follow-up comment for my original error here^^ 🤦)

--------

## Expected behavior

This cop seems to make wrong assumptions about the safety of operating on relational operators. Whatever the case may be, this should not change my code to something that could be sema

[2021-01-07 22:28] dgollahon commented on #9349
Arg, I have screwed up my example. It was originally meant to be:

[code]

so the lint did highlight something noteworthy but imo it still should not autocorrect like that. `a < b < c` form of code will generally not work but if it does, it is probably like that for a reason (`<` does not always mean "less than"). Transforming in the way that this cop does is still not safe despite my confusing/er

[2021-01-07 23:39] dgollahon commented on #8230
As another data point my rubocop runtime went from 58 seconds to 5 seconds after realizing the same configuration issue by running `--debug` on `.gitignore`d files.

[2021-01-08 02:22] magneland opened #9350 "`Style/SoleNestedConditional` autocorrects `unless` without parens incorrectly"
I found a small bug when applying autocorrect.
It is exemplified using `unless` without parens, but with a nested modifier condition:

[code]

--------

## Expected behavior

Autocorrect should perform several transformations, resulting in:

[code]

## Actual behavior

The `!` is in the wrong place:

[code]

It appears that the order of transformations is wrong.

## Steps to reproduce the problem

[2021-01-08 04:07] koic commented on #9348
The issue is a dup with #9342 and resolved by #9344. Thank you for you feedback!

[2021-01-08 04:07] #9348 closed

[2021-01-08 04:52] koic commented on #9349
Thank you for your feedback. I've opened https://github.com/rubocop-hq/rubocop/pull/9352.

That's interesting. Is it possible that .rubocop.yml contains `require: rubocop-rspec` twice?

[2021-01-08 06:10] dgollahon commented on #9349
That looks like a good improvement for reducing false positives! It does not appear to mark autocorrection as unsafe, however. It still seems to me like this should not be marked as a "safe" cop. As a very simple example if I write:

[code]

I (rightly) get an error. If I let rubocop autocorrect it, it outputs the item below which returns `true`.

[code]

Unless "safe" means something different th

[2021-01-08 06:12] dgollahon commented on #9349
It appears to happen because my rubocop config requires `rubocop-rspec` but it also uses `inherit_gem` to use a company-wide config which additionally requires `rubocop-rspec`. I assume that's not a problem and I suppose the output there was reasonable (?) but it was just something kind of funny I noticed.

[2021-01-08 08:04] marcandre opened #9353 "Cop idea: `string_literal.to_sym`"
I was surprised to see that RuboCop doesn't pickup on this in a recent PR:

[code]

[2021-01-08 08:15] koic commented on #9353
I think this can be suggested to the Ruby style guide :-)

[2021-01-08 10:07] bbatsov commented on #9353
I guess this cop should also check for cases like `'string_literal'.to_sym` and `:'string_literal'`, as obviously those should have been `:string_literal`.

[2021-01-08 11:13] coding-bunny opened #9354 "Bundler/GemComment vs Bundler/OrderedGems"
## Expected behavior

I expect these gems to work in tandem with one another.
Ideally the `Bundler/GemComment` uses the `OnlyFor: ['version_specifiers']` configuration

## Actual behavior

At the moment enabling both Cops kind of makes the `Bundler/OrderedGems` obsolete.
Because the `Bundler/GemComment` requires a comment above each gem entry, the `Bundler/OrderedGems` is no longer able to determi

[2021-01-08 11:20] koic commented on #9349
Sure! I update the proposal #9352.

I will also investigate `rubocop -V` separately. Thank you for the additional information.

[2021-01-08 18:35] paddor opened #9355 "SyntaxError after "safe" correction into end-less method definition"
`rubocop -a` turns one-line method definitions into syntactically incorrect end-less method definitions on Ruby 3.0.

Example:
[code]

--------

## Expected behavior

Correct syntax:
[code]

## Actual behavior

[code]

## RuboCop version

`1.8.0 (using Parser 3.0.0.0, rubocop-ast 1.4.0, running on ruby 3.0.0 x86_64-linux)`

## Ruby version

`ruby 3.0.0p0 (2020-12-25 revision 95aff21468) [x86_64-li

[2021-01-08 20:12] dgollahon commented on #9349
Thanks @koic that's great. :)

[2021-01-09 03:43] dvandersluis commented on #9355
I'll take a look at this.

[2021-01-09 09:16] #8229 closed

[2021-01-09 15:55] #9350 closed

[2021-01-10 11:08] #8320 closed

[2021-01-10 11:11] bbatsov commented on #8320
After some experiments I've opted to promoted more GitHub Discussions and to replace Gitter with Discord. I've updated the documentation to reflect this. We'll refine the channel/topic structure in both of them depending on the traction they gain.

[2021-01-10 18:21] #9355 closed

[2021-01-11 06:40] #9304 closed

[2021-01-11 06:41] #8281 closed

[2021-01-11 15:29] #9353 closed

[2021-01-11 21:26] jaredbeck opened #9365 "Style/EmptyLinesAroundArguments has a bad default: makes documentation worse"
## Is your feature request related to a problem? Please describe.

Please consider the following documentation.

[code]

We use empty lines intentionally, to demonstrate that the documentation applies only to 2.

By forbidding the use of such empty lines, the current default makes documentation worse.

## Describe the solution you'd like

Change the default of `Style/EmptyLinesAroundArguments` to

[2021-01-12 09:41] jlahtinen opened #9366 "safe fix for unless expression to unless modifier might result to logic changes"
Rubocop version 1.8.1 from github. commit 02ac59e55daa28fb63c85e19d4e91d0355c0c148
Affects tested 1.6.1 from rubygems also (most like many others also)

### testfile

    class Foo
      def foo(bar)
        unless bar.is_a? Foo
          raise FooBar unless bar.foo == @foo.to_s
        end
      end
    end

### after rubocop -a #no .rubocop.yml file

    class Foo
      def foo(bar)
        rais

[2021-01-12 13:50] #9366 closed

[2021-01-13 07:54] jlahtinen opened #9370 "Merging if expression with unless modifier might change original logic. Should be safe fix"
Tested with current master 3dc4e6298e6caa96fcc11a6d2a614ce6a2d4c44d and 1.6.1
no .rubocop.yml file

### Testfile

    class Bar
      def bar
        if @a
          raise Foo unless @b && @c
        end
      end
    end

### after `rubocop -a`

    class Bar
      def bar
        raise Foo if @a && !@b && @c
      end
    end

### expected

raise  line should be e.g. `raise Foo if @a && !(@b &&

[2021-01-13 22:16] valrus opened #9372 "Error during IfInsideElse cop when the inner "if" clause is empty"
RuboCop 1.8.1 crashes on an if/else with a second, blank `if` clause inside the outer `else`. See the repro steps for a concrete example.

--------

## Expected behavior

RuboCop should run successfully.

## Actual behavior

Rubocop throws an error:

[code]

(Traceback with `-d` included at the end of the report.)

## Steps to reproduce the problem

Run Rubocop on a file containing the following:

[2021-01-13 22:54] joeyparis opened #9373 "Layout/IndentationStyle EnforcedStyle tabs leads to an infinite loop unless IndentationWidth is set to 1"
Using just:
[code]

instead of:
[code]

leads to an infinite loop detected error.

**Second, but related bug**
Setting the IndentationWidth to 1 actually makes RuboCop indent 2 tabs instead of 1. I tried setting it to 0 but that does nothing instead. I figure these two bugs are closely related so it's not worth creating a second ticket for. If that's not the case, just let me know and I will creat

[2021-01-13 22:56] joeyparis commented on #9373
Pinging @DracoAter as he originally created the `IndentationStyle` cop and probably knows the most about how it works.

P.S. As a fellow stubborn-tab-user I really appreciate you creating this cop because it's what finally made me happy using rubocop in my projects

[2021-01-14 04:04] jdufresne opened #9374 "Really long strings as arguments autocorrect to invalid syntax"
[code]

No configuration.

Input file:

[code]

Use `rubocop -a myfile.rb`. Result:

[code]

Notice `arg1` is now on the next line after the method call.

[code]

## Expected behavior

Autocorrected file is valid syntax.

[2021-01-14 06:41] caalberts opened #9376 "Add Cop config to prevent inline disabling"
## Is your feature request related to a problem? Please describe.

When introducing a new Cop, sometimes we may want to prevent inline disabling altogether. This is to prevent a pattern where a discouraged practice continues to happen with Rubocop disable comments sprinkled across the codebase.

## Describe the solution you'd like

A Cop configuration such as follows:
[code]

When a code comment s

[2021-01-14 06:54] caalberts commented on #9376
I would be happy to help implement this as well

[2021-01-14 16:17] joeyparis commented on #9373
Upon further debugging, I was able to get the desired behavior. Although this may be a "bug" I think it could sufficiently be corrected with improved documentation.

Alternatively, a fix for this bug would be to change line 85 to ` "\t" * match.size` and making not that `IndentationWidth` is ignored when `EnforcedStyle` is **tabs**.

https://github.com/rubocop-hq/rubocop/blob/3dc4e6298e6caa96fcc11

[2021-01-14 19:56] #9370 closed

[2021-01-15 05:10] dvandersluis commented on #9376
I like this idea, maybe with `Required: true`, or somehow making use of `Severity`. One prospective problem though is that what happens if a cop cannot be disabled that there isn't actually a fix for (a false negative perhaps, or a cop looking for a specific method name in the wrong context)?

[2021-01-15 09:58] #9372 closed

[2021-01-15 10:28] caalberts commented on #5388
This is a good idea. The starting point could be to warn against using opposing boolean operators in `unless`.

[code]

What should it do if the condition is within `()`, which would improve readability significantly?

[code]

[2021-01-15 12:21] bigzed opened #9380 "Style/FloatDivision is irun with `rubocop -a`"
## Expected behavior

I would suspect `rubocop -a` to be conservative and not break code by applying cops when ran in safe mode.

## Actual behavior

`rubocop -a` corrected

[code]
but when `c` is a `String` this raises `String can't be coerced into Float`.

## Steps to reproduce the problem

Reformat the above code with `rubocop -a`

## RuboCop version

Include the output of `rubocop -V` or `bund

[2021-01-15 16:23] #9380 closed

[2021-01-15 16:25] #7452 closed

[2021-01-15 19:26] ZASMan commented on #6141
Hi, can you by any chance what you were referring to when you said you had custom cops to check for translations? Like I'm trying to find one that will assure strings in html.erb files are internationalized. Thanks so much!

[2021-01-16 11:41] #7894 closed

[2021-01-16 15:45] gaffneyc commented on #7604
Appears to no longer be an issue as of 0.92.0

[2021-01-16 15:45] #7604 closed

[2021-01-16 18:36] januszm commented on #9325
With more and more projects migrating to Github Actions, this will be a growing problem (In GH Actions gems install to `vendor/bundle`, that's how I found this PR)

[2021-01-16 19:20] dmolesUC opened #9383 "Compact case statements: is there a way to enforce single-line when?"
Given:

[code]

it would be nice to be able to autocorrect it to:

[code]

It seems like potentially a job for `Style/MultilineWhenThen` -- e.g. one option would be to convert

[code]

but not

[code]

That said, for symmetry, if it's a `Style/MultilineWhenThen` option there should probably be one for `Style/MultilineIfThen` as well.

[2021-01-17 10:23] caalberts commented on #5388
I created https://github.com/rubocop-hq/rubocop/pull/9386 to check for mixed use of `&&` and `||` in unless. I think this is a more lenient approach as compared to using unless with multiple conditions. Currently there are 6 offenses in Rubocop.

[2021-01-17 20:24] 0exp opened #9387 "Style/NilComparison: unsafe predicate-to-comparison auto-correction behavior"
## Overviev

`Style/NilComparison` auto-correction logic can lead an unsafe operation priority behavior for initially predicate-styled expression that prefixed with `!` operator (when you auto-correcting from `predicate` to `comparison` style):

Example:

[code]

Initial code:

[code]

Our case is an operation `!some_var_a.nil?`. Operation priority before auto-correction:

`some_var_a.nil?` => the

[2021-01-18 06:35] #9387 closed

[2021-01-18 06:37] #9345 closed

[2021-01-18 11:09] colinux opened #9389 "Error with Performance/Sum inspecting code with a dynamic method name"
Rubocop reports an error parsing this simplified code with cop Performance/Sum :

[code]

[code]

[code]
--------

[code]

[2021-01-18 23:36] phallstrom commented on #9340
I have the same thoughts. I'm guessing `refactor` is another way of saying `suggestion`, but agree having `info` would be nice.  I would also add that even if I set the cop to `refactor` without also specifying `--fail-level C` the exit status is still 1. Seems like there should be some severity levels that don't trigger an error for the exit status.

[2021-01-19 06:19] bbatsov commented on #9340
I guess I'll have to think more about the error levels, as frankly I haven't given them almost any thought since they were introduced. It seems to me that "convention" is more or less the same as "info" from a logical perspective, but I have no idea why we ended up with "refactor" and "fatal" for instance - they seem a bit excessive to me.

[2021-01-19 19:08] dvandersluis commented on #9340
I think it'd be good to have a distinct `info` level to output issues but not "fail the build" so to speak. I'm going to put something together to do this. Evaluating the severity levels is probably a good idea overall as well.

[2021-01-19 19:24] dvandersluis commented on #9340
Not sure about `refactor`, but `fatal` is used for `Lint/Syntax`.

[Github uses for `Severity: refactor`](https://github.com/search?l=YAML&q=%22Severity%3A+refactor%22&type=Code)
[Github uses for `Severity: fatal`](https://github.com/search?l=YAML&q=%22Severity%3A+fatal%22&type=Code)

[2021-01-19 20:32] khiav223577 opened #9392 "Strange behavior of the auto-correction for `Layout/TrailingWhitespace`"
## Expected behavior

Expect trailing whitespaces to be removed.

## Actual behavior

It is replaced with `#{' '}`

## Steps to reproduce the problem

Add example.rb:

### example.rb
[code]

Run auto-correcting:
[code]

### example.rb (auto-corrected)
[code]

## RuboCop version

[code]

[2021-01-19 20:45] dvandersluis commented on #9392
The cop adds that on purpose in heredocs (see #8914). @marcandre might have more insight as to why?

[2021-01-19 20:50] marcandre commented on #9392
Indeed, this is by design.

The idea is that this Cop is safe and (thus will produce auto-correct without introducing a bug).

There is no way for RuboCop to know if you intended the trailing whitespace in the heredoc or not; the cop assume you did, and the correction makes it possible to see it. You are of course welcome to modify it and remove it altogether.

It also makes it easier for people l

[2021-01-19 20:50] #9392 closed

[2021-01-19 20:52] bbatsov commented on #9340
Ah, yeah. I forgot this one was special.

I have been thinking a bit more about this and I recalled that the name of the severities actually predate the concept of configurable severity and I originally chose terms like "convention" and "warning", so the different types of offenses could be rendered differently in the output. I don't see any uses of the "refactor" severity, so I guess it's some id

[2021-01-19 21:00] dvandersluis commented on #9340
I think what's relevant here is that there are two aspects to severities -- what the rubocop team assigns the default severity as, and what the rubocop user changes it to be.

I think it'd be good to a) simplify the levels (because there are currently 5, and 6 with the proposal); and b) think about how to assign default severities to cops.

However, allowing users to override severities is equally

[2021-01-19 21:55] aguynamedben commented on #9340
Thanks for the discussion and the contribution to Rubocop you all have made. 🙏

I used Rubocop for years, then switched to a JavaScript project + ESLint for the past 3 years, and now I'm back into a Ruby project. I think ESLint gets severity right, and it's very simple. As few severity levels as possible makes it easy to work with. In the end, all I really care about is:
* Should I see anything at

[2021-01-19 22:05] dvandersluis commented on #9340
`off` already exists as `Enabled: false` so I don't think it's needed as a severity.

[2021-01-19 22:09] bbatsov commented on #9340
Agreed. I think enabling/disabling something is orthogonal to the severity concept.

[2021-01-19 22:09] aguynamedben commented on #9340
Upgrade path to support my "copy ESLint" proposal:

* Update to rubocop 1.9
* If you're running rubocop with an old config, show message "Severity levels have changed to 'off', 'warn', and 'error' in Rubocop 1.9. Please see here for more details: <link>"
* Map old config rules:
  * refactor -> `"warn"` (still RC 0)
  * convention -> `"error"` (still RC 1)
  * warning -> `"error"` (still RC 1)
  *

[2021-01-20 04:26] #9374 closed

[2021-01-20 12:49] pirj opened #9393 "Style/StringLiterals incorrect auto-correction"
[code]

[code]

[code]

[code]

:scream:

--------

## Expected behavior

Auto-corrects to `'''`.

## Actual behavior

Auto-corrects to `"""` to `''"`.

## Steps to reproduce the problem

See above

## RuboCop version

[code]

[2021-01-20 13:06] pirj opened #9394 "Style/StringLiterals incorrect auto-correction #2"
Follow-up to https://github.com/rubocop-hq/rubocop/issues/9393

[code]

[code]

[code]

[code]

[code]

:scream:

--------

## Expected behavior

Does not raise an offence when there's string interpolation in a multi-line string literal.

## Actual behavior

Raises an offence and auto-corrects.

## Steps to reproduce the problem

See above

## RuboCop version

[code]

[2021-01-20 15:48] koic commented on #9394
I think this is an expected auto-correction behavior.

It has three strings.

1. blank

[code]

2. interpolation

[code]

3. blank

[code]

So I think the non-interpolated (blank) strings 1 and 2 should be auto-corrected to single quotes.

[2021-01-20 16:18] sean-abbott opened #9395 "Junit output formatter generates massive files"
I don't actually know much about the junit output format, but with the addition of the upgraded junit formatter, the rubocop output for our project is over 920k lines. Which then causes teamcity to freeze when trying to parse it most of the time.

Is there a way we could have a junit output that's more terse, somehow? The current one reports every cop's result on every file, which is...more than i

[2021-01-20 18:56] pirj commented on #9394
Sorry for the confusion, I think I've copied over the autocorrected code from the previous ticket, #9393. Fixed.

The point here is that the cop doesn't seem to detect multi-line strings with interpolation properly.

I see your point, the AST is a:
[code]
and this whole construct is a string literal.

If we'd "correct" it to use tripe single quotes instead, won't it lose its interpolation properti

[2021-01-20 20:06] marcandre commented on #9394
It doesn't. It corrects using two single and a double quote `'` + `'` + `"`. It's meaningless, but so are triple quotes.

TBH, using "triple quotes" is a mistake in itself. Many people are confused in thinking that there is such a thing, or that one needs this to have multiple line strings (other than heredocs), but that is simply incorrect.
Maybe a different cop could handle this.

[2021-01-20 20:35] pirj commented on #9394
I agree that triple-quotes is a huge mistake, as it behaves completely different from, say, bash.

However, it's a valid Ruby syntax, and even if that other cop that replaced triple-quotes with single quotes, or a `\`-connected string literals with an explicit `\n`, or with heredoc, there is still a possibility that this other cop will be disabled in the user configuration.

From my point of view,

[2021-01-21 00:00] marcandre commented on #9394
Indeed. `''" string "''` is also valid Ruby syntax.

Personally my opinion is that `"hello" "world#{2+2}" "!"` should raise an offense, and also `"""world#{2+2}!"""`. Maybe the autocorrection can be improved though.

[2021-01-21 03:26] koic commented on #9395
I think this issue has been resolved by #8050 and that included in RuboCop 0.85 and higher. Please try upgrading to newer RuboCop and specify `--display-only-failed` with `--format junit`.

[2021-01-21 04:14] rmacklin commented on #4245
Thanks for adding the `--only-recognized-file-types` flag in #7930 to preserve the old behavior! It can be useful when passing the output of `git diff --name-only` to `rubocop`, since the diff might include non-ruby files.

[2021-01-21 11:08] pirj commented on #9394
My bad. I was under the impression that `''"` will not do interpolation, and will add the double quote to be part of the string.
Sorry for the confusion.

[2021-01-21 11:08] #9394 closed

[2021-01-21 11:09] pirj commented on #9393
Even though the use of `''"` is not aestetically pleasant, it does the same thing.
Triple-quotes are pointless, as they do exactly the same thing as mono-quotes. However, it's a job for another (yet to be built) cop to raise such an offence.
Closing as not actionable.

[2021-01-21 11:09] #9393 closed

[2021-01-21 11:22] anoymouscoder commented on #9354
@marcandre
I can help solve this problem.

[2021-01-21 13:13] anoymouscoder commented on #9354
@marcandre  According to https://docs.rubocop.org/rubocop/cops_bundler.html#examples-4
[code]
This style currently considered good, so before I solve it, I think we need to agree on the type of `good`.

[2021-01-21 14:32] asterite commented on #7766
This is happening again in version 1.6.1

Can this be reopened? Thank you!

[2021-01-21 15:58] marcandre commented on #9354
I think the issue is that even with `TreatCommentsAsGroupSeparators: false`, it does not generate an issue if there is an empty line and a comment separating gems in the wrong order.

[2021-01-21 16:03] marcandre commented on #7766
I can reproduce in 1.8.1

[2021-01-21 16:27] asterite commented on #7766
I can send a PR to fix this.

[2021-01-21 16:54] sethpuckett opened #9399 "Add IgnoredCops configurable attribute to DisableCopsWithinSourceCodeDirective"
## Is your feature request related to a problem? Please describe.

`DisableCopsWithinSourceCodeDirective` is great for ensuring problems don't get swept under the rug. But only having the option to enable it for all directives or none is limiting. There are situations when it is reasonable to disable certain types of directives on a per-line or per-method basis.

## Describe the solution you'd lik

[2021-01-21 17:40] marcandre commented on #7766
Not fixed (yet). I thought that rewriting the commit message would not close this but it did 🤷‍♂️

[2021-01-21 18:38] dvandersluis commented on #9399
`AllowedCops` would be a better name to avoid the double negative.

[2021-01-22 05:07] marcandre opened #9403 "`Style/EvalWithLocation` could auto-correct"
The cop `Style/EvalWithLocation` could autocorrect:

[code]

[2021-01-22 06:18] anoymouscoder commented on #9354
@marcandre   This issue clearly describes not what you mean. As for the scene what you said, [[Fix #4004] Allow not treating comment lines as gem group separators in `Bundler/OrderedGems` cop](https://github.com/rubocop-hq/rubocop/commit/fecc0d3a1e61c8f046b83d9fc653aa9b1bf194ed) already solved.

[2021-01-22 08:03] anoymouscoder commented on #9354
@marcandre
I submitted a [pr](https://github.com/rubocop-hq/rubocop/pull/9404), PTAL

[2021-01-22 23:08] #7766 closed

[2021-01-23 01:50] caalberts commented on #9403
For `#eval`, the current cop is suggesting to pass `__FILE__` and `__LINE__`, but there needs to be  a binding as second argument.

[code]

Without binding, there would be an error:

[code]

I think this should be fixed first before adding auto-correct.

[2021-01-23 03:31] dvandersluis commented on #9403
I opened #9409 to fix the offense messages for this cop.

[2021-01-23 03:49] caalberts commented on #9328
I created https://github.com/rubocop-hq/rubocop/pull/9410 to add shareable_constant_value methods to the `MagicComment` class.

[2021-01-23 06:23] ceteece commented on #9403
I can take a stab at this issue this weekend if no one else has gotten a start on it.

[2021-01-23 06:59] dvandersluis commented on #9403
@ceteece go for it! Just be aware there are two PRs open that change the cop (particularly #9411 which refactors some of the code).

[2021-01-24 18:17] ceteece commented on #9403
Sounds good, I'll wait for those to get merged before submitting a PR.

[2021-01-25 16:19] coding-bunny commented on #9354
Closing this because it's working how it should, and I'm a bunny-brain.

[2021-01-25 16:19] #9354 closed

[2021-01-26 01:01] dduugg opened #9415 "False negatives in Layout/ClassStructure with inline access modifiers"
The `Layout/ClassStructure` cop fails to surface private/public method ordering violations when inline access modifiers are used. Given the file `ab.rb` with:

[code]
--------

## Expected behavior

`Layout/ClassStructure` should be agnostic to visibility modifier and flag both definitions of `bar` (`A#bar` and `B#bar`).

## Actual behavior
Only `B#bar` is flagged:
[code]

## Steps to reproduce th

[2021-01-26 05:46] AxelTheGerman opened #9416 "Layout/LineLength cop error"
Hi,

This is my first bug report for rubocop, I hope I'm giving all information needed. I just upgraded a bunch of gems and now rubocop is consistently failing with an error message that prompts me to file an issue here, so here we go...

----

## Expected behavior

Rubocop runs without errors

## Actual behavior

[code]

Full debug log: https://gist.github.com/AxelTheGerman/ccb264c0bbad14f9018e17

[2021-01-26 05:53] koic commented on #9416
RuboCop 0.87.1 is old version. Can you upgrade to the new RuboCop? (current latest version is 1.8.1) If you still get the error when using new RuboCop version, please provide a reproduction Ruby code. Thank you for your feedback.

[2021-01-26 10:09] #9399 closed

[2021-01-26 10:11] #9327 closed

[2021-01-26 10:15] #9340 closed

[2021-01-26 19:07] #7902 closed

[2021-01-26 19:20] AxelTheGerman commented on #9416
😱 how did I miss that there was a 1.0 release 🎉

Sorry about that, will upgrade and I'm sure that'll fix it

[2021-01-26 19:20] #9416 closed

[2021-01-26 20:13] AndreiEres commented on #9415
@dduugg, @koic
Could you have a look to that fix https://github.com/rubocop-hq/rubocop/pull/9419?

[2021-01-26 20:19] aguynamedben commented on #9340
👏 You rock @bbatsov

[2021-01-26 20:45] dduugg commented on #9415
Wow, fast work @AndreiEres! I left one comment, regarding implicit public methods.

[2021-01-26 21:51] bbatsov commented on #9340
@dvandersluis rocks; I only merge. 😆

[2021-01-27 05:36] AndreiEres commented on #9415
@dduugg I suppose I fixed it

[2021-01-27 07:25] aguynamedben commented on #9340
💓 @dvandersluis thank you

[2021-01-27 08:18] #9415 closed

[2021-01-27 17:30] dduugg opened #9425 "Error running Layout/ClassStructure cop"
Create file `a.rb` with:
[code]

--------

## Expected behavior

`rubocop --only Layout/ClassStructure a.rb` runs without error

## Actual behavior

[code]

## Steps to reproduce the problem

☝️

## RuboCop version

[code]

[2021-01-27 20:58] dduugg commented on #9425
I'm also a bit confused why this is calling into `autocorrect` code (``class_structure.rb:184:in `autocorrect'`` above)

[2021-01-27 21:36] hlascelles opened #9428 "Style/AccessorGrouping false positive with multiple contexts"
Consider the following code:

[code]

The `attr_accessor` accessors are in different contexts, but rubocop sees them as the same:

[code]

Rubocop version: 1.5.2.

If this is a "good first issue to have a go at" I can try?

[2021-01-27 22:47] hlascelles opened #9429 "NegatedIfElseCondition autocorrect leaves comments behind"
Autocorrect this code:

[code]

And you get:

[code]

The "not true" code path "#It wasn't true" comment didn't move and is now in the "true" code path falsely marking the "True!" response as "#It wasn't true". True fact.

Rubocop 1.5.2

[2021-01-28 02:00] #9425 closed

[2021-01-28 02:04] koic commented on #9428
This false positive cannot be reproduced. Can you try it with the latest RuboCop (1.18.1) ?

[2021-01-28 08:26] coding-bunny opened #9431 "Style/DisableCopsWithinSourceCodeDirectory errors out"
## Expected behavior

I expect the Cop to not throw an error

## Actual behavior

Right now the specified Cop throws an error when running the RuboCop linter.

[code]

## Steps to reproduce the problem

This happens in 8 different files.
This is my `spec_helper.rb` for example:

[code]

## RuboCop version

[code]

[2021-01-28 08:45] sriedel opened #9433 "Style/EvalWithLocation error"
Rubocop announces:

    An error occurred while Style/EvalWithLocation cop was inspecting <file>
        undefined method `str_type?' for nil:NilClass
    $GEM_HOME/gems/rubocop-1.9.0/lib/rubocop/cop/style/eval_with_location.rb:67:in `on_send'
    $GEM_HOME/gems/rubocop-1.9.0/lib/rubocop/cop/commissioner.rb:136:in `public_send'
    $GEM_HOME/gems/rubocop-1.9.0/lib/rubocop/cop/commissioner.rb:136:i

[2021-01-28 09:00] hlascelles commented on #9428
I do apologise, it was a delayed "cached" error in my IDE!

[2021-01-28 09:00] #9428 closed

[2021-01-28 09:04] eric-christian commented on #9433
Just ran into this error, too.

`1.9.0 (using Parser 3.0.0.0, rubocop-ast 1.4.1, running on ruby 2.7.2 x86_64-darwin19)`

[2021-01-28 09:25] zverok opened #9434 "Layout/AssignmentIndentation vs Layout/FirstArgumentIndentation confuse each other"
We have (a bit unusual, I agree) this setting:
[code]
(The reasoning of person who introduced this is "not to mix assignments with new block starts").

Now, considering these two cases:
[code]
(1) is OK (4 spaces indentation). (2) is OK with this cop, but ...
[code]

And if you try to auto-correct it...
[code]

I understand where it comes from (this statement is kinda both "assignment" and "method

[2021-01-28 12:01] tejasbubane opened #9437 "`Layout/EmptyLineBetweenDefs` with multiple empty lines gives confusing message"
## Is your feature request related to a problem? Please describe.

In case of multiple lines between method defs, the message shown by `Layout/EmptyLineBetweenDefs` is `Use empty lines between method definitions`. This is slightly confusing and can be improved.

## Describe the solution you'd like

1. For default config `NumberOfEmptyLines=1`: Mention there are multiple lines detected.
2. For `Num

[2021-01-28 12:27] thorsteneckel opened #9438 "Layout/SpaceBeforeBrackets breaks code by removing brackets"
Running `Layout/SpaceBeforeBrackets` on the https://github.com/zammad/zammad codebase breaks code on various locations. It wrongly detects a space before brackets and then removed the bracket resulting in broken code. See example below.

--------

## Expected behavior

While the code is not nice (yet) at these locations it should pass IMHO or fix it correctly/not break the code.

## Actual behavio

[2021-01-28 14:29] ShockwaveNN commented on #9433
I got very similar stacktrace for this cop:
[code]
on this test file:
[code]

which reproduce only if there is `.rubocop.yml` with this content:
[code]

Not sure if this is same bug, I can create another issue if this is different problems

[2021-01-28 15:49] dvandersluis commented on #9433
@ShockwaveNN can you create a separate issue please?

[2021-01-28 15:57] ShockwaveNN opened #9440 "Lint/SymbolConversion raise undefined method `str_type?' for nil:NilClas"
## Steps to reproduce the problem

1. Create `.rubocop.yml` with content:
[code]

For some reason failure is not reproduces without .rubocop.yml config, not sure which line is caused it

2. Create test.rb with content:
[code]

3. run `rubocop -d test.rb` will result:
[code]

## RuboCop version
[code]

[2021-01-28 15:58] ShockwaveNN commented on #9433
@dvandersluis Done, https://github.com/rubocop-hq/rubocop/issues/9440

[2021-01-28 17:00] natematykiewicz opened #9441 "An error occurred while Style/EvalWithLocation - undefined method `str_type?' for nil:NilClass"
An error occurred while Style/EvalWithLocation cop was inspecting Gemfile:3:0.

--------

## Expected behavior

Run `rubocop` rubocop without error.

## Actual behavior

Running `rubocop` prints `An error occurred while Style/EvalWithLocation cop was inspecting Gemfile:3:0.`

Backtrace:
[code]

## Steps to reproduce the problem

We add a custom method to our Gemfile as a helper.

Add this into you

[2021-01-28 17:02] natematykiewicz commented on #9441
I imagine #9440 is related (or the same thing). Not sure. The message is different, so I made my own issue.

[2021-01-28 17:22] dvandersluis commented on #9441
Thanks, this is a duplicate of #9433 and already fixed by #9435.

[2021-01-28 17:22] #9441 closed

[2021-01-28 17:22] #9433 closed

[2021-01-28 17:27] natematykiewicz commented on #9441
Excellent. Thanks @dvandersluis!

[2021-01-28 17:50] #9440 closed

[2021-01-28 18:04] dduugg opened #9444 "Error setting severity level to `info`"
I'm attempting to use the `info` severity level introduced in `1.9.0`, but getting an error (apologies if I'm misunderstanding something).

--------

## Expected behavior

rubocop runs without error

## Actual behavior

rubocop prints a stack trace

## Steps to reproduce the problem

Create an empty file:
[code]

Create the following `.rubocop.yml` file:
[code]

Then:
[code]

## RuboCop version

[

[2021-01-28 18:13] dvandersluis commented on #9444
Which formatter are you using?

[2021-01-28 18:15] westonganger commented on #1819
Just use the `warning` gem to suppress the output. Its what we must do I suppose.

[code]

[2021-01-28 18:16] westonganger commented on #1819
For anyone else coming here looking for a solution for now. Just use the `warning` gem to suppress the output. Its what we must do I suppose.

[code]

[2021-01-28 18:18] dduugg commented on #9444
@dvandersluis how can one determine that?

Here's the output with the `-d` flag (apologies for omitting that in the bug report) and an explicit `--format simple`:
[code]

[2021-01-28 18:19] marcandre commented on #1819
If I'm not mistaken, you should simply always use the latest `parser` gem and the latest Ruby. They are normally in sync.

[2021-01-28 18:22] dvandersluis commented on #9444
Thanks @dduugg I just wanted to check if you were explicitly using a formatter or not for more context. I'll look into this.

[2021-01-28 18:33] dvandersluis opened #9445 "HTML formatter crashes on empty files"
Create an empty file and then run RuboCop on it, with `-f h`.

It'll crash with the following backtrace:

[code]

---

## RuboCop version
[code]

[2021-01-28 19:04] dvandersluis commented on #9445
Actually I can't duplicate this anymore... I wonder if it was a weird caching bug or something.

[2021-01-28 19:04] #9445 closed

[2021-01-28 19:45] #9444 closed

[2021-01-28 19:56] #9438 closed

[2021-01-28 21:55] dduugg opened #9448 "Error invoking Style/SoleNestedConditional"
--------

## Expected behavior

No rubocop error when using `Style/SoleNestedConditional`

## Actual behavior

rubocop error

## Steps to reproduce the problem

Create `a.rb` with
[code]

Then:

[code]

## RuboCop version

[code]

[2021-01-28 22:05] dduugg opened #9449 "Error invoking Style/NilComparison"
--------

## Expected behavior

No rubocop error when invoking `Style/NilComparison`

## Actual behavior

rubocop error when invoking `Style/NilComparison`

## Steps to reproduce the problem

Create `a.rb` with:
[code]
Then:
[code]

## RuboCop version
[code]

[2021-01-29 03:16] tas50 opened #9452 "StyleGuideBaseURL can't be set on nested departments"
## Expected behavior

Full disclosure: I might be missing something here. Trust but verify.

So https://github.com/rubocop-hq/rubocop/pull/7295 enabled setting the `StyleGuideBaseURL` config at the department level, which is great because I have 200 cops in a few different departments and I want to push users to our docs when they encounter those cops. It's not really something I want to include i

[2021-01-29 03:39] jdufresne opened #9453 "Infinite loop detected: Layout/ArgumentAlignment, Layout/ClosingParenthesisIndentation -> Layout/ClosingParenthesisIndentation, Layout/FirstArgumentIndentation"
[code]

Config

[code]

Input

[code]

[code]

[2021-01-29 07:26] #9449 closed

[2021-01-29 08:52] mvz opened #9454 "Bad autocorrect with Style/IfWithBooleanLiteralBranches"
The new `Style/IfWithBooleanLiteralBranches` cop does a bad autocorrect in certain cases:

The following code registers the offense and is autocorrected incorrectly:

[code]

## Expected behavior

The code is corrected to

[code]

## Actual behavior

The code is corrected to:

[code]

## Steps to reproduce the problem

1. Create a `.rubocop.yml` file containing:
[code]
2. Paste the code mentioned

[2021-01-29 08:53] s-mage opened #9455 "Lint/SymbolConversion false positive for Hash keys that contain ":""
Hello. Thanks for your work on the rubocop, it's a great tool.

I've found a false positive for `Lint/SymbolConversion` cop. It reacts on hash keys like `:"one:two"` and suggests to replace them with `:onetwo`. It doesn't fail on `var = :"one:two"` though.

--------

## Expected behavior

Don't get triggered on hashes with keys that contain `:`.

## Actual behavior

[code]

## Steps to reproduce t

[2021-01-29 09:13] s-mage commented on #9455
Just found another one:

[code]

[code]

Not sure if it should be a separate issue

[2021-01-29 09:29] koic commented on #9455
@s-mage Yeah, maybe a slightly different issue. Can you please open a new another issue?

[2021-01-29 09:42] s-mage opened #9457 "Lint/SymbolConversion false positive for Hash keys that end with "=""
@koic

Sure, here you go. Ruby allows symbols that end with `=`, but gives syntax error for such Hash keys.

[code]

[code]

[2021-01-29 10:17] deepj commented on #9353
This cop would check if it starts with upper case letter or lower case as well. Because I don't think this is something what I would expect in hashes

[code]

The both cased wouldn't be symbols at all.

[2021-01-29 10:24] erwanlr opened #9458 "An error occurred while Lint/SymbolConversion cop was inspecting xxxx"
Running rubocop 1.9.0 against https://github.com/wpscanteam/OptParseValidator yields an error

## Expected behavior

Rucocop should run smoothly

## Actual behavior

[code]

## Steps to reproduce the problem

clone https://github.com/wpscanteam/OptParseValidator and run rubocop 1.9.0 against it

## RuboCop version

[code]

[2021-01-29 10:34] erwanlr commented on #9458
Similar issue with https://github.com/wpscanteam/CMSScanner and the Style/EvalWithLocation cop

[code]

[code]

[2021-01-29 10:46] erwanlr opened #9459 "False positive with Style/IfWithBooleanLiteralBranches and nonzero?"
The `nonzero?` method returns self if num is not zero, nil otherwise, and not a boolean. Causing false positive with the `Style/IfWithBooleanLiteralBranches` cop with code such as `val.nonzero? ? true : false`

--------

## Expected behavior

The cop should not flag statements such as `val.nonzero? ? true : false`

## Actual behavior

[code]

## Steps to reproduce the problem

Run the cop against

[2021-01-29 11:29] zverok opened #9460 "Hash[] vs to_h"
A lot of people still use pre-2.4 `Hash[*array]` instead of `array.to_h`. I am surprised Rubocop doesn't catches this, maybe I am missing something? :)

If not, I'll probably be able to provide a PR.

[2021-01-29 11:41] koic commented on #9458
This issue is a dup with #9442 and resolved by #9440.

And the issue is a dup with #9433 and resolved by #9435.

Thank you.

[2021-01-29 11:41] #9458 closed

[2021-01-29 11:55] MatUrbanski opened #9462 "An error occurred while Style/DisableCopsWithinSourceCodeDirective cop was inspecting"
I have a Ruby project that uses the 3.0.0 version, after upgrading to Rubocop 1.9.0 I receive the following errors when running `rubocop` command:

[code]

[2021-01-29 11:57] koic commented on #9462
This issue is a dup with #9431 and resolved #9432. Thank you for your feedback!

[2021-01-29 11:57] #9462 closed

[2021-01-29 12:09] bbatsov commented on #9460
Good idea. PR welcome!

[2021-01-29 12:36] zhuravel opened #9463 "Lint/SymbolConversion fails if to_sym called on implicit receiver"
Sample code that generates errors:
[code]

## RuboCop version

[code]

[2021-01-29 12:56] koic commented on #9463
This issue is a dup with #9442 and resolved by #9440.

[2021-01-29 12:57] dvandersluis commented on #9463
Thanks for the report, but this is a duplicate of #9440, and already fixed by #9442.

[2021-01-29 12:57] #9463 closed

[2021-01-29 13:29] ShockwaveNN opened #9465 "Metrics/ParameterLists ignores Max value generate by rubocop --auto-gen-config"
## Steps to reproduce the problem

1. Create `test.rb` file with content:
[code]
2. run `rubocop --auto-gen-config` and get this `.rubocop_todo.yml`
[code]

3. `Metrics/ParameterLists` max is 6, so it should be no warning for running rubocop now, but there is one:
[code]
## RuboCop version

[code]

[2021-01-29 13:59] searls opened #9466 "Rubocop converting single-line methods to Endless methods on unsupported Rubies"
Noticed this while updating Standard to support 1.8.1, but verified in [this repro repo](https://github.com/searls/rubocop-endless-method-repro) that it persists in 1.9.0 as well

## Expected behavior

When running on Rubies older than 3.0, I'd expect Rubocop's defaults to not change code into endless methods, as they won't be valid Ruby.

Given:

[code]

I'd expect it to correct to:

[code]

## A

[2021-01-29 14:19] rrosenblum commented on #9466
Sounds like we need to add a check for the Ruby version before handling anything with endless methods. A quick look into the code, `Style/EndlessMethod` appears to have a check for Ruby 3.0. This issue seems to be coming from `Style/SingleLineMethods` because that cop supports auto-correct to endless methods. `Style/SingleLineMethods` is checking the config from `Style/EndlessMethod`, however it d

[2021-01-29 14:26] searls commented on #9466
Thanks for digging in @rrosenblum

[2021-01-29 14:29] dvandersluis commented on #9466
Thanks @searls I overlooked this will fix shortly.

[2021-01-29 18:09] marcandre commented on #9353
@deepj Why not? keys may start with uppercase, can also be ruby keywords:
[code]

[2021-01-29 18:36] dvandersluis commented on #9353
Exactly what @marcandre said. `'UAE': 'United Arab Emirates'` maybe looks like the key will be a string, but it is already a symbol and the quotes are redundant.

[code]

[2021-01-29 18:37] #9455 closed

[2021-01-29 18:55] dvandersluis commented on #9465
Optional parameters have a separate configuration, `MaxOptionalParameters`, which is why you're seeing [4/3] and not [6/4].

[2021-01-29 19:04] horgh opened #9469 "Style/EvalWithLocation error"
I am seeing an error running rubocop:

[code]

Example build: https://github.com/maxmind/minfraud-api-ruby/pull/49/checks?check_run_id=1793801873

## Expected behavior

rubocop should complete without an error

## Actual behavior

rubocop reported an error.

The above build shows this but here is when I run it locally:

[code]

## Steps to reproduce the problem

Run `rubocop` in `minfraud-api-ruby

[2021-01-29 19:10] dvandersluis commented on #9469
@horgh thanks, this has been reported a couple times and is already fixed by #9435.

[2021-01-29 19:10] #9469 closed

[2021-01-29 19:14] #9457 closed

[2021-01-29 19:15] horgh commented on #9469
Ah, sorry :(. My search didn't show any related issue (`is:issue evalwith`). I guess I should have tried `is:issue evalwithlocation`. Thank you!

[2021-01-29 19:20] dvandersluis commented on #9469
No worries! I've pinned the original issue to the issues page now which hopefully can cut down on the duplicates until we can release 1.9.1.

[2021-01-29 19:23] AirWick219 commented on #9469
@dvandersluis .. Any idea when 1.9.1 is going to release?

[2021-01-29 19:25] dvandersluis commented on #9469
I believe the plan is for Monday.

[2021-01-29 19:27] deepj commented on #9353
@dvandersluis I know it's valid. But I don't think it would be preferable default settings of Rubocop. It looks weird and unusual hash style (upper case letters in keys)

The part of hash does not come from Rails application with HashWithIndifferentAccess. Keys are searched by string dynamically. I don't write `states[:UAE]` or something like that. The cop it is useful. But not in case of hashes.

[2021-01-29 19:41] dvandersluis commented on #9353
The cop doesn't change `states['UAE']` to `states[:UAE]`, so you can still access your hash the same as you were previously. The only difference is that the extraneous quotes are removed from the symbol itself (again, your key is *not* a string, but a symbol, despite the quotes). I don't agree that hashes should not be processed, as I would much rather than `UAE: foo` than `'UAE': foo`.

[2021-01-29 19:42] marcandre commented on #9353
@deepj Maybe you meant to write `{'UAE' => 'United Arab Emirates'}`? IMO, user facing labels (like 'UAE') should be strings, not symbols.

Let's try and keep `HashWithIndifferentAccess` out of this, because I can't be partial about this (it's an abomination that was always a bad idea that is no longer needed with strong params)

[2021-01-29 19:52] ccasabona opened #9470 "An error occurred while Style/EvalWithLocation on rubocop 1.9 where no error previously encountered"
An error occurred while Style/EvalWithLocation cop was inspecting config/initializers/send_alternate_mail.rb:3:0

Style/EvalWithLocation cop reports an error parsing this file which has previously passed this cop:

[code]
--------

## Expected behavior

RuboCop Style/EvalWithLocation  passes this file.

## Actual behavior

[code]
## RuboCop version

[code]

[2021-01-29 19:54] deepj commented on #9353
I apologize, I'm just mixed several things together.

[2021-01-29 19:55] dvandersluis commented on #9470
@ccasabona this is fixed already by #9435.

[2021-01-29 19:55] #9470 closed

[2021-01-29 19:58] ccasabona commented on #9470
Thank you!

[2021-01-29 20:05] ShockwaveNN commented on #9465
Shouldn't `--auto-gen-config` generate config which will not result any warning on next rubocop run?

[2021-01-29 20:11] dvandersluis commented on #9465
Definitely, I'm opening a PR momentarily.

[2021-01-29 20:44] #9466 closed

[2021-01-29 21:03] searls commented on #9466
Holy cow, @dvandersluis -- what incredible turnaround time. Thank you!! ✨

[2021-01-29 21:10] dvandersluis commented on #9466
Happy to, thanks for the bug report!

[2021-01-29 23:29] AlexWayfer opened #9473 "An error occurred while Lint/DeprecatedConstants cop was inspecting"
Hello.

I've faced with internal RuboCop error, as I see it's related to a new cop (#9324, /cc @koic).

--------

## Expected behavior

No errors.

## Actual behavior

`rubocop` fails.

[code]

## Steps to reproduce the problem

The latest version of RuboCop (1.9.0), Ruby 2.7 or 3.0, this repository: https://github.com/r18n/r18n/pull/247

## RuboCop version

[code]

[2021-01-30 06:11] 6temes opened #9477 "Error in Style/EvalWithLocation"
This code makes the cop Style/EvalWithLocation crash:

[code]

Rubocop 1.9.0 (using Parser 3.0.0.0, rubocop-ast 1.4.1, running on ruby 2.7.2 x86_64-darwin20)

[2021-01-30 06:20] dvandersluis commented on #9477
Please see the pinned issue. Already fixed by #9435.

[2021-01-30 06:20] #9477 closed

[2021-01-30 06:31] 6temes commented on #9477
Upps. Sorry. :)

[2021-01-30 13:23] zverok commented on #9460
OK then, #9478

[2021-01-30 14:33] DirtyF opened #9479 "An error occurred while Style/EvalWithLocation cop"
## Expected behavior

rubocop to exit without errors

## Actual behavior

rubocop exit with error:

[code]

Source code: https://github.com/jekyll/jekyll/blob/master/lib/jekyll/commands/serve.rb#L183

Debug trace:

[code]

## Steps to reproduce the problem

[code]

## RuboCop version

[code]

It was exiting fine with previous rubocop version. Same errors occurs with Ruby 3.0.

[2021-01-30 15:01] tejasbubane commented on #9479
Duplicate of https://github.com/rubocop-hq/rubocop/issues/9433 (pinned under issues) and https://github.com/rubocop-hq/rubocop/issues/9477. Already fixed by https://github.com/rubocop-hq/rubocop/pull/9435

[2021-01-30 15:02] #9479 closed

[2021-01-30 16:08] #9437 closed

[2021-01-30 17:55] #9448 closed

[2021-01-30 18:37] #9473 closed

[2021-01-30 18:41] #9459 closed

[2021-01-30 18:42] #9454 closed

[2021-01-30 21:48] tas50 commented on #9452
Fixed by https://github.com/rubocop-hq/rubocop/pull/9480

[2021-01-31 08:26] mvz commented on #9454
Thanks, @koic!

[2021-01-31 08:30] koic commented on #9454
Thank you for the feedback @mvz!

[2021-01-31 20:51] #9452 closed

[2021-01-31 22:02] marcandre opened #9482 "`TargetRuby` and `required_ruby_version` crash"
Followup to #9329

There seem to be multitude issues with `TargetRuby` and `required_ruby_version` of gemspec:
* while `<= 3.0.0` will use `DEFAULT_VERSION` (good), `>= 2.0.0` will use `2.0.0` which will then raise an error and stop (really bad)
* same for list of versions
* does not understand `>` and `<`, `!=` and `~>`.

Code should probably use https://docs.ruby-lang.org/en/2.6.0/Gem/Requiremen

[2021-01-31 22:04] marcandre commented on #9482
@HeroProtagonist are you interested in tackling this?

[2021-01-31 23:21] snood1205 opened #9483 "An Error occured while RSpec/LeadingSubject cop was inspecting"
While using `rubocop` normally in my project, for which it had been working fine previously, I oddly have hit this weird error. If I disable the specific cop (`RSpec/LeadingSubject`) then it runs fine. Also, I'm unsure if this is the right repo or if I should move this to [rubocop-hq/rubocop-rspec](https://github.com/rubocop-hq/rubocop-rspec].

## Expected behavior

I want to be able to run `ruboc

[2021-02-01 00:57] eduardoprentcomau opened #9484 "Lint/SymbolConversion false positive for Hash keys that contains ":""
## Expected behavior

Describe here how you expected RuboCop to behave in this particular situation.

## Actual behavior

Rubocop trying to convert a hash key containing a colon instead of ignoring it.
If a key contains two points, rubocop tries to convert it as if it were a symbol.

## Steps to reproduce the problem

This is extremely important! Providing us with a reliable way to reproduce
a pro

[2021-02-01 01:12] eduardoprentcomau commented on #9484
Sorry guys, duplicated from: https://github.com/rubocop-hq/rubocop/issues/9455

[2021-02-01 01:16] #9484 closed

[2021-02-01 01:19] koic commented on #9484
Bug fix release is planned for RuboCop 1.9. Please wait a moment. Thank you!
https://github.com/rubocop-hq/rubocop/pull/9476#issuecomment-770261115

[2021-02-01 07:28] #9465 closed

[2021-02-01 07:29] #9453 closed

[2021-02-01 11:00] amiedes commented on #7949
I'm getting this cop triggered in the following case

[code]

wouldn't that break?

[2021-02-01 11:00] amiedes commented on #7949
Sorry, I got confused, it would break in both cases. I'm removing my previous comment as it's misleading.

[2021-02-01 22:24] HeroProtagonist commented on #9482
@marcandre 👋
Sure, I should have time to take a look this week

[2021-02-02 00:27] jdufresne opened #9487 "Naming/MemoizedInstanceVariableName false positive"
[code]

No config

Input file

[code]

## Expected behavior

No error. The method isn't memoizing a value, it is recalculated every run.

## Actual behavior

[code]

A workaround to avoid the false positive would be to write the code as:

[code]

However, depending on the size and complexity of the expression, that may not be preferred. The assignment to the instance variable is the desirable side

[2021-02-02 01:17] koic commented on #9487
This `MemoizedInstanceVariableName` cop is in the `Naming` department and is an expected behavior.
This cop checks that method name and memoized instance variable name are the same. A solution suggested by the cop is to make the instance variable name the same as the method name. (Tip: Be careful not to conflict with existing instance variable names.) Thank you.

[code]

https://docs.rubocop.org/r

[2021-02-02 01:31] jdufresne commented on #9487
This is not an appropriate for the example above. In the example above, the assignment to a _specific_ instance variable is the intended side effect. The return value is unused and ignored.

Here is a more real life scenario from a Rails controller:

[code]

In this example, changing the instance variable to "@show" would be wrong. It would be less descriptive and require changes in the show templ

[2021-02-02 01:44] jdufresne commented on #9487
I would also like to reiterate that the provided examples are not memoizeing the function. The instance variables are intentionally recalculated every call. That is why I consider this a false positive.

Suggestion: If the method has at least one unconditional assignment, then this offense should not occur. (For example `@myvar = other_method1` or `@favorite_color = current_user.favorite_color`)

[2021-02-02 01:46] dvandersluis commented on #9487
I agree. This example isn’t memorization, even though it uses `||=`. The ivar will be recalculated every time the method is called, even if it’s previously set.

[2021-02-02 01:50] koic commented on #9487
Ah, I get it! It seems that my understanding was not enough 💦

[2021-02-02 01:58] marcandre commented on #9487
What happens if you explicitly end your method with `nil`?

[2021-02-02 02:19] jdufresne commented on #9487
I agree that adding `nil` as the final expression also works as a workaround to silence the offense. I offered a workaround in the original post and I'm sure there are others too.

But I still think the unconditional assignment should be enough to silence the offense (if possible). While adding an extra `nil` expression isn't a huge ask, it is an annoyance when the code is otherwise correct and fo

[2021-02-02 04:49] #7216 closed

[2021-02-02 04:49] #7127 closed

[2021-02-02 04:49] #7618 closed

[2021-02-02 09:54] luke-hill commented on #7484
The issue isn't the inheritance order per sé. But the way in which the auto gen is being generated.

In my eyes, auto gen means the following.

not ....

[2021-02-02 12:46] tenpaiyomi commented on #9487
Noting that I'm experiencing similar behavior that appears to be a false positive.

[code]

[code]

Obviously in this case, using `@before_render` would be completely incorrect.

[2021-02-02 13:29] marcandre commented on #9487
@tenpaiyomi Indeed. Returning `nil` works though. May I point out that it seems incorrect to set `@label` and that `@html_opts` in `before_render` and not in `initialize` (or via methods that return `@label || @name.titleize` if @name is subject to change). Maybe a list of ignored methods (which have their return values typically ignored) could help.

[2021-02-02 13:32] tenpaiyomi commented on #9487
@marcandre given how the view components work, it is necessitated that I set the options in `before_render` as opposed to within the `initialize` method, given that `initialize` does not have a value for `@variant` yet, nor does it have access to helper methods.

[2021-02-02 13:36] marcandre commented on #9487
Oh, I see. Isn't it the `@label ||= ...` that is causing the error? Anyways, it could depend on something else I guess.

[2021-02-02 13:38] tenpaiyomi commented on #9487
@marcandre yes, in this case it appears that rubocop is incorrectly assuming the `@label ||=` is supposed to be a return value assignment for the `before_render` method and believes it should be `@before_render`.

I was able to shift the `@label ||=` up to the top of the method and the error went away, but it could be a point of confusion for others (or not a viable option, outside of placing `nil

[2021-02-02 15:59] marcandre commented on #9487
Maybe we can reduce the number of false positives by restricting this offense to `def foo; @x ||= ...; end`, with no other code before or after the `@x ||=`

[2021-02-02 16:13] tenpaiyomi commented on #9487
I think the biggest issue in this case is that `||=` is not explicitly _just_ memoization.  In my case, it's being utilizing it as an assign on blank fallback in case the user does not pass in a value for `label`, which is not an uncommon usage scenario at all.  It's not a resource intensive process or anything of the sort, it's just the most concise way of doing the operation, IMO.

A few alterna

[2021-02-02 17:04] mwolman opened #9488 "pre-commit hook not working with multiple rubocop linters"
I'm trying to install the new pre-commit hook using `pre-commit`. This is my `.pre-commit-config.yaml` file

[code]

And this is the error I got when trying to make a commit:

[code]

How can I make it work together with `rubocop-rails` and `rubocop-rspec`? Is it possible?

[code]

[2021-02-03 02:29] jdufresne commented on #9488
@mwolman I've opened PR #9489 to document how to use pre-commit with extensions. Please let me know if it provides enough detail to alter the configuration to achieve your goals. Any feedback or guidance as to how to improve it further is welcome.

[2021-02-03 05:01] one0fnine opened #9490 "Layout/ArgumentAlignment vs Layout/HashAlignment"
Hi folks.
I found out odd rubocop behavior. in case when it fix alignments of method attributes
Looks. A just code example
[code]

My rubocop settings:
[code]
And that's it.

Rubocop is finding no issues.
Although It should change alignment of `a`, `b`, `c` arguments.

Next, i changed the config:
[code]
And It found issues : `Layout/HashAlignment: Align the keys of a hash literal if they span more

[2021-02-03 14:44] mwolman commented on #9488
@jdufresne it works perfectly now 🥳  thank you!

[2021-02-03 14:44] #9488 closed

[2021-02-04 13:54] #9490 closed

[2021-02-04 14:29] #9460 closed

[2021-02-05 10:23] allenwu1973 opened #9492 "Lint/DeprecatedOpenSSLConstant wrongly corrects `OpenSSL::Cipher::RC4.new` to `OpenSSL::Cipher.new('rc4-cbc')`"
## Expected behavior
[code]
should be corrected to
[code]

## Actual behavior
Corrected to
[code]

Which cause
[code]

## Steps to reproduce the problem
[code]

## RuboCop version
1.9.1

[2021-02-05 12:14] IanVaughan opened #9493 "Add `exclude` as inverse to `only` command line option"
## Is your feature request related to a problem? Please describe.

1. We have [`RSpec/Focus`][1] enabled as per the default
1. [This PR][PR] auto-corrects any `fit`s to `it` (and cool that it does!)
2. I use [`vscode-ruby`][2] VSCode extension with `"ruby.format": "rubocop"` option,
3. On save, vscode-ruby runs rubocop auto-corrects on the file
4. I now cannot save a file with `fit` in, as its alw

[2021-02-05 19:24] dvandersluis commented on #9493
Hi @IanVaughan, `--except` already exists as a switch to rubocop. This will do what you're looking for:

[code]

[2021-02-05 19:24] #9493 closed

[2021-02-08 09:47] #9492 closed

[2021-02-08 10:54] pedrocarmona commented on #3741
@rrosenblum  Maybe it makes sense to do alphabetical paragraphs:

[code]

[2021-02-09 07:27] yarafan opened #9497 "An error occurred while Style/ExplicitBlockArgument"
Rubocop fails to process file with following code

[code]
--------

## Expected behavior
Got an error message "Consider using explicit block argument in the surrounding method's signature over `yield`."

## Actual behavior
Got "An error occurred while Style/ExplicitBlockArgument"
Stacktrace
[code]
## Steps to reproduce the problem
Run `rubocop -d` on file with following contents
[code]
with no add

[2021-02-09 22:26] brandonjmckay commented on #7689
activity

[2021-02-09 22:38] adfoster-r7 opened #9499 "Layout/SpaceBeforeBrackets generates invalid code"
### Input

[code]

### Command
[code]

###Output
[code]

The code is now invalid:
[code]

## RuboCop version

Include the output of `rubocop -V` or `bundle exec rubocop -V` if using Bundler.
If you see extension cop versions (e.g. `rubocop-performance`, `rubocop-rspec`, and others)
output by `rubocop -V`, include them as well. Here's an example:

[code]

[2021-02-10 01:36] drbrain opened #9500 "Lint/Debugger complains about using "console" when it is not appropriate"
If I define and use a `console` method, `attr_reader :console` or a minitest/spec `let(:console)` Lint/Debugger says I should "Remove debugger entry point console".

I have not `require`d a debugger, nor have I added one to a `Gemfile`, so I cannot be entering a debugger, I'm working with a method or accessor that is appropriately named for my usage and is in-scope.  No `method_missing` magic is i

[2021-02-10 16:39] dvandersluis commented on #9500
RuboCop is not currently aware of where a method being called is defined, so your various ways of defining `console` are clearly false positives, but there isn't an easy way of resolving that.

That being said, when #8929 changed how `Lint/Debugger` is configured, it went from registering `binding.console` (for example) to `console` with any receiver, which is clearly wrong here, so I think we can

[2021-02-10 16:41] dvandersluis commented on #9500
Actually looks like #7636 fixed this a while ago (for `console` specifically) and then it too was broken by #8929.

[2021-02-10 19:52] #9497 closed

[2021-02-10 19:56] #9499 closed

[2021-02-10 21:19] difernandez opened #9505 "Ability to disable cop for next line"
## Problem

When disabling a cop, we have two options, each with something I consider a problem:
- Disabling a cop for a line with a comment at the end of it. Sometimes this results in a line that is too long and it's uncomfortable to read
- Disabling a rule in a block using `rubocop:disable` and `rubocop:enable`. This could be cumbersome if I want to disable for a single line

## Solution

I thin

[2021-02-11 17:50] iHiD opened #9507 "Lint/RedundantSplatExpansion altering code in unsafe manner"
Hello. Thanks for your work on Rubocop.

I have an issue where `Lint/RedundantSplatExpansion` is incorrectly changing code.

[code]

I can reproduce by pasting that code block into a file and seeing it change as it's linted.

## RuboCop version

[code]

[2021-02-11 20:28] #9507 closed

[2021-02-11 22:41] iHiD commented on #9507
Thanks.

[2021-02-12 09:45] #9500 closed

[2021-02-12 12:41] klausbadelt commented on #2338
@dbodow's suggestion simply changes the blocks to single line - the issue though is _multi line_ blocks. I personally agree that multi-line chaining is not 'ugly' but very 'Ruby'.

Just my (way too late and personal) opinion - that's why Rubocop is configurable. A pleasure to use!

[2021-02-12 18:39] #9403 closed

[2021-02-12 19:52] urkle opened #9512 "Rails/TimeZone cop should allow Time.parse against a fixed string which includes a timezone specifier."
## Is your feature request related to a problem? Please describe.

Often in our tests we have this construct
[code]

Where we are specifically putting fixed value strings in the parse which ALWAYS have a timezone specifier (in this case it is Z meaning UTC)

## Describe the solution you'd like

The cop should allow this scenario (when using the full ISO8601 format with the timezone specifier)

##

[2021-02-13 00:35] jdufresne opened #9513 "Style/HashConversion: Invalid conversion (undefined method `to_h')"
Testing using RuboCop commit 2d3e1bc19660ec06d3efa43a1045c6ae34f016b9

[code]

Input file:

[code]

Command

[code]

Changed file:

[code]

Running the code now results in:

[code]

[2021-02-13 10:24] #9513 closed

[2021-02-13 10:26] #9349 closed

[2021-02-13 18:39] rrosenblum commented on #9505
Thanks for linking to the old topic on this. Eslint uses a disable next line syntax, `// eslint-disable-next-line`, https://eslint.org/docs/user-guide/command-line-interface#-no-inline-config. We would also need to support todo next line.

[2021-02-15 06:44] #9395 closed

[2021-02-15 06:45] #9292 closed

[2021-02-15 17:05] adfoster-r7 opened #9518 "Smarter opting out of Layout/ExtraSpacing rule"
## Is your feature request related to a problem? Please describe.

I'm a big fan of the `Layout/ExtraSpacing`rule. Unfortunately for our codebase in particular since we work with a lot of binary data objects, some of our classes have been manually formatted with whitespace to improve readability, which reduces the effectiveness of this cop

For example the following code snippet has had extra whit

[2021-02-16 09:30] unikitty37 opened #9519 "Ability to use wildcards when disabling cops"
## Is your feature request related to a problem? Please describe.

When it is necessary to write a method that RuboCop decides is too complex, it tends to trigger multiple cops. If there is no easy way to rewrite the method in a reasonable amount of time, it is necessary to disable multiple cops on one line:

[code]

This is a lot of typing! However, disabling *all* cops for the method with a simp

[2021-02-16 13:11] adfoster-r7 opened #9520 "Style/MultipleComparison generates invalid code"
## Input

When running [this](https://github.com/rapid7/metasploit-framework/blob/4a380771d3a18011af153e47e1d08a4a83feb452/lib/rex/post/meterpreter/extensions/stdapi/sys/registry.rb) file in its entirety, the following code in particular breaks:

[code]

## Output

The output is completely different:

[code]

## Steps to reproduce the problem

Run `Style/MultipleComparison` on [this](https://githu

[2021-02-16 13:13] adfoster-r7 commented on #9518
I've added a custom Rubocop for handling this, initially I envisioned Rubocop having support for a configuration value like`pattern: ...` - but I think the above approach is a good stop gap. Happy to close this issue.

[2021-02-16 16:33] koic commented on #9519
It seems good to me that it can be specified by department. because there are similar specification options such as `rubocop --only department` and enabling/disabling by department in .rubocop.yml. It does not bring in new complexity.

The only concern is that the specified department's cops hidden in the department may not be able to detect an offense. However, it shouldn't be the issue as user w

[2021-02-17 11:12] ugur-kurnaz opened #9523 "error with parsing ruby 3.0 endless method definition"
I was trying the code provided by https://www.ruby-lang.org/en/news/2020/12/25/ruby-3-0-0-released/ (concerning ractor with benchmark of tarai function), in visualstudio code and I ended up with an error.

I suppose error comes from the new syntax of def without end.

you'll find the details of rubocop  -d in attachment.

regards,
[tarai.rb.rubocop.debug.txt](https://github.com/rubocop-hq/rubocop/

[2021-02-17 18:45] #9523 closed

[2021-02-18 21:18] stephannv opened #9525 "Add option to Style/SymbolProc to ignore methods with parameters"
## Is your feature request related to a problem? Please describe.

No.

## Describe the solution you'd like

My application has some code like this:

[code]

Rubocop detects offense and suggests change my code to:
[code]

But in some scenarios, using symbol as proc isn't the best option for code style because don't follow other block definitions style. I know I have some alternatives like disable

[2021-02-19 03:49] bkuhlmann opened #9526 "Style/HashConversion splatted array should not error"
## Expected behavior

It would be nice to enable `Style/HashConversion` but not flag `Hash[*values]` usage as invalid.

## Actual behavior

Getting the following error when using splatting an array to a hash:

[code]

## Steps to reproduce the problem

Create the following files locally to reproduce:

[code]

[code]

Now run the following:

`rubocop snippet.rb`

Notice you'll get the following err

[2021-02-19 05:55] koic commented on #9526
Thank you for the feedback. I opened a proposal as #9527.

[2021-02-19 12:58] #9520 closed

[2021-02-19 13:34] jedrekdomanski opened #9529 "Unable to activate concurrent-ruby-ext-1.1.6, because concurrent-ruby-1.1.8 conflicts with concurrent-ruby (= 1.1.6)"
Rubocop with Sublime Linter doesn't work I get an error below.
--------

## Expected behavior
Linter with rubocop works in Sublime Text 3
## Actual behavior
I get an error
[code]
 I do not have concurrent-ruby 1.1.8 installed on my machine at all.

## Steps to reproduce the problem
Install Sublime Linter, rubocop

This is extremely important! Providing us with a reliable way to reproduce
a problem

[2021-02-19 13:53] #9529 closed

[2021-02-20 07:03] IamRaviTejaG commented on #9222
@fatkodima @bbatsov I'd like to take a jab at this.

[2021-02-20 16:32] eregon commented on #9325
Ping, it seems many people are hitting this when using GitHub Actions, it would be great if this was fixed in RuboCop.

[2021-02-20 17:05] #9482 closed

[2021-02-23 11:28] #9526 closed

[2021-02-23 11:32] #5388 closed

[2021-02-24 01:01] nhippenmeyer commented on #6837
I'm experiencing this issue as well.

[code]

is being corrected to the following (which is invalid SQL)

[code]

[2021-02-24 01:09] koic commented on #6837
@nhippenmeyer I cannot reproduce that issue with the latest RuboCop (1.10.0). If the latest RuboCop can reproduce it, can you open a new issue?

[2021-02-24 01:11] abrom commented on #6837
the trailing comma won't be included in the HEREDOC SQL string @nhippenmeyer. What of the SQL is invalid?

[2021-02-24 10:49] unikitty37 opened #9530 "Documentation site broken for Lint"
The documentation page for Lint cops is broken past [Lint/Debugger](https://docs.rubocop.org/rubocop/1.10/cops_lint.html#lintdebugger):

![image](https://user-images.githubusercontent.com/139183/108989430-7b896400-768d-11eb-91bc-72a67fb02a01.png)

174bda38 looks like it should already fix this, but it's not live — could somebody please deploy it?

[2021-02-24 14:23] toaster opened #9533 "Metrics/BlockLength (and alike) should be able to ignore multi-line method calls"
## Is your feature request related to a problem? Please describe.

I’m always frustrated when RuboCop complains when I changed a method call with multiple parameters to span multiple lines and thus broke the block length limit.
While it helps to use keyword arguments and add `hash` to `CountAsOne` this is not yet perfect.

For example, the statement
[code]
counts as 3 lines, but
[code]
only counts

[2021-02-24 14:43] atsheehan commented on #2782
Ran into this issue with `StringIO` which supports `length` and `size` but not `empty?`.

[2021-02-24 14:55] marcandre commented on #2782
@lawrencejones & @julioolvr: Please note that this cop is marked as "unsafe". So if you call `rubocop -a`, there won't be autocorrection. You need to call it with `-A` to perform autocorrections for this cop.

You *should* assume that `rubocop -a` will produce equivalent code (otherwise open an issue!).

You *should* double check further autocorrections made with `rubocop -A` manually and/or rely

[2021-02-24 16:53] nhippenmeyer commented on #6837
@koic I'm running RuboCop v1.10.0 so will open a new issue.

@abrom I misspoke. The problem isn't that the generated SQL string is invalid, but rather the trailing comma on the first line of the heredoc produces a ruby syntax error.

Running the following `query.rb` file results in the error: `query.rb:1: syntax error, unexpected end-of-input`

[code]

[2021-02-24 17:04] nhippenmeyer commented on #6837
@koic I'm running RuboCop v1.10.0 so will open a new issue for this.

@abrom I misspoke. The problem is not that the generated SQL string is invalid, but rather the trailing comma on the first line of the heredoc produces a ruby syntax error.

Running the following `query.rb` file

[code]

Results in the error:

[code]

[2021-02-24 17:11] nhippenmeyer commented on #6837
I'm confirmed this is no longer an issue in the latest version of RuboCop. Apologies for the false alarm.

[2021-02-24 17:31] pjg opened #9536 "`Naming/VariableNumber` does not support `AllowedNames` parameter"
## Is your feature request related to a problem? Please describe.

I believe this cop should support the `AllowedNames` parameter, so that exceptions can be made for existing model attributes. This would mimic the option available for `Naming/MethodParameterName`.

## Describe the solution you'd like

Add support for `AllowedNames` option to `Naming/MethodParameterName` cop.

## Describe alternati

[2021-02-24 17:44] koic commented on #9536
I think `AllowedIdentifiers` configuration option will solve the issue.
https://docs.rubocop.org/rubocop/1.10/cops_naming.html#allowedidentifiers-capture3

Below is an example configuration.
https://github.com/rubocop-hq/rubocop/blob/v1.10.0/config/default.yml#L2598-L2604

[2021-02-24 17:47] pjg commented on #9536
D'oh! Somehow I overlooked it 😞  Thanks!

[2021-02-24 17:47] #9536 closed

[2021-02-24 20:17] adfoster-r7 commented on #5866
Also running into the `find` scenario that a few have pointed out:

[code]

[2021-02-25 07:26] #9525 closed

[2021-02-25 11:35] daniel-rikowski opened #9539 "Error in Style/RedundantBegin with empty begin-end block"
The Style/RedundantBegin cop generates an error on empty begin-end blocks.

**Example:**

[code]

results in `undefined method 'rescue_type?' for nil:NilClass`

--------

## Expected behavior

rubocop should not throw an error.

## Actual behavior

rubocop throws the error `undefined method 'rescue_type?' for nil:NilClass`

Relevant call stack:
[code]

## Steps to reproduce the problem

Run the St

[2021-02-25 13:36] koic commented on #9530
The doc for the master branch has been synced. On the other hand, there is no backporting to released docs, so please refer master or the doc to be next released. Thank you.
https://docs.rubocop.org/rubocop/cops_lint.html#lintdebugger

[2021-02-25 13:36] #9530 closed

[2021-02-25 13:59] marcandre commented on #5866
That is incorrect. The "outside" variable can be referred to from inside the block, in particular:

[code]

That being said, it would make sense to relax the rule for that exact pattern.

[2021-02-25 14:03] #9539 closed

[2021-02-25 17:57] yitznewton opened #9541 "Style/HashConversion autocorrect misses parentheses"
## Expected behavior

In code with method calls having arguments inside a `Hash[]` conversion call, where there are no parentheses around the arguments, autocorrect should introduce parentheses to preserve order of operations.

Initial code:

[code]

Expected result:

[code]

## Actual behavior

It does not introduce parentheses.

Actual result:

[code]

## RuboCop version

[code]

[2021-02-25 20:05] adfoster-r7 opened #9543 "Style/StringConcatenation changes escape sequences unexpectedly"
## Input file

I expected that the `Style/StringConcatenation` auto-correct wouldn't change any characters with the following input:

[code]

We intentionally want these bytes left as-is for readability purposes when dealing with binary strings. Unfortunately it seems that the current Rubocop implementation changes these characters

### Current behavior

The strings are updated to use string inter

[2021-02-25 20:17] dvandersluis commented on #9543
Looks like this is an issue (not sure if it's a bug or intended) with the [https://github.com/whitequark/parser](parser gem):

[code]

When the node is parsed, `\x0a` is already converted to `\n`, so rubocop cannot change it back because we don't have the original value.

[2021-02-25 22:28] adfoster-r7 commented on #9543
Thanks for taking a look!

Knowing that it's within the parser itself coincidentally helped point out why it was swapping over to unicode escape sequences

Most of our codebase sets the encoding:

[code]

But some of the files were missing it:

[code]

That doesn't solve the problem of being converted to `"\n"`, but it was still interesting to see

[2021-02-25 22:40] adfoster-r7 commented on #9543
I'm really not sure at what point things would need to be handled to have this working for my particular use case:

[code]

[2021-02-26 02:42] #9541 closed

[2021-02-26 15:28] erict2 commented on #2956
I had this same issue and determined that rubocop wasn't giving a clear definition to the problem. It had nothing to do with my ruby version. It had to do with a mistake in my code. Once I cleared up the mistake, the rubocop warning went away.

[2021-02-28 09:42] #9533 closed

[2021-03-01 10:40] Incanus3 commented on #5388
Hi,
I just updated rubocop to 1.11.0 and started getting

[code]

on a line that reads

[code]

1) I couldn't find any documentation for this cop, which is understandable if it's very new. I tend to set EnabledByDefault to true and then manually disable cops I don't like. If I didn't set this, the cop would probably be disabled.
2) I don't think there's a logical operator in this condition (equali

[2021-03-01 10:44] bbatsov commented on #5388
It's a bug, so it'd be best to file a ticket about it.

The docs are here - https://docs.rubocop.org/rubocop/1.11/cops_style.html#styleunlesslogicaloperators

[2021-03-01 11:53] Incanus3 commented on #5388
Wow, that was fast.

ok, will do.

hmm, that's strange, I looked like 3 mins before posting (without the version in the url) and couldn't find i there. now i just refreshed, used the same search string and immediately found it. thanks.

[2021-03-01 12:29] Incanus3 opened #9551 "Style/UnlessLogicalOperators reporting false offenses"
After upgrading rubocop to 1.11.0 I started getting

[code]

on a line that reads

[code]

I don't think there's a logical operator in this condition (equality operator is a boolean operator, but not a logical one AFAIK) and they definitely aren't mixed.

--------

## Expected behavior

No offense reported.

## Actual behavior

When running `rubocop --debug` I get the following output (filtered ou

[2021-03-01 12:30] Incanus3 commented on #5388
[here](https://github.com/rubocop/rubocop/issues/9551)

[2021-03-01 14:50] #9551 closed

[2021-03-01 15:08] Incanus3 commented on #9551
can confirm that this fixes the issue. thanks for the hard work guys.

[2021-03-01 17:24] bbatsov commented on #9551
You're welcome!

[2021-03-01 17:25] cjlarose commented on #9543
I don't thing this is necessarily a bug in the parser gem. Ruby Strings are just a byte array together with an encoding. When the `parser` gem sees "\x0a", it correctly parses the byte and sets the encoding. Later, if you `inspect` the String object (which doesn't have knowledge of the source code of the literal that was used to create it), it picks a representation, in this case `\n`.

The `parse

[2021-03-01 19:24] vanboom commented on #5576
Starting my first attempt with rubocop, I placed a .rubocop.yml file in the ./spec directory.  After running rubocop, I would get a lot of offenses detected but Rails/HttpPositionalArguments would return no offenses.

Moving the .rubocop.yml file to the root directory resolved this behavior.  Thanks for the details here - helped me isolate this behavior.

[2021-03-02 07:33] bbatsov commented on #9150
I've tracked down the warnings to this https://github.com/spring-projects/spring-restdocs/issues/527

Basically we can't have something like `{foo}` or `{Word}` in the AsciiDoc markup. This has to be escaped like `+{foo}+`.

[2021-03-02 17:59] sam-carlberg commented on #7550
This seems to be fixed as of 1.11.0. Running rubocop on the autocorrected snippet in the example I gave now warns use to 2 spaces of indentation, not 0.

[2021-03-02 18:32] brandonjmckay commented on #7683
I'd love to see something like what you mention there @woarewe ! Either the hash checking, or inline comments as possible ways of generating a todo would be amazing.

[2021-03-03 17:44] kvokka opened #9555 "Style/Lambda with default settings produce wrong output"
## Expected behavior

it should replace `lambda { ... }` with `lambda do ... end` regarding the cop [description](https://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Style/Lambda)

## Actual behavior

no changes

## Steps to reproduce the problem

cop `Style/Lambda` with default settings:

[code]

code sample
[code]

run `bundle exec rubocop -a`

## RuboCop version

[code]

[2021-03-03 18:19] dvandersluis commented on #9555
`Style/Lambda` does not change braces, it just enforces proper use of `->` vs the `lambda` keyword.

`Style/BlockDelimiters` _can_ be used for lambdas, but they are ignored by default:
https://github.com/rubocop/rubocop/blob/04019d2aa705ad2ca3e9ba43053284a5277fdd63/config/default.yml#L2836-L2852

You can override the `IgnoredMethods` configuration for that cop if you're so included (but mind the n

[2021-03-03 18:19] #9555 closed

[2021-03-03 21:18] zfletch opened #9556 "AllCops::SuggestExtensions provides links to repositories that do not exist"
When I run RuboCop on a project that has `rspec` as a dependency, it triggers `RuboCop::CLI::Command::SuggestExtensions` (as expected). However, the URL it provides (http://github.com/rubocop/rubocop-rspec) is for a repository that doesn't exist. I believe that the URL should be https://github.com/rubocop-hq/rubocop-rspec. The same problem occurs with `rubocop-sequel` but not with the other sugges

[2021-03-03 22:20] dvandersluis commented on #9556
It was updated with the expectation that the remaining repos would be moved from the rubocop-hq org to this one, but that hasn't happened yet. @bbatsov?

I will fix the `http`->`https` issue.

[2021-03-04 06:22] bbatsov commented on #9556
Because I forgot to do it. 😆 I'll move the rest of the repos over later today.

[2021-03-05 13:19] mvz opened #9558 "Inconsistent LineLength behavior with URL-like strings"
When using double-quoted strings, a long URL-like string unexpectedly triggers a LineLength offense when it is used as argument to a method call using parentheses. This does not happen for single-quoted strings.

## Expected behavior

None of the following lines should trigger a LineLength offense:

[code]

## Actual behavior

An LineLength offense is output for the line

[code]

## Steps to repro

[2021-03-06 08:13] AndreiEres commented on #9505
So, I try to implement it in direct way https://github.com/rubocop/rubocop/pull/9559

_Direct_ means I just add new lines to code. And now it seems to be too big class.

[2021-03-07 03:39] #9429 closed

[2021-03-07 08:11] bbatsov commented on #9556
That's fixed already. All repos are now moved to the new `rubocop` org.

[2021-03-07 17:37] zfletch commented on #9556
Thanks @dvandersluis and @bbatsov!

[2021-03-07 18:26] iSarCasm commented on #8622
@marcandre The infinite loop issue is no longer reproducible but the autocorrelation does not seem to work correctly with public methods.
This source:
[code]
is getting autocorrected to:
[code]
Works as expected if there are no public methods. Should we probably close this issue and open another one?

[2021-03-07 21:51] marcandre opened #9561 "Layout/ClassStructure changes visibility of some methods"
As noted by @iSarCasm:

[code]

is getting autocorrected to:

[code]

Worse and probably related:

[code]

Crashes the cop with `Parser::Source::TreeRewriter detected clobbering`

[2021-03-07 21:52] marcandre commented on #8622
Thanks for the update. I opened #9561

[2021-03-07 21:52] #8622 closed

[2021-03-07 22:09] marcandre commented on #9561
I'll try and have a look at this this coming week.

[2021-03-07 22:20] marcandre commented on #9248
Also, `Layout/ClassStructure` need to be aware of this when moving code around

[2021-03-08 14:04] AndreiEres opened #9563 "CommentConfig needs ♥️"
This class parses the special `rubocop:disable` comments in a source and provides a way to check if each cop is enabled at arbitrary line.
`lib/rubocop/comment_config.rb`

## Problem

1. First of all it looks like a huge class. Over 200 lines.

2. Class has many public methods, but tested only `cop_enabled_at_line?`.

3. There are many cases with direct using private constant:

[code]

## Soluttio

[2021-03-08 17:37] #9556 closed

[2021-03-08 17:49] AndreiEres commented on #9563
Here is first suggestion https://github.com/rubocop/rubocop/pull/9567

[2021-03-08 18:27] AndreiEres commented on #9563
Related PR https://github.com/rubocop/rubocop/pull/9567

[2021-03-08 20:12] marcandre opened #9570 "Layout/ClassStructure ignores `private_class_method`"
[code]

Fails, no offense raised.

[2021-03-08 20:34] marcandre opened #9571 "Layout/ClassStructure can be confused by what is a class body"
Corner cases that illustrate mistaken handling of a class' body.

[code]

Currently crashes

[code]

Fails

[2021-03-09 02:10] marcandre opened #9572 "Layout/ClassStructure should only consider actual macros for the categories"
[code]

Fails (with `singleton_class` or `some_method`)

[2021-03-09 02:43] marcandre opened #9573 "`Layout/ClassStructure` does not consider inline visibility for macros"
[code]

Fails (no offense) as `attr_accessor :foo` is classified as public and not private.

See #5468

[2021-03-09 06:00] AndreiEres commented on #9563
For third item I moved directive comment matching to DirectiveComment.
https://github.com/rubocop/rubocop/pull/9569

Comments welcome :-)

[2021-03-09 06:08] marcandre opened #9574 "`Layout/ClassStructure` does not consider singleton class definitions"
Currently, definitions inside `class << anything` are not checked by `Layout/ClassStructure`:

[code]

fails

[2021-03-09 20:32] AndreiEres commented on #9563
Added readability to CommentConfig spec source by replacing string joining with heredoc.
https://github.com/rubocop/rubocop/pull/9577

Also comments welcome :-)

[2021-03-09 20:53] AndreiEres commented on #9563
And added missing spec for CommentConfig#cop_disabled_line_ranges
https://github.com/rubocop/rubocop/pull/9578

[2021-03-10 04:52] ngan opened #9580 "A cop that enforces `Gemfile` vs `gems.rb`"
## Is your feature request related to a problem? Please describe.

I'm kicking the tires on changing our `Gemfile` to `gems.rb`. However, we have many internal gems without our monorepo and it just occurred to me that it would be cool to have a configurable cop that enforces one or the other.

## Describe the solution you'd like

A cop that checks to make sure you have a `Gemfile` or a `gems.rb` (

[2021-03-10 06:42] koic commented on #9580
As far as I've heard from Bundler committer at a conference of Ruby a few years ago, the default is `Gemfile`, and `gems.rb` is never the default. (`gems.rb` was likely to be the default at one point when Bundler 2.0.0-dev was being developed, but it was rejected.)
It may be useful to unify to `Gemfile`, but I'm not sure whether it's worth providing an alternative to unify to `gems.rb`.

[2021-03-10 07:24] bbatsov commented on #9580
I recall something similar, but in general I don't mind the proposal for this cop. It's going to be very easy to implement. Frankly, I've always hated the convention of Ruby files without extensions, as this made it opaque whether those are Ruby files or not, but I guess the original plans changed because there were many concerns about breakages in case of a forceful push to `gems.rb`.

[2021-03-10 07:33] #9558 closed

[2021-03-10 08:52] caalberts opened #9582 "Style/ClassEqualityComparison gives incorrect message and autocorrection when comparing class names by calling `Module#name`"
When calling `Module#name` in a class equality comparison, the error message and autocorrection contains `Class.name`, when it should be just `Class`

## Expected behavior

The following test should pass:

[code]

## Actual behavior

Rubocop message uses `Date.name` instead of `Date`:
[code]

Autocorrection includes `Date.name` instead of `Date`:
[code]

## Steps to reproduce the problem

Add the

[2021-03-10 11:20] splattael commented on #9582
Thanks for creating the issue @caalberts and @koic for the quick PR :bow: :heart:

I was wondering if it's safe to assume if `var.class.name == Date.name` can always be corrected to `var.instance_of?(Date)` in cases where `.name` is overridden.

Please consider this example based on [RuboCop warning in GitLab](https://gitlab.com/gitlab-org/gitlab/-/jobs/1085580278#L95) which [raises a warning for

[2021-03-10 11:25] bbatsov commented on #9582
Well, it's definitely not super safe, but that's a common problem we're facing and in general we aim to optimize for the most common scenario. E.g. in my entire career I've never seen `name` overriden on any project I worked on, so this seems like a rather uncommon scenario to me. That being said - it'd be great if expanded the documentation to mention this can be a problem. Down the road I want e

[2021-03-10 11:26] #9582 closed

[2021-03-10 11:29] splattael commented on #9582
@bbatsov

Same here but then I checked GitLab's code:

[code]

:see_no_evil:

Anyhow, that's why we have specs and the ability to disable cops in certain cases if needed :sweat_smile:

Thanks for checking and merging :bow:

[2021-03-10 11:56] tadeuasarro commented on #4103
I had the same issue when creating a PR, for the .github/workflows specified an older version of Rubocop, just updated that to the latest one and it's all fixed! :D

[2021-03-10 17:15] ldebortoli opened #9586 "Naming/RescuedExceptionsVariableName does not work with nested rescues"
[code]

I want to log e1 and e2, but rubocop tranforms this code in

[code]

so only last exception will be printed, and I can only use one prefered name of exceptions

## RuboCop version

[code]

[2021-03-10 18:16] ngan commented on #9580
🤔 This is actually surprising to me. @deivid-rodriguez do you have any insights?

[2021-03-10 19:56] deivid-rodriguez commented on #9580
Yes, it's exactly as @bbatsov guessed. There used to be plans to make the switch and make `gems.rb` the default, because of the weird extensionless term "Gemfile" (it's redundant, since it's obviously a _file_, but not transparent about being a _ruby_ file). But we ended up cancelling them because we deemed the disruption as too big, and we had much more important issues to deal with. We have no p

[2021-03-10 20:36] dvandersluis opened #9588 "`Naming/RescuedExceptionsVariableName` can cause a variable to be shadowed from outside the rescue block"
Follows #9587. This test fails:

[code]

[2021-03-10 21:51] #9586 closed

[2021-03-11 04:58] AndreiEres commented on #9563
CommentConfig#directive_parts replaced with DirectiveComment instance.
Further I'm going to continue move moving part of responsibility to DirectiveComment
https://github.com/rubocop/rubocop/pull/9589

[2021-03-11 08:46] henrik opened #9591 "Layout/FirstArgumentIndentation does the wrong thing with "decorators" like "memoize \;def foo; end""
## Expected behavior

To leave code like

[code]

as is.

Rationale for doing it this way: https://thepugautomatic.com/2015/01/backslashy-ruby/

## Actual behavior

[code]

With def and end now on different indentation levels.

## Steps to reproduce the problem

Write the expected code, run the cop, notice it's changed.

## RuboCop version

1.11.0 (using Parser 3.0.0.0, rubocop-ast 1.4.1, running

[2021-03-11 11:18] koic commented on #9591
It seems that the autocorrected `def` and `end` are aligned.

[code]

On the other hand, `Layout/FirstArgumentIndentation` cop doesn't yet provide a way to allow the style. So, #9592 adds a configurable option for the style.

[2021-03-11 12:44] koppen opened #9593 "Rubocop fails with File name too long when finding target files"
In one of our projects, we've started seeing the following error when running Rubocop:

[code]

The error is followed by a huge stacktrace that seems to indicate some kind of recursion not stopping correctly, see full output below.

## Steps to reproduce

Unfortunately I cannot provide a reproducible project (closed source, proprietary etc etc), but all I have to do to reproduce the problem is run

[2021-03-11 12:52] koppen commented on #9593
Oho, I've managed to reproduce this, full steps below:

[code]

It seems the presence of a directory entry called `{}` triggers the above behavior. Remove that directory again fixes the issue.

Why I had that directory entry, I don't know - probably something I fat fingered at some point. Wether or not this is a bug in Rubocop, I'll let someone else be the judge of. Was I surprised by this behavio

[2021-03-12 01:26] koic commented on #9593
Thank you for the feedback and investigation. That extra details comment does not have to be merged. I have reproduced this issue and opened #9594.

[2021-03-12 11:05] zverok opened #9595 "Style/Documentation misses Rails models"
I just noticed in our project there is a model, say, looking like this:

[code]
And `Style/Documentation` is perfectly OK with it being undocumented (due to statement [here](https://github.com/rubocop/rubocop/blob/master/lib/rubocop/cop/style/documentation.rb#L96), I assume):
[code]

I'd argue that this model **should** be documented: it is not an "empty class, still in development, don't bother t

[2021-03-12 11:17] #9593 closed

[2021-03-12 13:06] difernandez commented on #9505
wow thanks a lot for submitting a PR for this, great work! Hope it gets reviewed by someone on the rubocop team

[2021-03-12 14:57] corroded opened #9596 "Cop Config reads "on" as a boolean (true)"
The Rubocop config loader somehow interprets the string 'on' as the boolean `true`.

--------

## Expected behavior

I expect adding a config with the string 'on' will make the cop read it as 'on'

## Actual behavior

When adding 'on' as an option, the config reads it as 'true'.

## Steps to reproduce the problem

I have investigated this but I think it's somewhere in the YAML loader or the `Confi

[2021-03-12 15:23] koic commented on #9596
This is an expected behavior based on the YAML specification.

https://yaml.org/type/bool.html

JFYI, `yes` is similar to `on`. These should be enclosed in quotes in order to be treated as strings.

[code]

Please try the following:

[code]

[2021-03-12 15:50] #9596 closed

[2021-03-12 16:18] corroded commented on #9596
Thanks for this! I figured it might be `yaml` - should've tested for that as well. Thank you 💯

[2021-03-14 08:54] AndreiEres commented on #9505
Guys, please, don't review my PR until I've done with refactoring at https://github.com/rubocop/rubocop/issues/9563. This PR depends of a class I refactor.

[2021-03-14 09:03] AndreiEres commented on #9519
I'm working on the class that's responsible for this thing. So further I can implement that. @koic could you assign this issue to me?

[2021-03-14 12:01] bbatsov commented on #9519
@AndreiEres Done.

[2021-03-14 12:04] bbatsov commented on #9595
I agree with both points. We should make this "hidden" behaviour a configuration option and I'd personally set it to `false`, although this would be kind of a breaking change.

[2021-03-14 15:16] mscrivo opened #9599 "Style/CaseLikeIf: undefined method `begin_type?' for nil:NilClass"
When using `include?(module)` in an if statement within a singleton class method, Rubocop fails with the following error:

An error occurred while Style/CaseLikeIf cop was inspecting /path/to/offending/file.rb

The issue is the missing qualifier in front of the `include?` If you put `self.` in front of the `include?` it no longer fails, but then  the `Style/RedundantSelf` complains of a redundant

[2021-03-15 09:59] deivid-rodriguez opened #9601 "`Style/RedundantBegin` should detect redundant begin around memoization"
## Is your feature request related to a problem? Please describe.

I'd like `rubocop` to be able to detect redundant begin/end blocks around memoization, like here: https://github.com/rubocop/rubocop/commit/3b48d8bdf5b1c2e05e35061837309890f04ab08c.

## Describe the solution you'd like

I think it would fit nicely inside the existing `Style/RedundantBegin` cop.

## Describe alternatives you've cons

[2021-03-15 10:24] koic commented on #9601
Good catch! I think it can enhance `Style/RedundantBegin` cop.

[2021-03-15 13:06] antondalgren opened #9603 "`Style/SoleNestedConditional` should not trigger when variable is declared in condition."
[code]

I tried to adress this issue my self, but I had a hard time understanding the AST, it's methods etc.

--------

## Expected behavior

[code]
## Actual behavior

[code]

## Steps to reproduce the problem

Spec that fails:
[code]
## RuboCop version

[code]

[2021-03-15 14:08] AndreiEres commented on #9487
So guys, what a result of this discussion? Is it still a bug and we have to fix it? Or we can leave it as is?

[2021-03-15 14:13] AndreiEres commented on #9329
@marcandre Maybe we can close this issue?

[2021-03-15 16:33] marcandre commented on #9329
Indeed! Thanks

[2021-03-15 16:33] #9329 closed

[2021-03-16 00:00] marcandre commented on #9487
There's no clear concensus. Maybe Rails app will simply disable this cop.

[2021-03-16 00:19] jdufresne commented on #9487
IMO, so long as this cop reports false positives, this should continue to be considered an issue. That is still the case today.

If the false positives can't be resolved, then perhaps the next best thing is to mark this cop as unsafe. IIUC, complying with a safe offense should not change outward behavior.

[2021-03-16 00:31] marcandre commented on #9487
Oh, right, I thought it was unsafe already. I opened #9487

[2021-03-16 07:24] #9599 closed